<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="bag-registration">

    <template>

        <style>
            /*:host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }*/
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Баг, хорооны жагсаалт</h1>

                        <h4>
                            <iron-icon icon="icons:add-circle-outline" style="width: 16px;"
                                       on-click="_statusSearchDev"></iron-icon>
                            Хайлтын нөхцөл
                        </h4>

                        <div id="idSearchDev" hidden="hidden">
                            <form is="iron-form" id="searchFormId">
                                <vaadin-combo-box id="idCity" tabindex="0"
                                                  class="half"
                                                  label="Аймаг, нийслэл"
                                                  value="{{ criteriaData.citycode }}"
                                                  on-value-changed="_getSumData"
                                                  item-label-path="cityname"
                                                  item-value-path="code"
                                                  required></vaadin-combo-box>

                                <vaadin-combo-box id="idSum" tabindex="0" class="half"
                                                  label="Сум, дүүрэг"
                                                  value="{{ criteriaData.sumcode }}"
                                                  item-label-path="sumname"
                                                  item-value-path="sumcode"
                                                  required></vaadin-combo-box>

                                <paper-input id="idSearchCode"
                                             tabindex="0"
                                             class="half"
                                             label="Баг, хорооны код"
                                             value="{{criteriaData.bagcode}}"
                                             aria-disabled="false"
                                             required></paper-input>

                                <paper-input id="idSearchName"
                                             tabindex="0"
                                             class="half"
                                             label="Баг, хорооны нэр"
                                             value="{{criteriaData.bagname}}"
                                             aria-disabled="false"
                                             required></paper-input>

                                <vaadin-combo-box id="idSearchFlg"
                                                  tabindex="0"
                                                  class="half"
                                                  required
                                                  label="Төлөв"
                                                  value="{{ criteriaData.actflg }}"
                                                  item-label-path="name"
                                                  item-value-path="id"></vaadin-combo-box>
                            </form>

                            <div style="text-align: right; margin: 15px 0px;">
                                <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                                <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                            </div>
                        </div>

                        <div>
                            <paper-datatable id="organization" data="{{bagHorooList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Аймаг код" property="citycode" type="String" sortable tooltip="Аймаг код"></paper-datatable-column>

                                <paper-datatable-column header="Аймаг нэр" property="cityname" type="String" sortable tooltip="Аймаг нэр"></paper-datatable-column>

                                <paper-datatable-column header="Сум код" property="sumcode" type="String" sortable tooltip="Сум код"></paper-datatable-column>

                                <paper-datatable-column header="Сум нэр" property="sumname" type="String" sortable tooltip="Сум нэр"></paper-datatable-column>

                                <paper-datatable-column header="Баг, хороо код" property="horoocode" type="String" sortable tooltip="Сум код"></paper-datatable-column>

                                <paper-datatable-column header="Баг, хороо нэр" property="horooname" type="String" sortable tooltip="Сум нэр"></paper-datatable-column>

                                <paper-datatable-column header="Тайлбар" property="horoodesc" type="String" sortable tooltip="Тайлбар"></paper-datatable-column>

                                <paper-datatable-column header="Уртраг" property="longitude" type="String" sortable tooltip="Уртраг"></paper-datatable-column>

                                <paper-datatable-column header="Өргөрөг" property="latitude" type="String" sortable tooltip="Өргөрөг"></paper-datatable-column>

                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="_editSum"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteSum"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Идэвхгүй болгох" property="actflg" type="String" tooltip="Идэвхгүй болгох">
                                    <template>
                                        <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_yesorno(value)}}"></paper-icon-button>
                                        <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_yesorno(value)}}"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationNewSum"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick">
                        </iron-icon>{{secondTitle}}</h1>

                        <form is="iron-form" id="bagFormID">
                            <fieldset>
                                <legend>Аймаг сумын мэдээлэл:</legend>

                                <vaadin-combo-box id="idCityReg" tabindex="0"
                                                  label="Аймаг, нийслэл"
                                                  value="{{ insertData.citycode }}"
                                                  on-value-changed="_getSumData"
                                                  item-label-path="cityname"
                                                  item-value-path="code"
                                                  required></vaadin-combo-box>

                                <vaadin-combo-box id="idSumReg" tabindex="0"
                                                  label="Сум, дүүрэг"
                                                  value="{{ insertData.sumcode }}"
                                                  item-label-path="sumname"
                                                  item-value-path="sumcode"
                                                  required></vaadin-combo-box>
                            </fieldset>
                            <fieldset>
                                <legend>Баг, хорооны мэдээлэл:</legend>
                                <paper-input label="Баг, хорооны код"
                                             type="String"
                                             name="bagCode"
                                             id="idBagCode"
                                             value="{{insertData.horoocode }}"
                                             maxlength="10"
                                             on-change="_toUpperCase"
                                             tabindex="0"
                                             aria-disabled="false"
                                             required></paper-input>

                                <paper-input label="Баг, хорооны нэр"
                                             type="String"
                                             name="bagName"
                                             id="idBagName"
                                             value="{{insertData.horooname }}"
                                             maxlength="255"
                                             tabindex="0"
                                             required
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Тайлбар"
                                             type="String"
                                             name="bagDesc"
                                             id="idBagDesc"
                                             value="{{insertData.horoodesc}}"
                                             maxlength="255"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>
                            </fieldset>

                            <fieldset>
                                <legend>Газар зүйн мэдээлэл:</legend>

                                <paper-input label="Өргөрөг"
                                             type="Number"
                                             name="latitude"
                                             id="idLatitude"
                                             value="{{insertData.latitude }}"
                                             maxlength="45"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Уртраг"
                                             type="Number"
                                             name="longitude"
                                             id="idLongitude"
                                             value="{{insertData.longitude }}"
                                             maxlength="45"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>
                            </fieldset>
                        </form>
                        <div class="buttons" style="text-align: right; margin-top: 15px;">
                            <paper-button class="save-button" on-click="_save">Хадгалах</paper-button>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'bag-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String,
                    notify: true
                },
                bagHorooList:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        sumcode:'',
                        citycode:'',
                        horoocode:'',
                        horooname: '',
                        horoodesc:'',
                        actflg: '',
                        latitude:'',
                        longitude:'',
                        command: ''
                    }
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Сум, дүүрэг устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: {
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        bagname:'',
                        actflg:""
                    }
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                actItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'Y', name: 'Идэвхтэй'},
                        {id: 'N', name: 'Идэвхгүй'}
                    ]
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Сум, дүүрэг шинээр бүртгэх'
                }
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                console.log('bag-registration');

                this.server = SERVER_URL;

                this.$.idSearchFlg.items = this.actItems;

                this._getSearchData();

                this._getCityCmbData();
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idCity.items = resp.result;
                            that.$.idCityReg.items = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagFormData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            that.bagHorooList = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {
                this.$.idSearchCity.value = "";
                this.$.idSearchCode.value = "";
                this.$.idSearchName.value = "";
                this.$.idSearchFlg.value = "";
            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            /**
             * Шинээр Сум, дүүрэг бүртгэх
             * @private
             */
            _registrationNewSum: function () {
                this.$.idCityReg.value = "";
                this.$.idSumReg.value = "";
                this.$.idBagCode.value = "";
                this.$.idBagName.value = "";
                this.$.idBagDesc.value = "";

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');
                this.set("insertData.latitude", '');
                this.set("insertData.longitude", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             *
             * */
            _save: function () {
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (!this.$.bagFormID.validate()) {
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setBagFormData',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Edit City Informations
             *
             * @private
             */
            _editSum: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.sumcode", model.sumcode);
                this.set("insertData.citycode", model.citycode);
                this.set("insertData.horoocode", model.horoocode);
                this.set("insertData.horooname", model.horooname);
                this.set("insertData.horoodesc", model.horoodesc);
                this.set("insertData.latitude", model.latitude);
                this.set("insertData.longitude", model.longitude);

                this.set("secondTitle", 'Баг, хорооны мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select City
             * @private
             */
            _deleteSum: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Сум, дүүргийн мэдээлэл устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Change status
             *
             * @param e
             * @private
             */
            _lockInfo: function (e) {
                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);
                this.set("insertData.actflg", ((model.actflg == 'Y') ? 'N' : 'Y'));

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            //
            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _yesorno: function(val){
                if(val == 'Y'){
                    return true;
                }

                return false;
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>

</dom-module>
