<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="city-registration">

    <template>

        <style>
            /*:host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }*/
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 900px) {
                .col-sm-6{
                    width: 48%;
                    display: inline-block;
                }
            }
            @media (min-width: 1124px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Аймаг, хотын жагсаалт</h1>

                        <h4>
                            <iron-icon icon="icons:add-circle-outline" style="width: 16px;"
                                       on-click="_statusSearchDev"></iron-icon>
                            Хайлтын нөхцөл
                        </h4>

                        <div id="idSearchDev" hidden="hidden">

                            <paper-input id="idSearchCode" tabindex="5" class="half" label="Аймаг, хот код" value="{{criteriaData.code}}" aria-disabled="false"></paper-input>

                            <paper-input id="idSearchName" tabindex="5" class="half" label="Аймаг, хот нэр" value="{{criteriaData.cityname}}" aria-disabled="false"></paper-input>

                            <vaadin-combo-box id="idSearchFlg" tabindex="1" class="half" required label="Төлөв" value="{{ criteriaData.actFlg }}" item-label-path="name" item-value-path="id"></vaadin-combo-box>

                            <div style="text-align: right; margin: 15px 0px;">
                                <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                                <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                            </div>
                        </div>

                        <div>
                            <paper-datatable id="organization" data="{{cityList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Аймаг код" property="code" type="String" sortable tooltip="Аймаг код"></paper-datatable-column>

                                <paper-datatable-column header="Аймаг нэр" property="cityname" type="String" sortable tooltip="Аймаг нэр"></paper-datatable-column>

                                <paper-datatable-column header="Тайлбар" property="citydesc" type="String" sortable tooltip="Тайлбар"></paper-datatable-column>

                                <paper-datatable-column header="Уртраг" property="longitude" type="String" sortable tooltip="Уртраг"></paper-datatable-column>

                                <paper-datatable-column header="Өргөрөг" property="latitude" type="String" sortable tooltip="Өргөрөг"></paper-datatable-column>
                                
                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="_editCity"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteCity"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="String" tooltip="Идэвхгүй болгох">
                                    <template>
                                        <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_yesorno(value)}}"></paper-icon-button>
                                        <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_yesorno(value)}}"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationNewCity"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick">
                            </iron-icon>{{secondTitle}}</h1>

                        <form is="iron-form" id="cityForm">
                            <fieldset>
                                <legend>Ерөнхий мэдээлэл:</legend>
                                <paper-input label="Аймаг код"
                                             type="String"
                                             name="cityCode"
                                             id="idCityCode"
                                             value="{{insertData.code }}"
                                             maxlength="10"
                                             on-change="_toUpperCase"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Аймаг нэр"
                                             type="String"
                                             name="cityName"
                                             id="idCityName"
                                             value="{{insertData.cityname }}"
                                             maxlength="255"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Тайлбар"
                                             type="String"
                                             name="cityDesc"
                                             id="idCityDesc"
                                             value="{{insertData.citydesc}}"
                                             maxlength="255"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>
                            </fieldset>

                            <fieldset>
                                <legend>Газар зүйн мэдээлэл:</legend>

                                <paper-input label="Өргөрөг"
                                             type="Number"
                                             name="latitude"
                                             id="idLatitude"
                                             value="{{insertData.latitude }}"
                                             maxlength="45"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Уртраг"
                                             type="Number"
                                             name="longitude"
                                             id="idLongitude"
                                             value="{{insertData.longitude }}"
                                             maxlength="45"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>
                            </fieldset>
                        </form>
                        <div class="buttons" style="text-align: right; margin-top: 15px;">
                            <paper-button class="save-button" on-click="_save">Хадгалах</paper-button>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'city-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },                
                server: {
                    type: String,
                    notify: true
                },
                cityList:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        code:'',
                        cityname:'',
                        citydesc:'',
                        actFlg: '',
                        latitude:'',
                        longitude:'',
                        command: ''
                    }
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Аймаг, хот устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: { code:'', cityname:'', actFlg:''}
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                actItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'Y', name: 'Идэвхтэй'},
                        {id: 'N', name: 'Идэвхгүй'}
                    ]
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Аймаг, хот шинээр бүртгэх'
                }
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                this.server = SERVER_URL;

                this.$.idSearchFlg.items = this.actItems;

                this._getSearchData();
            },

            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.cityList = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {
                this.$.idSearchCode.value = "";
                this.$.idSearchName.value = "";
                this.$.idSearchFlg.value = "";
            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            /**
             * Шинээр аймаг, хот бүртгэх
             * @private
             */
            _registrationNewCity: function () {
                this.$.idCityCode.value = "";
                this.$.idCityName.value = "";
                this.$.idCityDesc.value = "";

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');
                this.set("insertData.latitude", '');
                this.set("insertData.longitude", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _save: function () {
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setCityData',
                    params: [this.insertData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _checkMandatoryFields: function () {
                var isError = false;

                if (this.$.idCityCode.value == undefined
                    || this.$.idCityCode.value == null
                    || this.$.idCityCode.value == '') {
                    this.$.idCityCode.errorMessage = 'Утга оруулана уу...';
                    this.$.idCityCode.invalid = true;
                    isError = true;
                }

                if (this.$.idCityName.value == undefined
                    || this.$.idCityName.value == null
                    || this.$.idCityName.value == '') {
                    this.$.idCityName.errorMessage = 'Утга оруулана уу...';
                    this.$.idCityName.invalid = true;
                    isError = true;
                }

                if (this.$.idCityDesc.value == undefined
                    || this.$.idCityDesc.value == null
                    || this.$.idCityDesc.value == '') {
                    this.$.idCityDesc.errorMessage = 'Утга оруулана уу...';
                    this.$.idCityDesc.invalid = true;
                    isError = true;
                }

                return isError;
            },

            /**
             * Edit City Informations
             *
             * @private
             */
            _editCity: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.code", model.code);
                this.set("insertData.cityname", model.cityname);
                this.set("insertData.citydesc", model.citydesc);
                this.set("insertData.latitude", model.latitude);
                this.set("insertData.longitude", model.longitude);

                this.set("secondTitle", 'Аймаг, хотын мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select City
             * @private
             */
            _deleteCity: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Аймаг, хот устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Change status
             *
             * @param e
             * @private
             */
            _lockInfo: function (e) {
                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);
                this.set("insertData.actFlg", ((model.actFlg == 'Y') ? 'N' : 'Y'));

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            //
            _yesorno: function(val){
                if(val == 'Y'){
                    return true;
                }

                return false;
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>

</dom-module>
