<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="file-registration">

    <template>

        <style>
            /*:host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }*/
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
                margin-bottom: 5px;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Файлын жагсаалт</h1>

                        <h4><iron-icon icon="icons:add-circle-outline" style="width: 16px;" on-click="_statusSearchDev"></iron-icon> Хайлтын нөхцөл</h4>

                        <div id="idSearchDev" hidden="hidden">
                            <vaadin-combo-box id="idYearValSearch"
                                              tabindex="0"
                                              required
                                              label="Жил"
                                              value="{{ insertData.fyear }}"
                                              item-label-path="name"
                                              item-value-path="id"></vaadin-combo-box>

                            <vaadin-combo-box id="idMonthValSearch"
                                              tabindex="0"
                                              required
                                              label="Сар"
                                              value="{{ insertData.fmonth }}"
                                              item-label-path="name"
                                              item-value-path="id"></vaadin-combo-box>

                            <div style="text-align: right; margin: 15px 0px;">
                                <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                                <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                            </div>

                        </div>

                        <div>
                            <paper-datatable id="organization" data="{{fileList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Файлын нэр" property="fname" type="String" sortable tooltip="Файлын нэр">
                                    <template>
                                        <a href="{{server}}/file/{{value}}" target="_blank">{{value}}</a>
                                    </template>
                                </paper-datatable-column>

                                <paper-datatable-column header="Файлын хэмжээ" property="fsize" type="String" sortable tooltip="Файлын хэмжээ"></paper-datatable-column>

                                <paper-datatable-column header="Тайлбар" property="fdesc" type="String" sortable tooltip="Тайлбар"></paper-datatable-column>

                                <paper-datatable-column header="Жил" property="fyear" type="String" sortable tooltip="Жил"></paper-datatable-column>

                                <paper-datatable-column header="Сар" property="fmonth" type="String" sortable tooltip="Сар"></paper-datatable-column>

                                <paper-datatable-column header="Хуулсан" property="creby" type="String" sortable tooltip="Тайлбар"></paper-datatable-column>

                                <paper-datatable-column header="Хуулсан огноо" property="creat" type="String" sortable tooltip="Хуулсан огноо"></paper-datatable-column>

                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="_editSum"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteSum"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Идэвхгүй болгох" property="actflg" type="String" tooltip="Идэвхгүй болгох">
                                    <template>
                                        <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_yesorno(value)}}"></paper-icon-button>
                                        <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_yesorno(value)}}"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationNewFile"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick">
                        </iron-icon>{{secondTitle}}</h1>

                        <div>
                            <form is="iron-form" id="idAddRecordForm">
                                <vaadin-combo-box id="idYearVal"
                                                  tabindex="0"
                                                  required
                                                  label="Жил"
                                                  value="{{ insertData.fyear }}"
                                                  item-label-path="name"
                                                  item-value-path="id"></vaadin-combo-box>

                                <vaadin-combo-box id="idMonthVal"
                                                  tabindex="0"
                                                  required
                                                  label="Сар"
                                                  value="{{ insertData.fmonth }}"
                                                  item-label-path="name"
                                                  item-value-path="id"></vaadin-combo-box>

                                <paper-input label="Файлын тайлбар"
                                             name="fdesc"
                                             id="idFdesc"
                                             value="{{ insertData.fdesc }}"
                                             required
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>

                                <paper-input label="Хуулах файлын нэр"
                                             id="idFname"
                                             name="fname"
                                             value="{{ insertData.fname }}"
                                             readonly
                                             aria-disabled="false"
                                             tabindex="0"></paper-input>

                                <paper-input label="Хуулах файлын хэмжээ"
                                             id="idFname"
                                             name="fname"
                                             value="{{ insertData.fsize }}"
                                             readonly
                                             aria-disabled="false"
                                             tabindex="0"></paper-input>


                                <file-upload id="idFile" target="{{server}}/file/<name>"
                                             multi="false"
                                             tabindex="0"
                                             method="POST"
                                             successText="Амжилттай хуулагдсан"
                                             errorText="Амжилтгүй боллоо. Дахин оролдоно уу"
                                             accept=".pdf"
                                             value="{{ insertData.fname }}">
                                    Файлаа энд дарж сонгоно уу
                                </file-upload>

                                <div style="text-align: right; margin-top: 15px;">
                                    <paper-button id="save-button"
                                                  class="btn"
                                                  on-click="_save"
                                                  role="button"
                                                  tabindex="0"
                                                  aria-disabled="false">
                                        Хадгалах
                                    </paper-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'file-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        fyear:'',
                        fmonth:'',
                        fdesc:'',
                        fname: '',
                        fsize: '',
                        actflg: '',
                        command: ''
                    }
                },
                fileName: {
                    type: String,
                    notify: true
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Файл устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: { citycode:'', sumcode:'', sumname:'', actflg:""}
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Файл шинээр бүртгэх'
                },
                yearList:{
                    type: Array,
                    notify: true,
                    value:[]
                },
                monthList:{
                    type: Array,
                    notify: true,
                    value:[]
                },
                fileList:{
                    type: Object,
                    notify: true
                }
            },
            listeners: {
                'success': '_success',
                'error': '_error'
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                this.server = SERVER_URL;

                var date = new Date();

                for(var i = date.getFullYear(); i > 1999; i--){
                    this.push("yearList", {id:''+i, name:''+i});
                }

                for(var i = 1; i <= 12; i++){
                    this.push("monthList", {id:''+i, name:''+i + " -р сар"});
                }

                this.$.idYearVal.items = this.yearList;
                this.$.idMonthVal.items = this.monthList;

                this.$.idYearValSearch.items = this.yearList;
                this.$.idMonthValSearch.items = this.monthList;

                this._getSearchData();
            },
            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getUploadFileList',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            that.fileList = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {

            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            /**
             * Шинээр Сум, дүүрэг бүртгэх
             * @private
             */
            _registrationNewFile: function () {
                this.$.idYearVal.value = "";
                this.$.idMonthVal.value = "";
                this.$.idFdesc.value = "";
                this.$.idFname.value = "";

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _save: function () {


                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (!this.$.idAddRecordForm.validate()) {
                        this.fire('show-toast-message', {success:false,message:"Шаардлагатай талбарыг бөглөнө үү."});
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setUploadFile',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Edit City Informations
             *
             * @private
             */
            _editSum: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.sumcode", model.sumcode);
                this.set("insertData.citycode", model.citycode);
                this.set("insertData.sumname", model.sumname);
                this.set("insertData.sumdesc", model.sumdesc);

                this.set("secondTitle", 'Сум, дүүргийн мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select City
             * @private
             */
            _deleteSum: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Сум, дүүргийн мэдээлэл устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },
            _success: function (e) {
                console.log(e);

                if(this.$.idFile.files.length !== 0){
                    this.set("insertData.fname", this.$.idFile.files[0].name);
                    this.set("insertData.fsize", this.$.idFile.files[0].size);
                }
            },
            _error: function (e) {
                this.fire('show-toast-message', {success:false,message:"Файл амжилтгүй хуулагдсан. Та дахин оролдоно уу."});
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>

</dom-module>
