<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="hosp-users-registration">

    <template>

        <style>
            /*:host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }*/
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 1124px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Хэрэглэгчдийн жагсаалт</h1>

                        <h4>
                            <iron-icon icon="icons:add-circle-outline" style="width: 16px;"
                                       on-click="_statusSearchDev"></iron-icon>
                            Хайлтын нөхцөл
                        </h4>

                        <div id="idSearchDev" hidden="hidden">

                            <vaadin-combo-box id="idCity" tabindex="0" class="half" label="Аймаг, нийслэл"
                                              value="{{ criteriaData.city }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname"
                                              item-value-path="code"></vaadin-combo-box>

                            <vaadin-combo-box id="idSum" tabindex="1" class="half" label="Сум, дүүрэг"
                                              value="{{ criteriaData.sum }}"
                                              item-label-path="sumname"
                                              item-value-path="sumcode"></vaadin-combo-box>

                            <paper-input id="idFirstName" tabindex="5" class="half" label="Хэрэглэгчийн нэр" value="{{criteriaData.firstName}}" aria-disabled="false"></paper-input>

                            <paper-input id="idRegId" tabindex="5" class="half" label="Регистрийн дугаар" value="{{criteriaData.regId}}" aria-disabled="false"></paper-input>

                            <paper-input id="idUserName" tabindex="5" class="half" label="Нэвтрэх нэр" value="{{criteriaData.username}}" aria-disabled="false"></paper-input>

                            <vaadin-combo-box id="idSearchFlg" tabindex="1" class="half" required label="Төлөв" value="{{ criteriaData.actFlg }}" item-label-path="name" item-value-path="id"></vaadin-combo-box>

                            <div style="text-align: right; margin: 15px 0px;">
                                <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                                <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                            </div>
                        </div>

                        <div>
                            <paper-datatable id="organization" data="{{userList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Овог" property="lastName" type="String" sortable tooltip="Овог"></paper-datatable-column>
                                <paper-datatable-column header="Нэр" property="firstName" type="String" sortable tooltip="Нэр"></paper-datatable-column>
                                <paper-datatable-column header="Хүйс" property="gender" type="String" sortable tooltip="Хүйс">
                                    <template>
                                        {{_genderList(value)}}
                                    </template>
                                </paper-datatable-column>

                                <paper-datatable-column header="Регистрийн дугаар" property="regId" type="String" sortable tooltip="Регистрийн дугаар"></paper-datatable-column>
                                <!--<paper-datatable-column header="Төрсөн өдөр" property="birthDate" type="String" sortable tooltip="Төрсөн өдөр"></paper-datatable-column>-->
                                <paper-datatable-column header="Эрхийн код" property="roleCode" type="String" sortable tooltip="Эрхийн код"></paper-datatable-column>
                                <paper-datatable-column header="Нэвтрэх нэр" property="username" type="String" sortable tooltip="Эрхийн код"></paper-datatable-column>

                                <paper-datatable-column header="Аймаг код" property="city" type="String" sortable tooltip="Аймаг код"></paper-datatable-column>

                                <paper-datatable-column header="Аймаг нэр" property="cityname" type="String" sortable tooltip="Аймаг нэр"></paper-datatable-column>

                                <paper-datatable-column header="Сум код" property="sum" type="String" sortable tooltip="Сум код"></paper-datatable-column>

                                <paper-datatable-column header="Сум нэр" property="sumname" type="String" sortable tooltip="Сум нэр"></paper-datatable-column>

                                <paper-datatable-column header="Бүртгүүлсэн огноо" property="creAt" type="String" sortable tooltip="Бүртгүүлсэн огноо"></paper-datatable-column>

                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="_editUserInfo"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteUserInfo"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationNewUser"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick">
                        </iron-icon>{{secondTitle}}</h1>

                        <form is="iron-form" id="userForm">
                            <vaadin-combo-box id="idCityReg" tabindex="0" label="Аймаг, нийслэл"
                                              value="{{ insertData.city }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname"
                                              item-value-path="code"></vaadin-combo-box>

                            <vaadin-combo-box id="idSumReg" tabindex="1" label="Сум, дүүрэг"
                                              value="{{ insertData.sum }}"
                                              item-label-path="sumname"
                                              item-value-path="sumcode"></vaadin-combo-box>

                            <paper-input label="Овог"
                                         type="String"
                                         name="lastName"
                                         id="idLastName"
                                         value="{{insertData.lastName }}"
                                         maxlength="100"
                                         tabindex="0"
                                         aria-disabled="false"></paper-input>

                            <paper-input label="Нэр"
                                         type="String"
                                         name="firstName"
                                         id="idFirstName"
                                         value="{{insertData.firstName }}"
                                         maxlength="100"
                                         tabindex="0"
                                         aria-disabled="false"></paper-input>

                            <paper-input label="Регистрийн дугаар"
                                         type="String"
                                         name="regid"
                                         id="idRegId"
                                         value="{{insertData.regId}}"
                                         maxlength="10"
                                         tabindex="0"
                                         aria-disabled="false"></paper-input>

                            <vaadin-combo-box id="idGenderReg" tabindex="0" label="Хүйс"
                                              value="{{ insertData.gender }}"
                                              item-label-path="name"
                                              item-value-path="id"></vaadin-combo-box>

                            <vaadin-combo-box id="idRoleCodes" tabindex="0" label="Эрхийн код"
                                              value="{{ insertData.roleCode }}"
                                              item-label-path="name"
                                              item-value-path="id"></vaadin-combo-box>

                            <paper-input label="Нэвтрэх нэр"
                                         type="String"
                                         name="username"
                                         id="idUserName"
                                         value="{{insertData.username}}"
                                         maxlength="25"
                                         tabindex="0"
                                         aria-disabled="false"></paper-input>

                            <paper-input label="Нууц үг"
                                         type="String"
                                         name="password"
                                         id="idPassword"
                                         value="{{insertData.password}}"
                                         maxlength="25"
                                         tabindex="0"
                                         aria-disabled="false"></paper-input>
                        </form>
                        <div class="buttons" style="text-align: right;">
                            <paper-button class="save-button" on-click="_save">Хадгалах</paper-button>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'hosp-users-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String,
                    notify: true
                },
                userList:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        city:'',
                        sum:'',
                        lastName:'',
                        firstName:'',
                        regId:'',
                        gender:'',
                        roleCode:'',
                        username:'',
                        password:'',
                        actFlg: '',
                        command: ''
                    }
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Хэрэглэгч устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: { firstName:'', regId:'', username:'', actFlg:'', city:'', sum:'' }
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                actItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'Y', name: 'Идэвхтэй'},
                        {id: 'N', name: 'Идэвхгүй'}
                    ]
                },
                genderItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'M', name: 'Эрэгтэй'},
                        {id: 'W', name: 'Эмэгтэй'}
                    ]
                },
                roleItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'SUPERADMIN', name: 'Супер админ'},
                        {id: 'ADMIN', name: 'Админ'},
                        {id: 'AIMAGADMIN', name: 'Аймаг админ'},
                        {id: 'AIMAGADD', name: 'Аймаг - зөвхөн нэмэх, харах'},
                        {id: 'AIMAGSEL', name: 'Аймаг - зөвхөн харах'},
                        {id: 'SUMADMIN', name: 'Сум админ'},
                        {id: 'SUMADD', name: 'Сум - зөвхөн нэмэх, харах'},
                        {id: 'SUMSEL', name: 'Сум - зөвхөн харах'},
                        {id: 'MEDEEADMIN', name: 'Мэдээ админ'},
                        {id: 'MEDEEADD', name: 'Мэдээ - зөвхөн нэмэх, харах'},
                        {id: 'MEDEESEL', name: 'Мэдээ - зөвхөн харах'},
                        {id: 'TAILANADMIN', name: 'Тайлан админ'},
                        {id: 'TAILANADD', name: 'Тайлан - зөвхөн нэмэх, харах'},
                        {id: 'TAILANSEL', name: 'Тайлан - зөвхөн харах'},
                    ]
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Аймаг, хот шинээр бүртгэх'
                }
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                this.server = SERVER_URL;

                this.$.idSearchFlg.items = this.actItems;

                this.$.idGenderReg.items = this.genderItems;

                this.$.idRoleCodes.items = this.roleItems;

                this._getSearchData();

                this._getCityCmbData();
            },

            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getUserData',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.userList = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idFirstName.value = "";
                this.$.idRegId.value = "";
                this.$.idUserName.value = "";
                this.$.idSearchFlg.value = "";
            },

            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idCity.items = resp.result;
                            that.$.idCityReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                 return true;
                 }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                 return true;
                 }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                 return true;
                 }*/
                return true;
            },

            /**
             * Шинээр аймаг, хот бүртгэх
             * @private
             */
            _registrationNewUser: function () {

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.lastName", '');
                this.set("insertData.firstName", '');
                this.set("insertData.gender", '');
                this.set("insertData.regId", '');
                this.set("insertData.birthDate", '');
                this.set("insertData.roleCode", '');
                this.set("insertData.username", '');
                this.set("insertData.password", '');
                this.set("insertData.city", '');
                this.set("insertData.sum", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _save: function () {
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setUserData',
                    params: [this.insertData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _checkMandatoryFields: function () {
                var isError = false;

                if (this.$.idCityReg.value == undefined
                    || this.$.idCityReg.value == null
                    || this.$.idCityReg.value == '') {
                    this.$.idCityReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idCityReg.invalid = true;
                    isError = true;
                }

                if (this.$.idSumReg.value == undefined
                    || this.$.idSumReg.value == null
                    || this.$.idSumReg.value == '') {
                    this.$.idSumReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idSumReg.invalid = true;
                    isError = true;
                }

                if (this.$.idLastName.value == undefined
                    || this.$.idLastName.value == null
                    || this.$.idLastName.value == '') {
                    this.$.idLastName.errorMessage = 'Утга оруулана уу...';
                    this.$.idLastName.invalid = true;
                    isError = true;
                }

                if (this.$.idFirstName.value == undefined
                    || this.$.idFirstName.value == null
                    || this.$.idFirstName.value == '') {
                    this.$.idFirstName.errorMessage = 'Утга оруулана уу...';
                    this.$.idFirstName.invalid = true;
                    isError = true;
                }

                if (this.$.idRegId.value == undefined
                    || this.$.idRegId.value == null
                    || this.$.idRegId.value == '') {
                    this.$.idRegId.errorMessage = 'Утга оруулана уу...';
                    this.$.idRegId.invalid = true;
                    isError = true;
                }

                if (this.$.idGenderReg.value == undefined
                    || this.$.idGenderReg.value == null
                    || this.$.idGenderReg.value == '') {
                    this.$.idGenderReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idGenderReg.invalid = true;
                    isError = true;
                }

                if (this.$.idRoleCodes.value == undefined
                    || this.$.idRoleCodes.value == null
                    || this.$.idRoleCodes.value == '') {
                    this.$.idRoleCodes.errorMessage = 'Утга оруулана уу...';
                    this.$.idRoleCodes.invalid = true;
                    isError = true;
                }

                if (this.$.idUserName.value == undefined
                    || this.$.idUserName.value == null
                    || this.$.idUserName.value == '') {
                    this.$.idUserName.errorMessage = 'Утга оруулана уу...';
                    this.$.idUserName.invalid = true;
                    isError = true;
                }

                if (this.$.idPassword.value == undefined
                    || this.$.idPassword.value == null
                    || this.$.idPassword.value == '') {
                    this.$.idPassword.errorMessage = 'Утга оруулана уу...';
                    this.$.idPassword.invalid = true;
                    isError = true;
                }


                return isError;
            },

            /**
             * Edit User Informations
             *
             * @private
             */
            _editUserInfo: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.city", model.city);
                this.set("insertData.sum", model.sum);
                this.set("insertData.lastName", model.lastName);
                this.set("insertData.firstName", model.firstName);
                this.set("insertData.regId", model.regId);
                this.set("insertData.gender", model.gender);
                this.set("insertData.roleCode", model.roleCode);
                this.set("insertData.username", model.username);
                this.set("insertData.password", model.password);

                this.set("secondTitle", 'Аймаг, хотын мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select User
             * @private
             */
            _deleteUserInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Аймаг, хот устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            },
            _genderList: function (arg) {
                if (arg == "M") return 'Эрэгтэй';
                else return 'Эмэгтэй';
            }
        });

    </script>

</dom-module>
