<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="menu-role-registration">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 850px){
                .half{
                    display: inline-block;
                    width: 48%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Эрхийн тохиргоо</h1>

                        <h4>
                            <iron-icon icon="icons:add-circle-outline" style="width: 16px;"
                                       on-click="_statusSearchDev"></iron-icon>
                            Хайлтын нөхцөл
                        </h4>

                        <div id="idSearchDev" hidden="hidden">

                        <vaadin-combo-box id="idSearchRoleList"
                                          label="Эрх сонгоно уу"
                                          class="half"
                                          value="{{ criteriaData.rolecode }}"
                                          item-label-path="name"
                                          item-value-path="code">
                        </vaadin-combo-box>

                        <vaadin-combo-box id="idMenuList"
                                          label="Меню сонгоно уу"
                                          class="half"
                                          value="{{ criteriaData.menuid }}"
                                          item-label-path="menuNameMN"
                                          item-value-path="menuId">
                        </vaadin-combo-box>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                        </div>

                        </div>
                        <div>
                            <paper-datatable id="organization" data="{{menuroleList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Эрх код" property="rolecode" type="String" sortable tooltip="Эрх код"></paper-datatable-column>

                                <paper-datatable-column header="Эрхийн нэр" property="rolename" type="String" sortable tooltip="Эрхийн нэр"></paper-datatable-column>

                                <paper-datatable-column header="Меню код" property="menuid" type="String" sortable tooltip="Меню код"></paper-datatable-column>

                                <paper-datatable-column header="Меню нэр" property="menuname" type="String" sortable tooltip="Меню нэр"></paper-datatable-column>

                                <paper-datatable-column header="Бүртгэсэн огноо" property="creat" type="Date" sortable tooltip="Бүртгэсэн огноо"></paper-datatable-column>
                                
                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="_editCity"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteMenuRoles"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationNewCity"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back"
                                       title="Буцах"
                                       style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                       on-tap="_onBackClick">
                            </iron-icon>{{secondTitle}}
                        </h1>

                        <form is="iron-form" id="cityForm">
                            <vaadin-combo-box id="idRoleList"
                                              label="Системийн эрх"
                                              required
                                              value="{{ insertData.rolecode }}"
                                              item-label-path="name"
                                              item-value-path="code">
                            </vaadin-combo-box>

                            <paper-datatable id="idMenuDataTable" data="{{menuList}}" selectable multi-selection>
                                <paper-datatable-column id="tableID" header="№" sortable
                                                        property="index" type="Number" ></paper-datatable-column>
                                <paper-datatable-column header="Меню код" property="menuId"
                                                        type="String" sortable tooltip="Меню код"></paper-datatable-column>
                                <paper-datatable-column header="Меню нэр" property="menuNameMN"
                                                        type="String" sortable tooltip="Меню нэр"></paper-datatable-column>
                                <paper-datatable-column header="Тайлбар" property="menuDesc"
                                                        type="String" sortable tooltip="Менюгийн дэлгэрэнгүй тайлбар">
                                </paper-datatable-column>
                            </paper-datatable>
                        </form>
                        <div class="buttons" style="text-align: right;">
                            <paper-button class="save-button" on-click="_save">Хадгалах</paper-button>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'menu-role-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },                
                server: {
                    type: String,
                    notify: true
                },
                menuroleList:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        rolecode:'',
                        menulist:[],
                        actFlg: '',
                        command: ''
                    }
                },
                menuList:{
                    type: Array,
                    notify: true
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Аймаг, хот устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: { rolecode:'', menuid:'' }
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                actItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'Y', name: 'Идэвхтэй'},
                        {id: 'N', name: 'Идэвхгүй'}
                    ]
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Эрхийн тохиргоо шинээр хийх'
                }
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                this.server = SERVER_URL;

                this._getRoleList();

                this._getMenuList();

                this._getSearchData();
            },
            /**
             * Fetch Role List
             * */
            _getRoleList: function(){
                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getRoleList',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idRoleList.items = resp.result;
                            that.$.idSearchRoleList.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Fetch Menu List
             * */
            _getMenuList: function(){
                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getMenuList',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.menuList = resp.result;
                            that.$.idMenuList.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getMenuRole',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.menuroleList = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {
                this.$.idSearchCode.value = "";
                this.$.idSearchName.value = "";
                this.$.idSearchFlg.value = "";
            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            /**
             * Шинээр аймаг, хот бүртгэх
             * @private
             */
            _registrationNewCity: function () {
                this.$.idMenuDataTable.deselectAll();
                this.$.idRoleList.value = "";

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Эрхийн тохиргоо шинээр хийх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _save: function () {
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                this.set("insertData.menulist", this.$.idMenuDataTable.selectedItems);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setMenuRole',
                    params: [this.insertData, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idRoleList.invalid = false;

                if (this.$.idRoleList.value == undefined
                    || this.$.idRoleList.value == null
                    || this.$.idRoleList.value == '') {
                    this.$.idRoleList.errorMessage = 'Заавал сонгоно уу...';
                    this.$.idRoleList.invalid = true;
                    isError = true;
                }

                if(this.$.idMenuDataTable.selectedItems.length <= 0){
                    this.fire('show-toast-message', {success:false,message:"Меню сонгоогүй байна. Жагсаалтаасаа меню сонгох шаардлагатай."});
                    isError = true;
                }//end if

                return isError;
            },

            /**
             * Edit City Informations
             *
             * @private
             */
            _editCity: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.code", model.code);
                this.set("insertData.cityname", model.cityname);
                this.set("insertData.citydesc", model.citydesc);

                this.set("secondTitle", 'Эрхийн тохиргоо засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select City
             * @private
             */
            _deleteMenuRoles: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Эрхийн тохиргоог устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Change status
             *
             * @param e
             * @private
             */
            _lockInfo: function (e) {
                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);
                this.set("insertData.actFlg", ((model.actFlg == 'Y') ? 'N' : 'Y'));

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            //
            _yesorno: function(val){
                if(val == 'Y'){
                    return true;
                }

                return false;
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>

</dom-module>
