<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-quill/polymer-quill.html">

<dom-module id="news-registration">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h2{
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            #createBtn{
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }
            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }
            legend {
                border-bottom: 1px solid #4894f3;
                font-size: 16px;
                color: #0f62ac;
                width: 100%;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            #ipsiReg{
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }
            iframe{
                width: 100%;
                border: none;
                height: 450px;
            }
            table th{
                width: 15%;
                text-align: right ;
                font-weight: normal;
                font-size: 13px;
            }
            table td{
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }

            polymer-quill.full {
                --polymer-quill-editor-max-height: 300px;
                --polymer-quill-editor-min-height: 150px;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Мэдээлэл</h1>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{newsItems}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="id" type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Гарчиг" property="title" type="String"  sortable tooltip="Гарчиг"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Агуулга" property="content" type="String" sortable tooltip="Агуулга"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number" tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <paper-input label="Гарчиг*" name="title" id="idTitle" value="{{ insertData.title }}"  required maxlength="60" aria-disabled="false"></paper-input>

                    <iron-localstorage name="app4-localstorage" value="{{ insertData.content }}" use-raw>
                    </iron-localstorage>

                    <polymer-quill id="idContent" store-as="delta" show-html show-results enable="true" on-change="_saveChange"></polymer-quill>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button" tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах</paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'news-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },

                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: {
                        title:'',
                        content:''
                    }
                },
                newsItems:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        title:'',
                        content:'',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify:true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value : 'Бичлэг устгах'
                },
                dialogBody:{
                    type: String,
                    notify: true,
                    value : 'Та устгахдаа итгэлтэй байна уу?'
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("news reg:::: ready function");
                this.server = SERVER_URL;

                this._getDataFromServer();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start news Data
                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getNewsData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.newsItems = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end News Data
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function(){
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function(event) {
                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.title", '');
                this.set("insertData.content", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function() {
                this.$.pages.selected = 0;
            },
            _isShow: function(value){
                if (value == "Y")
                    return true;
                return false;
            },
            _saveChange: function(e){
                this.insertData.content = JSON.parse(e.detail.content);
            },

            /*
             Hadgalah
             */

            _save: function(){
                //start News Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setNewsData',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            }else{
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:false,message:mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end News Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idTitle.invalid = false;

                if (this.$.idTitle.value == undefined
                        || this.$.idTitle.value == null
                        || this.$.idTitle.value == '') {
                    this.$.idTitle.errorMessage = 'Утга оруулана уу...';
                    this.$.idTitle.invalid = true;
                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.title", model.title);
                this.set("insertData.content", model.content);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function(){
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e){
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function(){
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            }
        });
    </script>

</dom-module>