<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sharga-registration">

    <template>

        <style>
            /*:host {
                display: block;
                padding: 0px;
                position: relative;
                @apply(--layout-fullbleed);
                @apply(--paper-font-common-base);
            }*/
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
                position: relative;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            .main-layout h2{
                line-height: 40px;
            }

            #add-button {
                position: fixed;
                right: 50px;
                bottom: 25px;
                z-index: 100;
            }

            .save-button {
                background:#0f62ac;color:#FFFFFF;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            neon-animated-pages {
                height: 100%;
            }

            .card-contents {
                @apply(--layout-vertical);
                @apply(--layout-center-center);
                @apply(--layout-fit);
                display: block;
            }
            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card-contents">
                    <div class="card">
                        <h1>Шинжилсэн аргын жагсаалт</h1>

                        <h4>
                            <iron-icon icon="icons:add-circle-outline" style="width: 16px;"
                                       on-click="_statusSearchDev"></iron-icon>
                            Хайлтын нөхцөл
                        </h4>

                        <div id="idSearchDev" hidden="hidden">

                            <vaadin-combo-box id="idSearchFlg" tabindex="1" class="half" required
                                              label="Төлөв" value="{{ criteriaData.actflg }}"
                                              item-label-path="name" item-value-path="id"></vaadin-combo-box>

                            <div style="text-align: right; margin: 15px 0px;">
                                <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                                <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                            </div>
                        </div>

                        <div>
                            <paper-datatable id="organization" data="{{malList}}">
                                <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number" ></paper-datatable-column>

                                <paper-datatable-column header="Төрөл" property="cmbtype" type="String" sortable tooltip="Төрөл"></paper-datatable-column>

                                <paper-datatable-column header="Нэр" property="cmbname" type="String" sortable tooltip="Нэр"></paper-datatable-column>

                                <paper-datatable-column header="Утга" property="cmbval" type="String" sortable tooltip="Утга"></paper-datatable-column>

                                <paper-datatable-column header="Тайлбар" property="cmbdesc" type="String" sortable tooltip="Тайлбар"></paper-datatable-column>

                                <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                                <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                                    <template>
                                        <paper-icon-button icon="create" on-click="__editInfo"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                                    <template>
                                        <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteInfo"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                                <paper-datatable-column header="Идэвхгүй болгох" property="actflg" type="String" tooltip="Идэвхгүй болгох">
                                    <template>
                                        <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_yesorno(value)}}"></paper-icon-button>
                                        <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_yesorno(value)}}"></paper-icon-button>
                                    </template>
                                </paper-datatable-column>
                            </paper-datatable>

                            <template is="dom-if" if="{{ _addRole() }}">
                                <paper-fab icon="add" id="add-button" on-click="_registrationInfo"></paper-fab>
                            </template>
                        </div>
                    </div>
                </div>
            </x-cards-list>

            <x-card>
                <div class="card-contents">
                    <div class="card">
                        <h1><iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick">
                        </iron-icon>{{secondTitle}}</h1>

                        <form is="iron-form" id="idAddInfoForm">
                            <fieldset>
                                <legend>Ерөнхий мэдээлэл:</legend>
                                <paper-input label="Нэр"
                                             type="String"
                                             name="regName"
                                             id="idRegName"
                                             value="{{insertData.cmbname }}"
                                             maxlength="10"
                                             tabindex="0"
                                             aria-disabled="false"
                                             required></paper-input>

                                <paper-input label="Утга"
                                             type="String"
                                             name="regVal"
                                             id="idRegVal"
                                             value="{{insertData.cmbval }}"
                                             maxlength="255"
                                             tabindex="0"
                                             aria-disabled="false" required></paper-input>
                            </fieldset>

                            <fieldset>
                                <legend>Үзүүлэлтүүд:</legend>
                                <paper-input label="Тайлбар"
                                             type="String"
                                             name="regDesc"
                                             id="idRegDesc"
                                             value="{{insertData.cmbdesc}}"
                                             maxlength="255"
                                             tabindex="0"
                                             aria-disabled="false"></paper-input>
                            </fieldset>
                        </form>
                        <div class="buttons" style="text-align: right;">
                            <paper-button class="save-button" on-click="_save">Хадгалах</paper-button>
                        </div>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Устгах болон Идэвхгүй болгох -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogTitle}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>

        Polymer({

            is: 'sharga-registration',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String,
                    notify: true
                },
                malList:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        cmbtype:'SHARGA',
                        cmbname:'',
                        cmbval:'',
                        cmbdesc:'',
                        actflg: '',
                        command: ''
                    }
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Мэдээлэл устгах'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value: 'Та устгахад итгэлтэй байна уу?'
                },
                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: {
                        cmbtype:'SHARGA',
                        cmbval:'',
                        cmbname:'',
                        cmbdesc:'',
                        langid:"mn",
                        delflg:"",
                        creAt:"",
                        creBy:"",
                        modAt:"",
                        modBy:"",
                        actflg:""
                    }
                },
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                actItems:{
                    type: Array,
                    notify: true,
                    value :[
                        {id: 'Y', name: 'Идэвхтэй'},
                        {id: 'N', name: 'Идэвхгүй'}
                    ]
                },
                secondTitle : {
                    type: String,
                    notify: true,
                    value: 'Шнээр бүртгэх'
                }
            },
            created: function() {
                console.log('created');
            },

            ready: function(){
                this.server = SERVER_URL;

                this.$.idSearchFlg.items = this.actItems;

                this._getSearchData();
            },
            /**
             * Хайл хийх болон аймгийн мэдээлэл татах үед ашиглана
             *
             * @private
             */
            _getSearchData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCmbFormData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            that.malList = resp.result;
                            that.set("loading", false);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _search: function () {
                this._getSearchData();
            },
            _clear: function () {
                this.$.idSearchFlg.value = "";
            },

            _addRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _editRole: function(){
                /*if(this.fire('check-role', "065").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            _deleteRole: function(){
                /*if(this.fire('check-role', "066").returnValue == true) {
                    return true;
                }*/
                return true;
            },

            /**
             * Шинээр бүртгэх
             * @private
             */
            _registrationInfo: function () {
                this.$.idRegName.value = "";
                this.$.idRegVal.value = "";
                this.$.idRegDesc.value = "";

                if (!this._addRole()){
                    this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _save: function () {
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                    if (!this.$.idAddInfoForm.validate()) {
                        this.fire('show-toast-message', {success:false,message:"Хоосон талбаруудыг бөглөнө үү!"});
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setCmbFormData',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp){
                        if (resp.result){
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO'){
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success:true,message:mess});

                                that._onBackClick();
                                that._getSearchData();
                            }else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Edit Informations
             *
             * @private
             */
            __editInfo: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.cmbname", model.cmbname);
                this.set("insertData.cmbval", model.cmbval);
                this.set("insertData.cmbdesc", model.cmbdesc);
                this.set("insertData.actflg", model.actflg);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Delete Select
             * @private
             */
            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Мэдээлэл устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Change status
             *
             * @param e
             * @private
             */
            _lockInfo: function (e) {
                if (!this._editRole()){
                    this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);
                this.set("insertData.actflg", ((model.actflg == 'Y') ? 'N' : 'Y'));

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            //
            _yesorno: function(val){
                if(val == 'Y'){
                    return true;
                }

                return false;
            },
            _onBackClick: function(){
                this.$.pages.selected = 0;
            },

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>

</dom-module>
