<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="gb-datatable">

  <template>
    <style>
      :host {
        display: block;
      }
      .page-heading {
            margin: 0px;
            padding-top: 3px;
            padding-bottom: 2px;
            color: #212121;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
        }
      .importantf{
            color: red;
            font-weight: bold;
            font-family: Arial;
            font-size: 12px;
        }
      .error{
        border: 1px solid #668eb2;
        padding: 3px;
        background-color: #EBF3FB;
        color: red;
      }
      table{
          background-color: #fff;
      }

      table.tableborder{
          background-color: rgb(219, 228, 245);
          padding: 3px;
          border: 1px solid #898e92;
      }

      table.innertable{
          background-color: #fff;
          border: 1px solid #898e92;
      }

      table thead tr th{
        text-align: center;
      }

      .innertable thead tr th{
        height: 20px;
        letter-spacing: 1px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #E7EAEF;
        font-size: 11px;
        text-decoration: none;
        vertical-align: bottom;
        border-left:1px solid #898e92;
        border-bottom:1px solid #898e92;
      }

      table thead tr,.innertable thead tr{
        background-color: #fff;
      }

      .innertable tbody tr:nth-child(even){
        background-color: #DFE2E5;
      }

      .innertable tbody tr.selectHolder{
        background-color: #adc8da;
      }
    </style>

    <table class="tableborder" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td>
            <table class="innertable" width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <template is="dom-repeat" items="{{columns}}">
                    <th style$="[[getSort(item.name)]]" on-click="changeSort">
                      <template is="dom-if" if="{{ !_isDeclared(item.title) }}">
                        {{item.name}}
                      </template>
                      <template is="dom-if" if="{{ _isDeclared(item.title) }}">
                        {{item.title}}
                      </template>
                    </th>  
                  </template>
                </tr>
              </thead>
              <tbody>
                <template id="list" is="dom-repeat" items="{{items}}" as="row" sort="[[_sortControls( sortColumn, sortDescending)]]" indexAs="gb_id">
                  <tr class$="{{getClassForItem(row, row.gbselected)}}" on-click="getTempname">
                    <template is="dom-repeat" items="{{columns}}">
                      <td>
                      <marked-element markdown="{{getcolumn(row,item.name)}}">
                        <div class="markdown-html"></div>
                      </marked-element>
                      </td>
                    </template>
                  </tr>
                </template>
                <!-- <template is="dom-repeat" items="{{epmty}}">
                  <tr>
                    <template is="dom-repeat" items="{{columns}}">
                      <td>&nbsp;</td>
                    </template>
                  </tr>
                </template> -->
              </tbody>
              <tfoot></tfoot>
            </table>

        </td>
      </tr>
      </tbody>
    </table>
  </template>

  <script>

    Polymer({
      is: 'gb-datatable',
      properties: {
          items: {
            type: Object,
            value: []
          },
          columns: {
            type: Object,
            value: []
          },
          // page index
          pageNumber: {
            type: Number,
            value: 1
          },
          // page total number
          pageTotal: {
            type: Number,
            value: 1
          },
          sortColumn: {
            type: String,
            value: ''
          },
          sortDescending: {
            type: Boolean,
            value: null
          },
          currentItem: {
            type: Object,
            reflectToAttribute: true,
            notify: true
          },
          gbColSpan: {
            type: Number,
            value: 5
          },
          epmty: {
            type: Object,
            value: [{},{},{},{}]
          }
      },

      getTempname: function(e) {
        var list = this.$.list;
        var id = e.model.index;
        for (var i = 0; i < list.items.length; i++) {
            list.set('items.' + i + '.gbselected', false);
        }
        var isSelected = list.items[id].gbselected;
        list.set('items.' + id + '.gbselected', !isSelected);
        this.currentItem = list.items[e.model.index];
      },

      getClassForItem: function(item, select) {
        return select ? 'selectHolder' : '';
      },

      changeSort: function(e) {
        var clickedSortColumn = e.model.item.name;
        if(clickedSortColumn == this.sortColumn){
          //column already sorted, reverse sort
          this.sortDescending = !this.sortDescending;
        }else{
          this.sortColumn = clickedSortColumn;
          this.sortDescending = false;
        }
      },

      getcolumn: function(row, col) {
        //console.log("-----"+row[col]+"-----");
        if(row[col] != ''){
          return row[col];
        } else {
          return '&nbsp;';
        }
      },

      getSort: function(name) {
        //console.log('getSort function running')
        var style="";
        if(this.sortColumn == name) {
          if(this.sortDescending) {
            style = "text-decoration:overline";
          } else {
            style = "text-decoration:underline";
          }
        }
        //console.log(this.columns);
        //console.log(this.columns.length);

        return style;
      },

      _sortControls: function(scol,sdescend) {
        /*return function (a, b)
          {
            if(sdescend)
            {
              return a[scol] < b[scol]
            }
            return a[scol] >= b[scol];
          }*/
      },

      _isDeclared: function(col){
        if(col == undefined || col == '' || col == null)
        {
          return false;
        } else {
          return true;
        }
      },

      getColSpan: function() {
        console.log(this.columns.length);
        return this.columns.length;
      }
    });
  </script>
</dom-module>