<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="gb-pagination">

  <template>
    <style>
      :host {
        display: block;
      }
      #disscription{
        display: inline-block;
      }
      #disscription input{
        width: 40px;
        text-align: right;
      }
    </style>

    <div id="controls">
      <paper-icon-button icon="hardware:keyboard-arrow-left" disabled="[[previousDisabled]]" on-click="_paginatePrevious"></paper-icon-button>
      <div id="disscription">Хуудас: <input type="number" is="iron-input" value="{{pageNumber::input}}" disabled="[[pageDisabled]]"> / [[pageTotal]]</div>
      <paper-icon-button icon="hardware:keyboard-arrow-right" disabled="[[nextDisabled]]" on-click="_paginateNext"></paper-icon-button>
    </div>
  </template>

  <script>

    Polymer({
      is: 'gb-pagination',
      properties: {
          prePage: {
            type: Number,
            value: 1
          },
          // 
          pageNumber: {
            type: Number,
            value: 1,
            notify: true,
            observer: '_getCheck'
          },
          // page total number
          pageTotal: {
            type: Number,
            value: 1,
            notify: true,
            observer: '_getTotal'
          },
          previousDisabled: {
            type: Boolean,
            value: true
          },
          pageDisabled:{
            type: Boolean,
            value: true
          },
          nextDisabled: {
            type: Boolean,
            value: true
          }
      },

      _paginatePrevious: function() {
        this.set('pageNumber', this.pageNumber - 1);
        if(this.pageNumber == 1 && this.pageTotal != 1) {
          this.previousDisabled = true;
          this.nextDisabled = false;
        }
      },

      _paginateNext: function() {
        this.set('pageNumber', this.pageNumber + 1);
        if(this.pageNumber >= this.pageTotal) {
          this.nextDisabled = true;
          this.previousDisabled = false;
        }
      },

      _getTotal: function() {
        if(this.pageTotal == 1) {
          this.pageDisabled = true;
          this.nextDisabled = true;
        } else {
          this.nextDisabled = false;
          this.pageDisabled = false;
        }
      },

      _getCheck: function() {
        if(this.pageNumber >= this.pageTotal) {
          this.pageNumber = this.pageTotal;
        }
        if(this.pageNumber == 1 && this.pageTotal != 1) {
          this.previousDisabled = true;
          this.nextDisabled = false;
        } 
        if(this.pageNumber >= this.pageTotal && this.pageTotal != 1) {
          this.previousDisabled = false;
          this.nextDisabled = true;
        }
        if(this.pageNumber > 1 && this.pageNumber < this.pageTotal && this.pageTotal != 1) {
          this.previousDisabled = false;
          this.nextDisabled = false;
        }
      }
    });
  </script>
</dom-module>