<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">


<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../bower_components/gold-phone-input/gold-phone-input.html">


<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-datatable/paper-datatable-card.html">
<link rel="import" href="../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">


<link rel="import" href="../bower_components/file-upload/file-upload.html">
<link rel="import" href="../bower_components/file-upload/file-upload-icons.html">


<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/marked-element/marked-element.html">

<link rel="import" href="../bower_components/vaadin-core-elements/vaadin-core-elements.html">
<link rel="import" href="../bower_components/datetime-picker/datetime-picker.html">

<link rel="import" href="style/style.html">

<link rel="import" href="gb-datatable.html">
<link rel="import" href="gb-pagination.html">

<script src="../scripts/accounting.min.js"></script>

<dom-module id="hospital-app">
    <template>
        <style>
            :host {
                display: block;
                --app-primary-color: #2e77b7;
                --app-secondary-color: black;
                --app-drawer-content-container: {
                    background-color: #e6e7e8;
                };
                z-index: auto;
                --paper-datatable-divider-color:#bbbbbb;
                --divider-color:#bbbbbb;
            }

            :host paper-item {
                min-height: 35px;
                border-color: #fff;
                border-width: 1px 0;
            }

            app-header {
                background-color: #0f62ac;
                color: #fff;
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            app-drawer {
                border-right: 1px solid #c1c1c1;
            }

            .drawer-list a {
                display: block;
                line-height: 35px;
                text-decoration: none;
                font-size: 12px;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                color: #696969;
            }

            paper-item {
                margin-right: 0px;
                padding-right: 0px;
                display: block;
                font-size: 14px;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                color: #696969;
                cursor: pointer;
                padding-left: 0px;
            }

            paper-menu paper-item a:hover {
                color: #696969;
                background-color: #ccc;
            }

            paper-menu {
                --paper-menu-focused-item-after: {
                    /*background-color: #FFFFFF;*/
                };
                --paper-menu-focused-item: {
                    /*background-color: #eceff1;*/
                };
                --paper-menu-selected-item: {
                    background-color: #aaaaaa;
                    border: solid;
                    border-color: white;
                    border-width: 1px 0;
                };
                --paper-menu: {
                    line-height: 40px;
                    font-size: 14px;
                };
                padding: 0;
            }

            paper-submenu a {
                padding: 0 5px;
            }


            .menu-content a {
                border-bottom: 1px #ddd solid;
            }
            .menu-content paper-item {
                padding-left: 10px;
            }

            app-header-layout {
                background-color: #ececec;
            }

            iron-icon {
                color: #8e8e8e;
            }

            app-toolbar {
                background-color: #0f62ac;
            }

            .menuBack {
                background-color: #e6e7e8;
                margin-top: 10px;
            }

            .mainContent {
                background-color: #e6e7e8;
            }

            .flex {
                flex: 1;
            }

            #pages {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            paper-spinner.thick {
                --paper-spinner-stroke-width: 6px;
            }

            .blockUI {
                z-index: 9999;
                border: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                background-color: rgb(0, 0, 0);
                opacity: 0.6;
                cursor: wait;
                position: fixed;
            }

            .showSpinner {
                z-index: 10010;
                position: fixed;
                padding: 0px;
                margin: 0px;
                top: 45%;
                left: 50%;
                text-align: center;
                color: rgb(0, 0, 0);
                background-color: transparent;
                cursor: wait;
            }

            .toast-err {
                --paper-toast-background-color: #cb2028;
                --paper-toast-color: white;
            }

            .toast-succ {
                --paper-toast-background-color: #4ca973;
                --paper-toast-color: white;
            }

            .yellow-button {
                text-transform: none;
                color: #eeff41;
            }

            .div-scroll::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            .div-scroll::-webkit-scrollbar
            {
                width: 8px;
                color: #ccc;
                background-color: #ccc;
            }

            .div-scroll::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
                background-color: #ccc;
            }
            .div-scroll{
                height: 300px;
                overflow-y: auto;
            }
            .lh-25{
                line-height: 25px !important;
            }
        </style>
        <neon-animated-pages id="pages" selected="[[selected]]">
            <login-page id="login" logged-in="{{loggedIn}}" loading="{{loading}}"></login-page>
            <overview-page>
                <iron-location hash="{{page}}" query="{{query}}"></iron-location>
                <app-route
                        hash="{{route}}"
                        pattern="/:id"
                        data="{{routeData}}"
                        tail="{{subroute}}">
                </app-route>
                <app-drawer-layout fullbleed>
                    <!-- Drawer content -->
                    <app-drawer id="drawer">
                        <paper-toolbar style="background-color: #0f62ac;"><img src="/images/logo.png" width="220"/>
                        </paper-toolbar>
                        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list"
                                       role="navigation">
                            <paper-menu selected="{{selectedName}}" attr-for-selected="name" class="menuBack">
                                <paper-item name="my-dashboard" id="idNuur">
                                    <a name="dashboard" href="#my-dashboard" class="menu"
                                       style="font-size: 12px;padding-left: 5px;">
                                        <iron-icon icon="icons:home" title="Удирдлагын самбар"></iron-icon>
                                        Удирдлагын самбар
                                    </a>
                                </paper-item>
                                <template is="dom-if" if="{{showForms}}">
                                    <paper-submenu id="idFormsMenu" opened="{{showFormMenu}}">
                                        <paper-item class="menu-trigger">
                                            <a class="menu">
                                                <iron-icon icon="icons:folder" title="Маягтуудын бүртгэл"></iron-icon>
                                                Маягт
                                            </a>
                                        </paper-item>
                                        <paper-menu class="menu-content div-scroll" selected="{{selectedName}}"
                                                    attr-for-selected="name">

                                            <paper-item name="form08-reg">
                                                <a name="form08-reg" class="submenu lh-25" href="#form08-reg"
                                                   style="font-weight: normal;">Паразиттах өвчнөөс сэргийлэх арга
                                                    хэмжээний мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form09-reg">
                                                <a name="form09-reg" class="submenu lh-25" href="#form09-reg"
                                                   style="font-weight: normal;">Халдварт өвчнөөс сэргийлэх арга
                                                    хэмжээний мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form11-reg">
                                                <a name="form11-reg" class="submenu lh-25" href="#form11-reg"
                                                   style="font-weight: normal;">Аймаг сумын мал эмнэлгийн лабораторийн шинжилгээний улирлын мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form13a-reg">
                                                <a name="form13a-reg" class="submenu lh-25" href="#form13a-reg"
                                                   style="font-weight: normal;">Мал амьтан, түүхий эд бүтээгдэхүүн, малын тэжээлийн үзлэг</a>
                                            </paper-item>
                                            <paper-item name="form14-reg">
                                                <a name="form14-reg" class="submenu lh-25" href="#form14-reg">Мал эмнэлгийн ариун цэврийн үзлэг шалгалтын улирлын мэдээ</a>
                                            </paper-item>
                                            <paper-item><!--name="form43-reg"-->
                                                <!--<a name="form43-reg" class="submenu lh-25" href="#form43-reg">Эм бэлдмэл үйлдвэрлэлийн жилийн эцсийн мэдээ</a>-->
                                                <a class="submenu lh-25">Эм бэлдмэл үйлдвэрлэлийн жилийн эцсийн мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form46-reg">
                                                <a name="form46-reg" class="submenu lh-25" href="#form46-reg"
                                                   style="font-weight: normal;">Үхрийн арьсны гуурын мэдээ хагас жилээр</a>
                                            </paper-item>
                                            <paper-item name="form51-reg">
                                                <a name="form51-reg" class="submenu lh-25" href="#form51-reg">Мал эмнэлгийн урьдчилан сэргийлэх арга хэмжээний эм тарилгын зарцуулалт, үлдэгдлийн жилийн нэгдсэн тайлан</a>
                                            </paper-item>

                                            <paper-item name="form52-reg">
                                                <a name="form52-reg" class="submenu lh-25" href="#form52-reg">Халдваргүй өвчний хагас жил, жилийн мэдээ</a>
                                            </paper-item>

                                            <paper-item name="form53-reg">
                                                <a name="form53-reg" class="submenu lh-25" href="#form53-reg">Төл малын халдваргүй өвчний хагас жил, жилийн мэдээ</a>
                                            </paper-item>

                                            <paper-item name="form61-reg">
                                                <a name="form61-reg" class="submenu lh-25" href="#form61-reg">Мал эмнэлгийн
                                                    ариутгал халдваргүйтгэлийн улирал, жилийн мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form62-reg">
                                                <a name="form62-reg" class="submenu lh-25" href="#form62-reg">Мал эмнэлгийн
                                                    үйлчилгээний нэгжийн хагас жил, жилийн мэдээ</a>
                                            </paper-item>
                                            <paper-item name="form08havsralt-reg">
                                                <a name="form08havsralt-reg" class="submenu" href="#form08havsralt-reg">Мал амьтдын халдварт өвчний мэдээ</a>
                                            </paper-item>

                                            <paper-item name="form09havsralt-reg">
                                                <a name="form09havsralt-reg" class="submenu" href="#form09havsralt-reg">Мал амьтдын Паразиттах өвчний улирал, жилийн мэдээ</a>
                                            </paper-item>

                                            <paper-item name="galzuu-uvchin-form-reg">
                                                <a name="galzuu-uvchin-form-reg" class="submenu"
                                                   href="#galzuu-uvchin-form-reg">Гоц халдварт өвчний мэдээ</a>
                                            </paper-item>
                                            <!--<paper-submenu id="sgp-main-form">
                                                <paper-item class="menu-trigger">
                                                    <a class="menu">
                                                        <iron-icon icon="icons:folder" title="SGP"></iron-icon>
                                                        SGP
                                                    </a>
                                                </paper-item>
                                                <paper-menu class="menu-content" selected="{{selectedName}}"
                                                            attr-for-selected="name">
                                                    <paper-item name="sgp-main-form">
                                                        <a name="#sgp-main-form" class="menu" href="#sgp-main-form"
                                                           style="font-weight: normal;">Ерөнхий</a>
                                                    </paper-item>
                                                    <paper-item name="insurance-manual">
                                                        <a name="#form09-reg" class="menu" href="#form09-reg"
                                                           style="font-weight: normal;">Мэдрэмтгий сүргийн бүтэц</a>
                                                    </paper-item>
                                                    <paper-item name="insurance-manual">
                                                        <a name="#form09-reg" class="menu" href="#form09-reg"
                                                           style="font-weight: normal;">Өвчилсөн малын мэдээлэл</a>
                                                    </paper-item>
                                                </paper-menu>
                                            </paper-submenu>
                                            <paper-submenu id="idPrpmMainForm">
                                                <paper-item class="menu-trigger">
                                                    <a class="menu">
                                                        <iron-icon icon="icons:folder" title="PPR маягт"></iron-icon>
                                                        УМЭА PPR маягт
                                                    </a>
                                                </paper-item>
                                                <paper-menu class="menu-content" selected="{{selectedName}}"
                                                            attr-for-selected="name">
                                                    <paper-item name="ppr-main-form">
                                                        <a name="#ppr-main-form" class="menu" href="#ppr-main-form"
                                                           style="font-weight: normal;">Ерөнхий мэдээлэл</a>
                                                    </paper-item>
                                                </paper-menu>
                                            </paper-submenu>-->

                                        </paper-menu>
                                    </paper-submenu>
                                </template>
                                <template is="dom-if" if="{{showReport}}">
                                    <paper-submenu id="idTailan" opened="{{showReportMenu}}">
                                        <paper-item class="menu-trigger">
                                            <a class="menu">
                                                <iron-icon icon="icons:assessment" title="Тайлан"></iron-icon>
                                                Тайлан
                                            </a>
                                        </paper-item>
                                        <paper-menu class="menu-content" selected="{{selectedName}}"
                                                    attr-for-selected="name">
                                            <paper-item name="form08-chart-report">
                                                <a name="form08-chart-report" class="menu" href="#form08-chart-report"
                                                   style="font-weight: normal;">График тайлан</a>
                                            </paper-item>
                                            <paper-item name="form08-map">
                                                <a name="form08-map" class="menu" href="#form08-map"
                                                   style="font-weight: normal;">Газрын зураг</a>
                                            </paper-item>
                                        </paper-menu>
                                    </paper-submenu>
                                </template>
                                <template is="dom-if" if="{{showSettings}}">
                                    <paper-submenu id="idTohirgoo" opened="{{showSettingsMenu}}">
                                        <paper-item class="menu-trigger">
                                            <a class="menu">
                                                <iron-icon icon="icons:settings" title="Тохиргоо"></iron-icon>
                                                Тохиргоо
                                            </a>
                                        </paper-item>
                                        <paper-menu class="menu-content" selected="{{selectedName}}"
                                                    attr-for-selected="name">
                                            <paper-item name="hosp-users-registration">
                                                <a name="hosp-users-registration" class="menu"
                                                   href="#hosp-users-registration" style="font-weight: normal;">Хэрэглэгчийн
                                                    бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="menu-role-registration">
                                                <a name="menu-role-registration" class="menu" href="#menu-role-registration"
                                                   style="font-weight: normal;">Эрхийн тохиргоо хийх</a>
                                            </paper-item>
                                            <paper-item name="city-registration">
                                                <a name="city-registration" class="menu" href="#city-registration"
                                                   style="font-weight: normal;">Аймаг, хотын бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="sum-registration">
                                                <a name="sum-registration" class="menu" href="#sum-registration"
                                                   style="font-weight: normal;">Сум, дүүргийн бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="bag-registration">
                                                <a name="bag-registration" class="menu" href="#bag-registration"
                                                   style="font-weight: normal;">Баг, хорооны бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="mal-registration">
                                                <a name="mal-registration" class="menu" href="#mal-registration"
                                                   style="font-weight: normal;">Мал, амьтны төрлийн бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="uvch-registration">
                                                <a name="uvch-registration" class="menu" href="#uvch-registration"
                                                   style="font-weight: normal;">Өвчний нэрийн бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="deej-registration">
                                                <a name="deej-registration" class="menu" href="#deej-registration"
                                                   style="font-weight: normal;">Дээжийн төрлийн бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="shgazar-registration">
                                                <a name="shgazar-registration" class="menu" href="#shgazar-registration"
                                                   style="font-weight: normal;">Шинжилсэн газрын бүртгэл</a>
                                            </paper-item>
                                            <paper-item name="sharga-registration">
                                                <a name="sharga-registration" class="menu" href="#sharga-registration"
                                                   style="font-weight: normal;">Шинжилсэн аргын бүртгэл</a>
                                            </paper-item>
                                        </paper-menu>
                                    </paper-submenu>
                                </template>
                                <template is="dom-if" if="{{showOther}}">
                                    <paper-submenu id="idOther" opened="{{showOtherMenu}}">
                                        <paper-item class="menu-trigger">
                                            <a class="menu">
                                                <iron-icon icon="icons:book" title="Бусад"></iron-icon>
                                                Бусад
                                            </a>
                                        </paper-item>
                                        <paper-menu class="menu-content" selected="{{selectedName}}"
                                                    attr-for-selected="name">
                                            <paper-item name="news-registration">
                                                <a name="news-registration" class="menu" href="#news-registration"
                                                   style="font-weight: normal;">Мэдээ бүртгэх</a>
                                            </paper-item>

                                            <paper-item name="file-registration">
                                                <a name="file-registration" class="menu" href="#file-registration"
                                                   style="font-weight: normal;">Файл хуулах</a>
                                            </paper-item>
                                        </paper-menu>
                                    </paper-submenu>
                                </template>

                                <paper-submenu id="idTuslamj">
                                    <paper-item class="menu-trigger">
                                        <a class="menu">
                                            <iron-icon icon="icons:help" title="Тусламж"></iron-icon>
                                            Тусламж
                                        </a>
                                    </paper-item>
                                    <paper-menu class="menu-content" selected="{{selectedName}}"
                                                attr-for-selected="name">
                                        <paper-item name="insurance-manual">
                                            <a name="insurance-manual" class="menu" href="#insurance-manual"
                                               style="font-weight: normal;">Програмын гарын авлага</a>
                                        </paper-item>

                                        <paper-item name="hosp-chat">
                                            <a name="hosp-chat" class="menu" href="#hosp-chat" style="font-weight: normal;">Чат</a>
                                        </paper-item>

                                    </paper-menu>
                                </paper-submenu>
                            </paper-menu>
                        </iron-selector>
                    </app-drawer>
                    <!-- Main content -->
                    <paper-header-panel class="flex">
                        <paper-toolbar style="background-color: #0f62ac;">
                            <div style="font-size: 20px;">
                                Бүртгэлийн Програм
                                <iron-icon style="color:#fff;" icon="icons:chevron-right" title="#"></iron-icon>
                                {{ menuName }}
                            </div>
                            <span class="flex">&nbsp;</span>
                            <div style="text-align: right; font-size: 18px;">
                                <div>
                                    <label id="username">{{loggedIn.fullname}} : {{loggedIn.name}}</label>
                                </div>
                            </div>
                            <paper-icon-button icon="icons:exit-to-app" alt="Гарах"
                                               on-tap="_logout"></paper-icon-button>
                        </paper-toolbar>
                        <div>
                            <iron-pages
                                    selected="[[page]]"
                                    attr-for-selected="name"
                                    fallback-selection="view404"
                                    role="main">
                                <my-dashboard name="my-dashboard" logged-in="{{loggedIn}}"
                                              current-news="{{currentNews}}"
                                              page-news="{{pageNews}}"
                                              contaction-type="{{contactionType}}"></my-dashboard>
                                <!-- Forms -->
                                <template is="dom-if" if="{{showForms}}">
                                    <form08-reg name="form08-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form08-reg>

                                    <form09-reg name="form09-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form09-reg>

                                    <form11-reg name="form11-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form11-reg>

                                    <form13a-reg name="form13a-reg"
                                                 logged-in="{{loggedIn}}"
                                                 loading="{{loading}}">
                                    </form13a-reg>

                                    <form14-reg name="form14-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form14-reg>
                                    <form43-reg name="form43-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form43-reg>
                                    <form46-reg name="form46-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form46-reg>
                                    <form51-reg name="form51-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form51-reg>

                                    <form52-reg name="form52-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form52-reg>

                                    <form53-reg name="form53-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form53-reg>

                                    <form61-reg name="form61-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form61-reg>

                                    <form62-reg name="form62-reg"
                                                logged-in="{{loggedIn}}"
                                                loading="{{loading}}">
                                    </form62-reg>

                                    <form08havsralt-reg
                                            name="form08havsralt-reg"
                                            logged-in="{{loggedIn}}">
                                    </form08havsralt-reg>

                                    <form09havsralt-reg
                                            name="form09havsralt-reg"
                                            logged-in="{{loggedIn}}">
                                    </form09havsralt-reg>

                                    <galzuu-uvchin-form-reg name="galzuu-uvchin-form-reg"
                                                            logged-in="{{loggedIn}}"
                                                            loading="{{loading}}">
                                    </galzuu-uvchin-form-reg>
                                </template>

                                <!-- Reports -->
                                <template is="dom-if" if="{{showReport}}">
                                    <form08-chart-report name="form08-chart-report"
                                                         logged-in="{{loggedIn}}"></form08-chart-report>

                                    <form08-map name="form08-map"
                                                logged-in="{{loggedIn}}"></form08-map>
                                </template>

                                <!-- Settings -->
                                <template is="dom-if" if="{{showSettings}}">
                                    <menu-role-registration name="menu-role-registration"
                                                            logged-in="{{loggedIn}}"></menu-role-registration>

                                    <bag-registration name="bag-registration"
                                                      logged-in="{{loggedIn}}"></bag-registration>

                                    <uvch-registration name="uvch-registration"
                                                       logged-in="{{loggedIn}}"></uvch-registration>

                                    <mal-registration name="mal-registration"
                                                      logged-in="{{loggedIn}}"></mal-registration>

                                    <deej-registration name="deej-registration"
                                                       logged-in="{{loggedIn}}"></deej-registration>

                                    <shgazar-registration name="shgazar-registration"
                                                          logged-in="{{loggedIn}}"></shgazar-registration>

                                    <sharga-registration name="sharga-registration"
                                                         logged-in="{{loggedIn}}"></sharga-registration>

                                    <hosp-users-registration name="hosp-users-registration"
                                                             logged-in="{{loggedIn}}"
                                                             loading="{{loading}}"></hosp-users-registration>

                                    <city-registration name="city-registration"
                                                       logged-in="{{loggedIn}}"
                                                       loading="{{loading}}"></city-registration>

                                    <sum-registration name="sum-registration"
                                                      logged-in="{{loggedIn}}"
                                                      loading="{{loading}}"></sum-registration>
                                </template>

                                <!-- Other -->
                                <template is="dom-if" if="{{showOther}}">
                                    <news-registration name="news-registration"
                                                       logged-in="{{loggedIn}}"
                                                       loading="{{loading}}">
                                    </news-registration>

                                    <file-registration name="file-registration"
                                                       logged-in="{{loggedIn}}"
                                                       loading="{{loading}}">
                                    </file-registration>
                                </template>


                                <sgp-main-form name="sgp-main-form"
                                               logged-in="{{loggedIn}}"
                                               loading="{{loading}}">
                                </sgp-main-form>

                                <ppr-main-form name="ppr-main-form"
                                               logged-in="{{loggedIn}}"
                                               loading="{{loading}}">
                                </ppr-main-form>

                                <!-- Тусламж -->
                                <insurance-manual name="insurance-manual"
                                                  logged-in="{{loggedIn}}"></insurance-manual>

                                <hosp-chat name="hosp-chat"
                                           logged-in="{{loggedIn}}"
                                           loading="{{loading}}">
                                </hosp-chat>

                                <my-view404 name="view404"></my-view404>
                            </iron-pages>
                        </div>
                    </paper-header-panel>
                </app-drawer-layout>
            </overview-page>
        </neon-animated-pages>
        <iron-localstorage name="loggedIn" value="{{loggedIn}}"
                           on-iron-localstorage-load="getUserData"></iron-localstorage>
        <!-- Мэдээлэл харуулах -->
        <paper-toast id="toast_message" class="toast-err" duration="{{toast_dur}}">
            <paper-button on-click="_toastMessageClose" class="yellow-button">Хаах!</paper-button>
        </paper-toast>
        <paper-toast id="toast_message_succ" class="toast-succ" duration="{{toast_dur}}">
            <paper-button on-click="_toastMessageClose" class="yellow-button">Хаах!</paper-button>
        </paper-toast>
        <template is="dom-if" if="{{loading}}">
            <div class="blockUI" id="blockui">
                <paper-spinner class="thick showSpinner" active></paper-spinner>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'hospital-app',

            properties: {
                // Нэвтэрсэн бол тухайн хэрэглэгчийн мэдээллийг энэхүү хувьсагчид хадгалана.
                loggedIn: {
                    type: Object,
                    notify: true,
                    observer: '_selectPage'
                },

                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged',
                },
                pageNews: {
                    type: Object,
                    notify: true,
                },
                currentNews: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                insRoles: {
                    type: Object,
                    notify: true
                },
                menuName: {
                    type: String,
                    notify: true,
                    value: 'Удирдлагын самбар'
                },
                showForms: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                showReport: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                showSettings: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                showOther: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                showFormMenu:{
                    type: Boolean,
                    notify: true,
                    value: false
                },
                showReportMenu:{
                    type: Boolean,
                    notify: true,
                    value: false
                },
                showSettingsMenu: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                showOtherMenu: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                selected: {
                    type: Number,
                    notify: true,
                    value: 0
                },
                contactionType: {
                    type: Number,
                    notify: true,
                    reflectToAttribute: true,
                    value: 0
                },

                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                //----------------------------------------->> Toast Duration
                toast_dur: {
                    type: Number,
                    notify: false,
                    value: 10000
                },

                formMenuList: {
                    type: Array,
                    notify: false,
                    value:[
                        'form08-reg',
                        'form09-reg',
                        'form11-reg',
                        'form13a-reg',
                        'form14-reg',
                        'form43-reg',
                        'form46-reg',
                        'form51-reg',
                        'form52-reg',
                        'form53-reg',
                        'form61-reg',
                        'form62-reg',
                        'form08havsralt-reg',
                        'form09havsralt-reg',
                        'galzuu-uvchin-form-reg'
                    ]
                },

                reportMenuList: {
                    type: Array,
                    notify: false,
                    value:[
                        'form08-chart-report',
                        'form08-map'
                    ]
                },

                otherMenuList: {
                    type: Array,
                    notify: false,
                    value:[
                        'news-registration',
                        'file-registration'
                    ]
                },
                settingsMenuList: {
                    type: Array,
                    notify: false,
                    value:[
                        'menu-role-registration',
                        'bag-registration',
                        'uvch-registration',
                        'mal-registration',
                        'deej-registration',
                        'shgazar-registration',
                        'sharga-registration',
                        'hosp-users-registration',
                        'city-registration',
                        'sum-registration'
                    ]
                },
            },

            listeners: {
                'check-role': '_checkRole',
                'ins-details': '_changeInsDet',
                'ins-page_to': '_pageChanged',
                'show-toast-message': '_showToastMessage',
                'check-toast-message': '_checkToast'
            },

            observers: [
                '_routePageChanged(routeData.page)',
            ],
            getUserData: function () {
                /*var that = this;
                 if(this.loggedIn != null) {
                 setTimeout(function(){
                 alert('Your session has time out; You will be logged out.');
                 that._logout();
                 that.selected = 0;
                 }, 15*60*1000);  //15 minutes
                 }*/
            },
            ready: function () {
                //this.set("loading", true);

                this._openMenuStatus();
            },

            /**
             *
             *
             * */
            _openMenuStatus: function () {
                this.set("showFormMenu", false);
                this.set("showReportMenu", false);
                this.set("showSettingsMenu", false);
                this.set("showOtherMenu", false);

                //Forms
                if (this.page =='form08-reg'
                    || this.page =='form09-reg'
                    || this.page =='form11-reg'
                    || this.page =='form13a-reg'
                    || this.page =='form14-reg'
                    || this.page =='form43-reg'
                    || this.page =='form46-reg'
                    || this.page =='form51-reg'
                    || this.page =='form52-reg'
                    || this.page =='form53-reg'
                    || this.page =='form61-reg'
                    || this.page =='form62-reg'
                    || this.page =='form08havsralt-reg'
                    || this.page =='form09havsralt-reg'
                    || this.page =='galzuu-uvchin-form-reg'){
                    this.set("showFormMenu", true);
                }
                // Report
                if (this.page == 'form08-chart-report'
                    || this.page == 'form08-map') {
                    this.set("showReportMenu", true);
                }

                if (this.page == 'news-registration' || this.page == 'file-registration') {
                    this.set("showOtherMenu", true);
                }

                // Settings
                if (this.page == 'menu-role-registration'
                    || this.page == 'bag-registration'
                    || this.page == 'uvch-registration'
                    || this.page == 'mal-registration'
                    || this.page == 'deej-registration'
                    || this.page == 'shgazar-registration'
                    || this.page == 'sharga-registration'
                    || this.page == 'hosp-users-registration'
                    || this.page == 'city-registration'
                    || this.page == 'sum-registration') {
                    this.set("showSettingsMenu", true);
                }

                // Others
                if (this.page == 'news-role-registration'
                    || this.page == 'file-registration') {
                    this.set("showOtherMenu", true);
                }
            },

            _routePageChanged: function (page) {
                console.log(page);
                //this.page = page || 'my-dashboard';
            },

            _pageChanged: function (page) {
                // Load page import on demand. Show 404 page if fails
                console.log(page);
                if (page == '') {
                    page = 'my-dashboard';
                    window.location.href += "#my-dashboard";
                    window.location.reload();
                }

                this.selectedName = page;

                //
                if (page == 'my-dashboard') {
                    this.menuName = 'Удирдлагын самбар';
                }
                if (page == 'form08-reg') {
                    this.menuName = 'Паразиттах өвчнөөс сэргийлэх арга хэмжээний мэдээ';
                } else if (page == 'form09-reg') {
                    this.menuName = 'Халдварт өвчнөөс сэргийлэх арга хэмжээний мэдээ';
                } else if (page == 'form11-reg') {
                    this.menuName = 'Аймаг сумын мал эмнэлгийн лабораторийн шинжилгээний улирлын мэдээ';
                }
                else if (page == 'form13a-reg') {
                    this.menuName = 'Мал амьтан, түүхий эд бүтээгдэхүүн, малын тэжээлийн үзлэг';
                }
                else if (page == 'form14-reg') {
                    this.menuName = 'Мал эмнэлгийн ариун цэврийн үзлэг шалгалтын улирлын мэдээ';
                } else if (page == 'form43-reg') {
                    this.menuName = 'Эм бэлдмэл үйлдвэрлэлийн жилийн эцсийн мэдээ';
                } else if (page == 'form46-reg') {
                    this.menuName = 'Үхрийн арьсны гуурын мэдээ хагас жилээр';
                } else if (page == 'form51-reg') {
                    this.menuName = 'Мал эмнэлгийн урьдчилан сэргийлэх арга хэмжээний эм тарилгын зарцуулалт, үлдэгдлийн жилийн нэгдсэн тайлан';
                }else if (page == 'form52-reg') {
                    this.menuName = 'Халдваргүй өвчний хагас жил, жилийн мэдээ';
                }else if (page == 'form53-reg') {
                    this.menuName = 'Төл малын халдваргүй өвчний хагас жил, жилийн мэдээ';
                }
                else if (page == 'form61-reg') {
                    this.menuName = 'Мал эмнэлгийн ариутгал халдваргүйтгэлийн улирал, жилийн мэдээ';
                }
                else if (page == 'form62-reg') {
                    this.menuName = 'Мал эмнэлгийн үйлчилгээний нэгжийн хагас жил, жилийн мэдээ';
                }
                else if (page == 'sgp-main-form') {
                    this.menuName = 'sgp-main-form';

                } else if (page == 'ppr-main-form') {
                    this.menuName = 'PPR маягт';

                } else if (page == 'hosp-users-registration') {
                    this.menuName = 'Хэрэглэгчийн бүртгэл';

                } else if (page == 'city-registration') {
                    this.menuName = 'Аймаг, хотын мэдээлэл';

                } else if (page == 'sum-registration') {
                    this.menuName = 'Сум, дүүргийн бүртгэл';
                }

                if (this.page == 'form08-chart-report') {
                    this.menuName = 'График тайлан';
                }
                /* Tailan Map */
                if (this.page == 'form08-map') {
                    this.menuName = 'Газрын зураг';
                }
                if (this.page == 'news-registration') {
                    this.menuName = 'Мэдээ бүртгэх';
                }

                if (this.page == 'form08havsralt-reg') {
                    this.menuName = 'Мал амьтдын халдварт өвчний мэдээ';
                }

                if (this.page == 'form09havsralt-reg') {
                    this.menuName = 'Малыг бүртгэх, мэдээллийн нэгдсэн сан бүрдүүлэх';
                }

                if (this.page == 'galzuu-uvchin-form-reg') {
                    this.menuName = 'Гоц халдварт өвчний бүртгэл';
                }
                if (this.page == 'file-registration') {
                    this.menuName = 'Файл хуулах';
                }
                if (this.page == 'bag-registration') {
                    this.menuName = 'Баг, хорооны бүртгэл';
                }
                if (this.page == 'mal-registration') {
                    this.menuName = 'Мал, амьтны төрлийн бүртгэл';
                }
                if (this.page == 'uvch-registration') {
                    this.menuName = 'Өвчний нэрийн бүртгэл';
                }
                if (this.page == 'deej-registration') {
                    this.menuName = 'Дээжийн төрлийн бүртгэл';
                }
                if (this.page == 'shgazar-registration') {
                    this.menuName = 'Шинжилсэн газрын бүртгэл';
                }
                if (this.page == 'sharga-registration') {
                    this.menuName = 'Шинжилсэн аргын бүртгэл';
                }

                /* Change */
                this._openMenuStatus();
                /* end of change menu open */

                if (page.indexOf('organization') >= 0 || page.indexOf('ins-feecalc') >= 0) {
                    this.importHref(
                        this.resolveUrl('organizations/' + page + '.html'), null, this._showPage404, true);
                } else if (this.page.indexOf('list') >= 0) {
                    this.importHref(
                        this.resolveUrl('lists/' + page + '.html'), null, this._showPage404, true);
                } else if (this.page.indexOf('report') >= 0 || this.page.indexOf('map') >= 0) {
                    this.importHref(
                        this.resolveUrl('reports/' + page + '.html'), null, this._showPage404, true);
                } else if (this.page.indexOf('form') >= 0) {
                    this.importHref(
                        this.resolveUrl('forms/' + page + '.html'), null, this._showPage404, true);
                } else if (this.page.indexOf('registration') >= 0) {
                    this.importHref(
                        this.resolveUrl('settings/' + page + '.html'), null, this._showPage404, true);
                } else {
                    //alert("Та URL -ээ шалгана уу!!!");
                    if (page == 'my-dashboard') {
                        this.importHref(this.resolveUrl(page + '.html'), this._pageNewsInfos(), this._showPage404, true);
                    } else {
                        this.importHref(this.resolveUrl(page + '.html'), null, this._showPage404, true);
                    }

                }
                this._writepagelog();

                this._checkLogin();
            },

            /**
             * Checking login
             * */
            _checkLogin: function () {
                console.log(this.loggedIn);
                if (this.loggedIn == undefined) return;
                if (this.loggedIn.id == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'checkSession',
                    params: [this.loggedIn.id]
                };
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            if (!resp.result.session) {
                                that.loggedIn = null;
                                window.location.reload();
                            }
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!"; //"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _pageNewsInfos: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'pageNews',
                    params: []
                };
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        that.pageNews = resp.result;
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!"; //"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }

                //todo: pagePopular датаг hits талбараар нь дараалал тогтоох код бичих.
            },

            // Нэвтэрсэн эсхийг шалгах функц
            _selectPage: function () {
                this.selected = this.loggedIn ? 1 : 0;

                if (this.loggedIn) {
                    // Get menu Role List
                    this._getUserRoles();

                    //Check Role
                    this.async(function () {
                        this._setupDB();
                        this.set("loading", false);
                    }.bind(this), 1);
                } else {
                    this._teardownDB();
                }
            },

            /**
             * Хамгийн их ашигласан цэсүүд бүртгэх
             * */
            _writepagelog: function () {
                if (!this.loggedIn || this.page == 'view404' || this.page == 'my-dashboard' || this.page == 'index.html') return;

                // database rvv хуудасны хандал оруулах
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'writeFavoriteMenuLog',
                    params: [this.loggedIn.id, this.page]
                };
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                        }
                    });
                } catch (err) {
                    console.log(err);
                }
            },

            _selectRole: function (code) // 103
            {
                if (this._checkRole(code) == true) {
                    return true;
                }
                return false;
            },
            //хэрэглэгчийн эрхийг татах
            _getUserRoles: function () {
                var that = this;
                if (!this.loggedIn) {
                    return;
                }
                /********* Getting user's roles *********/
                try {
                    argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getRoles',
                        params: [this.loggedIn.id]
                    };
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.insRoles = resp.result;
                        }
                    });
                } catch (e) {
                    console.error(e);
                }
            },
            //хэрэглэгчийн эрхийг шалгах
            _checkRole: function (permission) {
                //permission.returnValue = true;

                var that = this;
                var result = false;
                var permDetails = null;

                if (permission.detail != undefined && permission.detail != null) {
                    permDetails = permission.detail;
                } else {
                    permDetails = permission;
                }

                var returnValue = false;

                /*console.log("Get user Roles");
                console.log(that.insRoles);
                console.log(permDetails);*/

                if (that.insRoles != null && that.insRoles != undefined) {
                    for (var i = 0; i < this.insRoles.length; i++) {
                        if (that.insRoles[i].id == permDetails) {
                            return true;
                        }
                    }
                }
                permission.returnValue = returnValue;
                return returnValue;
            },

            _teardownDB: function () {
                console.log('calling ... logout page');
            },

            /**
             * Хэрэглэгчийн цэс руу хандах эрхтэй эсхийг шалгана
             * */
            _setupDB: function () {
                // maybe something do it.
                this.set("showForms", false);
                this.set("showReport", false);
                this.set("showSettings", false);
                this.set("showOther", false);

                /*
                this.set("showForms", this._selectRole('form08-reg'));
                this.set("showReport", this._selectRole('form08-chart-report'));
                this.set("showSettings", this._selectRole('hosp-users-registration'));
                this.set("showOther", this._selectRole('news-registration'));
                */

                //this.showForms = this._selectRole('form08-reg');

                for(var i = 0; i < this.formMenuList.length; i++){
                    var res = this._selectRole(this.formMenuList[i]);
                    if (res)this.set("showForms", true);
                }

                for(var i = 0; i < this.reportMenuList.length; i++){
                    var res = this._selectRole(this.reportMenuList[i]);
                    if (res)this.set("showReport", true);
                }

                for(var i = 0; i < this.otherMenuList.length; i++){
                    var res = this._selectRole(this.otherMenuList[i]);
                    if (res)this.set("showOther", true);
                }

                for(var i = 0; i < this.settingsMenuList.length; i++){
                    var res = this._selectRole(this.settingsMenuList[i]);
                    if (res)this.set("showSettings", true);
                }
            },

            // 404 гэсэн хуудас авч байгаа хэсэг
            _showPage404: function () {
                this.page = 'my-dashboard';
            },

            // Гарах товчийг дарах үед энэхүү үйлдэл хийгдэнэ.
            _logout: function () {
                this.loggedIn = null;
            },

            _showToastMessage: function (mess) {
                var messDetails = null;

                if (mess.detail != undefined && mess.detail != null) {
                    messDetails = mess.detail;
                }

                if (messDetails.success == true) {
                    if (this.$.toast_message_succ.opened) this.$.toast_message_succ.close();
                    this.$.toast_message_succ.text = messDetails.message;
                    this.$.toast_message_succ.horizontalAlign = 'right';
                    this.$.toast_message_succ.open();
                } else {
                    if (this.$.toast_message.opened) this.$.toast_message.close();
                    this.$.toast_message.text = messDetails.message;
                    this.$.toast_message.horizontalAlign = 'right';
                    this.$.toast_message.open();
                }
            },
            _toastMessageClose: function () {
                this.$.toast_message.close();
                this.$.toast_message_succ.close();
            },

            _checkToast: function () {
                if (this.$.toast_message_succ.opened) {
                    return true;
                } else {
                    return false;
                }
            },
        });
    </script>
</dom-module>
