<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="hosp-chat">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            .row:after{
                display: table;
                content: " ";
                clear: both;
            }
            .col-3 {
                width: 30%;
                float: left;
            }
            .col-7 {
                width: 70%;
                float: left;
            }
            .chat-date{
                text-align: right;
                color: #dcd9d9;
            }
            .chat-date:hover{
                color: #757575;
            }
            .chat-body iron-icon{
                float: left;
                margin: -5px 10px -5px 0;
                width: 35px;
                border-radius: 50%;
                display: block;
            }
            .chat-body span{
                width: 225px;
                display: block;
            }
            i.online {
                background-color: #18a689;
            }

            i.online, i.offline {
                border-radius: 50%;
                content: "";
                height: 10px;
                float: right;
                width: 10px;
                margin-top: 5px;
                margin-right: 5px;
            }

            i.offline {
                background-color: rgba(0,0,0,0.2);
            }
        </style>

        <div class="card">
            <h1>Захианууд</h1>

            <div class="row">
                <div class="col-3">
                    <h4 style="background-color: #0f62ac; color: white; padding: 10px;">Хэрэглэгчдийн жагсаалт</h4>
                    <paper-menu>
                        <template is="dom-repeat" items="{{users}}">
                            <paper-item>
                                <paper-item-body two-line>
                                    <span class="chat-body">
                                        <template is="dom-if" if="{{ _checkStatus(item.status) }}">
                                            <i class="online"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkStatus(item.status) }}">
                                            <i class="offline"></i>
                                        </template>
                                        <iron-icon icon="icons:account-circle"></iron-icon>
                                        <span>{{item.lastName}} {{item.firstName}}</span>
                                    </span>
                                </paper-item-body>
                            </paper-item>
                        </template>
                    </paper-menu>
                </div>

                <div class="col-7">
                    <h4 style="background-color: #0f62ac; color: white; padding: 10px;margin-left: 10px;">Чат</h4>
                    <div id="idChatList" class="list" style="margin-left: 10px; border: 1px #0f62ac solid; height: 300px; overflow-y: scroll;">
                        <template is="dom-repeat" items="{{messages}}">
                            <paper-item style="border-bottom: 1px #ddd solid;">
                                <paper-item-body style="width: 450px;word-wrap: break-word;">
                                    <div>
                                        <iron-icon icon="icons:account-circle"></iron-icon>
                                        <span>{{item.name}}</span>
                                        <div><span><strong>Захиа:</strong> {{item.text}}</span></div>
                                        <div class="chat-date">{{item.timestamp}}</div>
                                    </div>
                                </paper-item-body>
                            </paper-item>
                        </template>
                    </div>

                    <div style="margin-left: 10px;">
                        <paper-input label="Захиа бичих:" on-keyup="_handleInput"></paper-input>
                    </div>
                </div>
            </div>
        </div>

    </template>

    <script>
        var socket;

        function setMessage(message) {
            //console.log(message);
            socket.send(message);
        }

        function setThread() {

        }


        Polymer({

            is: 'hosp-chat',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String,
                    notify: true
                },
                users:{
                    type: Array,
                    notify: true,
                    value:[]
                },
                messages:{
                    type: Array,
                    notify: true
                },
                sendchat: {
                    type: Object,
                    notify: true,
                    value:{
                        id: "",
                        receive_id:"",
                        message: ""
                    }
                }
            },
            ready: function () {
                this.server = SERVER_URL;

                this._getAllUserList();

                var chaturl = this.server.replace('http://',
                    'ws://').replace('https://', 'wss://');
                chaturl += "/chat/WebSocket";

                socket = new WebSocket(chaturl);
                //socket = new WebSocket("ws://localhost:8444/chat/WebSocket");
                socket.onerror = this.onError.bind(this);
                socket.onopen = this.onOpen.bind(this);
                socket.onmessage = this.onMessage.bind(this);
            },
            onError: function (error) {
                this.fire('onerror', error);
                console.log("onerror");
            },
            onOpen: function (event) {
                this.fire('onopen');
                console.log("open");
            },
            onMessage: function (event) {
                //this.$.idChatList.scrollTop = this.$.idChatList.scrollHeight - this.$.idChatList.clientHeight;
                this.$.idChatList.scrollTop = 100000;

                this.fire('onmessage', event.data);
                console.log(event.data);
                var data = JSON.parse(event.data);
                //console.log(data.userlist);

                var user_array = [];
                /*for (var i = 0; i < Object.keys(data.userlist).length; i++) {
//                    console.log(data.userlist[i]);
                    user_array.push({'name': data.userlist[i]});
                }
                this.users = user_array;*/

                //console.log(data.userMessage.sender);

                if (this.messages != null) {
                    var message = {
                        name: data.userMessage.sender,
                        text: data.userMessage.message,
                        timestamp: data.userMessage.timestamp
                    };
                    this.push('messages', message);
                } else {
                    this.messages = [{
                        name: data.userMessage.sender,
                        text: data.userMessage.message,
                        timestamp: data.userMessage.timestamp
                    }];
                }
            },
            send: function (message) {
                socket.send(message);
            },
            close: function () {
                socket.close();
            },

            _send: function () {
                setMessage(this.$.idMsgText.value);
            },
            _handleInput: function (e) {
                if (e.keyCode == 13) {
                    var txt = e.target.value;
                    if (txt != undefined && txt != null && txt != ""){
                        this.set("sendchat.id", this.loggedIn.id);
                        this.set("sendchat.receive_id", "");
                        this.set("sendchat.message", txt);
                        var sendmess = '{"id":"' + this.loggedIn.id + '",';
                        sendmess += '"receive_id":"' + this.loggedIn.id + '",';
                        sendmess += '"message":"' + txt + '"}';

                        setMessage(sendmess);
                    }
                    e.target.value = '';
                }
            },
            _getAllUserList: function () {

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getAllUserList',
                    params: [{actFlg:'Y'}, this.loggedIn.id]
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.users = resp.result;
                            console.log("resp.result:::: "+resp.result);
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _checkStatus: function (status) {
                if (status == 'online') return true;
                return false;
            },

            sendFile: function() {
                var file = document.getElementById('filename').files[0];
                //socket.binaryType = "arraybuffer";
                socket.binaryType = "blob";
                //ws.send('filename:'+file.name);
                var reader = new FileReader();
                var rawData = new ArrayBuffer();
                console.log(file.name);
                reader.loadend = function() {
                };
                reader.onload = function(e) {
                    rawData = e.target.result;
                    socket.send(rawData);
                    console.log("the File has been transferred.")
                    //ws.send('end');
                };
                reader.readAsArrayBuffer(file);
            }
        });

    </script>

</dom-module>
