<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">



<dom-module id="infonews">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                font-size: 22px;
                margin: 16px 0;
                color: #212121;
            }
            paper-button{
                border: 1px solid #dcdcdc;
                padding: 3px 8px;
            }

            #add-button {
                position: absolute;
                right: 32px;
                bottom: 32px;
                z-index: 6;
            }
            @media (max-width: 1124px) {
                #add-button {
                    bottom: -28px;
                }
            }
            @media (min-width: 1125px) {
                #add-button {
                    bottom: auto;
                    top: -29px;
                }
            }
            @media (max-width: 900px) {
                #add-button {
                    bottom: 32px;
                }
            }
            .news-postBox{
                color: #fff;
                height: 48px;
                padding-top: 7px;
                border: 1px solid;
                border-radius: 3px;
                background-color: #0f62ac;
                border-color: #0C4E8A;
                width: 77px;
                text-align: center;
                float: left;
                margin-right: 20px;
            }
            .news-postBox .small-text{
                font-size: .8em;
            }
            .news-postBox .news-dateText{
                font-weight: bold;
            }
            .news-postBoxMargin a{
                font-size: 1.3em;
                color: #0f62ac;
                text-decoration: none;
            }
            .news-postBoxMargin a:active{
                color: #0f62ac;
            }
        </style>

        <div class="card">
            <div style="float: right;">
            <a name="insurance-infonews" href="#insurance-infonews">
            <paper-button raised>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAN0lEQVR42mNgGAXDAsynhYH/aWHgf1oY+J8WBhKL6W8oqd4nKYjm08JQYpMUWZE5fzT/jwLSAAA65TILtWYGeQAAAABJRU5ErkJggg==" width="21" height="21" class="gwt-Image">

            </paper-button>
            </a>
            </div>
            <div>
                <div class="news-postBox">
                    <div class="small-text">{{ _getYear(currentNews.createdAt) }}</div>
                    <div class="news-dateText">{{ _getMMDD(currentNews.createdAt) }}</div>
                </div>
                <div class="news-postBoxMargin">
                    <a>{{currentNews.name}}</a>
                    <div>by {{currentNews.createdBy}} at {{ _getTIME(currentNews.createdAt) }}</div>
                </div>
            </div>
            <p><img src="{{server}}/picture/?filename={{currentNews.filename}}" width="500"/></p>
        </div>

    </template>

    <script>

        Polymer({

            is: 'infonews',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                currentNews: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                server: {
                    type: String
                }
            },
            ready: function() {
                this.server = FILE_SERVER;
            },

            _getYear: function(datetime){
                var Xmas = new Date(datetime);
                return Xmas.getFullYear();
            },

            _getMMDD: function(datetime){
                var Xmas = new Date(datetime);
                return (Xmas.getMonth() + 1)+"/"+Xmas.getDate();
            },

            _getTIME: function(datetime){
                var Xmas = new Date(datetime);
                return ((Xmas.getHours() < 10)?"0":"") + Xmas.getHours() +":"+ ((Xmas.getMinutes() < 10)?"0":"") + Xmas.getMinutes();
            }

        });

    </script>

</dom-module>
