<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="insurance-manual">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            iframe{
                width: 100%;
                border: none;
                height: 75vh;
            }


            #add-button {
                position: absolute;
                right: 32px;
                bottom: 32px;
                z-index: 6;
            }
            @media (max-width: 1124px) {
                #add-button {
                    bottom: -28px;
                }
            }
            @media (min-width: 1125px) {
                #add-button {
                    bottom: auto;
                    top: -29px;
                }
            }
            @media (max-width: 900px) {
                #add-button {
                    bottom: 32px;
                }
            }
        </style>

        <div class="card">
            <h1>Програмын гарын авлага</h1>

            <div>
                <iframe src="/uploads/help/manual.pdf"></iframe>
            </div>
        </div>

    </template>

    <script>

        Polymer({

            is: 'insurance-manual'

        });

    </script>

</dom-module>
