<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="login-page">

    <template>

        <style scope="login-page">
            :host {
                background: #fbfafa;
                min-height: 400px;
            }

            .login paper-input {
                width: 100%
            }

            #login-button {
                margin: 20px 0 0 0;
                padding-left: 30px;
                padding-right: 30px;
                background: #31466a;
                color: #FFFFFF;
                width: 100%;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14)
            }

            .error-message {
                color: red;
                clear: both;
                display: block;
            }

            .header {
                height: 36%;
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: flex-end;
                margin: 0 !important;
                padding: 0 !important;
                background: #31466a; /* or remove */
            }

            /*.header::after {
                content: "";
                position: absolute;
                width: 100%;
                top: 36%;
                border-bottom: 2px solid #0f62ac;
            }*/

            .header h1 {
                color: #fff; /* or #646464 */
                font-size: 24px;
                font-weight: bold;
                margin: 0 auto 16px;
                width: 300px;
            }

            .login {
                width: 300px;
                margin: 16px auto;
                background-color: rgb(243, 243, 243);
                margin-top: -90px;
                padding: 25px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                z-index: 99999999999999;
                border-radius: 5px;
            }
            .login h1{
                font-size: 26px;
                font-weight: normal;
                color: #31466a;
                font-family: -webkit-body;
                margin-top: 0px;
            }
            #footer {
                font-size: 14px;
                background: #d7d7d7;
                padding: 14px 26px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                align-items: center;
                position: absolute;
                bottom: 0;
                color: #646464;
            }

            #footer a {
                text-decoration: none;
                color: #00b4f0;
            }
            .focused-line{
                background: #00b4f0;
            }
            paper-input {
                --paper-input-container-color: #31466a;
                --paper-input-container-input-color: #0061b7;
            }
        </style>

        <iron-a11y-keys keys="enter" on-keys-pressed="_login"></iron-a11y-keys>
        <div id="header" class="header"></div>

        <div class="login">
            <h1>Бүртгэлийн Програм</h1>

            <paper-input label="Хэрэглэгчийн нэр" name="_username" value="{{ _username }}" tabindex="1" aria-disabled="false"></paper-input>
            <paper-input label="Нууц үг" name="_password" value="{{ _password }}" type="password" tabindex="2" aria-disabled="false"></paper-input>
            <span class="error-message">[[errorMessage]]</span>
            <paper-button id="login-button" on-click="_login" raised="" role="button" tabindex="3" animated="" aria-disabled="false" elevation="1">Нэвтрэх</paper-button>
        </div>


        <!--<div id="footer">
          <span class="fork-me">
            Fork me on <a href="https://github.com/vaadin/expense-manager-demo">GitHub</a>
          </span>
          <span class="built-with">
            Built with <a href="https://vaadin.com/elements">Sainaa Elements</a>
          </span>
        </div>-->

    </template>

    <script>
        (function() {
            'use strict';
            Polymer({

                is: 'login-page',

                properties: {
                    loggedIn: {
                        type: Object,
                        notify: true
                    },

                    _username: {
                        type: String,
                    },
                    _password:{
                        type: String,
                    },
                    errorMessage: String,
                    animationConfig: {
                        value: function() {
                            return {
                                'entry': {
                                    name: 'fade-in-animation',
                                    node: this
                                },
                                'exit': [{
                                    name: 'fade-out-animation',
                                    node: this
                                }]
                            };
                        }
                    },
                    loading:{
                        type:Boolean,
                        notify:true,
                        value:false
                    }
                },

                behaviors: [Polymer.NeonAnimatableBehavior],

                _login: function() {
                    if (!this._username || !this._password) {
                        return;
                    }
                    this.set("loading", true);
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'login',
                        params: [this._username.trim().toLowerCase(), this._password, 'LDAP'],
                        'authType': 'LDAP'
                    };
                    var that = this;
                    try {
                        rpc("rpc/auth", argument, function (resp) {
                            if (resp.result) {
                                that.loggedIn = {
                                    name: resp.result.user,
                                    fullname: resp.result.username,
                                    id: resp.result._id,
                                    rcode: resp.result.rcode
                                };
                                window.location.reload();
                            } else {
                                that.errorMessage = "нэр, нууц үгээ шалгана уу";
                                that.loggedIn = null;
                                that.set("loading", false);
                            }
                        }, true);
                    }
                    catch(err) {
                        that.set("loading", false);
                        that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                        console.log(err);
                        that.loggedIn = null;
                    }
                },

            });
        })();
    </script>

</dom-module>