<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-quill/polymer-quill-html-render.html">

<dom-module id="my-dashboard">

    <template>

        <style>
            :host {
                display: block;
            }
            .row:after{
                display: table;
                content: " ";
                clear: both;
            }
            .content {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                background-color: #ececec;
                color: #757575;
            }
            .card {
                width: 44%;
                float: left;
                margin: 12px;
            }

            .subcard {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                background-color: rgba(255,255,255,0.82);
                margin: 12px;
                color: #757575;
                width: 100%;
                float: left;
                border-radius: 5px ;
                overflow:hidden;
            }

            .header{
                border-radius: 5px 5px 0px 0px;
                padding: 10px;
                text-align: center;
            }
            .header.blue{
                background: #366e9e;
            }
            .header.red{
                background: #b15252;
            }
            .header.yallow{
                background: #a97946;
            }
            .header.green{
                background: #509c73;
            }
            .card-content{
                height: 300px;
                overflow-x: hidden;
            }
            h1 {
                font-size: 18px;
                margin: 0px;
                color: #ffffff;
            }
            @media (max-width: 900px) {
                .card {
                    width: 96%;
                }
            }

            paper-item{
                display: flex;
                position: relative;
                min-height: 48px;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 0px 16px;
                align-items: center;
            }
            .lastlist{
                border-bottom:1px solid #ddd;
                margin:10px 20px 0;
                padding:5px;
                display:inherit;
                min-height:auto;
            }
            .lastlist:last-child{
                margin-bottom:200px !important;
            }
            .lastlist a{
                color:#333;
            }
            .lastlist a:hover{
                color:#fc9200;
                text-decoration:none;
            }

            .news-postBoxMargin{
                display: block;
                border-bottom: 1px solid #ccc;
                width: 100%;
                margin-top: 5px;
                padding-top: 5px;
            }
            .news-postBoxMargin img{
                float: left;
                padding-right: 15px;
                padding-bottom: 10px;
            }
            .news-postBoxMargin a{
                font-size: 14px;
                color: #0f62ac;
                text-decoration: none;
            }
            .news-postBoxMargin p{
                padding: 0px;
                margin: 0px;
                word-wrap: break-word;
            }
            .news-postBoxMargin a:active{
                color: #0f62ac;
            }
            .news-postBoxMargin a:hover{
                color:#000;
            }

            polymer-quill-html-render#demo1 {
                --polymer-quill-editor-max-height: 300px;
            }


            .linebox{margin:30px 30px 0;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);padding:15px;background:#fff;border-radius:5px;min-width:16%;max-width:20%;float:left;
                color:#fff;
                text-align:center;
            }
            .linebox:first-child{
                background:#0c4492
            }
            .linebox:nth-child(2){
                background:#fc9200;
            }
            .linebox:nth-child(3){
                background:#ac0f74;
            }
            .linebox:nth-child(4){
                background:#0fac2a;
            }
            .linebox iron-icon{
                margin-bottom:10px;
            }
            .linebox b{
                display:block;
                font-size:32px;
                margin:20px 0;
            }
        </style>

        <div class="card" style="width:90%;">
            <div class="subcard">
                <div class="header red">
                    <h1>Статистик үзүүлэлтүүд</h1>
                </div>

                <div class="card-content">

                    <div class="line" style="display:flex;">
                        <div class="linebox">
                            <div><iron-icon icon="supervisor-account" style="width: 42px;" ></iron-icon><br>Програмд бүртгэлтэй <b>{{totalUser}}</b> хэрэглэгч</div>
                        </div>
                        <div class="linebox">
                            <div><iron-icon icon="view-list" style="width: 42px;" ></iron-icon><br>Хэрэглэгчдийн оруулсан <b>{{totalNews}}</b> мэдээ, мэдээлэл байна</div>
                        </div>
                        <div class="linebox">
                            <div><iron-icon icon="cloud-upload" style="width: 42px;" ></iron-icon><br>Файлын санд <b>{{totalFile}}</b> файл хуулагдсан байна</div>
                        </div>
                        <div class="linebox">
                            <div><iron-icon icon="apps" style="width: 42px;" ></iron-icon><br>Маягтуудад бүртгэгдсэн <b>{{totalInfo}}</b> мэдээ байна</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="content">
            <div class="card">
                <div class="subcard">
                    <div class="header blue">
                        <h1>Хамгийн их ашигласан цэсүүд</h1>
                    </div>

                    <div class="card-content">
                        <template is="dom-repeat" items="{{ pagePopular }}">
                            <template is="dom-if" if="{{ !_isIgnore(item.menu_id) }}">
                                <paper-item class="lastlist"><a name="{{item.menu_id}}" href="#{{item.menu_id}}">{{ item.menuname_mn }}</a></paper-item>
                            </template>
                        </template>
                        <template is="dom-if" if="{{ _isEmpty(pagePopular) }}">
                            Харуулах мэдээлэл байхгүй байна.
                        </template>
                    </div>
                </div>

                <div class="subcard">
                    <div class="header yallow">
                        <h1>Сүүлд ашигласан</h1>
                    </div>

                    <div class="card-content">
                        <template is="dom-repeat" items="{{ pageRecent }}">
                            <paper-item>
                                <a id="{{item.id}}" name="{{item.page}}" href="#{{item.page}}" on-click="_editContractInfo" data-args="{{item}}">{{ _getRecentPageText(item) }}</a>
                            </paper-item>
                        </template>
                        <template is="dom-if" if="{{ _isEmpty(pageRecent) }}">
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Харуулах мэдээлэл байхгүй байна.
                        </template>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="subcard">
                    <div class="header green">
                        <h1>Мэдээ Мэдээлэл</h1>
                    </div>

                    <div class="">
                        <template id="infonewsdata" is="dom-repeat" items="{{ pageNews }}">
                            <paper-item>
                                <div class="news-postBoxMargin">
                                    <a name="infonews-show" href="#infonews-show" on-click="passNewsId">{{item.title}}</a>
                                    <div>
                                        <polymer-quill-html-render id="demo1" content="{{item.content}}" style="word-wrap: break-word;">
                                        </polymer-quill-html-render>
                                    </div>
                                    <div>
                                        <p style="text-align: right;color: #999;font-size:12px;">
                                            {{ _getYear(item.modAt) }}/{{ _getMMDD(item.modAt) }} {{ _getTIME(item.modAt) }}
                                        </p>
                                    </div>
                                </div>
                            </paper-item>
                        </template>
                        <template is="dom-if" if="{{ _isEmpty(pageNews) }}">
                            Харуулах мэдээлэл байхгүй байна.
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        (function() {
            'use strict';
            Polymer({

                is: 'my-dashboard',
                properties: {
                    loggedIn: {
                        type: Object,
                        notify: true
                    },
                    pagePopular: {
                        type: Object,
                        value: []
                    },
                    pageNews: {
                        type: Object,
                        value: []
                    },
                    pageRecent: {
                        type: Object,
                        value: []
                    },

                    currentNews: {
                        type: Object,
                        notify: true
                    },
                    server: {
                        type: String
                    },
                    //------------------------------> Хайлт хийх
                    criteriaData:{
                        type: Object,
                        notify: true,
                        value: {
                            title:'',
                            content:''
                        }
                    },

                    //Total user
                    totalUser: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    //Total news
                    totalNews: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    //Total info
                    totalInfo: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    //Total file
                    totalFile: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                },
                ready: function(){
                    if(this.loggedIn == null) return;

                    this.server = FILE_SERVER;

                    // database-ees хуудасны хандалт хийсэн мэдээллийг татах.
                    this._favoritePageInfos();

                    // Сүүлд ашигласан хуудасны мэдээллийг татах
                    //this._recentPageInfos();

                    //
                    this._getNewsData();

                    this._calculateStatistic();
                },

                /**
                 * Хамгийн их ашигласан цэсүүд
                 * */
                _favoritePageInfos: function () {
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getFavoriteMenuList',
                        params: [this.loggedIn.id]
                    };
                    if(!this.loggedIn) return;

                    var that = this;
                    try {
                        rpc("rpc/hospsys", argument, function (resp) {
                            console.log("getFavoriteMenuList :::::::::: ");
                            console.log(resp.result);
                            that.pagePopular = resp.result;
                        });
                    }
                    catch(err) {
                        that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                        console.log(err);
                    }
                },

                _getNewsData: function () {
                    //start news Data
                    var argument ={
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getNewsData',
                        params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                    };
                    if(!this.loggedIn) return;
                    var that = this;
                    try {
                        rpc("rpc/hospsys", argument, function (resp){
                            if (resp.result){
                                that.pageNews = resp.result;
                            }else{
                                that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                            }

                        });
                    }catch(err){
                        that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                        console.log(err);
                    }
                    //end News Data
                },

                passNewsId: function(e) {
                    var list = this.$.infonewsdata;
                    var id = e.model.index;
                    this.currentNews = list.items[id];
                },

                _isEmpty: function(data) {
                    if(data.length > 0) {
                        return false;
                    } else {
                        return true;
                    }
                },

                _getText: function(pageId) {
                    return this.menu[pageId];
                },
                _isIgnore: function(pageId){
                    if (pageId == 'insurance-bill-print' || pageId == 'elements' || pageId == 'infonews-show'){
                        return true;
                    }
                    return false;
                },
                _getYear: function(datetime){
                    var Xmas = new Date(datetime);
                    return Xmas.getFullYear();
                },

                _getMMDD: function(datetime){
                    var Xmas = new Date(datetime);
                    return (Xmas.getMonth() + 1)+"/"+Xmas.getDate();
                },

                _getTIME: function(datetime){
                    var Xmas = new Date(datetime);
                    return ((Xmas.getHours() < 10)?"0":"") + Xmas.getHours() +":"+ ((Xmas.getMinutes() < 10)?"0":"") + Xmas.getMinutes();
                },

                _calculateStatistic: function() {
                    var argument ={
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getStatistic',
                        params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                    };
                    if(!this.loggedIn) return;
                    var that = this;
                    try {
                        rpc("rpc/hospsys", argument, function (resp){
                            if (resp.result){
                                console.log(resp.result);
                                that.totalUser = resp.result.usercount;
                                that.totalFile = resp.result.filecount;
                                that.totalNews = resp.result.newscount;
                            }else{
                                that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                            }

                        });
                    }catch(err){
                        that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                        console.log(err);
                    }
                    //end News Data
                },

                _isImage: function(imageName) {
                    if ( imageName == '' ) return false;
                    if ( (/\.(gif|jpg|jpeg|tiff|png)$/i).test(imageName) )
                    {
                        return true;
                    }
                    return false;
                },

                _isFirst: function(i) {
                    if(i == 0) {
                        return true;
                    } else {
                        return false;
                    }
                }

            });
        })();
    </script>

</dom-module>
