<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="my-view404">
  <template>
    <style>
      :host {
        display: block;
        padding: 0px;
        position: relative;
      }
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      h1 {
        color: #000000 !important;
        font-size: 22px !important;
        padding: 0 0 6px !important;
        border-bottom: 5px solid #ddd !important;
        font-family: "AGAvantGarde Mon", Arial, sans-serif;
        font-weight: bold;
      }
    </style>

    <div class="card">
      <h1>404 page</h1>

      <div>
        <h1 style="border-bottom: 0px solid #ddd !important;font-size: 97px !important;text-align: center;color: #bfbfbf !important;">Oops you hit a 404.</h1>
        <h2 style="text-align: center;"><a href="/">Head back to home.</a></h2>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-view404',
    });
  </script>
</dom-module>
