<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-poly.html">
<link rel="import" href="../../bower_components/google-map/google-map-point.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../bower_components/google-map/google-map-search.html">

<script src="../../scripts/js-marker-clusterer/examples/data.json"></script>

<script type="text/javascript" src="../../scripts/js-marker-clusterer/src/markerclusterer.js"></script>

<!--<script type="text/javascript" src="../../scripts/highmaps/highmaps.js"></script>

<script type="text/javascript" src="../../scripts/highmaps/exporting.js"></script>

<script type="text/javascript" src="../../scripts/highmaps/mn-all.js"></script>-->


<dom-module id="form08-map">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
            @media print {
                .no-print
                {
                    display: none !important;
                }
            }

            .btn{
                background-color: #0f62ac;
                color: #fff;
            }

            google-map {
                height: 600px;
            }

            #chartdiv, #googleMap {
                width: 100%;
                height: 500px;
            }
            .loading {
                margin-top: 10em;
                text-align: center;
                color: gray;
            }
        </style>

        <!-- Хайлтын нөхцөл -->
        <div class="card">
            <h1>Газрын зураг</h1>

            <h4 on-click="_statusSearchDev">
                <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                Хайлтын нөхцөл
            </h4>

            <div id="idSearchDev" hidden="hidden">
                <vaadin-combo-box id="idMaygtName"
                                  class="no-print"
                                  label="Маягтын нэр"
                                  items="{{maygtList}}"
                                  item-label-path="menuNameMN"
                                  item-value-path="menuId"></vaadin-combo-box>

                <vaadin-combo-box id="idMalTurul"
                                  class="half no-print"
                                  label="Мал амьтаны нэр"
                                  items="{{malTurul}}"
                                  item-label-path="name"
                                  item-value-path="id"></vaadin-combo-box>

                <vaadin-date-picker id="idStartDate" tabindex="0"
                                    name="startDate"
                                    class="half no-print"
                                    label="Эхлэх огноо*"
                                    value="{{criteriaData.recordDate}}"
                                    aria-disabled="false">
                </vaadin-date-picker>

                <vaadin-date-picker id="idEndDate" tabindex="0"
                                    name="endDate"
                                    class="half no-print"
                                    label="Дуусах огноо*"
                                    value="{{criteriaData.searchRecordDate}}"
                                    aria-disabled="false">
                </vaadin-date-picker>

                <paper-checkbox id="isChangeMap" class="blue"  on-change="_changeMap">Газрын зураг өөрчлөх</paper-checkbox>

                <div style="text-align: right; margin: 15px 0px;">
                    <paper-button  on-click="_clear" class="btn no-print" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                    <paper-button id="sreach-button" on-click="_search" class="btn no-print" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                </div>
            </div>
            <hr/>

            <div id="chartdiv"></div>

            <div id="googleMap"></div>
        </div>
    </template>

    <script>
        function myMap() {

        }

        var styles = [[{
            url: '../images/people35.png',
            height: 35,
            width: 35,
            anchor: [16, 0],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '../images/people45.png',
            height: 45,
            width: 45,
            anchor: [24, 0],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '../images/people55.png',
            height: 55,
            width: 55,
            anchor: [32, 0],
            textColor: '#ffffff',
            textSize: 12
        }], [{
            url: '../images/conv30.png',
            height: 27,
            width: 30,
            anchor: [3, 0],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '../images/conv40.png',
            height: 36,
            width: 40,
            anchor: [6, 0],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '../images/conv50.png',
            width: 50,
            height: 45,
            anchor: [8, 0],
            textSize: 12
        }], [{
            url: '../images/heart30.png',
            height: 26,
            width: 30,
            anchor: [4, 0],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '../images/heart40.png',
            height: 35,
            width: 40,
            anchor: [8, 0],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '../images/heart50.png',
            width: 50,
            height: 44,
            anchor: [12, 0],
            textSize: 12
        }], [{
            url: '../images/pin.png',
            height: 48,
            width: 30,
            anchor: [-18, 0],
            textColor: '#ffffff',
            textSize: 10,
            iconAnchor: [15, 48]
        }]];

        var googleMapData = [];
        var markerClusterer = null;
        var map = null;
        var imageUrl = 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&' +
            'chco=FFFFFF,008CFF,000000&ext=.png';

        function refreshMap() {
            if (markerClusterer) {
                markerClusterer.clearMarkers();
            }

            var markers = [];

            var markerImage = new google.maps.MarkerImage(imageUrl,
                new google.maps.Size(24, 32));

            for (var i = 0; i < googleMapData.length; ++i) {
                /*var latLng = new google.maps.LatLng(googleMapData[i].orgorog,
                    googleMapData[i].urtrag);*/
                var latLng = new google.maps.LatLng(googleMapData[i].latitude,
                    googleMapData[i].longitude)
                var marker = new google.maps.Marker({
                    position: latLng,
                    draggable: false,
                    icon: markerImage
                });
                markers.push(marker);
            }
            markerClusterer = new MarkerClusterer(map, markers, {
                maxZoom: 10,
                gridSize: 10,
                styles: styles[10],
                imagePath: '../../scripts/js-marker-clusterer/images/m'
            });
        }

        function initialize() {
            map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 6,
                center: new google.maps.LatLng(46.8741588, 104.3914222),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            refreshMap();
        }

        function clearClusters(e) {
            e.preventDefault();
            e.stopPropagation();
            markerClusterer.clearMarkers();
        }

        //google.maps.event.addDomListener(window, 'load', initialize);
        Polymer({

            is: 'form08-map',

            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                reportData: {
                    type: Array,
                    notify: true
                },
                map: {
                    type: Object,
                    notify: true
                },
                maygtList: {
                    type:Array,
                    notify: true,
                    value: []
                },
                malTurul: {
                    type:Array,
                    notify: true,
                    value: []
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        citycode: '',
                        sumcode: '',
                        bagcode: '',
                        gazarner: '',
                        urtrag: '',
                        orgorog: '',
                        golomttoo: '',
                        ovchin_ner: '',
                        mal_turul: '',
                        uvchilson: '',
                        uhsen: '',
                        edgersen: '',
                        ustgasan: '',
                        nydluulsan: '',
                        lab_ner: '',
                        shinjilgee_arga: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                criteriaDataForm09Hav: {
                    type: Object,
                    notify: true,
                    value: {
                        citycode: '',
                        sumcode: '',
                        bagcode: '',
                        gazarner: '',
                        urtrag: '',
                        orgorog: '',
                        golomttoo: '',
                        ovchin_ner: '',
                        mal_turul: '',
                        uvchilson: '',
                        uhsen: '',
                        edgersen: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form08havItems: {
                    type: Object,
                    notify: true
                },
            },

            ready: function () {
                console.log("Google map markers");
                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                date = date.subDays(91);

                var endDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.set("criteriaData.recordDate", endDate);
                this.set("criteriaData.searchRecordDate", startDate);

                this._form08havsralt();

                this._getMenuList();

                this._getMalTurul();

                this.$.idMaygtName.value = 'form08havsralt-reg';


                var map = AmCharts.makeChart( "chartdiv", {
                    "type": "map",
                    "theme": "light",
                    "colorSteps": 10,
                    "dataProvider": {
                        "mapURL": "http://localhost:8585/scripts/ammap/svg/mongoliaLow.svg",
                        "getAreasFromMap": true,
                        "zoomLevel": 0.9,
                        "areas": []
                    },
                    "areasSettings": {
                        "autoZoom": true,
                        "balloonText": "[[title]]: <strong>[[value]]</strong>"
                    },
                    "valueLegend": {
                        "right": 10,
                        "minValue": "little",
                        "maxValue": "a lot!"
                    },
                    "zoomControl": {
                        "minZoomLevel": 0.9
                    },
                    "titles": [{
                        "text": "Mongolia"
                    }],
                    "listeners": [ {
                        "event": "init",
                        "method": updateHeatmap
                    }],
                    "export": {
                        "enabled": true
                    }
                } );

                function updateHeatmap( event ) {
                    var map = event.chart;
                    if ( map.dataGenerated )
                        return;
                    if ( map.dataProvider.areas.length === 0 ) {
                        setTimeout( updateHeatmap, 100 );
                        return;
                    }
                    for ( var i = 0; i < map.dataProvider.areas.length; i++ ) {
                        map.dataProvider.areas[ i ].value = Math.round( Math.random() * 10000 );
                    }
                    map.dataGenerated = true;
                    map.validateNow();
                }
                var that = this;
                setTimeout(function () {
                    that.$.googleMap.hidden = true;
                }, 1000);
            },
            attached: function () {
            },

            /**
             * Form 08 Havsralt
             *
             * @private
             */
            _form08havsralt: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08HavsraltData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.form08havItems = resp.result;
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].orgorog;
                                var lon = resp.result[i].urtrag;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Form 09 Havsralt
             *
             * @private
             */
            _form09havsralt: function () {
                //start Form 09 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm09HavsraltData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].orgorog;
                                var lon = resp.result[i].urtrag;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 09 Data
            },

            /**
             * Form 08 Havsralt
             *
             * @private
             */
            _form08: function () {
                //start Form 09 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08Data',
                    params: [{
                        malturul: this.$.idMalTurul.value,
                        recordDate: this.$.idStartDate.value,
                        searchRecordDate: this.$.idEndDate.value
                    }, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 09 Data
            },

            _getMenuList: function(){
                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getMenuList',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.maygtList = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            },

            /**
             * Get Form 52
             * */
            _form52: function () {
                //start Form 52 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm52Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 52");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 52 Data
            },
            /**
             * Get Form 14
             * */
            _form14: function () {
                //start Form 14 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm14Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 14");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 14 Data
            },
            /**
             * Get Form 09
             * */
            _form09: function () {
                //start Form 09 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm09Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 09");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 09 Data
            },
            /**
             * Get Form 11
             * */
            _form11: function () {
                //start Form 11 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm11Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 11");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 11 Data
            },
            /**
             * Get Form 46
             * */
            _form46: function () {
                //start Form 46 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm46Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 46");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 46 Data
            },

            /**
             * Get Form 51
             * */
            _form51: function () {
                //start Form 51 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm51Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 51");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 51 Data
            },
            /**
             * Get Form 61
             * */
            _form61: function () {
                //start Form 61 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm61Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 61");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 61 Data
            },
            /**
             * Get Form 62
             * */
            _form62: function () {
                //start Form 62 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm62Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Form 62");
                            console.log(resp.result);
                            googleMapData = [];
                            for(var i in resp.result){
                                var lat = resp.result[i].sum_latitude;
                                var lon = resp.result[i].sum_longitude;
                                googleMapData.push({latitude:lat, longitude:lon }) ;
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 62 Data
            },
            /**
             * Form 09
             *
             * @private
             */
            _search: function () {
                if (this.$.idMaygtName.value == 'form08havsralt-reg'){
                    this._form08havsralt();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form09havsralt-reg'){
                    this._form09havsralt();
                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form08-reg'){
                    this._form08();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form52-reg'){
                    this._form52();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form11-reg'){
                    this._form11();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form14-reg'){
                    this._form14();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form46-reg'){
                    this._form46();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form51-reg'){
                    this._form51();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form61-reg'){
                    this._form61();

                    refreshMap();
                }

                else if (this.$.idMaygtName.value == 'form62-reg'){
                    this._form62();

                    refreshMap();
                }
                else if (this.$.idMaygtName.value == 'form09-reg'){
                    this._form09();

                    refreshMap();
                }
            },

            _changeMap: function(event){
                if(this.$.isChangeMap.checked){
                    this.$.googleMap.hidden = false;
                    this.$.chartdiv.hidden = true;
                }else{
                    this.$.googleMap.hidden = true;
                    this.$.chartdiv.hidden = false;
                }
            },

            /*
             Mal-n turul tatah
             */
            _getMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            this.mal_turul = resp.result;
                            console.log(this.mal_turul);
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYv6UB3NxC2XzwcdQeKqf5aiWw0tk2wDo&callback=initialize"></script>
</dom-module>
