<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="form08-chart-report">

    <template>

        <style>
            :host {
                display: block;
                padding: 0px;
                position: relative;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 22px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            .btn {
                background-color: #0f62ac;
                color: #fff;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
                .full-half {
                    display: inline-block;
                    width: 48%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
                .full-half {
                    display: inline-block;
                    width: 48%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }
                .full-half {
                    display: inline-block;
                    width: 48%;
                    margin-right: 20px;
                }

            }

            @media print {
                .no-print {
                    display: none !important;
                }
            }

            paper-datatable {
                overflow: scroll;
                height: 300px;
            }

            google-chart {
                /*height: 300px;*/
                width: 100%;
            }
        </style>

        <div class="card">
            <h1>График тайлан</h1>

            <h4 on-click="_statusSearchDev">
                <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                Хайлтын нөхцөл
            </h4>

            <div id="idSearchDev" hidden="hidden">
                <vaadin-combo-box id="idMaygtName" class="no-print" label="Маягтын нэр" items="{{maygtList}}" on-change="_changeOfMaygt"
                    item-label-path="menuNameMN" item-value-path="menuId"></vaadin-combo-box>

                <template is="dom-if" if="{{isShowCity}}">
                    <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл" items="{{cityItem}}" value="{{ criteriaData.aimag }}"
                        on-value-changed="_getSumData" item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                </template>

                <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг" value="{{ criteriaData.sum }}" item-label-path="sumname"
                    on-value-changed="_getBagHorooData" item-value-path="sumcode"></vaadin-combo-box>

                <vaadin-combo-box id="idBagCmb" tabindex="0" class="half" label="Багийн нэр" value="{{ criteriaData.bagcode }}" item-label-path="horooname"
                    item-value-path="horoocode"></vaadin-combo-box>

                <vaadin-combo-box id="idMalTurul" class="half no-print" label="Мал амьтаны нэр" value="{{ criteriaData.malturul }}" item-label-path="name"
                    item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idShalgahGazar" class="half no-print" label="Шалгах газар" value="{{ criteriaData.shalgahGazar }}"
                    item-label-path="name" item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idHaldUvchNer" class="half no-print" label="Халдварт өвчний нэр" value="{{ criteriaData.hald_uvch_ner }}"
                    item-label-path="name" item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idUzlegZuils" class="half no-print" label="Үзлэг хийх зүйлс" value="{{ criteriaData.uzleg_hiih }}"
                    item-label-path="name" item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idHaldguiUvchNer" class="half no-print" label="Халдваргүй өвчний нэр" value="{{criteriaData.haldvargui_uvchin }}"
                    item-label-path="name" item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idHMals" class="half no-print" label="Мал амьтаны нэр" value="{{criteriaData.hmal }}" item-label-path="name"
                    item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idTulMals" class="half no-print" label="Мал амьтаны нэр" value="{{criteriaData.tul_mal }}" item-label-path="name"
                    item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idShinjlehArga" class="half no-print" label="Шинжилгээний арга" value="{{ criteriaData.shinjilsen_arga }}"
                    item-label-path="name" item-value-path="id"></vaadin-combo-box>
                <vaadin-combo-box id="idTarilgaUvchNer" class="half no-print" label="Тарилгын нэр" value="{{ criteriaData.hald_uvch_ner }}"
                    item-label-path="name" item-value-path="name"></vaadin-combo-box>
                <vaadin-combo-box id="idParazitUvchNer" class="half no-print" label="Паразиттах өвчний нэр" value="{{ criteriaData.paruvch_ner }}"
                    item-label-path="name" item-value-path="name"></vaadin-combo-box>
                <vaadin-combo-box id="idDeejNer" class="half no-print" label="Дээжийн төрөл" value="{{ criteriaData.deej_turul }}" item-label-path="name"
                    item-value-path="id"></vaadin-combo-box>
                <vaadin-date-picker id="idStartDate" tabindex="0" name="startDate" class="half no-print" label="Эхлэх огноо*" value="{{criteriaData.recordDate}}"
                    aria-disabled="false">
                </vaadin-date-picker>

                <vaadin-date-picker id="idEndDate" tabindex="0" name="endDate" class="half no-print" label="Дуусах огноо*" value="{{criteriaData.searchRecordDate}}"
                    aria-disabled="false">
                </vaadin-date-picker>

                <div style="text-align: right; margin: 15px 0px;">
                    <paper-button on-click="_clear" class="btn no-print" raised="" role="button" tabindex="2" animated="" aria-disabled="false"
                        elevation="1">Шинэчлэх</paper-button>
                    <paper-button id="sreach-button" on-click="_search" class="btn no-print" raised="" role="button" tabindex="2" animated=""
                        aria-disabled="false" elevation="1">Хайх</paper-button>
                </div>
            </div>
            <hr/>
            <!--<google-chart
                    type='pie'
                    options='{"title": "Distribution of days in 2001Q1"}'
                    cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
                    rows='[["Jan", 31],["Feb", 28],["Mar", 31], ["Apr", 30]]'>
            </google-chart>-->
            <div id="containerPie1" class="full-half" style="min-width: 310px; margin: 0 auto"></div>

            <div id="containerPie2" class="full-half" style="min-width: 310px; margin: 0 auto"></div>

            <div id="containerPie" style="min-width: 310px; margin: 0 auto"></div>

            <div id="container" style="min-width: 310px; margin: 0 auto"></div>

            <!--<google-chart
                    type='pie'
                    options='{{pieChartOption}}'
                    cols='[{"label":"Malturul", "type":"string"}, {"label":"Too", "type":"number"}]'
                    rows='{{pieChartRowData}}'>
            </google-chart>

            <google-chart
                    id="idColCharTemplate"
                    type='column'
                    options='{{pieChartOption}}'
                    cols='{{colChartColData}}'
                    rows='{{colChartRowData}}'>
            </google-chart>

            <google-chart
                    id="idColCharUvchTemplate"
                    type='column'
                    options='{{pieChartOption}}'
                    cols='{{colChartColData2}}'
                    rows='{{colChartRowData2}}'
                    hidden>
            </google-chart>-->
        </div>
    </template>

    <script>

        Polymer({

            is: 'form08-chart-report',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                server: {
                    type: String
                },
                //-----------------------------------------------------> Spinner show
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },

                maygtList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        bagcode: '',
                        malturul: '',
                        argaHemjeeNer: '',
                        ner: '',
                        zartsuulsanHemjee: '',
                        tolovlogoo: '',
                        guitsetgel: '',
                        huvi: '',
                        recordDate: '',
                        searchRecordDate: '',
                        hald_uvch_ner: ''
                    }
                },

                //----------------------------------> Chart data
                colChartColData: {
                    type: Array,
                    notify: true,
                    value: [{ "label": "Month", "type": "string", id: "" }]
                },
                colChartRowData: {
                    type: Array,
                    notify: true,
                    value: []
                },
                colChartColData2: {
                    type: Array,
                    notify: true,
                    value: [{ "label": "Month", "type": "string", id: "" }]
                },
                colChartRowData2: {
                    type: Array,
                    notify: true,
                    value: []
                },
                //
                pieChartRowData: {
                    type: Array,
                    notify: true,
                    value: []
                },
                row1: {
                    type: Array,
                    notify: true,
                    value: []
                },
                colChartColCount: {
                    type: Number,
                    notify: true,
                    value: 1
                },
                pieChartOption: {
                    type: Object,
                    notify: true,
                    value: { 'title': 'Паразиттах өвчнөөс сэргийлэх арга хэмжээний мэдээ' }
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
            },
            ready: function () {
                this.server = FILE_SERVER;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getMenuList();

                this._getMalTurul();

                this._getHaldvarUvchNers();

                this._getShalgahGazar();

                this._getParUvchNers();

                this._getUzlegHiihZuils();

                this._getShinjilgeeniArga();

                this._getDeejTurul();

                this._getHMalTurul();

                this._getTulMalTurul();

                this._getHaldvarguiUvchins();

                this.$.idMaygtName.value = 'form08-reg';

                var hightChartArg = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08HightChartData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };

                var hightPieChartArg = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08HightPieChartData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };

                this._getHightChartData(hightChartArg);
                this._getHightPieChart1Data(hightPieChartArg, "Малын төрөл");


                this._getHightPieChartData(hightPieChartArg, "Малын төрөл");
                this._getHightPieChart2Data(hightPieChartArg, "Малын төрөл");


                if (this.loggedIn.rcode != undefined) {
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN') {
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    } else {
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },
            /**
             *
             * */
            attached: function () {
                if (this.reportData == undefined || this.reportData == null) return;
            },

            _changeOfMaygt: function () {
                this.$.idSum.hidden = false;
                this.$.idBagCmb.hidden = false;
                this.$.idMalTurul.hidden = false;
                this.$.idHaldUvchNer.hidden = false;
                this.$.idTarilgaUvchNer.hidden = true;
                this.$.idDeejNer.hidden = true;
                this.$.containerPie.hidden = false;
                this.$.containerPie1.hidden = true;
                this.$.containerPie2.hidden = true;
                this.$.idShalgahGazar.hidden = true;
                this.$.idUzlegZuils.hidden = true;
                this.$.idHaldguiUvchNer.hidden = true;
                this.$.idHMals.hidden = true;
                this.$.idTulMals.hidden = true;
                this.$.idShinjlehArga.hidden = true;

                if (this.$.idMaygtName.value == 'form08-reg') {
                    this.$.idSum.hidden = true;
                    this.$.idBagCmb.hidden = true;
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idParazitUvchNer.hidden = true;

                }
                if (this.$.idMaygtName.value == 'form09-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idTarilgaUvchNer.hidden = false;
                }
                if (this.$.idMaygtName.value == 'form09havsralt-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idParazitUvchNer.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form11-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idDeejNer.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form13a-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                    this.$.idUzlegZuils.hidden = false;
                    this.$.idShinjlehArga.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form14-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;

                    this.$.idShalgahGazar.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form51-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                }

                if (this.$.idMaygtName.value == 'form62-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                }

                if (this.$.idMaygtName.value == 'form61-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                }

                if (this.$.idMaygtName.value == 'form52-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                    this.$.idHMals.hidden = false;
                    this.$.idHaldguiUvchNer.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form53-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                    this.$.idTulMals.hidden = false;
                    this.$.idHaldguiUvchNer.hidden = false;
                }

                if (this.$.idMaygtName.value == 'form46-reg') {
                    this.$.idHaldUvchNer.hidden = true;
                    this.$.idMalTurul.hidden = true;
                    this.$.idParazitUvchNer.hidden = true;
                    this.$.containerPie.hidden = true;
                    this.$.containerPie1.hidden = false;
                    this.$.containerPie2.hidden = false;

                }
            },

            _getMenuList: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getMenuList',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.maygtList = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /*
              Mal-n turul tatah
              */
            _getMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idMalTurul.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Haldvarguid Mal-n turul tatah
              */
            _getHMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["HMAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idHMals.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Tul Mal-n turul tatah
              */
            _getTulMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["TULMAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idTulMals.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Haldvarguid Mal-n turul tatah
              */
            _getHaldvarguiUvchins: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["HGUVCH", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idHaldguiUvchNer.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Shalgah gazar-n turul tatah
              */
            _getShalgahGazar: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getShalgahGazarVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idShalgahGazar.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Shingilgeenii arga tatah
              */
            _getShinjilgeeniArga: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["SHARGA", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idShinjlehArga.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Deej-n turul tatah
              */
            _getUzlegHiihZuils: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["UHZ", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idUzlegZuils.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
              Deej-n turul tatah
              */
            _getDeejTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["DEEJ", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idDeejNer.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _getHaldvarUvchNers: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["UVCH", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idHaldUvchNer.items = resp.result;
                            that.$.idTarilgaUvchNer.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _getParUvchNers: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["PARUVCH", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idParazitUvchNer.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //that.$.idCity.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{ citycode: ccode }, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{ citycode: event.detail.value }, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch bag, horoo
             * */
            _getBagHorooData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagHorooData',
                    params: [{ sumcode: event.detail.value }, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idBagCmb.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Hight Chart ashiglaj column chart haruulah zasvar hiigdsen
             *
             * */
            _getHightChartData: function (argument) {
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            var resultArray = resp.result;
                            var resultSeries = [];
                            var nullArray = [0, 0, 0, 0];
                            resultSeries = resultArray.series;
                            resultSeries = [];
                            resp.result.series.map((result) => {
                                if (JSON.stringify(result.data) == JSON.stringify(nullArray)) {
                                    //resultArray.series.pop(result);
                                } else {
                                    console.log(result.data)
                                    resultSeries.push(result);
                                }
                            });
                            var vals = {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: that.$.idMaygtName.selectedItem.menuNameMN
                                },
                                subtitle: {
                                    text: that.$.idStartDate.value + ' ~ ' + that.$.idEndDate.value
                                },
                                xAxis: {
                                    categories: resultArray.categories,
                                    crosshair: true
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Өвчин тоо'
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    },
                                    series: {
                                        dataLabels: {
                                            align: 'center',
                                            enabled: true,
                                            borderRadius: 2,
                                            backgroundColor: 'rgba(252, 255, 197, 0.7)',
                                            borderWidth: 1,
                                            cropThreshold: 1,
                                            borderColor: '#AAA',
                                            y: -10,
                                            formatter: function () {
                                                if (this.y != 0) {
                                                    return this.y;
                                                }
                                            }
                                        }
                                    },
                                },
                                series: resultSeries,
                                exporting: { enabled: true }
                            };
                            Highcharts.chart('container', vals);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getHightPieChartData: function (argument, seriesName) {
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log(resp.result);

                            var vals = {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                title: {
                                    text: that.$.idMaygtName.selectedItem.menuNameMN
                                },
                                subtitle: {
                                    text: that.$.idStartDate.value + ' ~ ' + that.$.idEndDate.value
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        },
                                        showInLegend: true
                                    }
                                },
                                series: [{
                                    name: seriesName,
                                    colorByPoint: true,
                                    data: resp.result.data
                                }]
                            };

                            console.log(vals);

                            Highcharts.chart('containerPie', vals);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getHightPieChart1Data: function (argument, seriesName) {
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log(resp.result);

                            var vals = {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                title: {
                                    text: 'Бүх үхэр'
                                },
                                plotOptions: {
                                    pie: {

                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        },
                                        showInLegend: true
                                    }
                                },
                                series: [{
                                    name: seriesName,
                                    colorByPoint: true,
                                    data: resp.result.data
                                }]
                            };

                            console.log(vals);

                            Highcharts.chart('containerPie1', vals);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _getHightPieChart2Data: function (argument, seriesName) {
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log(resp.result);

                            var vals = {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                title: {
                                    text: 'Үүнээс гуурстай'
                                },
                                plotOptions: {
                                    pie: {

                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        },
                                        showInLegend: true
                                    }
                                },
                                series: [{
                                    name: seriesName,
                                    colorByPoint: true,
                                    data: resp.result.data
                                }]
                            };

                            console.log(vals);

                            Highcharts.chart('containerPie2', vals);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getColumnChartData: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08ColumnChartData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //that.colChartColData = resp.result.coldata;
                            //that.colChartRowData = resp.result.rowdata;

                            that.set("colChartColData", [{ "label": "Month", "type": "string", id: "" }]);
                            that.set("colChartRowData", []);

                            for (var indx in resp.result.coldata) {
                                var arr = resp.result.coldata[indx];
                                that.push("colChartColData", arr);
                                //console.log(that.colChartColData);
                            }

                            for (var indx in resp.result.rowdata) {
                                var arr = resp.result.rowdata[indx];
                                arr[0] = arr[0] + ' -р сар';
                                that.push("colChartRowData", arr);
                                //console.log(that.colChartRowData);
                            }

                            /*for(var r=0; r<5; r++){
                                that.row1 = [];
                                for (var i=0; i < 6; i++){
                                    if (i == 0){
                                        that.push("row1", 'Jan');
                                    }else{
                                        that.push("row1", 10+i);
                                    }
                                }
    
                                that.push("colChartRowData", that.row1);
                            }//end of for*/
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getPieChartData: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08PieChartData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.set("pieChartRowData", []);

                            for (var r in resp.result) {
                                //console.log("----------------------------------");
                                //console.log(resp.result);

                                that.row1 = [];

                                that.push("row1", resp.result[r].malturulner);
                                that.push("row1", parseFloat(resp.result[r].count));

                                //console.log(that.row1);

                                that.push("pieChartRowData", that.row1);
                            }//end of for

                            //console.log("----------------------------------");
                            //console.log(that.pieChartRowData);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _clear: function () {
                this.$.idMalTurul.value = "";

                this.criteriaData = {
                    aimag: '',
                    sum: '',
                    bagcode: '',
                    malturul: '',
                    argaHemjeeNer: '',
                    ner: '',
                    zartsuulsanHemjee: '',
                    tolovlogoo: '',
                    guitsetgel: '',
                    huvi: '',
                    recordDate: '',
                    searchRecordDate: '',
                    hald_uvch_ner: ''
                };

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());
            },

            /**
             * Form hailt hiih
             *
             * @private
             */
            _search: function () {
                this.set("pieChartOption.title", this.$.idMaygtName.selectedItem.menuNameMN);
                console.log(this.pieChartOption);
                console.log("value: " + this.$.idMaygtName.value);

                var seriesName = "";
                var hightChartArg = {};
                var hightPieChartArg = {};

                if (this.$.idMaygtName.value == 'form08-reg') {

                    seriesName = "Малын төрөл";

                    hightChartArg = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm08HightChartData',
                        params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                    };

                    hightPieChartArg = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm08HightPieChartData',
                        params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                    };

                    if (!this.loggedIn) return;

                    /*this.$.idColCharTemplate.hidden = false;
                    this.$.idColCharUvchTemplate.hidden = true;
    
                    this._getPieChartData();
    
                    this._getColumnChartData();*/
                }
                else {
                    var argument = {};
                    var argument2 = {};


                    if (this.$.idMaygtName.value == 'form08havsralt-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavHightChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sumcode: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                mal_turul: this.criteriaData.malturul,
                                ovchin_ner: this.criteriaData.hald_uvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavHightPieChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sumcode: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                mal_turul: this.criteriaData.malturul,
                                ovchin_ner: this.criteriaData.hald_uvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;

                        /*this.$.idColCharTemplate.hidden = true;
                        this.$.idColCharUvchTemplate.hidden = false;
    
                        argument ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavsraltPieChartData',
                            params: [{
                                mal_turul:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
    
    
                        argument2 ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavsraltColumnChartData',
                            params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                        };
    
                        this._getUvchinColumnChartData(argument2);*/
                    }
                    else if (this.$.idMaygtName.value == 'form09-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                malTurul: this.criteriaData.malturul,
                                tarilgaNer: this.criteriaData.hald_uvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                malTurul: this.criteriaData.malturul,
                                tarilgaNer: this.criteriaData.hald_uvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;

                        /*this.$.idColCharTemplate.hidden = true;
                        this.$.idColCharUvchTemplate.hidden = false;
    
                        argument ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavsraltPieChartData',
                            params: [{
                                mal_turul:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
    
    
                        argument2 ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm08HavsraltColumnChartData',
                            params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                        };
    
                        this._getUvchinColumnChartData(argument2);*/
                    }
                    else if (this.$.idMaygtName.value == 'form09havsralt-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HavHightChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                mal_turul: this.criteriaData.malturul,
                                ovchin_ner: this.criteriaData.paruvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HavHightPieChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                mal_turul: this.criteriaData.malturul,
                                ovchin_ner: this.criteriaData.paruvch_ner
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                        /*this.$.idColCharTemplate.hidden = true;
                        this.$.idColCharUvchTemplate.hidden = false;
    
                        argument ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HavsraltPieChartData',
                            params: [{
                                mal_turul:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
    
    
                        argument2 ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm09HavsraltColumnChartData',
                            params: [{
                                mal_turul:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
                        this._getUvchinColumnChartData(argument2);*/
                    }
                    else if (this.$.idMaygtName.value == 'form52-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm52HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                uvchinNer: this.criteriaData.haldvargui_uvchin,
                                malNer: this.criteriaData.hmal
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm52HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                uvchinNer: this.criteriaData.haldvargui_uvchin,
                                malNer: this.criteriaData.hmal
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;

                        argument = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm52PieChartData',
                            params: [{
                                mal_turul: this.$.idMalTurul.value,
                                recordDate: this.$.idStartDate.value,
                                searchRecordDate: this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };


                        argument2 = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm52ColumnChartData',
                            params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                        };

                        this._getUvchinColumnChartData(argument2);

                    }
                    else if (this.$.idMaygtName.value == 'form11-reg') {

                        seriesName = "Малын төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                malTurul_mn: this.criteriaData.malturul,
                                deejiinTurul_mn: this.criteriaData.deej_turul
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                malTurul_mn: this.criteriaData.malturul,
                                deejiinTurul_mn: this.criteriaData.deej_turul
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;


                        /*this.$.idColCharTemplate.hidden = true;
                        this.$.idColCharUvchTemplate.hidden = false;
    
                        argument ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11PieChartData',
                            params: [{
                                malTurul_mn:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
    
    
                        argument2 ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11ColumnChartData',
                            params: [{
                                malTurul_mn:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };*/
                    }
                    else if (this.$.idMaygtName.value == 'form14-reg') {

                        seriesName = "Малын төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm14HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                shalgahGazar: this.criteriaData.shalgahGazar
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm14HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                shalgahGazar: this.criteriaData.shalgahGazar
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;

                    }
                    else if (this.$.idMaygtName.value == 'form46-reg') {
                        seriesName = "Малын төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm46HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg1 = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm46HightPieChartData',
                            params: [{
                                pie: 1,
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg2 = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm46HightPieChartData',
                            params: [{
                                pie: 2,
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;


                        /*this.$.idColCharTemplate.hidden = true;
                        this.$.idColCharUvchTemplate.hidden = false;
                        
                        argument ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11PieChartData',
                            params: [{
                                malTurul_mn:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };
                        
                        
                        argument2 ={
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm11ColumnChartData',
                            params: [{
                                malTurul_mn:this.$.idMalTurul.value,
                                recordDate:this.$.idStartDate.value,
                                searchRecordDate:this.$.idEndDate.value
                            }, this.loggedIn.id, window.location.hash],
                        };*/
                    }
                    else if (this.$.idMaygtName.value == 'form51-reg') {
                        seriesName = "Малын төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm51HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                sumBagNer: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm51HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                sumBagNer: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                    }
                    else if (this.$.idMaygtName.value == 'form53-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm53HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                uvchinNer: this.criteriaData.haldvargui_uvchin,
                                malNer: this.criteriaData.tul_mal
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm53HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                uvchinNer: this.criteriaData.haldvargui_uvchin,
                                malNer: this.criteriaData.tul_mal
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                    }
                    else if (this.$.idMaygtName.value == 'form61-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm61HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm61HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                    }
                    else if (this.$.idMaygtName.value == 'form62-reg') {
                        seriesName = "Өвчний төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm62HightChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm62HightPieChartData',
                            params: [{
                                aimag: this.criteriaData.aimag,
                                sum: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                recordDate: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                    }
                    else if (this.$.idMaygtName.value == 'form13a-reg') {

                        seriesName = "Малын төрөл";

                        hightChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm13aHightChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sumcode: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                record_date: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                shinjilsen_arga: this.criteriaData.shinjilsen_arga,
                                uzleg_hiih: this.criteriaData.uzleg_hiih
                            }, this.loggedIn.id, window.location.hash],
                        };


                        hightPieChartArg = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'getForm13aHightPieChartData',
                            params: [{
                                citycode: this.criteriaData.aimag,
                                sumcode: this.criteriaData.sum,
                                bagcode: this.criteriaData.bagcode,
                                record_date: this.criteriaData.recordDate,
                                searchRecordDate: this.criteriaData.searchRecordDate,
                                shinjilsen_arga: this.criteriaData.shinjilsen_arga,
                                uzleg_hiih: this.criteriaData.uzleg_hiih
                            }, this.loggedIn.id, window.location.hash],
                        };

                        if (!this.loggedIn) return;
                    } else {
                        this.set("pieChartRowData", []);
                    }


                    //this.getFormPieChartData(argument);
                }


                this._getHightChartData(hightChartArg);
                this._getHightPieChartData(hightPieChartArg, seriesName);
                this._getHightPieChart1Data(hightPieChartArg1, seriesName);
                this._getHightPieChart2Data(hightPieChartArg2, seriesName);


            },


            /* FORM 08 PIE CHART */

            getFormPieChartData: function (argument) {
                console.log(argument);
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.set("pieChartRowData", []);

                            for (var r in resp.result) {
                                //console.log("----------------------------------");
                                //console.log(resp.result);

                                that.row1 = [];

                                that.push("row1", resp.result[r].malturulner);
                                that.push("row1", parseFloat(resp.result[r].count));

                                //console.log(that.row1);

                                that.push("pieChartRowData", that.row1);
                            }//end of for

                            //console.log("----------------------------------");
                            //console.log(that.pieChartRowData);
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getFormColumnChartData: function (argument) {

                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log('Column chart');
                            //console.log(resp.result);

                            //that.colChartColData = resp.result.coldata;
                            //that.colChartRowData = resp.result.rowdata;

                            that.set("colChartColData", [{ "label": "Month", "type": "string", id: "" }]);
                            that.set("colChartRowData", []);

                            for (var indx in resp.result.coldata) {
                                var arr = resp.result.coldata[indx];
                                that.push("colChartColData", arr);
                                //console.log(that.colChartColData);
                            }

                            for (var indx in resp.result.rowdata) {
                                var arr = resp.result.rowdata[indx];
                                arr[0] = arr[0] + ' -р сар';
                                that.push("colChartRowData", arr);
                                //console.log(that.colChartRowData);
                            }
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            //Uvchin ner haruulah

            _getUvchinColumnChartData: function (argument) {

                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log('Column chart');
                            //console.log(resp.result);

                            that.set("colChartColData2", [{ "label": "Month", "type": "string", id: "" }]);
                            that.set("colChartRowData2", []);

                            for (var indx in resp.result.coldata) {
                                var arr = resp.result.coldata[indx];
                                that.push("colChartColData2", arr);
                                //console.log(that.colChartColData2);
                            }

                            for (var indx in resp.result.rowdata) {
                                var arr = resp.result.rowdata[indx];
                                arr[0] = arr[0] + ' -р сар';
                                that.push("colChartRowData2", arr);
                                //console.log(that.colChartRowData2);
                            }
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /* END OF FORM 08 PIE CHART */

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });

    </script>
</dom-module>