<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form14-reg">

    <template>

        <style include="custom-style">
            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }

            fieldset {
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Мал эмнэлгийн ариун цэврийн үзлэг шалгалтын улирлын мэдээ</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл" items="{{cityItem}}" value="{{ criteriaData.aimag }}"
                                on-value-changed="_getSumData" item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг" value="{{ criteriaData.sumcode }}" item-label-path="sumname"
                            item-value-path="sumcode"></vaadin-combo-box>
                        <vaadin-date-picker id="idStartDate" tabindex="0" name="startDate" class="half" label="Эхлэх огноо*" value="{{criteriaData.recordDate}}"
                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0" name="endDate" class="half" label="Дуусах огноо*" value="{{criteriaData.searchRecordDate}}"
                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false"
                                elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form14Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index" type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Шалгах газар" property="shalgahGazar" type="String" sortable tooltip="Шалгах газар"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Үзлэг шалгалтын тоо" property="uzlegToo" type="Number" sortable tooltip="Үзлэг шалгалтын тоо"></paper-datatable-column>
                        <paper-datatable-column header="Байгууллага" property="baiguullagaToo" type="Number" sortable tooltip="Байгууллага"></paper-datatable-column>
                        <paper-datatable-column header="Аж ахуйн нэгж" property="ajAhuinNegjToo" type="Number" sortable tooltip="Аж ахуйн нэгж"></paper-datatable-column>
                        <paper-datatable-column header="Иргэд" property="irgedToo" type="Number" sortable tooltip="Иргэд"></paper-datatable-column>
                        <paper-datatable-column header="Хуулийн байгууллагад шилжсэн" property="huuliinBaigShiljsen" type="Number" sortable tooltip="Хуулийн байгууллагад шилжсэн"></paper-datatable-column>
                        <paper-datatable-column header="Захиргааны хариуцлага хүлээсэн" property="zahirgaaHariToo" type="Number" sortable tooltip="Захиргааны хариуцлага хүлээсэн"></paper-datatable-column>


                        <paper-datatable-column header="Торгуулийн хэмжээ /төг/" property="torguuliHemjee" type="Number" sortable tooltip="Торгуулийн хэмжээ /төг/"></paper-datatable-column>
                        <paper-datatable-column header="Төлбөр /төг/" property="tolbor" type="Number" sortable tooltip="Төлбөр /төг/"></paper-datatable-column>
                        <paper-datatable-column header="Торгуулиар" property="torguuliar" type="Number" sortable tooltip="Торгуулиар"></paper-datatable-column>
                        <paper-datatable-column header="Төлбөрөөр" property="tolboroor" type="Number" sortable tooltip="Төлбөрөөр"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлгийн огноо" property="recordDate" type="Date" sortable tooltip="Оруулсан бичлгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number" tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom" title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                            on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <paper-input label="Шалгах газар*" name="shalgahGazar" id="idshalgahGazarReg" value="{{ insertData.shalgahGazar }}" required
                            maxlength="60" aria-disabled="false" class="half"></paper-input>
                        <paper-input id="uzlegTooReg" label="Үзлэг шалгалтын тоо" name="uzlegToo" value="{{ insertData.uzlegToo }}" maxlength="250"
                            class="half" type="Number"></paper-input>
                        <fieldset>
                            <legend>Үзлэг шалгалтанд хамрагдсан:</legend>
                            <paper-input id="idbaiguullagaTooReg" name="baiguullagaTooReg" label="Байгууллага" value="{{ insertData.baiguullagaToo }}"
                                class="half" type="Number"></paper-input>

                            <paper-input id="idajAhuinNegjTooReg" name="ajAhuinNegjTooReg" label="Аж ахуйн нэгж" value="{{ insertData.ajAhuinNegjToo }}"
                                item-label-path="name" item-value-path="id" class="half" type="Number"></paper-input>
                            <paper-input label="Иргэд" name="irgedTooReg" id="idirgedTooReg" value="{{ insertData.irgedToo }}" required maxlength="250"
                                aria-disabled="false" class="half" type="Number"></paper-input>
                        </fieldset>
                        <fieldset>
                            <legend>Шалгалтаар авагдсан арга хэмжээ хүний тоо:</legend>
                            <paper-input label="Хуулийн байгууллагад шилжсэн" name="huuliinBaigShiljsenReg" id="idhuuliinBaigShiljsenReg" value="{{ insertData.huuliinBaigShiljsen }}"
                                class="half" required maxlength="250" aria-disabled="false" class="half" type="Number"></paper-input>

                            <paper-input label="Захиргааны хариуцлага хүлээсэн" name="zahirgaaHariTooReg" class="half" id="idzahirgaaHariTooReg" value="{{ insertData.zahirgaaHariToo }}"
                                aria-disabled="false" type="Number"></paper-input>
                        </fieldset>
                    </fieldset>

                    <fieldset>
                        <legend>Нэмэлт мэдээлэл:</legend>
                        <paper-input label="Торгуулийн хэмжээ /төг/" name="torguuliHemjeeReg" id="idtorguuliHemjeeReg" class="half" type="Number"
                            value="{{ insertData.torguuliHemjee }}" aria-disabled="false"></paper-input>

                        <paper-input label="Төлбөр /төг/" name="tolborReg" class="half" id="idtolborReg" value="{{ insertData.tolbor }}" type="Number"
                            aria-disabled="false"></paper-input>
                        <fieldset>
                            <legend>Барагдуулалт /төг/:</legend>
                            <paper-input label="Торгуулиар" name="torguuliarReg" class="half" id="idtorguuliarReg" value="{{ insertData.torguuliar }}"
                                aria-disabled="false" type="Number"></paper-input>

                            <paper-input label="Төлбөрөөр" name="tolboroorReg" id="idtolboroorReg" value="{{ insertData.tolboroor }}" aria-disabled="false"
                                class="half" type="Number"></paper-input>
                        </fieldset>
                    </fieldset>

                    <vaadin-date-picker id="idRecordDate" tabindex="0" name="recordDate" label="Бичлэг огноо*" value="{{insertData.recordDate}}"
                        aria-disabled="false" class="half">
                    </vaadin-date-picker>


                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button" tabindex="99" animated=""
                            aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form14-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        shalgahGazar: '',
                        uzlegToo: '',
                        baiguullagaToo: '',
                        ajAhuinNegjToo: '',
                        irgedToo: '',
                        huuliinBaigShiljsen: '',
                        zahirgaaHariToo: '',
                        torguuliHemjee: '',
                        tolbor: '',
                        torguuliar: '',
                        tolboroor: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form14Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        shalgahGazar: '',
                        uzlegToo: '',
                        baiguullagaToo: '',
                        ajAhuinNegjToo: '',
                        irgedToo: '',
                        huuliinBaigShiljsen: '',
                        zahirgaaHariToo: '',
                        torguuliHemjee: '',
                        tolbor: '',
                        torguuliar: '',
                        tolboroor: '',
                        recordDate: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 14 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getDataFromServer();
                 if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 14 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm14Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.form14Items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 14 Data
            },
            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{ citycode: ccode }, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {
                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },
            // /**
            //  * Fetch sum
            //  * */
            // _getSumData: function (event) {
            //     if (this.loggedIn == undefined || event.detail.value == undefined) return;

            //     var argument = {
            //         id: new Date().getTime(),
            //         token: 'HospAppToken',
            //         method: 'getSumData',
            //         params: [{ citycode: event.detail.value }, this.loggedIn.id],
            //     };
            //     if (!this.loggedIn) return;
            //     var that = this;
            //     try {
            //         rpc("rpc/hospsys", argument, function (resp) {
            //             if (resp.result) {
            //                 that.$.idSum.items = resp.result;
            //                 that.$.idSumReg.items = resp.result;
            //             } else {
            //                 that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
            //             }
            //         });
            //     } catch (err) {
            //         that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
            //         console.log(err);
            //     }
            // },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{ citycode: event.detail.value }, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', { success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!" });
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');


                this.set("insertData.shalgahGazar", '');
                this.set("insertData.uzlegToo", '');
                this.set("insertData.baiguullagaToo", '');
                this.set("insertData.ajAhuinNegjToo", '');
                this.set("insertData.irgedToo", '');
                this.set("insertData.huuliinBaigShiljsen", '');
                this.set("insertData.zahirgaaHariToo", '');

                this.set("insertData.torguuliHemjee", '');
                this.set("insertData.tolbor", '');
                this.set("insertData.torguuliar", '');
                this.set("insertData.tolboroor", '');
                this.set("insertData.idRecordDate", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },

            /*
             Mal-n turul tatah
             */
            //             _getMalTurul: function () {
            //                 var argument ={
            //                     id: new Date().getTime(),
            //                     token: 'HospAppToken',
            //                     method: 'getComboVals',
            //                     params: ["MAL","MN", this.loggedIn.id],
            //                 };
            //                 if(!this.loggedIn) return;
            //                 var that = this;
            //                 try {
            //                     rpc("rpc/hospsys", argument, function (resp){
            //                         if (resp.result){
            //                             console.log("MAL turul");
            //                             console.log(resp.result);
            //                             that.$.idMalTurul.items = resp.result;
            //                             that.$.idMalTurulReg.items = resp.result;
            //                         }else{
            //                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
            //                         }
            //
            //                     });
            //                 }catch(err){
            //                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
            //                     console.log(err);
            //                 }
            //             },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idshalgahGazar.value = "";
                this.$.iduzlegToo.value = "";
                this.$.idbaiguullagaToo.value = "";
                this.$.idajAhuinNegjToo.value = "";
                this.$.idirgedToo.value = "";
                this.$.idzahirgaaHariToo.value = "";
                this.$.idhuuliinBaigShiljsen.value = "";
                this.$.idtorguuliHemjee.value = "";
                this.$.idtolbor.value = "";
                this.$.idtorguuliar.value = "";
                this.$.idtolboroor.value = "";
                this.$.idStartDate.value = "";
                this.$.idEndDate.value = "";
                window.location.reload();
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 14 Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm14Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', { success: true, message: mess });

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', { success: false, message: mess });
                            }
                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 14 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;
                this.$.idshalgahGazarReg.invalid = false;
                this.$.uzlegTooReg.invalid = false;
                this.$.idbaiguullagaTooReg.invalid = false;
                this.$.idajAhuinNegjTooReg.invalid = false;
                this.$.idirgedTooReg.invalid = false;
                this.$.idhuuliinBaigShiljsenReg.invalid = false;
                this.$.idzahirgaaHariTooReg.invalid = false;

                this.$.idtorguuliHemjeeReg.invalid = false;
                this.$.idtolborReg.invalid = false;
                this.$.idtorguuliarReg.invalid = false;
                this.$.idtolboroorReg.invalid = false;
                this.$.idRecordDate.invalid = false;

                if (this.$.idRecordDate.value == undefined
                    || this.$.idRecordDate.value == null
                    || this.$.idRecordDate.value == '') {
                    this.$.idRecordDate.errorMessage = 'Утга оруулана уу...';
                    this.$.idRecordDate.invalid = true;
                    isError = true;
                }


                if (this.$.idshalgahGazarReg.value == undefined
                    || this.$.idshalgahGazarReg.value == null
                    || this.$.idshalgahGazarReg.value == '') {
                    this.$.idshalgahGazarReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idshalgahGazarReg.invalid = true;
                    isError = true;
                }
                //
                if (this.$.uzlegTooReg.value == undefined
                    || this.$.uzlegTooReg.value == null
                    || this.$.uzlegTooReg.value == '') {
                    this.$.uzlegTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.uzlegTooReg.invalid = true;
                    isError = true;
                }
                //
                if (this.$.idbaiguullagaTooReg.value == undefined
                    || this.$.idbaiguullagaTooReg.value == null
                    || this.$.idbaiguullagaTooReg.value == '') {
                    this.$.idbaiguullagaTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idbaiguullagaTooReg.invalid = true;
                    isError = true;
                }
                //
                if (this.$.idajAhuinNegjTooReg.value == undefined
                    || this.$.idajAhuinNegjTooReg.value == null
                    || this.$.idajAhuinNegjTooReg.value == '') {
                    this.$.idajAhuinNegjTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idajAhuinNegjTooReg.invalid = true;
                    isError = true;
                }
                //
                if (this.$.idirgedTooReg.value == undefined
                    || this.$.idirgedTooReg.value == null
                    || this.$.idirgedTooReg.value == '') {
                    this.$.idirgedTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idirgedTooReg.invalid = true;

                    isError = true;
                }
                //
                if (this.$.idhuuliinBaigShiljsenReg.value == undefined
                    || this.$.idhuuliinBaigShiljsenReg.value == null
                    || this.$.idhuuliinBaigShiljsenReg.value == '') {
                    this.$.idhuuliinBaigShiljsenReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idhuuliinBaigShiljsenReg.invalid = true;

                    isError = true;
                }
                //
                if (this.$.idzahirgaaHariTooReg.value == undefined
                    || this.$.idzahirgaaHariTooReg.value == null
                    || this.$.idzahirgaaHariTooReg.value == '') {
                    this.$.idzahirgaaHariTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idzahirgaaHariTooReg.invalid = true;

                    isError = true;
                }


                if (this.$.idtorguuliHemjeeReg == undefined
                    || this.$.idtorguuliHemjeeReg.value == null
                    || this.$.idtorguuliHemjeeReg.value == '') {
                    this.$.idtorguuliHemjeeReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idtorguuliHemjeeReg.invalid = true;

                    isError = true;
                }


                if (this.$.idtolborReg == undefined
                    || this.$.idtolborReg.value == null
                    || this.$.idtolborReg.value == '') {
                    this.$.idtolborReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idtolborReg.invalid = true;

                    isError = true;
                }


                if (this.$.idtorguuliarReg == undefined
                    || this.$.idtorguuliarReg.value == null
                    || this.$.idtorguuliarReg.value == '') {
                    this.$.idtorguuliarReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idtorguuliarReg.invalid = true;

                    isError = true;
                }

                if (this.$.idtolboroorReg == undefined
                    || this.$.idtolboroorReg.value == null
                    || this.$.idtolboroorReg.value == '') {
                    this.$.idtolboroorReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idtolboroorReg.invalid = true;

                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.shalgahGazar", model.shalgahGazar);
                this.set("insertData.uzlegToo", model.uzlegToo);
                this.set("insertData.baiguullagaToo", model.baiguullagaToo);
                this.set("insertData.ajAhuinNegjToo", model.ajAhuinNegjToo);
                this.set("insertData.irgedToo", model.irgedToo);
                this.set("insertData.huuliinBaigShiljsen", model.huuliinBaigShiljsen);
                this.set("insertData.zahirgaaHariToo", model.zahirgaaHariToo);

                this.set("insertData.torguuliHemjee", model.torguuliHemjee);
                this.set("insertData.tolbor", model.tolbor);
                this.set("insertData.torguuliar", model.torguuliar);
                this.set("insertData.tolboroor", model.tolboroor);
                this.set("insertData.recordDate", model.recordDate);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon') {
                    return;
                }

                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform14Report',
                    params: [this.criteriaData, this.loggedIn.id, this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 14 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', { success: true, message: mess });
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', { success: false, message: mess });
                            }

                        } else {
                            that.fire('show-toast-message', { success: false, message: "Үр дүн олдсонгүй..." });
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>