<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form51-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }

            fieldset {
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>УМЭА маягт № 51 мэдээлэл</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ criteriaData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                        <vaadin-combo-box id="idBagCmb" tabindex="0" class="half" label="Багийн нэр"
                                          value="{{ criteriaData.bagcode }}" item-label-path="horooname"
                                          item-value-path="horoocode"></vaadin-combo-box>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form51Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Сум" property="sumname" type="String" sortable
                                                tooltip="Сум"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Баг" property="baghorooname" type="String" sortable
                                                tooltip="Баг"></paper-datatable-column>
                        <paper-datatable-column header="Бүгд" property="niitMalToo" type="Number" sortable
                                                tooltip="Бүгд"></paper-datatable-column>
                        <paper-datatable-column header="Бог" property="bogToo" type="Number" sortable
                                                tooltip="Бог"></paper-datatable-column>
                        <paper-datatable-column header="Бод" property="bodToo" type="Number" sortable
                                                tooltip="Бод"></paper-datatable-column>
                        <paper-datatable-column header="Төл" property="tolToo" type="Number" sortable
                                                tooltip="Төл"></paper-datatable-column>
                        <paper-datatable-column header="Оны эхний үлдэгдэл" property="ehniiUldegdel" type="Number"
                                                sortable tooltip="Оны эхний үлдэгдэл"></paper-datatable-column>

                        <paper-datatable-column header="Орлого" property="orlogo" type="Number" sortable
                                                tooltip="Орлого"></paper-datatable-column>
                        <paper-datatable-column header="Зарлага" property="zarlaga" type="Number" sortable
                                                tooltip="Зарлага"></paper-datatable-column>
                        <paper-datatable-column header="Жилийн эцсийн үлдэгдэл" property="jilEUldegdel" type="Number"
                                                sortable tooltip="Жилийн эцсийн үлдэгдэл"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлэгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлэгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ insertData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                        </template>


                        <vaadin-combo-box id="idSumReg" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ insertData.sum }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                        <vaadin-combo-box id="idBagCmbReg" tabindex="0" class="half"
                                          label="Багийн нэр"
                                          value="{{ insertData.sumBagNer }}"
                                          item-label-path="horooname" item-value-path="horoocode"></vaadin-combo-box>
                    </fieldset>

                    <fieldset>
                        <legend>Арга хэмжээнд Хамрагдсан малын тоо толгойгоор:</legend>
                        <paper-input id="idNiitMalTooReg" label="Бүгд" name="niitMalTooReg" class="half"
                                     value="{{ insertData.niitMalToo }}" maxlength="250"></paper-input>
                        <fieldset>
                            <legend>Үүнээс:</legend>
                            <paper-input id="idBogTooReg" name="BogTooReg" label="Бог" class="half"
                                         value="{{ insertData.bogToo }}" type="Number"></paper-input>

                            <paper-input label="Бод" name="BodTooReg" id="idBodTooReg" value="{{ insertData.bodToo }}"
                                         class="half" required
                                         maxlength="250" aria-disabled="false" type="Number"></paper-input>

                            <paper-input label="Төл" name="TolTooReg" id="idTolTooReg" class="half"
                                         value="{{ insertData.tolToo }}" required
                                         maxlength="250" aria-disabled="false" type="Number"></paper-input>
                        </fieldset>
                        <fieldset>
                            <legend>мян.төг:</legend>
                            <paper-input label="Оны эхний үлдэгдэл" name="EhniiUldegdelReg" id="idEhniiUldegdelReg"
                                         class="half"
                                         value="{{ insertData.ehniiUldegdel }}" aria-disabled="false"
                                         type="Number"></paper-input>

                            <paper-input label="Орлого" name="OrlogoReg" id="idOrlogoReg"
                                         value="{{ insertData.orlogo }}"
                                         class="half"
                                         required maxlength="250" aria-disabled="false" type="Number"></paper-input>

                            <paper-input label="Зарлага" name="ZarlagaReg" id="idZarlagaReg"
                                         value="{{ insertData.zarlaga }}"
                                         class="half"
                                         required maxlength="250" aria-disabled="false" type="Number"></paper-input>

                            <paper-input label="Жилийн эцсийн үлдэгдэл" name="JilEUldegdelReg" id="idJilEUldegdelReg"
                                         class="half"
                                         value="{{ insertData.jilEUldegdel }}" aria-disabled="false"
                                         type="Number"></paper-input>

                        </fieldset>
                        <vaadin-date-picker id="idRecordDate" tabindex="0" class="half"
                                            name="recordDate"
                                            label="Бичлэг огноо*"
                                            value="{{insertData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin-top: 15px;">
                            <paper-button id="save-button" class="btn save-button" on-click="_save" raised=""
                                          role="button"
                                          tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                            </paper-button>
                        </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form51-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        sumBagNer: '',
                        niitMalToo: '',
                        bogToo: '',
                        bodToo: '',
                        tolToo: '',
                        ehniiUldegdel: '',
                        orlogo: '',
                        zarlaga: '',
                        jilEUldegdel: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form51Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        aimag: '',
                        sum: '',
                        sumBagNer: '',
                        niitMalToo: '',
                        bogToo: '',
                        bodToo: '',
                        tolToo: '',
                        ehniiUldegdel: '',
                        orlogo: '',
                        zarlaga: '',
                        jilEUldegdel: '',
                        recordDate: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 51 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getDataFromServer();

                this._getMalTurul();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 51 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm51Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that.form51Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 51 Data
            },

            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : ccode}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            that.$.idCity.items = resp.result;
//                            that.$.idCityReg.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch bag, horoo
             * */
            _getBagHorooData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagHorooData',
                    params: [{sumcode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idBagCmb.items = resp.result;
                            that.$.idBagCmbReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },

            /*
             Mal-n turul tatah
             */
            _getMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("MAL turul");
                            console.log(resp.result);
                            that.$.idMalTurul.items = resp.result;
                            that.$.idMalTurulReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idSumBagNer.value = "";
                this.$.idNiitMalToo.value = "";
                this.$.idBogToo.value = "";
                this.$.idBodToo.value = "";
                this.$.idTolToo.value = "";
                this.$.idEhniiUldegdel.value = "";
                this.$.idOrlogo.value = "";
                this.$.idZarlaga.value = "";
                this.$.idJilEUldegdel.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 51 Data
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm51Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 51 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;
                //begin-idSumReg
                this.$.idSumReg.invalid = false;

                if (this.$.idSumReg.value == undefined
                        || this.$.idSumReg.value == null
                        || this.$.idSumReg.value == '') {
                    this.$.idSumReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idSumReg.invalid = true;
                    isError = true;
                }
                //end-idSumReg

                //begin-idBagCmbReg
                this.$.idBagCmbReg.invalid = false;

                if (this.$.idBagCmbReg.value == undefined
                        || this.$.idBagCmbReg.value == null
                        || this.$.idBagCmbReg.value == '') {
                    this.$.idBagCmbReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBagCmbReg.invalid = true;
                    isError = true;
                }
                //end-idBagCmbReg

                //begin-idNiitMalTooReg
                this.$.idNiitMalTooReg.invalid = false;

                if (this.$.idNiitMalTooReg.value == undefined
                        || this.$.idNiitMalTooReg.value == null
                        || this.$.idNiitMalTooReg.value == '') {
                    this.$.idNiitMalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idNiitMalTooReg.invalid = true;
                    isError = true;
                }
                //end-idNiitMalTooReg

                //begin-idBogTooReg
                this.$.idBogTooReg.invalid = false;

                if (this.$.idBogTooReg.value == undefined
                        || this.$.idBogTooReg.value == null
                        || this.$.idBogTooReg.value == '') {
                    this.$.idBogTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBogTooReg.invalid = true;
                    isError = true;
                }
                //end-idBogTooReg
//
                //begin-idBodTooReg
                this.$.idBodTooReg.invalid = false;

                if (this.$.idBodTooReg.value == undefined
                        || this.$.idBodTooReg.value == null
                        || this.$.idBodTooReg.value == '') {
                    this.$.idBodTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBodTooReg.invalid = true;
                    isError = true;
                }
                //end-idBodTooReg

                //begin-idTolTooReg
                this.$.idTolTooReg.invalid = false;

                if (this.$.idTolTooReg.value == undefined
                        || this.$.idTolTooReg.value == null
                        || this.$.idTolTooReg.value == '') {
                    this.$.idTolTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTolTooReg.invalid = true;
                    isError = true;
                }
                //end-idTolTooReg
//
                //begin-idEhniiUldegdelReg
                this.$.idEhniiUldegdelReg.invalid = false;

                if (this.$.idEhniiUldegdelReg.value == undefined
                        || this.$.idEhniiUldegdelReg.value == null
                        || this.$.idEhniiUldegdelReg.value == '') {
                    this.$.idEhniiUldegdelReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idEhniiUldegdelReg.invalid = true;
                    isError = true;
                }
                //end-idEhniiUldegdelReg

                //begin-idOrlogoReg
                this.$.idOrlogoReg.invalid = false;

                if (this.$.idOrlogoReg == undefined
                        || this.$.idOrlogoReg.value == null
                        || this.$.idOrlogoReg.value == '') {
                    this.$.idOrlogoReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idOrlogoReg.invalid = true;
                    isError = true;
                }
                //end-idOrlogoReg

                //begin-idZarlagaReg
                this.$.idZarlagaReg.invalid = false;

                if (this.$.idZarlagaReg == undefined
                        || this.$.idZarlagaReg.value == null
                        || this.$.idZarlagaReg.value == '') {
                    this.$.idZarlagaReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idZarlagaReg.invalid = true;
                    isError = true;
                }
                //end-idZarlagaReg

                //begin-idJilEUldegdelReg
                this.$.idJilEUldegdelReg.invalid = false;

                if (this.$.idJilEUldegdelReg == undefined
                        || this.$.idJilEUldegdelReg.value == null
                        || this.$.idJilEUldegdelReg.value == '') {
                    this.$.idJilEUldegdelReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idJilEUldegdelReg.invalid = true;
                    isError = true;
                }
                //end-idJilEUldegdelReg

//                //begin-idRecordDate
                this.$.idRecordDate.invalid = false;

                if (this.$.idRecordDate == undefined
                        || this.$.idRecordDate.value == null
                        || this.$.idRecordDate.value == '') {
                    this.$.idRecordDate.errorMessage = 'Утга оруулана уу...';
                    this.$.idRecordDate.invalid = true;
                    isError = true;
                }
//                //end-idRecordDate
                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.sum", model.sum);
                this.set("insertData.sumBagNer", model.sumBagNer);
                this.set("insertData.niitMalToo", model.niitMalToo);
                this.set("insertData.bogToo", model.bogToo);
                this.set("insertData.bodToo", model.bodToo);
                this.set("insertData.tolToo", model.tolToo);
                this.set("insertData.ehniiUldegdel", model.ehniiUldegdel);

                this.set("insertData.orlogo", model.orlogo);
                this.set("insertData.zarlaga", model.zarlaga);
                this.set("insertData.jilEUldegdel", model.jilEUldegdel);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform51Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
