<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form53-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f53ac;
                color: white;
            }

            #createBtn {
                background-color: #0f53ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }

            fieldset {
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f53ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f53ac;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1531px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1530px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Халдваргүй өвчний хагас жил, жилийн мэдээ</h1>
                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>
                    <div id="idSearchDev" hidden="hidden">
                        <fieldset>
                            <legend>Ерөнхий мэдээлэл:</legend>
                            <template is="dom-if" if="{{isShowCity}}">
                                <vaadin-combo-box id="idCity" tabindex="0" class="half"
                                                  label="Аймаг, нийслэл" items="{{cityItem}}"
                                                  value="{{ criteriaData.aimag }}"
                                                  on-value-changed="_getSumData"
                                                  item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            </template>

                            <vaadin-combo-box id="idSum" tabindex="1" class="half" required label="Сум, дүүрэг"
                                              value="{{ criteriaData.sum }}" item-label-path="sumname"
                                              item-value-path="sumcode"></vaadin-combo-box>

                            <vaadin-combo-box id="idUvchinNer" class="half"
                                              label="Өвчний нэр" value="{{ criteriaData.uvchinNer }}"
                                              item-label-path="name" item-value-path="id"></vaadin-combo-box>
                        </fieldset>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin-top: 15px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>
                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form53Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Өвчний нэр" property="uvchinner"
                                                sortable
                                                tooltip="Өвчний нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Бүгд (Өвчилсөн)" property="bugdUvchilsen"
                                                type="Number" sortable
                                                tooltip="Бүгд (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column tabindex="3" header="Бүгд (Үхсэн)" property="bugdUhsen" type="Number"
                                                sortable tooltip="Бүгд (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column tabindex="3" header="Бүгд (Эдгэрсэн)" property="bugdEdgersen"
                                                type="Number"
                                                sortable tooltip="Эзний мэргэжил"></paper-datatable-column>

                        <paper-datatable-column header="Ботго (Өвчилсөн)" property="botgoUvchilsen" type="Number"
                                                sortable
                                                tooltip="Ботго (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column header="Ботго (Үхсэн)" property="botgoUhsen" type="Number" sortable
                                                tooltip="Ботго (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Ботго (Эдгэрсэн)" property="botgoEdgersen" type="Number"
                                                sortable
                                                tooltip="Ботго (Эдгэрсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Унага (Өвчилсөн)" property="unagaUvchilsen" type="Number"
                                                sortable
                                                tooltip="Унага (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column header="Унага (Үхсэн)" property="unagaUhsen" type="String" sortable
                                                tooltip="Унага (Үхсэн)"></paper-datatable-column>


                        <paper-datatable-column header="Унага (Эдгэрсэн)" property="unagaEdgersen"
                                                type="Number" sortable
                                                tooltip="Унага (Эдгэрсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Тугал (Өвчилсөн)" property="tugalUvchilsen"
                                                type="Number" sortable
                                                tooltip="Тугал (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column header="Тугал (Үхсэн)" property="tugalUhsen" type="Number" sortable
                                                tooltip="Үхэр (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Тугал (Эдгэрсэн)" property="tugalEdgersen" type="Number"
                                                sortable
                                                tooltip="Тугал (Эдгэрсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Хурга (Өвчилсөн)" property="hurgaUvchilsen" type="Number"
                                                sortable
                                                tooltip="Хурга (Өвчилсөн)"></paper-datatable-column>


                        <paper-datatable-column header="Хурга (Үхсэн)" property="hurgaUhsen" type="Number" sortable
                                                tooltip="Хурга (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Хурга (Эдгэрсэн)" property="hurgaEdgersen" type="Number"
                                                sortable
                                                tooltip="Хурга (Эдгэрсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Ишиг (Өвчилсөн)" property="ishigUvchilsen" type="Number"
                                                sortable
                                                tooltip="Ишиг (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column header="Ишиг (Үхсэн)" property="ishigUhsen" type="Number"
                                                sortable tooltip="Ямаа (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Ямаа (Эдгэрсэн)" property="ishigEdgersen" type="Number"
                                                sortable tooltip="Ямаа (Эдгэрсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Бусад (Өвчилсөн)" property="busadUvchilsen" type="Number"
                                                sortable
                                                tooltip="Бусад (Өвчилсөн)"></paper-datatable-column>

                        <paper-datatable-column header="Бусад (Үхсэн)" property="busadUhsen" type="Number"
                                                sortable tooltip="Бусад (Үхсэн)"></paper-datatable-column>

                        <paper-datatable-column header="Бусад (Эдгэрсэн)" property="busadEdgersen" type="Number"
                                                sortable tooltip="Бусад (Эдгэрсэн)"></paper-datatable-column>


                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>


                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Зээлийн карт, Бүртгэлийн үнэлгээ бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f53ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <vaadin-combo-box id="idUvchinNerReg" class="half"
                                          label="Өвчний нэр" value="{{ insertData.uvchinNer }}"
                                          item-label-path="name" item-value-path="id"></vaadin-combo-box>
                        <paper-tooltip for="idUvchinNerReg" offset="0">Өвчний нэр</paper-tooltip>
                    </fieldset>
                    <fieldset>
                        <legend>Бүгд:</legend>

                        <paper-input id="idBugdUvchilsenReg" label="Өвчилсөн" name="BugdUvchilsenReg"
                                     value="{{ insertData.bugdUvchilsen }}" class="half" type="Number"
                                     maxlength="250"></paper-input>

                        <paper-input id="idBugdUhsenReg" label="Үхсэн" name="BugdUhsenReg" class="half"
                                     value="{{ insertData.bugdUhsen }}" maxlength="250" type="Number"></paper-input>

                        <paper-input id="idBugdEdgersenReg" label="Эдгэрсэн" name="BugdEdgersenReg" class="half"
                                     value="{{ insertData.bugdEdgersen}}" maxlength="250" type="Number"></paper-input>
                    </fieldset>


                    <fieldset>
                        <legend>Үүнээс:</legend>
                        <fieldset>
                            <legend>Ботго:</legend>
                            <paper-input id="idBotgoUvchilsenReg" label="Өвчилсөн" name="TemeeUvchilsenReg"
                                         value="{{ insertData.botgoUvchilsen }}" class="half" type="Number"
                                         maxlength="250"></paper-input>

                            <paper-input id="idBotgoUhsenReg" label="Үхсэн" name="BotgoUhsenReg" class="half"
                                         value="{{ insertData.botgoUhsen }}" maxlength="250"
                                         type="Number"></paper-input>

                            <paper-input id="idBotgoEdgersenReg" label="Эдгэрсэн" name="BotgoEdgersenReg" class="half"
                                         value="{{ insertData.botgoEdgersen}}" maxlength="250"
                                         type="Number"></paper-input>
                        </fieldset>

                        <fieldset>
                            <legend>Унага:</legend>
                            <paper-input id="idUnagaUvchilsenReg" label="Өвчилсөн" name="UnagaUvchilsenReg"
                                         value="{{ insertData.unagaUvchilsen }}" class="half" type="Number"
                                         maxlength="250"></paper-input>

                            <paper-input id="idUnagaUhsenReg" label="Үхсэн" name="UnagaUhsenReg" class="half"
                                         value="{{ insertData.unagaUhsen }}" maxlength="250"
                                         type="Number"></paper-input>

                            <paper-input id="idUnagaEdgersenReg" label="Эдгэрсэн" name="UnagaEdgersenReg" class="half"
                                         value="{{ insertData.unagaEdgersen}}" maxlength="250"
                                         type="Number"></paper-input>
                        </fieldset>

                        <fieldset>
                            <legend>Тугал:</legend>
                            <paper-input id="idTugalUvchilsenReg" label="Өвчилсөн" name="TugalUvchilsenReg"
                                         value="{{ insertData.tugalUvchilsen }}" class="half" type="Number"
                                         maxlength="250"></paper-input>

                            <paper-input id="idTugalUhsenReg" label="Үхсэн" name="TugalUhsenReg" class="half"
                                         value="{{ insertData.tugalUhsen }}" maxlength="250"
                                         type="Number"></paper-input>

                            <paper-input id="idTugalEdgersenReg" label="Эдгэрсэн" name="TugalEdgersenReg" class="half"
                                         value="{{ insertData.tugalEdgersen}}" maxlength="250"
                                         type="Number"></paper-input>
                        </fieldset>

                        <fieldset>
                            <legend>Хурга:</legend>
                            <paper-input id="idHurgaUvchilsenReg" label="Өвчилсөн" name="HurgaUvchilsenReg"
                                         value="{{ insertData.hurgaUvchilsen }}" class="half" type="Number"
                                         maxlength="250"></paper-input>

                            <paper-input id="idHurgaUhsenReg" label="Үхсэн" name="HurgaUhsenReg" class="half"
                                         value="{{ insertData.hurgaUhsen }}" maxlength="250"
                                         type="Number"></paper-input>

                            <paper-input id="idHurgaEdgersenReg" label="Эдгэрсэн" name="HurgaEdgersenReg" class="half"
                                         value="{{ insertData.hurgaEdgersen}}" maxlength="250"
                                         type="Number"></paper-input>
                        </fieldset>

                        <fieldset>
                            <legend>Ишиг:</legend>
                            <paper-input id="idIshigUvchilsenReg" label="Өвчилсөн" name="IshigUvchilsenReg"
                                         value="{{ insertData.ishigUvchilsen }}" class="half" type="Number"
                                         maxlength="250"></paper-input>

                            <paper-input id="idIshigUhsenReg" label="Үхсэн" name="IshigUhsenReg" class="half"
                                         value="{{ insertData.ishigUhsen }}" maxlength="250"
                                         type="Number"></paper-input>

                            <paper-input id="idIshigEdgersenReg" label="Эдгэрсэн" name="IshigEdgersenReg" class="half"
                                         value="{{ insertData.ishigEdgersen}}" maxlength="250"
                                         type="Number"></paper-input>
                        </fieldset>
                    </fieldset>

                    <fieldset>
                        <legend>Бусад:</legend>
                        <paper-input id="idBusadUvchilsenReg" label="Өвчилсөн" name="BusadUvchilsenReg"
                                     value="{{ insertData.busadUvchilsen }}" class="half" type="Number"
                                     maxlength="250"></paper-input>

                        <paper-input id="idBusadUhsenReg" label="Үхсэн" name="BusadUhsenReg" class="half"
                                     value="{{ insertData.busadUhsen }}" maxlength="250"
                                     type="Number"></paper-input>

                        <paper-input id="idBusadEdgersenReg" label="Эдгэрсэн" name="BusadEdgersenReg" class="half"
                                     value="{{ insertData.busadEdgersen}}" maxlength="250"
                                     type="Number"></paper-input>

                    </fieldset>
                    <vaadin-date-picker id="idRecordDate" tabindex="0"
                                        name="recordDate"
                                        label="Бичлэг огноо*"
                                        value="{{insertData.recordDate}}"
                                        aria-disabled="false" class="half">
                    </vaadin-date-picker>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form53-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },

                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        uvchinNer: '',
                        bugdUvchilsen: '',
                        bugdUhsen: '',
                        bugdEdgersen: '',
                        botgoUvchilsen: '',
                        botgoUhsen: '',
                        botgoEdgersen: '',
                        unagaUvchilsen: '',
                        unagaUhsen: '',
                        unagaEdgersen: '',
                        tugalUvchilsen: '',
                        tugalUhsen: '',
                        tugalEdgersen: '',
                        hurgaUvchilsen: '',
                        hurgaUhsen: '',
                        hurgaEdgersen: '',
                        ishigUvchilsen: '',
                        ishigUhsen: '',
                        ishigEdgersen: '',
                        busadUvchilsen: '',
                        busadUhsen: '',
                        busadEdgersen: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form53Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        uvchinNer: '',
                        bugdUvchilsen: '',
                        bugdUhsen: '',
                        bugdEdgersen: '',
                        botgoUvchilsen: '',
                        botgoUhsen: '',
                        botgoEdgersen: '',
                        unagaUvchilsen: '',
                        unagaUhsen: '',
                        unagaEdgersen: '',
                        tugalUvchilsen: '',
                        tugalUhsen: '',
                        tugalEdgersen: '',
                        hurgaUvchilsen: '',
                        hurgaUhsen: '',
                        hurgaEdgersen: '',
                        ishigUvchilsen: '',
                        ishigUhsen: '',
                        ishigEdgersen: '',
                        busadUvchilsen: '',
                        busadUhsen: '',
                        busadEdgersen: '',
                        recordDate: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 53 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());
                ;

                this._getDataFromServer();

                //this._getCityCmbData();

                this._getUvchinNer();

                if (this.loggedIn.rcode != undefined) {
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN') {
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    } else {
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 53 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm53Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that.form53Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 53 Data
            },

            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Uvchin ner
             * */
            _getUvchinNer: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["HGUVCH", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idUvchinNer.items = resp.result;
                            that.$.idUvchinNerReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**

             /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";

                this.$.idUvchinNer.value = "";

                this.$.idBugdUvchilsen.value = "";
                this.$.idBugdUhsen.value = "";
                this.$.idBugdEdgersen.value = "";

                this.$.idBotgoUvchilsen.value = "";
                this.$.idBotgoUhsen.value = "";
                this.$.idBotgoEdgersen.value = "";

                this.$.idUnagaUvchilsen.value = "";
                this.$.idUnagaUhsen.value = "";
                this.$.idUnagaEdgersen.value = "";

                this.$.idTugalUvchilsen.value = "";
                this.$.idTugalUhsen.value = "";
                this.$.idTugalEdgersen.value = "";

                this.$.idHurgaUvchilsen.value = "";
                this.$.idHurgaUhsen.value = "";
                this.$.idHurgaEdgersen.value = "";

                this.$.idIshigUvchilsen.value = "";
                this.$.idIshigUhsen.value = "";
                this.$.idIshigEdgersen.value = "";

                this.$.idBusadUvchilsen.value = "";
                this.$.idBusadUhsen.value = "";
                this.$.idBusadEdgersen.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 53 Data
//                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
//                    if (this._checkMandatoryFields()) {
//                        return;
//                    }
//                }
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm53Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 53 Data
            },

//            _checkMandatoryFields: function () {
//                var isError = false;
//
//                this.$.idAjahuinnerReg.invalid = false;
//                this.$.idEzennerReg.invalid = false;
//                this.$.idMergejilReg.invalid = false;
//                this.$.idIhEmchReg.invalid = false;
//                this.$.idBagaEmchReg.invalid = false;
//                this.$.idMalZuichReg.invalid = false;
//                this.$.idOrhTooReg.invalid = false;
//
//
//                this.$.idMalTooReg.invalid = false;
//                this.$.idNegjMalTooReg.invalid = false;
//                this.$.idMergejiltenMalTooReg.invalid = false;
//                this.$.idBairReg.invalid = false;
//                this.$.idUnaaReg.invalid = false;
//                this.$.idOntsSainReg.invalid = false;
//                this.$.idSainReg.invalid = false;
//
//                this.$.idDundReg.invalid = false;
//                this.$.idHangaltguiReg.invalid = false;
////
//                if (this.$.idAjahuinnerReg.value == undefined
//                        || this.$.idAjahuinnerReg.value == null
//                        || this.$.idAjahuinnerReg.value == '') {
//                    this.$.idAjahuinnerReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idAjahuinnerReg.invalid = true;
//                    isError = true;
//                }
////
//                if (this.$.idEzennerReg.value == undefined
//                        || this.$.idEzennerReg.value == null
//                        || this.$.idEzennerReg.value == '') {
//                    this.$.idEzennerReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idEzennerReg.invalid = true;
//                    isError = true;
//                }
////
//                if (this.$.idMergejilReg.value == undefined
//                        || this.$.idMergejilReg.value == null
//                        || this.$.idMergejilReg.value == '') {
//                    this.$.idMergejilReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idMergejilReg.invalid = true;
//                    isError = true;
//                }
//////
//                if (this.$.idIhEmchReg.value == undefined
//                        || this.$.idIhEmchReg.value == null
//                        || this.$.idIhEmchReg.value == '') {
//                    this.$.idIhEmchReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idIhEmchReg.invalid = true;
//                    isError = true;
//                }
//////
//                if (this.$.idBagaEmchReg.value == undefined
//                        || this.$.idBagaEmchReg.value == null
//                        || this.$.idBagaEmchReg.value == '') {
//                    this.$.idBagaEmchReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idBagaEmchReg.invalid = true;
//
//                    isError = true;
//                }
////
//                if (this.$.idMalZuichReg.value == undefined
//                        || this.$.idMalZuichReg.value == null
//                        || this.$.idMalZuichReg.value == '') {
//                    this.$.idMalZuichReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idMalZuichReg.invalid = true;
//
//                    isError = true;
//                }
////
//                if (this.$.idOrhTooReg.value == undefined
//                        || this.$.idOrhTooReg.value == null
//                        || this.$.idOrhTooReg.value == '') {
//                    this.$.idOrhTooReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idOrhTooReg.invalid = true;
//
//                    isError = true;
//                }
//
//
//                if (this.$.idMalTooReg.value == undefined
//                        || this.$.idMalTooReg.value == null
//                        || this.$.idMalTooReg.value == '') {
//                    this.$.idMalTooReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idMalTooReg.invalid = true;
//
//                    isError = true;
//                }
//
//                if (this.$.idNegjMalTooReg.value == undefined
//                        || this.$.idNegjMalTooReg.value == null
//                        || this.$.idNegjMalTooReg.value == '') {
//                    this.$.idNegjMalTooReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idNegjMalTooReg.invalid = true;
//
//                    isError = true;
//                }
//
//                if (this.$.idMergejiltenMalTooReg.value == undefined
//                        || this.$.idMergejiltenMalTooReg.value == null
//                        || this.$.idMergejiltenMalTooReg.value == '') {
//                    this.$.idMergejiltenMalTooReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idMergejiltenMalTooReg.invalid = true;
//
//                    isError = true;
//                }
//
//                if (this.$.idBairReg.value == undefined
//                        || this.$.idBairReg.value == null
//                        || this.$.idBairReg.value == '') {
//                    this.$.idBairReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idBairReg.invalid = true;
//
//                    isError = true;
//                }
//
//                if (this.$.idUnaaReg.value == undefined
//                        || this.$.idUnaaReg.value == null
//                        || this.$.idUnaaReg.value == '') {
//                    this.$.idUnaaReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idUnaaReg.invalid = true;
//
//                    isError = true;
//                }
//
//
//                if (this.$.idOntsSainReg.value == undefined
//                        || this.$.idOntsSainReg.value == null
//                        || this.$.idOntsSainReg.value == '') {
//                    this.$.idOntsSainReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idOntsSainReg.invalid = true;
//
//                    isError = true;
//                }
//                if (this.$.idSainReg.value == undefined
//                        || this.$.idSainReg.value == null
//                        || this.$.idSainReg.value == '') {
//                    this.$.idSainReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idSainReg.invalid = true;
//
//                    isError = true;
//                }
//                if (this.$.idDundReg.value == undefined
//                        || this.$.idDundReg.value == null
//                        || this.$.idDundReg.value == '') {
//                    this.$.idDundReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idDundReg.invalid = true;
//
//                    isError = true;
//                }
//                if (this.$.idHangaltguiReg.value == undefined
//                        || this.$.idHangaltguiReg.value == null
//                        || this.$.idHangaltguiReg.value == '') {
//                    this.$.idHangaltguiReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idHangaltguiReg.invalid = true;
//
//                    isError = true;
//                }
//
//                return isError;
//            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.uvchinNer", model.uvchinNer);
                this.set("insertData.bugdUvchilsen", model.bugdUvchilsen);
                this.set("insertData.bugdUhsen", model.bugdUhsen);
                this.set("insertData.bugdEdgersen", model.bugdEdgersen);
                this.set("insertData.botgoUvchilsen", model.botgoUvchilsen);
                this.set("insertData.botgoUhsen", model.botgoUhsen);
                this.set("insertData.botgoEdgersen", model.botgoEdgersen);


                this.set("insertData.unagaUvchilsen", model.unagaUvchilsen);
                this.set("insertData.unagaUhsen", model.unagaUhsen);
                this.set("insertData.unagaEdgersen", model.unagaEdgersen);
                this.set("insertData.tugalUvchilsen", model.tugalUvchilsen);
                this.set("insertData.tugalUhsen", model.tugalUhsen);
                this.set("insertData.tugalEdgersen", model.tugalEdgersen);
                this.set("insertData.hurgaUvchilsen", model.hurgaUvchilsen);
                this.set("insertData.hurgaUhsen", model.hurgaUhsen);
                this.set("insertData.hurgaEdgersen", model.hurgaEdgersen);


                this.set("insertData.ishigUvchilsen", model.ishigUvchilsen);
                this.set("insertData.ishigUhsen", model.ishigUhsen);
                this.set("insertData.ishigEdgersen", model.ishigEdgersen);
                this.set("insertData.busadUvchilsen", model.busadUvchilsen);
                this.set("insertData.busadUhsen", model.busadUhsen);
                this.set("insertData.busadEdgersen", model.busadEdgersen);
                this.set("insertData.recordDate", model.strRecordDate);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform53Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
