<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form08-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }


            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #0f62ac;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Паразиттах өвчнөөс сэргийлэх арга хэмжээний мэдээ</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл"
                                              items="{{cityItem}}"
                                              value="{{ criteriaData.aimag }}" on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}" item-label-path="sumname"
                                          item-value-path="sumcode"></vaadin-combo-box>

                        <vaadin-combo-box id="idMalTurul" tabindex="0" class="half" required label="Мал амьтаны төрөл"
                                          value="{{ criteriaData.malturul }}" item-label-path="name"
                                          item-value-path="id"></vaadin-combo-box>

                        <paper-input id="idArgaNer" tabindex="0" class="half" label="Арга, хэмжээний нэр"
                                     value="{{criteriaData.argaHemjeeNer}}" aria-disabled="false"></paper-input>

                        <paper-input id="idEmNer" tabindex="0" class="half" label="Эмийн бодисын нэр"
                                     value="{{criteriaData.ner}}" aria-disabled="false"></paper-input>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form08Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Аймгийн нэр" property="aimagNer"
                                                type="String" sortable
                                                tooltip="Аймгийн нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Арга, хэмжээний нэр" property="argaHemjeeNer"
                                                type="String" sortable
                                                tooltip="Арга, хэмжээний нэр"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Эмийн бодис нэр" property="ner" type="String"
                                                sortable tooltip="Эмийн бодис нэр"></paper-datatable-column>
                        <paper-datatable-column header="Зарцуулсан хэмжээ (л)" property="zartsuulsanHemjee"
                                                type="String" sortable
                                                tooltip="Зарцуулсан хэмжээ (л)"></paper-datatable-column>
                        <paper-datatable-column header="Мал амьтаны төрөл" property="malTurulNer" type="String" sortable
                                                tooltip="Мал амьтаны төрөл"></paper-datatable-column>
                        <paper-datatable-column header="Төлөвлөгөө" property="tolovlogoo" type="String" sortable
                                                tooltip="Төлөвлөгөө"></paper-datatable-column>
                        <paper-datatable-column header="Гүйцэтгэл" property="guitsetgel" type="String" sortable
                                                tooltip="Гүйцэтгэл"></paper-datatable-column>
                        <paper-datatable-column header="Хувь" property="huvi" type="String" sortable
                                                tooltip="Хувь"></paper-datatable-column>
                        <paper-datatable-column header="Оруулсан бичлэгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлэгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <template is="dom-if" if="{{isShowCity}}">
                    <fieldset>
                        <legend>Аймгийн мэдээлэл:</legend>
                            <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ insertData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                        <!--<vaadin-combo-box id="idSumReg" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ insertData.sum }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode" hidden></vaadin-combo-box>
                        <paper-tooltip for="idSumReg" offset="0">Сум, дүүрэг</paper-tooltip>-->
                    </fieldset>
                    </template>
                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <paper-input label="Арга, хэмжээний нэр*" name="argaNer" id="idArgaNerReg" class="half"
                                     value="{{ insertData.argaHemjeeNer }}" required maxlength="60"
                                     aria-disabled="false"></paper-input>
                        <paper-tooltip for="idArgaNerReg" offset="0">Арга, хэмжээний нэр</paper-tooltip>

                        <paper-input id="idEmNerReg" class="half" label="Эмийн бодис нэр" name="emNerReg"
                                     value="{{ insertData.ner }}" maxlength="250"></paper-input>
                        <paper-tooltip for="idEmNerReg" offset="0">Эмийн бодис нэр</paper-tooltip>

                        <paper-input id="idZartsuulsanHemjeeReg" class="half"
                                     type="Number"
                                     namme="zartsuulsanHemjeeReg"
                                     label="Зарцуулсан хэмжээ" value="{{ insertData.zartsuulsanHemjee }}"></paper-input>
                        <paper-tooltip for="idZartsuulsanHemjeeReg" offset="0">Зарцуулсан хэмжээ</paper-tooltip>

                        <vaadin-combo-box id="idMalTurulReg" class="half" name="malTurulReg" label="Мал амьтаны төрөл"
                                          value="{{ insertData.malturul }}" item-label-path="name"
                                          item-value-path="id"></vaadin-combo-box>
                        <paper-tooltip for="idMalTurulReg" offset="0">Мал амьтаны төрөл</paper-tooltip>

                        <paper-input label="Төлөвлөгөө" name="tuluvluguuReg" id="idTuluvluguuReg" class="half" type="Number"
                                     value="{{ insertData.tolovlogoo }}" required maxlength="250"
                                     aria-disabled="false"></paper-input>
                        <paper-tooltip for="idTuluvluguuReg" offset="0">Төлөвлөгөө</paper-tooltip>

                        <paper-input label="Гүйцэтгэл" name="guitsetgelReg" id="idGuitsetgelReg" class="half" type="Number"
                                     value="{{ insertData.guitsetgel }}" required maxlength="250"
                                     aria-disabled="false" on-change="_persent"></paper-input>
                        <paper-tooltip for="idGuitsetgelReg" offset="0">Гүйцэтгэл</paper-tooltip>

                        <paper-input label="Хувь (%)" name="huviReg" id="idHuviReg" class="half" disabled
                                     value="{{ insertData.huvi }}" aria-disabled="false" type="Number"></paper-input>
                        <paper-tooltip for="idHuviReg" offset="0">Хувь</paper-tooltip>

                        <vaadin-date-picker id="idRecordDate" class="half"
                                            tabindex="0"
                                            name="recordDate"
                                            label="Бичлэг огноо*"
                                            value="{{insertData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>
                        <paper-tooltip for="idRecordDate" offset="0">Бичлэг огноо</paper-tooltip>

                    </fieldset>
                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form08-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        malturul: '',
                        argaHemjeeNer: '',
                        ner: '',
                        zartsuulsanHemjee: '',
                        tolovlogoo: '',
                        guitsetgel: '',
                        huvi: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form08Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        aimag: '',
                        sum: '',
                        argaHemjeeNer: '',
                        ner: '',
                        zartsuulsanHemjee: '',
                        malturul: '',
                        tolovlogoo: '',
                        guitsetgel: '',
                        huvi: '',
                        recordDate: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 08 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getDataFromServer();

                this._getMalTurul();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 08 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm08Data',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.form08Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 08 Data
            },

            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: ccode}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //that.$.idCity.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.argaHemjeeNer", '');
                this.set("insertData.ner", '');
                this.set("insertData.zartsuulsanHemjee", '');
                this.set("insertData.malturul", '');
                this.set("insertData.tolovlogoo", '');
                this.set("insertData.guitsetgel", '');
                this.set("insertData.huvi", '');
                this.set("insertData.aimag", '');
                this.set("insertData.sum", '');
                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },

            /*
             Mal-n turul tatah
             */
            _getMalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idMalTurul.items = resp.result;
                            that.$.idMalTurulReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
             Clear hiih
             */
            _clear: function () {
                //this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idMalTurul.value = "";
                this.$.idArgaNer.value = "";
                this.$.idEmNer.value = "";
                this.$.idEmHemjee.value = "";
                this.$.idTuluvluguu.value = "";
                this.$.idGuitsetgel.value = "";
                this.$.idHuvi.value = "";
                window.location.reload();
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 08 Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm08Data',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 08 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idArgaNerReg.invalid = false;
                this.$.idEmNerReg.invalid = false;
                this.$.idZartsuulsanHemjeeReg.invalid = false;
                this.$.idMalTurulReg.invalid = false;
                this.$.idTuluvluguuReg.invalid = false;
                this.$.idGuitsetgelReg.invalid = false;
                this.$.idHuviReg.invalid = false;

                if (this.$.idArgaNerReg.value == undefined
                    || this.$.idArgaNerReg.value == null
                    || this.$.idArgaNerReg.value == '') {
                    this.$.idArgaNerReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idArgaNerReg.invalid = true;
                    isError = true;
                }

                if (this.$.idEmNerReg.value == undefined
                    || this.$.idEmNerReg.value == null
                    || this.$.idEmNerReg.value == '') {
                    this.$.idEmNerReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idEmNerReg.invalid = true;
                    isError = true;
                }

                if (this.$.idZartsuulsanHemjeeReg.value == undefined
                    || this.$.idZartsuulsanHemjeeReg.value == null
                    || this.$.idZartsuulsanHemjeeReg.value == '') {
                    this.$.idZartsuulsanHemjeeReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idZartsuulsanHemjeeReg.invalid = true;
                    isError = true;
                }

                if (this.$.idMalTurulReg.value == undefined
                    || this.$.idMalTurulReg.value == null
                    || this.$.idMalTurulReg.value == '') {
                    this.$.idMalTurulReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalTurulReg.invalid = true;
                    isError = true;
                }

                if (this.$.idTuluvluguuReg.value == undefined
                    || this.$.idTuluvluguuReg.value == null
                    || this.$.idTuluvluguuReg.value == '') {
                    this.$.idTuluvluguuReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTuluvluguuReg.invalid = true;

                    isError = true;
                }

                if (this.$.idGuitsetgelReg.value == undefined
                    || this.$.idGuitsetgelReg.value == null
                    || this.$.idGuitsetgelReg.value == '') {
                    this.$.idGuitsetgelReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idGuitsetgelReg.invalid = true;

                    isError = true;
                }

                if (this.$.idHuviReg.value == undefined
                    || this.$.idHuviReg.value == null
                    || this.$.idHuviReg.value == '') {
                    this.$.idHuviReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHuviReg.invalid = true;

                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.argaHemjeeNer", model.argaHemjeeNer);
                this.set("insertData.ner", model.ner);
                this.set("insertData.zartsuulsanHemjee", model.zartsuulsanHemjee);
                this.set("insertData.malturul", model.malturul);
                this.set("insertData.tolovlogoo", model.tolovlogoo);
                this.set("insertData.guitsetgel", model.guitsetgel);
                this.set("insertData.huvi", model.huvi);
                this.set("insertData.recordDate", model.recordDate);
                this.set("insertData.aimag", model.aimag);
                this.set("insertData.sum", model.sum);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            _persent: function () {

                var guitsetgel = this.$.idGuitsetgelReg.value;
                var tuluvluguu = this.$.idTuluvluguuReg.value;

                // Add them together and display
                var sum = (parseInt(guitsetgel) * 100) / parseInt(tuluvluguu);
                this.$.idHuviReg.value = sum;
            },

            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform08Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
