<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form43-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Эм бэлдмэл үйлдвэрлэлийн жилийн эцсийн мэдээ</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл"
                                              items="{{cityItem}}"
                                              value="{{ criteriaData.aimag }}" on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}" item-label-path="sumname"
                                          item-value-path="sumcode"></vaadin-combo-box>

                        <paper-input id="idAjahuinNegj" tabindex="1" class="half" required
                                     label="Аж ахуйн нэгж, байгууллагын нэр" value="{{ criteriaData.ajahuinNegj }}"
                                     item-label-path="name" item-value-path="id"></paper-input>

                        <vaadin-date-picker id="idTusgaiZovshoorol" tabindex="0"
                                            name="TusgaiZovshoorol"
                                            class="half"
                                            label="Тусгай зөвшөөрлийн огноо*"
                                            value="{{criteriaData.tusgaiZovshoorol}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <paper-input id="idEmBeldmelNer" tabindex="5" class="half" label="Эм, бэлдмэлийн нэр"
                                     value="{{criteriaData.emBeldmelNer}}" aria-disabled="false"></paper-input>

                        <paper-input id="idHemjihNegj" tabindex="5" class="half" label="Хэмжих нэгж"
                                     value="{{criteriaData.hemjihNegj}}" aria-disabled="false" type="Number"></paper-input>

                        <paper-input id="idUildverlesenToo" tabindex="5" class="half" label="Үйлдвэрлэсэн тоо хэмжээ"
                                     value="{{criteriaData.uildverlesenToo}}" aria-disabled="false" type="Number"></paper-input>

                        <paper-input id="idNegjUne" tabindex="5" class="half" label="Нэгжийн үнэ, төг"
                                     value="{{criteriaData.negjUne}}" aria-disabled="false" type="Number"></paper-input>

                        <paper-input id="idNiitUne" tabindex="5" class="half" label="Бүгд үнэ, мян.төг"
                                     value="{{criteriaData.niitUne}}" aria-disabled="false" type="Number"></paper-input>

                        <paper-input id="idParmakop" tabindex="5" class="half" label="Фармакопейн өгүүллийн дугаар"
                                     value="{{criteriaData.parmakop}}" aria-disabled="false" type="Number"></paper-input>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form43Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Аж ахуйн нэгж, байгууллагын нэр"
                                                property="ajahuinNegj" type="String" sortable
                                                tooltip="Аж ахуйн нэгж, байгууллагын нэр"></paper-datatable-column>
                        <paper-datatable-column header="Тусгай зөвшөөрлийн огноо" property="tusgaiZovshoorol"
                                                type="Date" sortable
                                                tooltip="Тусгай зөвшөөрлийн огноо"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Эм, бэлдмэлийн нэр" property="emBeldmelNer"
                                                type="String" sortable
                                                tooltip="Эм, бэлдмэлийн нэр"></paper-datatable-column>
                        <paper-datatable-column header="Хэмжих нэгж" property="hemjihNegj" type="String" sortable
                                                tooltip="Хэмжих нэгж"></paper-datatable-column>
                        <paper-datatable-column header="Үйлдвэрлэсэн тоо хэмжээ" property="uildverlesenToo"
                                                type="String" sortable
                                                tooltip="Үйлдвэрлэсэн тоо хэмжээ"></paper-datatable-column>
                        <paper-datatable-column header="Нэгжийн үнэ, төг" property="negjUne" type="String" sortable
                                                tooltip="Нэгжийн үнэ, төг"></paper-datatable-column>
                        <paper-datatable-column header="Бүгд үнэ, мян.төг" property="niitUne" type="String" sortable
                                                tooltip="Бүгд үнэ, мян.төг"></paper-datatable-column>

                        <paper-datatable-column header="Фармакопейн өгүүллийн дугаар" property="parmakop" type="String"
                                                sortable
                                                tooltip="Фармакопейн өгүүллийн дугаар"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>


                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>

                        <paper-input label="Аж ахуйн нэгж, байгууллагын нэр" name="AjahuinNegj" id="idAjahuinNegj"
                                     value="{{ insertData.ajahuinNegj }}" required maxlength="60"
                                     aria-disabled="false" class="half"></paper-input>

                        <vaadin-date-picker id="idTusgaiZovshoorol" tabindex="0"
                                            name="TusgaiZovshoorol"
                                            label="Тусгай зөвшөөрлийн огноо*"
                                            value="{{insertData.tusgaiZovshoorol}}"
                                            aria-disabled="false" class="half">
                        </vaadin-date-picker>

                        <paper-input id="idEmBeldmelNer" label="Эм, бэлдмэлийн нэр" name="EmBeldmelNer"
                                     value="{{ insertData.emBeldmelNer }}" maxlength="250" class="half"></paper-input>

                        <paper-input id="idHemjihNegj" name="HemjihNegj" label="Хэмжих нэгж"
                                     value="{{ insertData.hemjihNegj }}" type="String" class="half"></paper-input>

                        <paper-input id="idUildverlesenToo" name="UildverlesenToo" label="Үйлдвэрлэсэн тоо хэмжээ"
                                     value="{{ insertData.uildverlesenToo }}" item-label-path="name"
                                     item-value-path="id" type="Number" class="half"></paper-input>

                        <paper-input label="Нэгжийн үнэ, төг" name="NegjUne" id="idNegjUne" value="{{ insertData.negjUne }}"
                                     required maxlength="250" aria-disabled="false" type="Number" class="half"></paper-input>

                        <paper-input label="Бүгд үнэ, мян.төг" name="NiitUne" id="idNiitUne"
                                     value="{{ insertData.niitUne }}" required maxlength="250"
                                     aria-disabled="false" type="Number" class="half"></paper-input>

                        <paper-input label="Фармакопейн өгүүллийн дугаар" name="Parmakop" id="idParmakop"
                                     value="{{ insertData.parmakop }}" required maxlength="250"
                                     aria-disabled="false" type="Number" class="half"></paper-input>


                    <vaadin-date-picker id="idRecordDate" tabindex="0"
                                        name="recordDate"
                                        label="Бичлэг огноо*"
                                        value="{{insertData.recordDate}}"
                                        aria-disabled="false" class="half">
                    </vaadin-date-picker>

                    </fieldset>
                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form43-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        ajahuinNegj: '',
                        emBeldmelNer: '',
                        hemjihNegj: '',
                        uildverlesenToo: '',
                        negjUne: '',
                        niitUne: '',
                        recordDate: '',
                        searchRecordDate: '',
                        parmakop: '',
                        tusgaiZovshoorol: ''
                    }
                },
                form43Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        ajahuinNegj: '',
                        emBeldmelNer: '',
                        hemjihNegj: '',
                        uildverlesenToo: '',
                        negjUne: '',
                        niitUne: '',
                        recordDate: '',
                        tusgaiZovshoorol: '',
                        parmakop: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 43 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getDataFromServer();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 43 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm43Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.form43Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 43 Data
            },
            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: ccode}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            that.$.idCity.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idAjahuinNegj.value = "";
                this.$.idEmBeldmelNer.value = "";
                this.$.idHemjihNegj.value = "";
                this.$.idUildverlesenToo.value = "";
                this.$.idNegjUne.value = "";
                this.$.idNiitUne.value = "";
                this.$.idTusgaiZovshoorol.value = "";
                this.$.idParmakop.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 43 Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm43Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 43 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idAjahuinNegj.invalid = false;
                this.$.idEmBeldmelNer.invalid = false;
                this.$.idHemjihNegj.invalid = false;
                this.$.idUildverlesenToo.invalid = false;
                this.$.idNegjUne.invalid = false;
                this.$.idTusgaiZovshoorol.invalid = false;
                this.$.idParmakop.invalid = false;

                if (this.$.idTusgaiZovshoorol.value == undefined
                    || this.$.idTusgaiZovshoorol.value == null
                    || this.$.idTusgaiZovshoorol.value == '') {
                    this.$.idTusgaiZovshoorol.errorMessage = 'Утга оруулана уу...';
                    this.$.idTusgaiZovshoorol.invalid = true;
                    isError = true;
                }

                if (this.$.idParmakop.value == undefined
                    || this.$.idParmakop.value == null
                    || this.$.idParmakop.value == '') {
                    this.$.idParmakop.errorMessage = 'Утга оруулана уу...';
                    this.$.idParmakop.invalid = true;
                    isError = true;
                }

                if (this.$.idAjahuinNegj.value == undefined
                    || this.$.idAjahuinNegj.value == null
                    || this.$.idAjahuinNegj.value == '') {
                    this.$.idAjahuinNegj.errorMessage = 'Утга оруулана уу...';
                    this.$.idAjahuinNegj.invalid = true;
                    isError = true;
                }
//
                if (this.$.idEmBeldmelNer.value == undefined
                    || this.$.idEmBeldmelNer.value == null
                    || this.$.idEmBeldmelNer.value == '') {
                    this.$.idEmBeldmelNer.errorMessage = 'Утга оруулана уу...';
                    this.$.idEmBeldmelNer.invalid = true;
                    isError = true;
                }
//
                if (this.$.idHemjihNegj.value == undefined
                    || this.$.idHemjihNegj.value == null
                    || this.$.idHemjihNegj.value == '') {
                    this.$.idHemjihNegj.errorMessage = 'Утга оруулана уу...';
                    this.$.idHemjihNegj.invalid = true;
                    isError = true;
                }
//
                if (this.$.idUildverlesenToo.value == undefined
                    || this.$.idUildverlesenToo.value == null
                    || this.$.idUildverlesenToo.value == '') {
                    this.$.idUildverlesenToo.errorMessage = 'Утга оруулана уу...';
                    this.$.idUildverlesenToo.invalid = true;
                    isError = true;
                }
//
                if (this.$.idNegjUne.value == undefined
                    || this.$.idNegjUne.value == null
                    || this.$.idNegjUne.value == '') {
                    this.$.idNegjUne.errorMessage = 'Утга оруулана уу...';
                    this.$.idNegjUne.invalid = true;

                    isError = true;
                }
//
                if (this.$.idNiitUne.value == undefined
                    || this.$.idNiitUne.value == null
                    || this.$.idNiitUne.value == '') {
                    this.$.idNiitUne.errorMessage = 'Утга оруулана уу...';
                    this.$.idNiitUne.invalid = true;

                    isError = true;
                }
                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.ajahuinNegj", model.ajahuinNegj);
                this.set("insertData.emBeldmelNer", model.emBeldmelNer);
                this.set("insertData.hemjihNegj", model.hemjihNegj);
                this.set("insertData.uildverlesenToo", model.uildverlesenToo);
                this.set("insertData.negjUne", model.negjUne);
                this.set("insertData.niitUne", model.niitUne);

                this.set("insertData.tusgaiZovshoorol", model.tusgaiZovshoorol);
                this.set("insertData.parmakop", model.parmakop);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function () {
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform43Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 43 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
