<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form62-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Мал эмнэлгийн үйлчилгээний нэгжийн хагас жил, жилийн мэдээ</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                        <vaadin-combo-box id="idCity" tabindex="0" class="half"
                                          label="Аймаг, нийслэл" items="{{cityItem}}"
                                          value="{{ criteriaData.aimag }}"
                                          on-value-changed="_getSumData"
                                          item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                    </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                        <paper-input id="idAjahuinner" tabindex="5" class="half" label="Аж ахуйн нэгжийн нэр"
                                     value="{{criteriaData.ajahuinner}}" aria-disabled="false"></paper-input>

                        <paper-input id="idEzenner" tabindex="1" class="half" required label="Эзний нэр"
                                     value="{{ criteriaData.ezenner }}" item-label-path="name"
                                     item-value-path="id"></paper-input>


                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin-top: 15px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form62Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Сумын нэр" property="sumname" type="String" sortable
                                                tooltip="Сумын нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Аж ахуйн нэгжийн нэр" property="ajahuinner"
                                                type="String" sortable
                                                tooltip="Аж ахуйн нэгжийн нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="3" header="Эзний нэр" property="ezenner" type="String"
                                                sortable tooltip="Эзний нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="3" header="Эзний мэргэжил" property="mergejil" type="String"
                                                sortable tooltip="Эзний мэргэжил"></paper-datatable-column>

                        <paper-datatable-column header="Их эмч" property="ihEmch" type="String" sortable
                                                tooltip="Их эмч"></paper-datatable-column>

                        <paper-datatable-column header="Бага эмч" property="bagaEmch" type="String" sortable
                                                tooltip="Бага эмч"></paper-datatable-column>

                        <paper-datatable-column header="Мал зүйч" property="malZuich" type="String" sortable
                                                tooltip="Мал зүйч"></paper-datatable-column>

                        <paper-datatable-column header="Өрхийн тоо" property="orhToo" type="String" sortable
                                                tooltip="Өрхийн тоо"></paper-datatable-column>

                        <paper-datatable-column header="Малын тоо" property="malToo" type="String" sortable
                                                tooltip="Малын тоо"></paper-datatable-column>


                        <paper-datatable-column header="Нэг нэгжид оногдох малын тоо" property="negjMalToo"
                                                type="String" sortable
                                                tooltip="Нэг нэгжид оногдох малын тоо"></paper-datatable-column>

                        <paper-datatable-column header="Нэг мэргэжилтэнд оногдох малын тоо" property="mergejiltenMalToo"
                                                type="String" sortable
                                                tooltip="Нэг мэргэжилтэнд оногдох малын тоо"></paper-datatable-column>

                        <paper-datatable-column header="Байр" property="bair" type="String" sortable
                                                tooltip="Байр"></paper-datatable-column>

                        <paper-datatable-column header="Унаа" property="unaa" type="String" sortable
                                                tooltip="Унаа"></paper-datatable-column>

                        <paper-datatable-column header="Үнэлгээ" property="onts_Sain" type="String" sortable
                                                tooltip="Үнэлгээ"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>


                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ insertData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                        </template>

                        <vaadin-combo-box id="idSumReg" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ insertData.sum }}"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>
                        <paper-tooltip for="idSumReg" offset="0">Сум, дүүрэг</paper-tooltip>
                        <paper-input label="Аж ахуйн нэгжийн нэр*" name="AjahuinnerReg" id="idAjahuinnerReg"
                                     value="{{ insertData.ajahuinner }}" required maxlength="60" class="half"
                                     aria-disabled="false"></paper-input>

                        <paper-input id="idEzennerReg" label="Эзний нэр" name="EzennerReg" value="{{ insertData.ezenner }}" class="half"
                                     maxlength="250"></paper-input>

                        <paper-input id="idMergejilReg" label="Эзний мэргэжил" name="MergejilReg" class="half"
                                     value="{{ insertData.mergejil }}" maxlength="250"></paper-input>
                    </fieldset>

                    <fieldset>
                        <legend>Үзүүлэлтүүд:</legend>
                        <paper-input id="idIhEmchReg" name="IhEmchReg" type="Number" label="Их эмч" class="half"
                                     value="{{ insertData.ihEmch }}"></paper-input>

                        <paper-input id="idBagaEmchReg" name="BagaEmchReg" type="Number" label="Бага эмч" class="half"
                                     value="{{ insertData.bagaEmch }}" item-label-path="name"
                                     item-value-path="id"></paper-input>

                        <paper-input label="Мал зүйч" name="MalZuichReg" id="idMalZuichReg" type="Number" class="half"
                                     value="{{ insertData.malZuich }}" required maxlength="250"
                                     aria-disabled="false"></paper-input>

                        <paper-input label="Өрхийн тоо" name="OrhTooReg" id="idOrhTooReg" type="Number"
                                     value="{{ insertData.orhToo }}" class="half"
                                     required maxlength="250" aria-disabled="false"></paper-input>

                        <paper-input label="Малын тоо" name="MalTooReg" id="idMalTooReg" class="half" type="Number" on-change="_negNegjMalToo"
                                     value="{{ insertData.malToo }}"
                                     aria-disabled="false"></paper-input>

                        <paper-input id="idNegjMalTooReg" name="NegjMalTooReg" class="half" type="Number"
                                     label="Нэг нэгжид оногдох малын тоо"
                                     value="{{ insertData.negjMalToo }}"></paper-input>

                        <paper-input id="idMergejiltenMalTooReg" name="MergejiltenMalTooReg" class="half" type="Number" disabled
                                     label="Нэг мэргэжилтэнд оногдох малын тоо" value="{{ insertData.mergejiltenMalToo }}"
                                     item-label-path="name" item-value-path="id"></paper-input>

                        <paper-input label="Байр" name="BairReg" id="idBairReg" class="half" type="Number"
                                     value="{{ insertData.bair }}" required
                                     maxlength="250" aria-disabled="false"></paper-input>

                        <paper-input label="Унаа" name="UnaaReg" id="idUnaaReg" class="half" type="Number"
                                     value="{{ insertData.unaa }}" required
                                     maxlength="250" aria-disabled="false"></paper-input>
                    </fieldset>

                    <fieldset>
                        <legend>Дүгнэгдсэн байдал:</legend>
                        <vaadin-combo-box id="idOntsSainReg" class="half" name="OntsSainReg" label="Үнэлгээ"
                                          value="{{ insertData.ontsSain }}" item-label-path="name"
                                          item-value-path="id"></vaadin-combo-box>

                        <!--<vaadin-combo-box id="idSainReg" class="half" name="SainReg" label="Сайн"-->
                                          <!--value="{{ insertData.sain }}" item-label-path="name"-->
                                          <!--item-value-path="id"></vaadin-combo-box>-->

                        <!--<vaadin-combo-box id="idDundReg" class="half" name="DundReg" label="Дунд"-->
                                          <!--value="{{ insertData.dund }}" item-label-path="name"-->
                                          <!--item-value-path="id"></vaadin-combo-box>-->

                        <!--<vaadin-combo-box id="idHangaltguiReg" class="half" name="HangaltguiReg" label="Хангалтгүй"-->
                                          <!--value="{{ insertData.hangaltgui }}" item-label-path="name"-->
                                          <!--item-value-path="id"></vaadin-combo-box>-->

                    </fieldset>
                    <vaadin-date-picker id="idRecordDate" tabindex="0"
                                        name="recordDate"
                                        label="Бичлэг огноо*"
                                        value="{{insertData.recordDate}}"
                                        aria-disabled="false" class="half">
                    </vaadin-date-picker>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form62-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        ajahuinner: '',
                        ezenner: '',
                        mergejil: '',
                        ihEmch: '',
                        bagaEmch: '',
                        malZuich: '',
                        orhToo: '',
                        malToo: '',
                        negjMalToo: '',
                        mergejiltenMalToo: '',
                        bair: '',
                        unaa: '',
                        ontsSain: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form62Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        aimag:'',
                        sum: '',
                        ajahuinner: '',
                        ezenner: '',
                        mergejil: '',
                        ihEmch: '',
                        bagaEmch: '',
                        malZuich: '',
                        orhToo: '',
                        malToo: '',
                        negjMalToo: '',
                        mergejiltenMalToo: '',
                        bair: '',
                        unaa: '',
                        ontsSain: '',
                        recordDate: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 62 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0'+(date.getMonth() + 1):(date.getMonth() + 1)) +'-' +
                    ((date.getDate() < 10) ? '0'+date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0'+(date.getMonth() + 1):(date.getMonth() + 1)) +'-' +
                    ((date.getDate() < 10) ? '0'+date.getDate() : date.getDate());;

                this._getDataFromServer();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }

                this._getmalTurul();

                this._getUnelgee();
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 62 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm62Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that.form62Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 62 Data
            },

            _getUnelgee: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["RES", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            //console.log(resp.result);
                            that.$.idOntsSainReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: ccode}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**

            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            that.$.idCity.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**

             /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },

            /*
             Mal-n turul tatah
             */
            _getmalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            console.log("MAL turul");
//                            console.log(resp.result);
                            that.$.idmalTurul.items = resp.result;
                            that.$.idmalTurulReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idAjahuinner.value = "";
                this.$.idEzenner.value = "";
                this.$.idMergejil.value = "";
                this.$.idIhEmch.value = "";
                this.$.idBagaEmch.value = "";
                this.$.idMalZuich.value = "";
                this.$.idOrhToo.value = "";

                this.$.idMalToo.value = "";
                this.$.idNegjMalToo.value = "";
                this.$.idMergejiltenMalToo.value = "";
                this.$.idBair.value = "";
                this.$.idUnaa.value = "";
                this.$.idOntsSain.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 62 Data
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm62Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 62 Data
            },

            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idAjahuinnerReg.invalid = false;
                this.$.idEzennerReg.invalid = false;
                this.$.idMergejilReg.invalid = false;
                this.$.idIhEmchReg.invalid = false;
                this.$.idBagaEmchReg.invalid = false;
                this.$.idMalZuichReg.invalid = false;
                this.$.idOrhTooReg.invalid = false;


                this.$.idMalTooReg.invalid = false;
                this.$.idNegjMalTooReg.invalid = false;
                this.$.idMergejiltenMalTooReg.invalid = false;
                this.$.idBairReg.invalid = false;
                this.$.idUnaaReg.invalid = false;
                this.$.idOntsSainReg.invalid = false;
//
                if (this.$.idAjahuinnerReg.value == undefined
                    || this.$.idAjahuinnerReg.value == null
                    || this.$.idAjahuinnerReg.value == '') {
                    this.$.idAjahuinnerReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idAjahuinnerReg.invalid = true;
                    isError = true;
                }
//
                if (this.$.idEzennerReg.value == undefined
                    || this.$.idEzennerReg.value == null
                    || this.$.idEzennerReg.value == '') {
                    this.$.idEzennerReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idEzennerReg.invalid = true;
                    isError = true;
                }
//
                if (this.$.idMergejilReg.value == undefined
                    || this.$.idMergejilReg.value == null
                    || this.$.idMergejilReg.value == '') {
                    this.$.idMergejilReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMergejilReg.invalid = true;
                    isError = true;
                }
////
                if (this.$.idIhEmchReg.value == undefined
                    || this.$.idIhEmchReg.value == null
                    || this.$.idIhEmchReg.value == '') {
                    this.$.idIhEmchReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idIhEmchReg.invalid = true;
                    isError = true;
                }
////
                if (this.$.idBagaEmchReg.value == undefined
                    || this.$.idBagaEmchReg.value == null
                    || this.$.idBagaEmchReg.value == '') {
                    this.$.idBagaEmchReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBagaEmchReg.invalid = true;

                    isError = true;
                }
//
                if (this.$.idMalZuichReg.value == undefined
                    || this.$.idMalZuichReg.value == null
                    || this.$.idMalZuichReg.value == '') {
                    this.$.idMalZuichReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalZuichReg.invalid = true;

                    isError = true;
                }
//
                if (this.$.idOrhTooReg.value == undefined
                    || this.$.idOrhTooReg.value == null
                    || this.$.idOrhTooReg.value == '') {
                    this.$.idOrhTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idOrhTooReg.invalid = true;

                    isError = true;
                }


                if (this.$.idMalTooReg.value == undefined
                    || this.$.idMalTooReg.value == null
                    || this.$.idMalTooReg.value == '') {
                    this.$.idMalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idNegjMalTooReg.value == undefined
                    || this.$.idNegjMalTooReg.value == null
                    || this.$.idNegjMalTooReg.value == '') {
                    this.$.idNegjMalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idNegjMalTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idMergejiltenMalTooReg.value == undefined
                    || this.$.idMergejiltenMalTooReg.value == null
                    || this.$.idMergejiltenMalTooReg.value == '') {
                    this.$.idMergejiltenMalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMergejiltenMalTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idBairReg.value == undefined
                    || this.$.idBairReg.value == null
                    || this.$.idBairReg.value == '') {
                    this.$.idBairReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBairReg.invalid = true;

                    isError = true;
                }

                if (this.$.idUnaaReg.value == undefined
                    || this.$.idUnaaReg.value == null
                    || this.$.idUnaaReg.value == '') {
                    this.$.idUnaaReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idUnaaReg.invalid = true;

                    isError = true;
                }


                if (this.$.idOntsSainReg.value == undefined
                    || this.$.idOntsSainReg.value == null
                    || this.$.idOntsSainReg.value == '') {
                    this.$.idOntsSainReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idOntsSainReg.invalid = true;

                    isError = true;
                }
                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.aimag", model.aimag);
                this.set("insertData.sum", model.sum);
                this.set("insertData.ajahuinner", model.ajahuinner);
                this.set("insertData.ezenner", model.ezenner);
                this.set("insertData.mergejil", model.mergejil);
                this.set("insertData.ihEmch", model.ihEmch);
                this.set("insertData.bagaEmch", model.bagaEmch);
                this.set("insertData.malZuich", model.malZuich);
                this.set("insertData.orhToo", model.orhToo);


                this.set("insertData.malToo", model.malToo);
                this.set("insertData.negjMalToo", model.negjMalToo);
                this.set("insertData.mergejiltenMalToo", model.mergejiltenMalToo);
                this.set("insertData.bair", model.bair);
                this.set("insertData.unaa", model.unaa);
                this.set("insertData.ontsSain", model.ontsSain);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            _negNegjMalToo: function () {

                var IhEmchReg = this.$.idIhEmchReg.value;
                var BagaEmchReg = this.$.idBagaEmchReg.value;
                var MalTooReg = this.$.idMalTooReg.value;
                // Add them together and display
                var MergejiltenMalTooReg = (parseFloat(MalTooReg))/(parseFloat(IhEmchReg)+parseFloat(BagaEmchReg));
//                alert("asd"+MergejiltenMalTooReg);
                this.$.idMergejiltenMalTooReg.value = MergejiltenMalTooReg;
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform62Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
