<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form46-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }

            fieldset {
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Үхрийн арьсны гуурын мэдээ хагас жилээр</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ criteriaData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                        <vaadin-combo-box id="idBagCmb" tabindex="0" class="half" label="Багийн нэр"
                                          value="{{ criteriaData.bagHorooNer_mn }}" item-label-path="horooname"
                                          item-value-path="horoocode"></vaadin-combo-box>










                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form46Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Баг хорооны нэр" property="baghorooname"
                                                type="String" sortable
                                                tooltip="Баг хорооны нэр"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Бүх үхрийн тоо - Бүгд" property="uherNiitToo_mn"
                                                type="String" sortable
                                                tooltip="Бүх үхрийн тоо - Бүгд"></paper-datatable-column>
                        <paper-datatable-column header="Бүх үхрийн тоо - Тугал, бяруу" property="tugalToo_mn"
                                                type="String" sortable
                                                tooltip="Бүх үхрийн тоо - Тугал, бяруу"></paper-datatable-column>
                        <paper-datatable-column header="Бүх үхрийн тоо - Бусад насны" property="busadToo_mn"
                                                type="String" sortable
                                                tooltip="Бүх үхрийн тоо - Бусад насны"></paper-datatable-column>
                        <paper-datatable-column header="Үүнээс гууртай - Бүгд" property="guurtaiNiitToo_mn"
                                                type="String" sortable
                                                tooltip="Үүнээс гууртай - Бүгд"></paper-datatable-column>
                        <paper-datatable-column header="Үүнээс гууртай - Тугал, бяруу" property="guurtaiTugalToo_mn"
                                                type="String" sortable
                                                tooltip="Үүнээс гууртай - Тугал, бяруу"></paper-datatable-column>
                        <paper-datatable-column header="Үүнээс гууртай - Бусад насны" property="guurtaiBusadToo_mn"
                                                type="String" sortable
                                                tooltip="Үүнээс гууртай - Бусад насны"></paper-datatable-column>
                        <paper-datatable-column header="Гуурталтын хувь - Дундаж" property="dundajHuvi_mn" type="String"
                                                sortable tooltip="Гуурталтын хувь - Дундаж"></paper-datatable-column>
                        <paper-datatable-column header="Гуурталтын хувь - Тугал, бяруу" property="tugalHuvi_mn"
                                                type="String" sortable
                                                tooltip="Гуурталтын хувь - Тугал, бяруу"></paper-datatable-column>
                        <paper-datatable-column header="Гуурталтын хувь - Бусад насны" property="busadHuvi_mn"
                                                type="String" sortable
                                                tooltip="Гуурталтын хувь - Бусад насны"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <template is="dom-if" if="{{isShowCity}}">
                        <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                          label="Аймаг, нийслэл" items="{{cityItem}}"
                                          value="{{ insertData.aimag }}"
                                          on-value-changed="_getSumData"
                                          item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                    </template>

                    <vaadin-combo-box id="idSumReg" tabindex="0" class="half"
                                      label="Сум, дүүрэг"
                                      value="{{ insertData.sum }}"
                                      on-value-changed="_getBagHorooData"
                                      item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                    <vaadin-combo-box id="idBagHorooNerReg" tabindex="0" class="half"
                                      label="Багийн нэр"
                                      value="{{ insertData.bagHorooNer_mn }}"
                                      item-label-path="horooname" item-value-path="horoocode"></vaadin-combo-box>
                    <fieldset>
                        <legend>Бүх үхрийн тоо:</legend>
                        <paper-input id="idTugalTooReg" label="Тугал, бяруу" name="tugalTooReg"
                                     value="{{ insertData.tugalToo_mn }}" maxlength="250" class="half" on-change="_guurSum"
                                     type="Number"></paper-input>

                        <paper-input id="idBusadTooReg" namme="busadTooReg" label="Бусад насны" on-change="_guurSum"
                                     value="{{ insertData.busadToo_mn }}" class="half" type="Number"></paper-input>

                        <paper-input id="idUherNiitTooReg" label="Бүгд" name="uherNiitTooReg" disabled
                                     value="{{ insertData.uherNiitToo_mn }}" maxlength="250" class="half"
                                     type="Number"></paper-input>

                    </fieldset>

                    <fieldset>
                        <legend>Үүнээс гууртай:</legend>

                        <paper-input label="Тугал, бяруу" name="guurtaiTugalTooReg" id="idGuurtaiTugalTooReg"
                                     value="{{ insertData.guurtaiTugalToo_mn }}"
                                     aria-disabled="false" class="half" type="Number" on-change="_guurSum"></paper-input>

                        <paper-input label="Бусад насны" name="guurtaiBusadToo" id="idGuurtaiBusadTooReg" on-change="_guurSum"
                                     value="{{ insertData.guurtaiBusadToo_mn }}" aria-disabled="false" class="half"
                                     type="Number"></paper-input>

                        <paper-input label="Бүгд" name="guurtaiNiitTooReg" id="idGuurtaiNiitTooReg" disabled
                                     value="{{ insertData.guurtaiNiitToo_mn }}"
                                     aria-disabled="false" class="half" type="Number"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Гуурталтын хувь:</legend>
                        <paper-input label="Тугал, бяруу" name="tugalHuviReg" id="idTugalHuviReg" disabled
                                     value="{{ insertData.tugalHuvi_mn }}" aria-disabled="false" class="half"
                                     type="Number"></paper-input>

                        <paper-input label="Бусад насны" name="busadHuviReg" id="idBusadHuviReg" disabled
                                     value="{{ insertData.busadHuvi_mn }}" aria-disabled="false" class="half"
                                     type="Number"></paper-input>

                        <paper-input label="Дундаж" name="dundajHuviReg" id="idDundajHuviReg" disabled
                                     value="{{ insertData.dundajHuvi_mn }}" aria-disabled="false" class="half"
                                     type="Number"></paper-input>

                    </fieldset>

                    <vaadin-date-picker id="idRecordDate" tabindex="0"
                                        name="recordDate"
                                        label="Бичлэг огноо*"
                                        value="{{insertData.recordDate}}"
                                        aria-disabled="false" class="half">
                    </vaadin-date-picker>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form46-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        bagHorooNer_mn: '',
                        uherNiitToo_mn: '',
                        tugalToo_mn: '',
                        busadToo_mn: '',
                        guurtaiNiitToo_mn: '',
                        guurtaiTugalToo_mn: '',
                        guurtaiBusadToo_mn: '',
                        dundajHuvi_mn: '',
                        tugalHuvi_mn: '',
                        busadHuvi_mn: '',
                        recordDate: '',
                        searchRecordDate: ''
                    }
                },
                form46Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        bagHorooNer_mn: '',
                        uherNiitToo_mn: '',
                        tugalToo_mn: '',
                        busadToo_mn: '',
                        guurtaiNiitToo_mn: '',
                        guurtaiTugalToo_mn: '',
                        guurtaiBusadToo_mn: '',
                        dundajHuvi_mn: '',
                        tugalHuvi_mn: '',
                        busadHuvi_mn: '',
                        recordDate: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 46 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());


                this._getDataFromServer();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 46 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm46Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.form46Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 46 Data
            },

            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : ccode}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            that.$.idCity.items = resp.result;
//                            that.$.idCityReg.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },
            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch bag, horoo
             * */
            _getBagHorooData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagHorooData',
                    params: [{sumcode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {

                            that.$.idBagHorooNerReg.items = resp.result;
                            that.$.idBagCmb.items = resp.result;
//                            that.$.idBagHorooNer.items = resp.result;
//                            that.$.idBagHorooNerReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.bagHorooNer_mn", '');
                this.set("insertData.uherNiitToo_mn", '');
                this.set("insertData.tugalToo_mn", '');
                this.set("insertData.busadToo_mn", '');
                this.set("insertData.guurtaiNiitToo_mn", '');
                this.set("insertData.guurtaiTugalToo_mn", '');
                this.set("insertData.guurtaiBusadToo_mn", '');
                this.set("insertData.dundajHuvi_mn", '');
                this.set("insertData.tugalHuvi_mn", '');
                this.set("insertData.busadHuvi_mn", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idBagHorooNer.value = "";
                this.$.idUherNiitToo.value = "";
                this.$.idEmHemjee.value = "";
                this.$.idGuurtaiNiitToo.value = "";
                this.$.idGuurtaiTugalToo.value = "";
                this.$.idGuurtaiBusadToo.value = "";
                this.$.idDundajHuvi.value = "";
                this.$.idTugalHuvi.value = "";
                this.$.idBusadHuvi.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 46 Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm46Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 46 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idBagHorooNerReg.invalid = false;
                this.$.idUherNiitTooReg.invalid = false;
                this.$.idTugalTooReg.invalid = false;
                this.$.idBusadTooReg.invalid = false;
                this.$.idGuurtaiNiitTooReg.invalid = false;
                this.$.idGuurtaiTugalTooReg.invalid = false;
                this.$.idGuurtaiBusadTooReg.invalid = false;
                this.$.idDundajHuviReg.invalid = false;
                this.$.idTugalHuviReg.invalid = false;
                this.$.idBusadHuviReg.invalid = false;

                if (this.$.idBagHorooNerReg.value == undefined
                    || this.$.idBagHorooNerReg.value == null
                    || this.$.idBagHorooNerReg.value == '') {
                    this.$.idBagHorooNerReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBagHorooNerReg.invalid = true;
                    isError = true;
                }

                if (this.$.idUherNiitTooReg.value == undefined
                    || this.$.idUherNiitTooReg.value == null
                    || this.$.idUherNiitTooReg.value == '') {
                    this.$.idUherNiitTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idUherNiitTooReg.invalid = true;
                    isError = true;
                }

                if (this.$.idTugalTooReg.value == undefined
                    || this.$.idTugalTooReg.value == null
                    || this.$.idTugalTooReg.value == '') {
                    this.$.idTugalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTugalTooReg.invalid = true;
                    isError = true;
                }

                if (this.$.idBusadTooReg.value == undefined
                    || this.$.idBusadTooReg.value == null
                    || this.$.idBusadTooReg.value == '') {
                    this.$.idBusadTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBusadTooReg.invalid = true;
                    isError = true;
                }

                if (this.$.idGuurtaiNiitTooReg.value == undefined
                    || this.$.idGuurtaiNiitTooReg.value == null
                    || this.$.idGuurtaiNiitTooReg.value == '') {
                    this.$.idGuurtaiNiitTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idGuurtaiNiitTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idGuurtaiTugalTooReg.value == undefined
                    || this.$.idGuurtaiTugalTooReg.value == null
                    || this.$.idGuurtaiTugalTooReg.value == '') {
                    this.$.idGuurtaiTugalTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idGuurtaiTugalTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idGuurtaiBusadTooReg.value == undefined
                    || this.$.idGuurtaiBusadTooReg.value == null
                    || this.$.idGuurtaiBusadTooReg.value == '') {
                    this.$.idGuurtaiBusadTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idGuurtaiBusadTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idDundajHuviReg.value == undefined
                    || this.$.idDundajHuviReg.value == null
                    || this.$.idDundajHuviReg.value == '') {
                    this.$.idDundajHuviReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idDundajHuviReg.invalid = true;

                    isError = true;
                }

                if (this.$.idTugalHuviReg.value == undefined
                    || this.$.idTugalHuviReg.value == null
                    || this.$.idTugalHuviReg.value == '') {
                    this.$.idTugalHuviReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTugalHuviReg.invalid = true;

                    isError = true;
                }

                if (this.$.idBusadHuviReg.value == undefined
                    || this.$.idBusadHuviReg.value == null
                    || this.$.idBusadHuviReg.value == '') {
                    this.$.idBusadHuviReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBusadHuviReg.invalid = true;

                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.bagHorooNer_mn", model.bagHorooNer_mn);
                this.set("insertData.uherNiitToo_mn", model.uherNiitToo_mn);
                this.set("insertData.tugalToo_mn", model.tugalToo_mn);
                this.set("insertData.busadToo_mn", model.busadToo_mn);
                this.set("insertData.guurtaiNiitToo_mn", model.guurtaiNiitToo_mn);
                this.set("insertData.guurtaiTugalToo_mn", model.guurtaiTugalToo_mn);
                this.set("insertData.guurtaiBusadToo_mn", model.guurtaiBusadToo_mn);
                this.set("insertData.dundajHuvi_mn", model.dundajHuvi_mn);
                this.set("insertData.tugalHuvi_mn", model.tugalHuvi_mn);
                this.set("insertData.busadHuvi_mn", model.busadHuvi_mn);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }

                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform46Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 46 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            },
//            _uherSum: function () {
//
//                var TugalTooReg = this.$.idTugalTooReg.value;
//                var BusadTooReg = this.$.idBusadTooReg.value;
//                // Add them together and display
//                var UherNiitTooReg = (parseInt(TugalTooReg)+parseInt(BusadTooReg));
//                this.$.idUherNiitTooReg.value = parseInt(UherNiitTooReg);
//            },
            _guurSum: function () {

                var guurtaiTugalTooReg = this.$.idGuurtaiTugalTooReg.value;
                var GuurtaiBusadTooReg = this.$.idGuurtaiBusadTooReg.value;
                var GuurtaiNiitTooReg = (parseInt(guurtaiTugalTooReg)+parseInt(GuurtaiBusadTooReg));
                this.$.idGuurtaiNiitTooReg.value = parseInt(GuurtaiNiitTooReg);
                var TugalTooReg = this.$.idTugalTooReg.value;
                var BusadTooReg = this.$.idBusadTooReg.value;
                // Add them together and display
                var UherNiitTooReg = (parseInt(TugalTooReg)+parseInt(BusadTooReg));
                this.$.idUherNiitTooReg.value = parseInt(UherNiitTooReg);
                this.$.idTugalHuviReg.value=(parseFloat(this.$.idGuurtaiTugalTooReg.value*100))/parseFloat(this.$.idTugalTooReg.value)
                this.$.idBusadHuviReg.value=(parseFloat(this.$.idGuurtaiBusadTooReg.value*100))/parseFloat(this.$.idBusadTooReg.value)
                this.$.idDundajHuviReg.value=(parseFloat(this.$.idGuurtaiNiitTooReg.value*100))/parseFloat(this.$.idUherNiitTooReg.value)
            }
        });
    </script>

</dom-module>
