<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form61-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.61), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }

            fieldset {
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Мал эмнэлгийн ариутгал халдваргүйтгэлийн улирал, жилийн мэдээ</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ criteriaData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="1" class="half" required label="Сум, дүүрэг"
                                          value="{{ criteriaData.sum }}" item-label-path="sumname"
                                          item-value-path="sumcode"></vaadin-combo-box>
                        <fieldset>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.recordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin-top: 15px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form61Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>

                        <paper-datatable-column tabindex="2" header="Сумын нэр" property="sumname" type="String"
                                                sortable
                                                tooltip="Сумын нэр"></paper-datatable-column>

                        <paper-datatable-column tabindex="3" header="Зоорь агуулах (Тоо хэмжээ, ширхэг)"
                                                property="zooriToo" type="String" sortable
                                                tooltip="Зоорь агуулах (Тоо хэмжээ, ширхэг)"></paper-datatable-column>

                        <paper-datatable-column header="Зоорь агуулах (Талбай м^2)" property="zooriTalbai" type="String"
                                                sortable tooltip="Зоорь агуулах (Талбай м^2)"></paper-datatable-column>

                        <paper-datatable-column header="Малын хашаа хороо (Тоо хэмжээ, ширхэг)" property="malHaashaaToo"
                                                type="String" sortable
                                                tooltip="Малын хашаа хороо (Тоо хэмжээ, ширхэг)"></paper-datatable-column>

                        <paper-datatable-column header="Малын хашаа хороо (Талбай м^2)" property="malHaashaaTalbai"
                                                type="String" sortable
                                                tooltip="Малын хашаа хороо (Талбай м^2)"></paper-datatable-column>

                        <paper-datatable-column header="Худаг, уст цэг (Тоо хэмжээ, ширхэг)" property="hudagToo"
                                                type="String" sortable
                                                tooltip="Худаг, уст цэг (Тоо хэмжээ, ширхэг)"></paper-datatable-column>

                        <paper-datatable-column header="Худаг, уст цэг (Талбай м^2)" property="hudagHemjee"
                                                type="String" sortable
                                                tooltip="Худаг, уст цэг (Талбай м^2)"></paper-datatable-column>


                        <paper-datatable-column header="Тэжээлийн агуулах (Тоо хэмжээ, ширхэг)" property="tejAguuToo"
                                                type="String" sortable
                                                tooltip="Тэжээлийн агуулах (Тоо хэмжээ, ширхэг)"></paper-datatable-column>

                        <paper-datatable-column header="Тэжээлийн агуулах (Талбай м^2)" property="tejAguuTalbai"
                                                type="String" sortable
                                                tooltip="Тэжээлийн агуулах (Талбай м^2)"></paper-datatable-column>

                        <paper-datatable-column header="Түүхий эд бүтээгдэхүүн хадгалах цэг (Тоо хэмжээ, ширхэг)"
                                                property="tuuhiiEdHadToo" type="String" sortable
                                                tooltip="Түүхий эд бүтээгдэхүүн хадгалах цэг (Тоо хэмжээ, ширхэг)"></paper-datatable-column>

                        <paper-datatable-column header="Түүхий эд бүтээгдэхүүн хадгалах цэг (Талбай м^2)"
                                                property="tuuhiiEdHadHemjee" type="String" sortable
                                                tooltip="Түүхий эд бүтээгдэхүүн хадгалах цэг (Талбай м^2)"></paper-datatable-column>


                        <paper-datatable-column header="Мал амьтдын тоног хэрэгсэл ширхэг" property="malTonogHergsel"
                                                type="String" sortable
                                                tooltip="Мал амьтдын тоног хэрэгсэл ширхэг"></paper-datatable-column>

                        <paper-datatable-column header="Бэлчээрийн талбай м^2" property="belcheerTalbai" type="String"
                                                sortable tooltip="Бэлчээрийн талбай м^2"></paper-datatable-column>

                        <paper-datatable-column header="Нийт м^2" property="niitTalbai" type="String" sortable
                                                tooltip="Нийт м^2"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлгийн огноо" property="recordDate" type="Date"
                                                sortable tooltip="Оруулсан бичлгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="creAt" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Тээврийн хэрэгслийн тоо" property="teeverToo" type="Number"
                                                sortable
                                                tooltip="Тээврийн хэрэгслийн тоо"></paper-datatable-column>

                        <paper-datatable-column header="Зорчигчийн тоо" property="zorchigchToo" type="Number"
                                                sortable tooltip="Зорчигчийн тоо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ insertData.aimag }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                        </template>

                        <vaadin-combo-box id="idSumReg" tabindex="0"
                                          label="Сум, дүүрэг"
                                          value="{{ insertData.sum }}"
                                          item-label-path="sumname" item-value-path="sumcode"
                                          class="half"></vaadin-combo-box>
                    </fieldset>

                    <fieldset>
                        <legend>Зоорь агуулах:</legend>
                        <paper-input id="idZooriTooReg" label="Тоо хэмжээ, ширхэг" name="ZooriTooReg"
                                     value="{{ insertData.zooriToo }}" maxlength="250" class="half"
                                     type="Number"></paper-input>

                        <paper-input id="idZooriTalbaiReg" namme="ZooriTalbaiReg" label="Талбай м^2" on-change="_m2Sum"
                                     value="{{ insertData.zooriTalbai }}" class="half" type="Number"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Малын хашаа, хороо:</legend>
                        <paper-input id="idMalHaashaaTooReg" name="malHaashaaTooReg"
                                     label="Тоо хэмжээ, ширхэг" type="Number"
                                     value="{{ insertData.malHaashaaToo }}"
                                     item-label-path="name" item-value-path="id" class="half"></paper-input>

                        <paper-input label="Талбай м^2" name="MalHaashaaTalbai" on-change="_m2Sum"
                                     id="idMalHaashaaTalbaiReg" type="Number" value="{{ insertData.malHaashaaTalbai }}"
                                     required
                                     maxlength="250" aria-disabled="false" class="half"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Худаг, уст цэг:</legend>
                        <paper-input label="Тоо хэмжээ, ширхэг" name="HudagTooReg" id="idHudagTooReg" type="Number"
                                     value="{{ insertData.hudagToo }}" required maxlength="250"
                                     aria-disabled="false" class="half"></paper-input>

                        <paper-input label="Талбай м^2" name="HudagHemjeeReg" type="Number" id="idHudagHemjeeReg"
                                     value="{{ insertData.hudagHemjee }}" aria-disabled="false" on-change="_m2Sum"
                                     class="half"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Тэжээлийн агуулах:</legend>
                        <paper-input id="idTejAguuTooReg" name="TejAguuTooReg" type="Number"
                                     label="Тоо хэмжээ, ширхэг" value="{{ insertData.tejAguuToo }}"
                                     item-label-path="name" item-value-path="id" class="half"></paper-input>

                        <paper-input label="Талбай м^2" name="TejAguuTalbaiReg" type="Number"
                                     id="idTejAguuTalbaiReg"
                                     value="{{ insertData.tejAguuTalbai }}" required maxlength="250" on-change="_m2Sum"
                                     aria-disabled="false" class="half"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Түүхий эд бүтээгдэхүүн хадгалах цэг:</legend>
                        <paper-input label="Тоо хэмжээ, ширхэг" type="Number"
                                     name="TuuhiiEdHadTooReg" id="idTuuhiiEdHadTooReg"
                                     value="{{ insertData.tuuhiiEdHadToo }}" required maxlength="250"
                                     aria-disabled="false" class="half"></paper-input>

                        <paper-input label="Талбай м^2" type="Number"
                                     name="TuuhiiEdHadHemjeeReg" on-change="_m2Sum"
                                     id="idTuuhiiEdHadHemjeeReg" value="{{ insertData.tuuhiiEdHadHemjee }}"
                                     aria-disabled="false" class="half"></paper-input>
                    </fieldset>
                    <fieldset>
                        <legend>Нэмэлт мэдээлэл:</legend>
                        <paper-input label="Мал амьтдын тоног хэрэгсэл ширхэг" name="MalTonogHergsel" type="Number"
                                     id="idMalTonogHergselReg" value="{{ insertData.malTonogHergsel }}" required
                                     maxlength="250" aria-disabled="false" class="half"></paper-input>

                        <paper-input label="Бэлчээрийн талбай м^2" type="Number" name="BelcheerTalbaiReg" on-change="_m2Sum"
                                     id="idBelcheerTalbaiReg"
                                     value="{{ insertData.belcheerTalbai }}" required maxlength="250"
                                     aria-disabled="false" class="half"></paper-input>

                        <paper-input label="Нийт м^2" name="NiitTalbaiReg" id="idNiitTalbaiReg" type="Number" disabled
                                     value="{{ insertData.niitTalbai }}" aria-disabled="false"
                                     class="half"></paper-input>


                        <paper-input label="Тээврийн хэрэгслийн тоо" name="TeeverToo" id="idTeeverToo"
                                     value="{{ insertData.teeverToo }}" required maxlength="250" type="Number"
                                     aria-disabled="false" class="half"></paper-input>

                        <paper-input label="Зорчигчийн тоо" name="ZorchigchToo" id="idZorchigchToo" type="Number"
                                     value="{{ insertData.zorchigchToo }}" aria-disabled="false"
                                     class="half"></paper-input>


                        <vaadin-date-picker id="idRecordDate" tabindex="0"
                                            name="recordDate"
                                            label="Бичлэг огноо*"
                                            value="{{insertData.recordDate}}"
                                            aria-disabled="false" class="half" class="half">
                        </vaadin-date-picker>
                    </fieldset>
                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form61-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        aimag: '',
                        sum: '',
                        zooriToo: '',
                        zooriTalbai: '',
                        malHaashaaToo: '',
                        malHaashaaTalbai: '',
                        hudagToo: '',
                        hudagHemjee: '',
                        tejAguuToo: '',
                        tejAguuTalbai: '',
                        tuuhiiEdHadToo: '',
                        tuuhiiEdHadHemjee: '',
                        malTonogHergsel: '',
                        belcheerTalbai: '',
                        niitTalbai: '',
                        recordDate: '',
                        searchRecordDate: '',
                        teeverToo: '',
                        zorchigchToo: ''
                    }
                },
                form61Items: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        aimag: '',
                        sum: '',
                        zooriToo: '',
                        zooriTalbai: '',
                        malHaashaaToo: '',
                        malHaashaaTalbai: '',
                        hudagToo: '',
                        hudagHemjee: '',
                        tejAguuToo: '',
                        tejAguuTalbai: '',
                        tuuhiiEdHadToo: '',
                        tuuhiiEdHadHemjee: '',
                        malTonogHergsel: '',
                        belcheerTalbai: '',
                        niitTalbai: '',
                        recordDate: '',
                        teeverToo: '',
                        zorchigchToo: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 61 reg:::: ready function");
                this.server = SERVER_URL;

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                }

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                        (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                        ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());


                this._getDataFromServer();

                this._getmalTurul();

                if (this.loggedIn.rcode != undefined) {
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN') {
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    } else {
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 61 Data
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm61Data',
                    params: [this.criteriaData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that.form61Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 61 Data
            },
            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: ccode}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
//                            that.$.idCity.items = resp.result;
//                            that.$.idCityReg.items = resp.result;
                            that.cityItem = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.sum", '');
                this.set("insertData.aimag", '');
                this.set("insertData.zooriToo", '');
                this.set("insertData.zooriTalbai", '');


                
                this.set("insertData.malHaashaaToo", '');
                this.set("insertData.malHaashaaTalbai", '');
                this.set("insertData.hudagToo", '');
                this.set("insertData.hudagHemjee", '');


                this.set("insertData.tejAguuToo", '');
                this.set("insertData.tejAguuTalbai", '');
                this.set("insertData.tuuhiiEdHadToo", '');
                this.set("insertData.tuuhiiEdHadHemjee", '');
                this.set("insertData.malTonogHergsel", '');
                this.set("insertData.belcheerTalbai", '');
                this.set("insertData.niitTalbai", '');

                this.set("insertData.recordDate", '');
                this.set("insertData.teeverToo", '');
                this.set("insertData.zorchigchToo", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },

            /*
             Mal-n turul tatah
             */
            _getmalTurul: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["MAL", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("MAL turul");
                            console.log(resp.result);
                            that.$.idmalTurul.items = resp.result;
                            that.$.idmalTurulReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /*
             Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idZooriToo.value = "";
                this.$.idZooriTalbai.value = "";
                this.$.idMalHaashaaToo.value = "";
                this.$.idMalHaashaaTalbai.value = "";
                this.$.idHudagToo.value = "";
                this.$.idHudagHemjee.value = "";
                this.$.idTejAguuToo.value = "";
                this.$.idTejAguuTalbai.value = "";
                this.$.idTuuhiiEdHadToo.value = "";
                this.$.idTuuhiiEdHadHemjee.value = "";
                this.$.idMalTonogHergsel.value = "";
                this.$.idBelcheerTalbai.value = "";
                this.$.idNiitTalbai.value = "";
                this.$.idTeeverToo.value = "";
                this.$.idZorchigchToo.value = "";
                this.$.idRecordDate.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 61 Data
                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm61Data',
                    params: [this.insertData, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 61 Data
            },

            _checkMandatoryFields: function () {
                var isError = false;

                this.$.idSumReg.invalid = false;
                this.$.idZooriTooReg.invalid = false;

                this.$.idZooriTalbaiReg.invalid = false;
                this.$.idMalHaashaaTooReg.invalid = false;
                this.$.idMalHaashaaTalbaiReg.invalid = false;
                this.$.idHudagTooReg.invalid = false;
                this.$.idHudagHemjeeReg.invalid = false;
//
                this.$.idTejAguuTooReg.invalid = false;
                this.$.idTejAguuTalbaiReg.invalid = false;
                this.$.idTuuhiiEdHadTooReg.invalid = false;


                this.$.idTuuhiiEdHadHemjeeReg.invalid = false;
                this.$.idMalTonogHergselReg.invalid = false;
                this.$.idBelcheerTalbaiReg.invalid = false;

                this.$.idNiitTalbaiReg.invalid = false;

                this.$.idRecordDate.invalid = false;
                this.$.idZorchigchToo.invalid = false;
                this.$.idTeeverToo.invalid = false;


                if (this.$.idRecordDate.value == undefined
                        || this.$.idRecordDate.value == null
                        || this.$.idRecordDate.value == '') {
                    this.$.idRecordDate.errorMessage = 'Утга оруулана уу...';
                    this.$.idRecordDate.invalid = true;
                    isError = true;
                }


                if (this.$.idZorchigchToo.value == undefined
                        || this.$.idZorchigchToo.value == null
                        || this.$.idZorchigchToo.value == '') {
                    this.$.idZorchigchToo.errorMessage = 'Утга оруулана уу...';
                    this.$.idZorchigchToo.invalid = true;
                    isError = true;
                }


                if (this.$.idTeeverToo.value == undefined
                        || this.$.idTeeverToo.value == null
                        || this.$.idTeeverToo.value == '') {
                    this.$.idTeeverToo.errorMessage = 'Утга оруулана уу...';
                    this.$.idTeeverToo.invalid = true;
                    isError = true;
                }

                if (this.$.idZooriTooReg.value == undefined
                        || this.$.idZooriTooReg.value == null
                        || this.$.idZooriTooReg.value == '') {
                    this.$.idZooriTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idZooriTooReg.invalid = true;
                    isError = true;
                }
//
                if (this.$.idSumReg.value == undefined
                        || this.$.idSumReg.value == null
                        || this.$.idSumReg.value == '') {
                    this.$.idSumReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idSumReg.invalid = true;
                    isError = true;
                }
////
                if (this.$.idZooriTalbaiReg.value == undefined
                        || this.$.idZooriTalbaiReg.value == null
                        || this.$.idZooriTalbaiReg.value == '') {
                    this.$.idZooriTalbaiReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idZooriTalbaiReg.invalid = true;
                    isError = true;
                }
////
                if (this.$.idMalHaashaaTooReg.value == undefined
                        || this.$.idMalHaashaaTooReg.value == null
                        || this.$.idMalHaashaaTooReg.value == '') {
                    this.$.idMalHaashaaTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalHaashaaTooReg.invalid = true;
                    isError = true;
                }
////
                if (this.$.idMalHaashaaTalbaiReg.value == undefined
                        || this.$.idMalHaashaaTalbaiReg.value == null
                        || this.$.idMalHaashaaTalbaiReg.value == '') {
                    this.$.idMalHaashaaTalbaiReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalHaashaaTalbaiReg.invalid = true;

                    isError = true;
                }
////
                if (this.$.idHudagTooReg.value == undefined
                        || this.$.idHudagTooReg.value == null
                        || this.$.idHudagTooReg.value == '') {
                    this.$.idHudagTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHudagTooReg.invalid = true;

                    isError = true;
                }
////
                if (this.$.idHudagHemjeeReg == undefined
                        || this.$.idHudagHemjeeReg.value == null
                        || this.$.idHudagHemjeeReg.value == '') {
                    this.$.idHudagHemjeeReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHudagHemjeeReg.invalid = true;

                    isError = true;
                }
//
//
                if (this.$.idTejAguuTooReg == undefined
                        || this.$.idTejAguuTooReg.value == null
                        || this.$.idTejAguuTooReg.value == '') {
                    this.$.idTejAguuTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTejAguuTooReg.invalid = true;

                    isError = true;
                }
//
//
                if (this.$.idTejAguuTalbaiReg == undefined
                        || this.$.idTejAguuTalbaiReg.value == null
                        || this.$.idTejAguuTalbaiReg.value == '') {
                    this.$.idTejAguuTalbaiReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTejAguuTalbaiReg.invalid = true;

                    isError = true;
                }
//
//
                if (this.$.idTuuhiiEdHadTooReg == undefined
                        || this.$.idTuuhiiEdHadTooReg.value == null
                        || this.$.idTuuhiiEdHadTooReg.value == '') {
                    this.$.idTuuhiiEdHadTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTuuhiiEdHadTooReg.invalid = true;

                    isError = true;
                }


                if (this.$.idTuuhiiEdHadHemjeeReg == undefined
                        || this.$.idTuuhiiEdHadHemjeeReg.value == null
                        || this.$.idTuuhiiEdHadHemjeeReg.value == '') {
                    this.$.idTuuhiiEdHadHemjeeReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTuuhiiEdHadHemjeeReg.invalid = true;

                    isError = true;
                }

                if (this.$.idMalTonogHergselReg == undefined
                        || this.$.idMalTonogHergselReg.value == null
                        || this.$.idMalTonogHergselReg.value == '') {
                    this.$.idMalTonogHergselReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idMalTonogHergselReg.invalid = true;

                    isError = true;
                }

                if (this.$.idBelcheerTalbaiReg == undefined
                        || this.$.idBelcheerTalbaiReg.value == null
                        || this.$.idBelcheerTalbaiReg.value == '') {
                    this.$.idBelcheerTalbaiReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idBelcheerTalbaiReg.invalid = true;

                    isError = true;
                }

                if (this.$.idNiitTalbaiReg == undefined
                        || this.$.idNiitTalbaiReg.value == null
                        || this.$.idNiitTalbaiReg.value == '') {
                    this.$.idNiitTalbaiReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idNiitTalbaiReg.invalid = true;

                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);
                this.set("insertData.aimag", model.aimag);
                this.set("insertData.sum", model.sum);
                this.set("insertData.zooriToo", model.zooriToo);
                this.set("insertData.zooriTalbai", model.zooriTalbai);
                this.set("insertData.malHaashaaToo", model.malHaashaaToo);
                this.set("insertData.malHaashaaTalbai", model.malHaashaaTalbai);
                this.set("insertData.hudagToo", model.hudagToo);
                this.set("insertData.hudagHemjee", model.hudagHemjee);
                this.set("insertData.tejAguuToo", model.tejAguuToo);
                this.set("insertData.tejAguuTalbai", model.tejAguuTalbai);
                this.set("insertData.tuuhiiEdHadToo", model.tuuhiiEdHadToo);
                this.set("insertData.tuuhiiEdHadHemjee", model.tuuhiiEdHadHemjee);
                this.set("insertData.malTonogHergsel", model.malTonogHergsel);
                this.set("insertData.belcheerTalbai", model.belcheerTalbai);
                this.set("insertData.niitTalbai", model.niitTalbai);

                this.set("insertData.recordDate", model.recordDate);
                this.set("insertData.searchRecordDate", model.searchRecordDate);
                this.set("insertData.teeverToo", model.teeverToo);
                this.set("insertData.zorchigchToo", model.zorchigchToo);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },
            /*
             Medeelel idevhgui bolgoh arga
             */
            _lockInfo: function (e) {
                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }
                var model = e.model.item;

                this.set("insertData.command", 'ACT');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Төлөв өөрчлөх');
                this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }
                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform61Report',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 61 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            },
            _m2Sum: function () {
                var sum = parseFloat(this.$.idZooriTalbaiReg.value)+parseFloat(this.$.idMalHaashaaTalbaiReg.value)+parseFloat(this.$.idHudagHemjeeReg.value)+parseFloat(this.$.idTejAguuTalbaiReg.value)+parseFloat(this.$.idTuuhiiEdHadHemjeeReg.value)+parseFloat(this.$.idBelcheerTalbaiReg.value);
                this.$.idNiitTalbaiReg.value = sum;
            }
        });
    </script>

</dom-module>
