<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="form13a-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }

            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }

            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }

            h2 {
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }

            .btn {
                background-color: #0f62ac;
                color: white;
            }

            #createBtn {
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }

            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }

            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .save {
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }

            paper-fab {
                background-color: #0f62ac;
            }

            #ipsiReg {
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }

            iframe {
                width: 100%;
                border: none;
                height: 450px;
            }

            table th {
                width: 15%;
                text-align: right;
                font-weight: normal;
                font-size: 13px;
            }

            table td {
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }

            @media (min-width: 1521px) {
                .half {
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 1124px) and (max-width: 1520px) {
                .half {
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }

            @media (min-width: 850px) and (max-width: 1124px) {
                .half {
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable {
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Мал амьтан, түүхий эд бүтээгдэхүүн, малын тэжээлийн үзлэг</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл"
                                              items="{{cityItem}}"
                                              value="{{ criteriaData.citycode }}" on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                        </template>

                        <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг"
                                          value="{{ criteriaData.sumcode }}" item-label-path="sumname"
                                          item-value-path="sumcode"></vaadin-combo-box>

                        <vaadin-combo-box id="idShinjilgeeArga" tabindex="0" class="half"
                                          label="Шинжилгээний арга" value="{{ criteriaData.shinjilsen_arga }}"
                                          item-label-path="name" item-value-path="id"></vaadin-combo-box>

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.record_date}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.searchRecordDate}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>

                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn">

                            </paper-icon-button>PDF татах</p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="editor:border-clear" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form13aItems}}">

                        <paper-datatable-column id="tableID" header="№" sortable property="index"
                                                type="Number"></paper-datatable-column>
                        <paper-datatable-column header="Үзлэг хийх зүйлс" property="uzleg_hiih" type="String" sortable
                                                tooltip="Үзлэг хийх зүйлс"></paper-datatable-column>
                        <paper-datatable-column header="Хэмжих нэгж" property="hemjih_negj" type="String" sortable
                                                tooltip="Хэмжих нэгж"></paper-datatable-column>
                        <paper-datatable-column header="Тоо хэмжээ" property="too_hemjee" type="String" sortable
                                                tooltip="Тоо хэмжээ"></paper-datatable-column>
                        <paper-datatable-column header="Дээжийн тоо" property="deejiin_too" type="String" sortable
                                                tooltip="Дээжийн тоо"></paper-datatable-column>
                        <paper-datatable-column header="Үзлэг шинжилгээ хийсэн" property="shinjilgee_hiisen"
                                                type="String" sortable
                                                tooltip="Үзлэг шинжилгээ хийсэн"></paper-datatable-column>
                        <paper-datatable-column header="Шинжилсэн арга" property="shinjilsenarga" type="String" sortable
                                                tooltip="Шинжилсэн арга"></paper-datatable-column>
                        <paper-datatable-column header="Бруцеллёз" property="brutsellyoz" type="String" sortable
                                                tooltip="Бруцеллёз"></paper-datatable-column>
                        <paper-datatable-column header="Мастит" property="mastit" type="String" sortable
                                                tooltip="Мастит"></paper-datatable-column>
                        <paper-datatable-column header="Трихинеллез" property="trixinell" type="String" sortable
                                                tooltip="Трихинеллез"></paper-datatable-column>
                        <paper-datatable-column header="Финноз" property="finnoz" type="String" sortable
                                                tooltip="Финноз"></paper-datatable-column>
                        <paper-datatable-column header="Сүрьеэ" property="suriyee" type="String" sortable
                                                tooltip="Сүрьеэ"></paper-datatable-column>
                        <paper-datatable-column header="Боом" property="boom" type="String" sortable
                                                tooltip="Боом"></paper-datatable-column>
                        <paper-datatable-column header="Бусад" property="busad" type="String" sortable
                                                tooltip="Бусад"></paper-datatable-column>
                        <paper-datatable-column header="Бүгд" property="bugd" type="String" sortable
                                                tooltip="Бүгд"></paper-datatable-column>
                        <paper-datatable-column header="Хэрэгцээнд тохирсон /кг.тн/" property="hergtseend_tohirson"
                                                type="String" sortable
                                                tooltip="Хэрэгцээнд тохирсон "></paper-datatable-column>
                        <paper-datatable-column header="Устгасан /кг.тн/" property="ustgasan" type="String" sortable
                                                tooltip="Устгасан"></paper-datatable-column>
                        <paper-datatable-column header="Халдваргүйжүүлэлт /кг.тн/" property="haldbarguijuulelt"
                                                type="String" sortable
                                                tooltip="Халдваргүйжүүлэлт"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлэгийн огноо" property="record_date" type="Date"
                                                sortable tooltip="Оруулсан бичлэгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо" property="cre_at" type="Date" sortable
                                                tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom"
                         title="Мал, амьтан, түүхий эд бүтээгдэхүүн, малын тэжээлийн үзлэг">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах"
                                   style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;"
                                   on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <fieldset>
                        <legend>Ерөнхий мэдээлэл:</legend>
                        <template is="dom-if" if="{{isShowCity}}">
                            <vaadin-combo-box id="idCityReg" tabindex="0" class="half"
                                              label="Аймаг, нийслэл" items="{{cityItem}}"
                                              value="{{ insertData.citycode }}"
                                              on-value-changed="_getSumData"
                                              item-label-path="cityname" item-value-path="code"></vaadin-combo-box>
                            <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэл</paper-tooltip>
                        </template>

                        <vaadin-combo-box id="idSumReg" tabindex="0" class="half"
                                          label="Сум, дүүрэг"
                                          value="{{ insertData.sumcode }}"
                                          on-value-changed="_getBagHorooData"
                                          item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>
                        <paper-tooltip for="idSumReg" offset="0">Сум, дүүрэг</paper-tooltip>

                        <!--<paper-input id="idUzlehHiihZuilReg" tabindex="0" class="half" label="Үзлэг хийх зүйлс"
                                     value="{{insertData.uzleg_hiih}}" aria-disabled="false"></paper-input>-->
                        <vaadin-combo-box id="idUzlehHiihZuilReg" tabindex="0" class="half"
                                          label="Үзлэг хийх зүйлс" value="{{ insertData.uzleg_hiih }}"
                                          item-label-path="name" item-value-path="id"></vaadin-combo-box>

                        <!--<paper-input id="idHemjihNegjReg" tabindex="0" class="half" label="Хэмжих нэгж"
                                     value="{{insertData.hemjih_negj}}" aria-disabled="false"></paper-input>-->
                        <vaadin-combo-box id="idHemjihNegjReg" tabindex="0" class="half"
                                          label="Хэмжих нэгж" value="{{ insertData.hemjih_negj }}"
                                          item-label-path="name" item-value-path="id"></vaadin-combo-box>

                    </fieldset>

                    <fieldset>
                        <legend>Нэмэлт мэдээлэл:</legend>

                        <paper-input id="idTooHemjeeReg" tabindex="0" class="half" label="Тоо хэмжээ" type="Number"
                                     value="{{insertData.too_hemjee}}" aria-disabled="false"></paper-input>

                        <paper-input id="idDeejiinTooReg" tabindex="0" class="half" label="Дээжийн тоо" type="Number"
                                     value="{{insertData.deejiin_too}}" aria-disabled="false"></paper-input>

                        <paper-input id="idUzlegShinjilgee"
                                     tabindex="0"
                                     class="half"
                                     type="Number"
                                     label="Үзлэг шинжилгээ хийсэн"
                                     value="{{ insertData.shinjilgee_hiisen }}"></paper-input>

                        <vaadin-combo-box id="idShinjilgeeArgaReg" tabindex="0" class="half"
                                          label="Шинжилгээний арга" value="{{ insertData.shinjilsen_arga }}"
                                          item-label-path="name" item-value-path="id"></vaadin-combo-box>

                    </fieldset>

                    <fieldset>
                        <legend>Илэрсэн өвчний нэр:</legend>
                        <paper-input id="idBrutselyoz" tabindex="0" class="half" label="Бруцеллёз" type="Number"
                                     value="{{insertData.brutsellyoz}}"
                                     on-change="_calcSum"
                                     aria-disabled="false"></paper-input>
                        <paper-input id="idMastit" tabindex="0" class="half" label="Мастит" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.mastit}}" aria-disabled="false"></paper-input>
                        <paper-input id="idTrinellez" tabindex="0" class="half" label="Трихинеллез" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.trixinell}}" aria-disabled="false"></paper-input>
                        <paper-input id="idFinnoz" tabindex="0" class="half" label="Финноз" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.finnoz}}" aria-disabled="false"></paper-input>
                        <paper-input id="idSuriyee" tabindex="0" class="half" label="Сүрьеэ" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.suriyee}}" aria-disabled="false"></paper-input>
                        <paper-input id="idBoom" tabindex="0" class="half" label="Боом" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.boom}}" aria-disabled="false"></paper-input>
                        <paper-input id="idBusad" tabindex="0" class="half" label="Бусад" type="Number"
                                     on-change="_calcSum"
                                     value="{{insertData.busad}}" aria-disabled="false"></paper-input>
                        <paper-input id="idBugd" tabindex="0" class="half" label="Бүгд" type="Number"
                                     readonly
                                     value="{{insertData.bugd}}" aria-disabled="false"></paper-input>
                    </fieldset>

                    <fieldset>
                        <legend>Бусад:</legend>
                        <paper-input id="idHeregtseendTohirsonReg" tabindex="0" class="half" label="Хэрэгцээнд тохирсон"  type="Number"
                                     value="{{insertData.hergtseend_tohirson}}" aria-disabled="false"></paper-input>

                        <paper-input id="idUstgasanReg" tabindex="0" class="half" label="Устгасан"  type="Number"
                                     value="{{insertData.ustgasan}}" aria-disabled="false"></paper-input>

                        <paper-input id="idHaldvarguijuuleltReg" tabindex="0" class="half"
                                     label="Халдваргүйжүүлэлт" type="Number"
                                     value="{{insertData.haldbarguijuulelt}}" aria-disabled="false"></paper-input>
                    </fieldset>

                    <vaadin-date-picker id="idRecordDateReg" tabindex="0"
                                        name="recordDate"
                                        label="Бичлэг огноо*"
                                        value="{{insertData.record_date}}"
                                        aria-disabled="false" class="half">
                    </vaadin-date-picker>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button"
                                      tabindex="0" animated="" aria-disabled="false" elevation="1">Хадгалах
                        </paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'form13a-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                isShowCity: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                cityItem: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Хайлт хийх
                criteriaData: {
                    type: Object,
                    notify: true,
                    value: {
                        uzleg_hiih: '',
                        hemjih_negj: '',
                        too_hemjee: '',
                        deejiin_too: '',
                        shinjilgee_hiisen: '',
                        shinjilsen_arga: '',
                        hergtseend_tohirson: '',
                        ustgasan: '',
                        haldbarguijuulelt: '',
                        brutsellyoz: '',
                        mastit: '',
                        trixinell: '',
                        finnoz: '',
                        suriyee: '',
                        boom: '',
                        busad: '',
                        bugd: '',
                        no_data: '',
                        citycode: '',
                        sumcode: '',
                        bag_code: '',
                        record_date: '',
                        searchRecordDate: ''
                    }
                },
                form13aItems: {
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        uzleg_hiih: '',
                        hemjih_negj: '',
                        too_hemjee: '',
                        deejiin_too: '',
                        shinjilgee_hiisen: '',
                        shinjilsen_arga: '',
                        hergtseend_tohirson: '',
                        ustgasan: '',
                        haldbarguijuulelt: '',
                        brutsellyoz: '',
                        mastit: '',
                        trixinell: '',
                        finnoz: '',
                        suriyee: '',
                        boom: '',
                        busad: '',
                        bugd: '',
                        no_data: '',
                        citycode: '',
                        sumcode: '',
                        bag_code: '',
                        record_date: '',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify: true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle: {
                    type: String,
                    notify: true,
                    value: 'Бичлэг устгах'
                },
                dialogBody: {
                    type: String,
                    notify: true,
                    value: 'Та устгахдаа итгэлтэй байна уу?'
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function () {
                //console.log("created");
            },
            ready: function () {
                console.log("form 13a reg:::: ready function");
                this.server = SERVER_URL;

                //this.$.idUzlegShinjilgee.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idHemjihNegjReg.items = [
                    {id: 'кг', name: 'кг'},
                    {id: 'тонн', name: 'тонн'},
                    {id: 'ширхэг', name: 'ширхэг'},
                    {id: 'литр', name: 'литр'},
                    {id: 'гогцоо', name: 'гогцоо'},
                    {id: 'боодол', name: 'боодол'},
                    {id: 'толгой', name: 'толгой'}
                ];

                this.$.idUzlehHiihZuilReg.items = [
					{id: 'Амьд мал', name: 'Амьд мал'},
                    {id: 'Арьс шир', name: 'Арьс шир'},
					{id: 'Дайвар бүтээгдэхүүн', name: 'Дайвар бүтээгдэхүүн'},
                    {id: 'Мах, махан бүтээгдэхүүн', name: 'Мах, махан бүтээгдэхүүн'},
                    {id: 'Сүү, сүүн бүтээгдэхүүн', name: 'Сүү, сүүн бүтээгдэхүүн'},
                    {id: 'Өндөг', name: 'Өндөг'},
                    {id: 'Ноос, ноолуур', name: 'Ноос, ноолуур'},
                    {id: 'Малын тэжээл', name: 'Малын тэжээл'}
                    
                ];

                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                };
                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getDataFromServer();

                this._getShinjilsenArga();

                if (this.loggedIn.rcode != undefined){
                    if (this.loggedIn.rcode == "SUPERADMIN" || this.loggedIn.rcode == 'SUPERADMIN'){
                        this.set("isShowCity", true);
                        this._getCityCmbData();
                    }else{
                        this.set("isShowCity", false);
                        this._getCurrentSum("CURRENT");
                    }
                }
            },

            attached: function () {
                //console.log("attached");
            },

            attributeChanged: function (name, type) {
                //console.log("attribute changed");
            },

            _getDataFromServer: function () {
                //start Form 08 Data

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm13aData',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };

                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.form13aItems = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }

                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 08 Data
            },

            _calcSum: function () {
				try{
					var sum = 0;
					if(this.insertData.brutsellyoz != undefined && this.insertData.brutsellyoz != null && this.insertData.brutsellyoz != '')
						sum +=  parseFloat(this.insertData.brutsellyoz); 
						
					if(this.insertData.mastit != undefined && this.insertData.mastit != null && this.insertData.mastit != '')
						sum += parseFloat(this.insertData.mastit); 
					
					if(this.insertData.trixinell != undefined && this.insertData.trixinell != null && this.insertData.trixinell != '')
						sum += parseFloat(this.insertData.trixinell);
					
					if(this.insertData.finnoz != undefined && this.insertData.finnoz != null && this.insertData.finnoz != '')
						sum += parseFloat(this.insertData.finnoz);
					
					if(this.insertData.suriyee != undefined && this.insertData.suriyee != null && this.insertData.suriyee != '')
						sum += parseFloat(this.insertData.suriyee); 
					
					if(this.insertData.boom != undefined && this.insertData.boom != null && this.insertData.boom != '')
						sum += parseFloat(this.insertData.boom);
					
					if(this.insertData.busad != undefined && this.insertData.busad != null && this.insertData.busad != '')
						sum += parseFloat(this.insertData.busad);
					
					this.set("insertData.bugd", sum);
				}catch(ex){
					console.log(ex);
				}

            },
            /**
             * Tuhain nevtersen hunii aimagiin sumuudiig tatah
             * */
            _getCurrentSum: function (ccode) {
                if (this.loggedIn == undefined || ccode == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: ccode}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.cityItem = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if (this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode: event.detail.value}, this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idSum.items = resp.result;
                            that.$.idSumReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /*
             * Шинжилсэн арга
             * */
            _getShinjilsenArga: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getComboVals',
                    params: ["SHARGA", "MN", this.loggedIn.id],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            that.$.idShinjilgeeArga.items = resp.result;
                            that.$.idShinjilgeeArgaReg.items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Эрх шалгах функцүүд байна
             **/
            _addRole: function () {
                /*if(this.fire('check-role', "002").returnValue == true) {
                 return true;
                 }
                 return false;*/

                return true;
            },

            /**
             * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
             * */
            _createFrom: function (event) {
                if (!this._addRole()) {
                    this.fire('show-toast-message', {success: false, message: "Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                    return;
                }

                this.set("insertData.command", 'INS');
                this.set("secondTitle", 'Шинээр бүртгэх');

                this.set("insertData.uzleg_hiih", '');
                this.set("insertData.hemjih_negj", '');
                this.set("insertData.too_hemjee", '');
                this.set("insertData.deejiin_too", '');
                this.set("insertData.shinjilgee_hiisen", '');
                this.set("insertData.shinjilsen_arga", '');
                this.set("insertData.hergtseend_tohirson", '');
                this.set("insertData.ustgasan", '');
                this.set("insertData.haldbarguijuulelt", '');
                this.set("insertData.brutsellyoz", '');
                this.set("insertData.mastit", '');
                this.set("insertData.trixinell", '');
                this.set("insertData.finnoz", '');
                this.set("insertData.suriyee", '');
                this.set("insertData.boom", '');
                this.set("insertData.busad", '');
                this.set("insertData.bugd", '');
                this.set("insertData.no_data", '');
                this.set("insertData.citycode", '');
                this.set("insertData.sumcode", '');
                this.set("insertData.bag_code", '');

                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },

            /*
             Hailt hiih
             */
            _search: function () {
                this._getDataFromServer();
            },


            /*
            Clear hiih
             */
            _clear: function () {
                this.$.idCity.value = "";
                this.$.idSum.value = "";
                this.$.idUzlehHiihZuil.value = "";
                this.$.idHemjihNegj.value = "";
                this.$.idTooHemjee.value = "";
                this.$.idDeejiinToo.value = "";
                this.$.idShinjilgeeArga.value = "";
                this.$.idHeregtseendTohirson.value = "";
                this.$.idUstgasan.value = "";
                this.$.idHaldvarguijuulelt.value = "";
            },

            /*
             Hadgalah
             */

            _save: function () {
                //start Form 08 Data

                if (this.insertData.command == 'INS' || this.insertData.command == 'EDT') {
                    if (this._checkMandatoryFields()) {
                        return;
                    }
                }

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'setForm13aData',
                    params: [this.insertData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp) {
                        if (resp.result) {
                            console.log("Insert successfully");
                            if (resp.result.errType == 'INFO') {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});

                                that._onBackClick();
                                that._getDataFromServer();
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
                //end Form 08 Data
            },

            /**
             * Zaaval baih talbaruudiig shalgah
             * */
            _checkMandatoryFields: function () {
                var isError = false;

//                this.$.idCityReg.invalid = false;
                this.$.idSumReg.invalid = false;
                this.$.idUzlehHiihZuilReg.invalid = false;
                this.$.idHemjihNegjReg.invalid = false;
                this.$.idTooHemjeeReg.invalid = false;
                this.$.idDeejiinTooReg.invalid = false;
                this.$.idUzlegShinjilgee.invalid = false;
                this.$.idShinjilgeeArgaReg.invalid = false;
                this.$.idBrutselyoz.invalid = false;
                this.$.idMastit.invalid = false;
                this.$.idTrinellez.invalid = false;
                this.$.idFinnoz.invalid = false;
                this.$.idSuriyee.invalid = false;
                this.$.idBoom.invalid = false;
                this.$.idBusad.invalid = false;
                this.$.idBugd.invalid = false;
                this.$.idHeregtseendTohirsonReg.invalid = false;
                this.$.idUstgasanReg.invalid = false;
                this.$.idHaldvarguijuuleltReg.invalid = false;
                this.$.idRecordDateReg.invalid = false;

//                if (this.$.idCityReg.value == undefined
//                    || this.$.idCityReg.value == null
//                    || this.$.idCityReg.value == '') {
//                    this.$.idCityReg.errorMessage = 'Утга оруулана уу...';
//                    this.$.idCityReg.invalid = true;
//                    isError = true;
//                }

                if (this.$.idSumReg.value == undefined
                    || this.$.idSumReg.value == null
                    || this.$.idSumReg.value == '') {
                    this.$.idSumReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idSumReg.invalid = true;
                    isError = true;
                }

                if (this.$.idUzlehHiihZuilReg.value == undefined
                    || this.$.idUzlehHiihZuilReg.value == null
                    || this.$.idUzlehHiihZuilReg.value == '') {
                    this.$.idUzlehHiihZuilReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idUzlehHiihZuilReg.invalid = true;
                    isError = true;
                }

                if (this.$.idHemjihNegjReg.value == undefined
                    || this.$.idHemjihNegjReg.value == null
                    || this.$.idHemjihNegjReg.value == '') {
                    this.$.idHemjihNegjReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHemjihNegjReg.invalid = true;
                    isError = true;
                }

                if (this.$.idTooHemjeeReg.value == undefined
                    || this.$.idTooHemjeeReg.value == null
                    || this.$.idTooHemjeeReg.value == '') {
                    this.$.idTooHemjeeReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idTooHemjeeReg.invalid = true;

                    isError = true;
                }

                if (this.$.idDeejiinTooReg.value == undefined
                    || this.$.idDeejiinTooReg.value == null
                    || this.$.idDeejiinTooReg.value == '') {
                    this.$.idDeejiinTooReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idDeejiinTooReg.invalid = true;

                    isError = true;
                }

                if (this.$.idUzlegShinjilgee.value == undefined
                    || this.$.idUzlegShinjilgee.value == null
                    || this.$.idUzlegShinjilgee.value == '') {
                    this.$.idUzlegShinjilgee.errorMessage = 'Утга оруулана уу...';
                    this.$.idUzlegShinjilgee.invalid = true;

                    isError = true;
                }

                if (this.$.idShinjilgeeArgaReg.value == undefined
                    || this.$.idShinjilgeeArgaReg.value == null
                    || this.$.idShinjilgeeArgaReg.value == '') {
                    this.$.idShinjilgeeArgaReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idShinjilgeeArgaReg.invalid = true;

                    isError = true;
                }

                if (this.$.idHeregtseendTohirsonReg.value == undefined
                    || this.$.idHeregtseendTohirsonReg.value == null
                    || this.$.idHeregtseendTohirsonReg.value == '') {
                    this.$.idHeregtseendTohirsonReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHeregtseendTohirsonReg.invalid = true;

                    isError = true;
                }
                if (this.$.idUstgasanReg.value == undefined
                    || this.$.idUstgasanReg.value == null
                    || this.$.idUstgasanReg.value == '') {
                    this.$.idUstgasanReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idUstgasanReg.invalid = true;

                    isError = true;
                }
                if (this.$.idHaldvarguijuuleltReg.value == undefined
                    || this.$.idHaldvarguijuuleltReg.value == null
                    || this.$.idHaldvarguijuuleltReg.value == '') {
                    this.$.idHaldvarguijuuleltReg.errorMessage = 'Утга оруулана уу...';
                    this.$.idHaldvarguijuuleltReg.invalid = true;

                    isError = true;
                }

                return isError;
            },

            /*
             Zasah darah ued ajillana
             */
            _editInformations: function (e) {
                var model = e.model.item;
                console.log("Zasah buteegdehuunii medeelel bna:");
                console.log(model);

                if (!this._editRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'EDT');
                this.set("insertData.id", model.id);

                this.set("insertData.uzleg_hiih", model.uzleg_hiih);
                this.set("insertData.hemjih_negj", model.hemjih_negj);
                this.set("insertData.too_hemjee", model.too_hemjee);
                this.set("insertData.deejiin_too", model.deejiin_too);
                this.set("insertData.shinjilgee_hiisen", model.shinjilgee_hiisen);
                this.set("insertData.shinjilsen_arga", model.shinjilsen_arga);
                this.set("insertData.hergtseend_tohirson", model.hergtseend_tohirson);
                this.set("insertData.ustgasan", model.ustgasan);
                this.set("insertData.haldbarguijuulelt", model.haldbarguijuulelt);
                this.set("insertData.brutsellyoz", model.brutsellyoz);
                this.set("insertData.mastit", model.mastit);
                this.set("insertData.trixinell", model.trixinell);
                this.set("insertData.finnoz", model.finnoz);
                this.set("insertData.suriyee", model.suriyee);
                this.set("insertData.boom", model.boom);
                this.set("insertData.busad", model.busad);
                this.set("insertData.bugd", model.bugd);
                this.set("insertData.no_data", model.no_data);
                this.set("insertData.citycode", model.citycode);
                this.set("insertData.sumcode", model.sumcode);
                this.set("insertData.bag_code", model.bag_code);
                this.set("insertData.record_date", model.record_date);

                this.set("secondTitle", 'Мэдээлэл засах');

                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            _editRole: function(){
                /*if(this.fire('check-role', "002").returnValue == true) {
                    return true;
                }
                return false;*/
                return true;
            },

            /*
             Delete hiih
             */

            _deleteInfo: function (e) {
                var model = e.model.item;
                if (!this._deleteRole()) {
                    this.fire('show-toast-message', {
                        success: false,
                        message: "Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."
                    });
                    return;
                }

                this.set("insertData.command", 'DEL');
                this.set("insertData.id", model.id);

                this.set("dialogTitle", 'Бичлэг устгах');
                this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                this.$.actDelDialog.open();
            },

            /*
             Medeelel ustgah bolomjtoi eseh
             */
            _deleteRole: function () {
                /*if(this.fire('check-role', "021").returnValue == true) {
                 return true;
                 }*/
                return true;
            },

            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }

                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hform013aReport',
                    params: [this.criteriaData, this.loggedIn.id, this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {

                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            }
        });
    </script>

</dom-module>
