<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/datetime-picker/datetime-picker.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<dom-module id="galzuu-uvchin-form-yernhii">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formYernhiiMedeelelID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ yernhiiMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  required></vaadin-combo-box>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ yernhiiMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  required></vaadin-combo-box>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ yernhiiMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  required></vaadin-combo-box>

                <paper-input id="idGazarNer"
                             tabindex="0"
                             name="gazarNer"
                             class="half"
                             label="Газрын нэр*"
                             value="{{yernhiiMedeelel.gazarner}}"
                             required></paper-input>

                <paper-input id="idGolomtToo"
                             type="Number"
                             tabindex="0"
                             name="golomtToo"
                             class="half"
                             label="Голомтын тоо*"
                             value="{{yernhiiMedeelel.golomttoo}}"
                             aria-disabled="false"
                             required></paper-input>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{yernhiiMedeelel.malchinner}}"
                             aria-disabled="false"
                             required></paper-input>

                <paper-input id="idUndsenHaryalal"
                             tabindex="0"
                             name="undsenHaryalal"
                             class="half"
                             label="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал"
                             value="{{yernhiiMedeelel.uvchlol_burt_urh_hari}}"
                             aria-disabled="false"></paper-input>

                <paper-input id="idCoorN"
                             tabindex="0"
                             name="coorNhour"
                             class="half"
                             label="Координат N*"
                             value="{{yernhiiMedeelel.coordinate_n}}"
                             aria-disabled="false"
                             required></paper-input>

                <paper-input id="idCoorE"
                             tabindex="0"
                             name="coorEHour"
                             class="half"
                             label="Координат E*"
                             value="{{yernhiiMedeelel.coordinate_e}}"
                             aria-disabled="false"
                             required></paper-input>

                <vaadin-date-picker
                        id="idDuudlagaIruulsenOgnoo"
                        name="duudlagaIruulsenOgnoo"
                        tabindex="0"
                        class="half"
                        label="Дуудлага ирүүлсэн огноо*"
                        value="{{yernhiiMedeelel.duudlagaognoo}}"
                        aria-disabled="false"
                        required>
                </vaadin-date-picker>

                <vaadin-date-picker
                        id="idUvchEhelsenOgnoo"
                        name="uvchEhelsenOgnoo"
                        tabindex="0"
                        class="half"
                        label="Өвчлөл эхэлсэн огноо*"
                        value="{{yernhiiMedeelel.uvchlolehelsen_ognoo}}"
                        aria-disabled="false"
                        required>
                </vaadin-date-picker>

                <vaadin-date-picker
                        id="idUvchlulBurtOgnoo"
                        name="uvchlulBurtOgnoo"
                        tabindex="0"
                        class="half"
                        label="Өвчлөл бүртгэгдсэн огноо"
                        value="{{yernhiiMedeelel.uvchlolburt_ognoo}}"
                        aria-disabled="false"
                        required>
                </vaadin-date-picker>

                <fieldset>
                    <legend>Лаборатори:</legend>
                    <vaadin-date-picker id="idLabBatOgnoo"
                                        tabindex="0"
                                        name="labBatOgnoo"
                                        class="half"
                                        label="Лаб баталгаажуулсан огноо*"
                                        value="{{yernhiiMedeelel.lab_bat_ognoo}}"
                                        aria-disabled="false"
                                        required>
                    </vaadin-date-picker>

                    <vaadin-combo-box id="idShinjilgeeniiArga"
                                      tabindex="0"
                                      name="shinjilgeeniiArga"
                                      class="half"
                                      label="Шинжилгээний арга*"
                                      value="{{ yernhiiMedeelel.sharga }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>

                    <paper-input id="idShinjilgeeUrDun"
                                 tabindex="0"
                                 name="shinjilgeeUrDun"
                                 class="half"
                                 label="Шинжилгээний үр дүн*"
                                 value="{{ yernhiiMedeelel.shurdun }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idLabBatHevshil"
                                 tabindex="0"
                                 name="labBatHevshil"
                                 class="half"
                                 label="Лабораториор баталгаажсан хэвшил, үүсгэгч*"
                                 value="{{ yernhiiMedeelel.lab_bat_hevshil }}"
                                 aria-disabled="false"
                                 required></paper-input>
                </fieldset>


                <fieldset>
                    <legend>Өвчилсөн мал, амьтан /төрөл, тоо/:</legend>

                    <paper-input id="idUvchUher"
                                 type="Number"
                                 tabindex="0"
                                 name="uvchUher"
                                 class="half"
                                 label="Үхэр*"
                                 value="{{ yernhiiMedeelel.uvch_uher }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUvchHoni"
                                 type="Number"
                                 tabindex="0"
                                 name="uvchHoni"
                                 class="half"
                                 label="Xонь*"
                                 value="{{ yernhiiMedeelel.uvch_honi }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUvchYmaa"
                                 type="Number"
                                 tabindex="0"
                                 name="uvchYmaa"
                                 class="half"
                                 label="Ямаа*"
                                 value="{{ yernhiiMedeelel.uvch_ymaa }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUvchBusad"
                                 type="Number"
                                 tabindex="0"
                                 name="uvchBusad"
                                 class="half"
                                 label="Бусад*"
                                 value="{{ yernhiiMedeelel.uvch_busad }}"
                                 aria-disabled="false"
                                 required></paper-input>
                </fieldset>

                <fieldset>
                    <legend>Үхсэн мал, амьтан:</legend>

                    <paper-input id="idUhsenUher"
                                 type="Number"
                                 tabindex="0"
                                 name="uhsenUher"
                                 class="half"
                                 label="Үхэр*"
                                 value="{{ yernhiiMedeelel.uhsen_uher }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUhsenHoni"
                                 type="Number"
                                 tabindex="0"
                                 name="uhsenHoni"
                                 class="half"
                                 label="Xонь*"
                                 value="{{ yernhiiMedeelel.uhsen_honi }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUhsenYmaa"
                                 type="Number"
                                 tabindex="0"
                                 name="uhsenYmaa"
                                 class="half"
                                 label="Ямаа*"
                                 value="{{ yernhiiMedeelel.uhsen_ymaa }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUhsenBusad"
                                 type="Number"
                                 tabindex="0"
                                 name="uhsenBusad"
                                 class="half"
                                 label="Бусад*"
                                 value="{{ yernhiiMedeelel.uhsen_busad }}"
                                 aria-disabled="false"
                                 required></paper-input>
                </fieldset>


                <fieldset>
                    <legend>Устгасан мал, амьтан:</legend>

                    <paper-input id="idUstgasanUher"
                                 type="Number"
                                 tabindex="0"
                                 name="ustgasanUher"
                                 class="half"
                                 label="Үхэр*"
                                 value="{{ yernhiiMedeelel.ustgasan_uher }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUstgasanHoni"
                                 type="Number"
                                 tabindex="0"
                                 name="ustgasanHoni"
                                 class="half"
                                 label="Xонь*"
                                 value="{{ yernhiiMedeelel.ustgasan_honi }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUstgasanYmaa"
                                 type="Number"
                                 tabindex="0"
                                 name="ustgasanYmaa"
                                 class="half"
                                 label="Ямаа*"
                                 value="{{ yernhiiMedeelel.ustgasan_ymaa }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-input id="idUstgasanBusad"
                                 type="Number"
                                 tabindex="0"
                                 name="ustgasanBusad"
                                 class="half"
                                 label="Бусад*"
                                 value="{{ yernhiiMedeelel.ustgasan_busad }}"
                                 aria-disabled="false"
                                 required></paper-input>
                </fieldset>

                <vaadin-combo-box
                        id="idHorioTseer"
                        tabindex="0"
                        name="horioTseer"
                        class="half"
                        label="Хорио цээр тогтоосон эсэх*"
                        value="{{ yernhiiMedeelel.horio_ceer_eseh }}"
                        item-label-path="name"
                        item-value-path="id"
                        required></vaadin-combo-box>

                <vaadin-date-picker
                        id="idHorioTogtOgnoo"
                        tabindex="0"
                        name="horioTogtOgnoo"
                        class="half"
                        label="Хорио цээр тогтоосон огноо"
                        value="{{yernhiiMedeelel.horio_ceer_ognoo}}"
                        aria-disabled="false">
                </vaadin-date-picker>

                <vaadin-combo-box
                        id="idUstgasanEseh"
                        tabindex="0"
                        name="ustgasanEseh"
                        class="half"
                        label="Устгасан эсэх*"
                        value="{{ yernhiiMedeelel.ustgasan_eseh }}"
                        item-label-path="name"
                        item-value-path="id"
                        required></vaadin-combo-box>

                <vaadin-date-picker
                        id="idUstgasanOgnoo"
                        tabindex="0"
                        name="ustgasanOgnoo"
                        class="half"
                        label="Устгал хийсэн огноо"
                        value="{{yernhiiMedeelel.ustgal_hiisen_ognoo}}"
                        aria-disabled="false">
                </vaadin-date-picker>

                <vaadin-date-picker
                        id="idRecordDate"
                        tabindex="0"
                        name="recordDate"
                        class="half"
                        label="Бичлэг оруулах огноо"
                        value="{{yernhiiMedeelel.record_date}}"
                        aria-disabled="false">
                </vaadin-date-picker>


                <div style="text-align: right; margin-top: 15px; margin-bottom: 15px;">
                    <paper-button id="save-button"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                </div>
            </form>
        </div>

    </template>

    <script>
         Polymer({

            is: 'galzuu-uvchin-form-yernhii',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                btnid:{
                    type: String,
                    notify: true,
                    value : 'YE'
                },
                yernhiiMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        frmkey: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        gazarner:'',
                        golomttoo:'',
                        malchinner:'',
                        uvchlol_burt_urh_hari:'',
                        coordinate_n:'',
                        coordinate_e:'',
                        duudlagaognoo:'',
                        uvchlolehelsen_ognoo:'',
                        uvchlolburt_ognoo:'',
                        ustgalhiisenognoo:'',
                        horio_ceer_eseh:'',
                        horio_ceer_ognoo:'',
                        horioceercucalsanognoo:'',
                        lab_bat_ognoo:'',
                        sharga:'',
                        shurdun:'',
                        lab_bat_hevshil:'',
                        uvch_uher:'',
                        uvch_honi:'',
                        uvch_ymaa:'',
                        uvch_busad:'',
                        uhsen_uher:'',
                        uhsen_honi:'',
                        uhsen_ymaa:'',
                        uhsen_busad:'',
                        ustgasan_uher:'',
                        ustgasan_honi:'',
                        ustgasan_ymaa:'',
                        ustgasan_busad:'',
                        ustgasan_eseh:'',
                        ustgal_hiisen_ognoo:'',
                        record_date: '',
                        actflg: '',
                        command: ''
                    }
                },
                ynItems:{
                    type:Array,
                    notify:true,
                    value:[
                        {
                            id: 'Y',
                            name: "Тийм"
                        },
                        {
                            id: 'N',
                            name: "Үгүй"
                        }
                    ]
                }
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 yernhii medeelel :::: ready function");

                this.$.idHorioTseer.items = this.ynItems;
                this.$.idUstgasanEseh.items = this.ynItems;

                this._getCityCmbData();
                this._getShinjilsenArga();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
             _save: function () {
                 if(!this.$.formYernhiiMedeelelID.validate()){
                     this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                     return;
                 }

                 this.set("btnid", "YE");
                 //Undsen hadgalah function duudah
                 this.fire('save');
             },

             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCityReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSumReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Fetch bag, horoo
              * */
             _getBagHorooData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getBagHorooData',
                     params: [{sumcode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idBagCmbReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /*
            * Шинжилсэн арга
            * */
             _getShinjilsenArga: function () {
                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getComboVals',
                     params: ["SHARGA","MN", this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idShinjilgeeniiArga.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             }
        });

    </script>

</dom-module>
