<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="galzuu-uvchin-form-temceh-argahemjee-zardal">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formTemcehAhZardallID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ zardalMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэлийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ zardalMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idSumReg" offset="0">Сум, дүүргийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ zardalMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idBagCmbReg" offset="0">Багийн нэр сонгох</paper-tooltip>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{zardalMedeelel.malchinner}}"
                             aria-disabled="false"
                             readonly
                             required></paper-input>
                <paper-tooltip for="idMalchinNer" offset="0">Малчны нэрийг бичих</paper-tooltip>

                <fieldset>
                    <legend>Тэмцэх арга хэмжээнд дайчлагдан ажилласан:</legend>

                    <paper-input id="idAjilHeseg"
                                 name="ajilHeseg"
                                 class="half"
                                 label="Ажлын хэсэг"
                                 value="{{ zardalMedeelel.ajilHeseg }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idAjilHeseg" offset="0">Ажлын хэсэг</paper-tooltip>

                    <paper-input id="idMalEmch"
                                 name="malEmch"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Малын эмч"
                                 value="{{ zardalMedeelel.malEmch }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMalEmch" offset="0">Малын эмч</paper-tooltip>

                    <paper-input id="idBusadHumuus"
                                 name="busadHumuus"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Бусад хүмүүс"
                                 value="{{ zardalMedeelel.busadHumuus }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBusadHumuus" offset="0">Бусад хүмүүс</paper-tooltip>

                    <paper-input id="idTehnicHeregsel"
                                 name="tehnicHeregsel"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Техник хэрэгсэл"
                                 value="{{ zardalMedeelel.tehnicHeregsel }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTehnicHeregsel" offset="0">Техник хэрэгсэл</paper-tooltip>
                </fieldset>


                <fieldset>
                    <legend>Тэмцэх арга хэмжээнд гарсан зардал:</legend>

                    <paper-input id="idMeun"
                                 name="meun"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="МЭҮН"
                                 value="{{ zardalMedeelel.meun }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMeun" offset="0">МЭҮН</paper-tooltip>

                    <paper-input id="idMeut"
                                 name="meut"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="МЭҮТ"
                                 value="{{ zardalMedeelel.meut }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMeut" offset="0">МЭҮТ</paper-tooltip>

                    <paper-input id="idMea"
                                 name="mea"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="МЭА"
                                 value="{{ zardalMedeelel.mea }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMea" offset="0">МЭА</paper-tooltip>

                    <paper-input id="idTurZB"
                                 name="turZB"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Төрийн ЗБ-аас"
                                 value="{{ zardalMedeelel.turZB }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTurZB" offset="0">Төрийн ЗБ-аас</paper-tooltip>
                </fieldset>

                <paper-input id="idNuhunOlgZardal"
                             name="nuhunOlgZardal"
                             class="half"
                             type="Number"
                             min="0"
                             label="Нөхөн олговрын зардал"
                             value="{{ zardalMedeelel.nuhunOlgZardal }}"
                             aria-disabled="false"
                             required></paper-input>
                <paper-tooltip for="idNuhunOlgZardal" offset="0">Нөхөн олговрын зардал /төг/</paper-tooltip>

                <vaadin-date-picker
                        id="idRecordDate"
                        tabindex="0"
                        name="recordDate"
                        class="half"
                        label="Бичлэг оруулах огноо"
                        value="{{zardalMedeelel.recordDate}}"
                        aria-disabled="false">
                </vaadin-date-picker>

                <paper-tooltip for="idRecordDate" offset="0">Бичлэг оруулах огноо</paper-tooltip>

                <div style="text-align: right; margin-top: 15px;margin-bottom: 15px;">
                    <paper-button id="idSaveButton"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                    <paper-tooltip for="idSaveButton" offset="0">Тэмцэх арга хэмжээний зардал хадгалах</paper-tooltip>
                </div>
            </form>
        </div>

    </template>

    <script>
        Polymer({

            is: 'galzuu-uvchin-form-temceh-argahemjee-zardal',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                zardalMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        form01key: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        malchinner:'',
                        ajilHeseg:'',
                        malEmch:'',
                        busadHumuus:'',
                        tehnicHeregsel:'',
                        meun:'',
                        meut:'',
                        mea:'',
                        turZB: '',
                        nuhunOlgZardal: '',
                        recordDate:'',
                        command: ''
                    }
                }
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 temceh arga hemjeenii zardal :::: ready function");

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
            _save: function () {
                if(!this.$.formTemcehAhZardallID.validate()){
                    this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                    return;
                }
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'setForm01TemcehArgaHemjeeZardal',
                        params: [this.zardalMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that._showErrorMessage(resp.result);
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },
            /**
             * Show Error Message
             *
             * @param err
             * @private
             */
            _showErrorMessage: function (err) {
                if (err.errType == 'INFO') {
                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: true, message: mess});
                }
                else{
                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: false, message: mess});
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idCityReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch bag, horoo
             * */
            _getBagHorooData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagHorooData',
                    params: [{sumcode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idBagCmbReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            }
        });

    </script>

</dom-module>
