<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="galzuu-uvchin-form-temceh-argahemjee">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formTemcehAhMedeelelID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ temargahemjeeMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэлийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ temargahemjeeMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idSumReg" offset="0">Сум, дүүргийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ temargahemjeeMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idBagCmbReg" offset="0">Багийн нэр сонгох</paper-tooltip>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{temargahemjeeMedeelel.malchinner}}"
                             aria-disabled="false"
                             readonly
                             required></paper-input>
                <paper-tooltip for="idMalchinNer" offset="0">Малчны нэрийг бичих</paper-tooltip>

                <fieldset>
                    <legend>Вакцин:</legend>

                    <vaadin-date-picker
                            id="idBakcinOgnoo"
                            tabindex="0"
                            name="bakcinOgnoo"
                            class="half"
                            label="Вакцинжуулалтын түүх /огноо/"
                            value="{{temargahemjeeMedeelel.bakcinOgnoo}}"
                            aria-disabled="false">
                    </vaadin-date-picker>
                    <paper-tooltip for="idBakcinOgnoo" offset="0">Вакцинжуулалтын түүх /огноо/</paper-tooltip>

                    <paper-input id="idBakcinUusel"
                                 name="bakcinUusel"
                                 class="half"
                                 label="Вакцины гарал үүсэл*"
                                 value="{{ temargahemjeeMedeelel.bakcinUusel }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBakcinUusel" offset="0">Вакцины гарал үүсэл</paper-tooltip>

                    <paper-input id="idHamragdsanMalToo"
                                 name="hamragdsanMalToo"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Хамрагдсан малын тоо*"
                                 value="{{ temargahemjeeMedeelel.hamragdsanMalToo }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHamragdsanMalToo" offset="0">Хамрагдсан малын тоо</paper-tooltip>

                    <vaadin-combo-box id="idUvchinIlersenEseh"
                                      tabindex="0"
                                      name="uvchinIlersenEseh"
                                      class="half"
                                      label="Вакцинжуулалтанд хамрагдсан малаас өвчлөл илэрсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.uvchinIlersenEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idUvchinIlersenEseh" offset="0">Вакцинжуулалтанд хамрагдсан малаас өвчлөл илэрсэн эсэх</paper-tooltip>

                    <paper-input id="idHedHoDaraaUvch"
                                 name="hedHoDaraaUvch"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Вакцинжуулснаас хойш хэдэн хоногийн дараа өвчлөл илэрсэн"
                                 value="{{ temargahemjeeMedeelel.hedHoDaraaUvch }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHedHoDaraaUvch" offset="0">Вакцинжуулснаас хойш хэдэн хоногийн дараа өвчлөл илэрсэн</paper-tooltip>

                    <paper-input id="idHedenMalUvchilson"
                                 name="hedenMalUvchilson"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Вакцинжуулснаас хойш хэдэн мал өвчилсөн"
                                 value="{{ temargahemjeeMedeelel.hedenMalUvchilson }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHedenMalUvchilson" offset="0">Вакцинжуулснаас хойш хэдэн мал өвчилсөн</paper-tooltip>

                    <vaadin-date-picker
                            id="idBakciinjuulaltiinOgnoo"
                            tabindex="0"
                            name="bakciinjuulaltiinOgnoo"
                            class="half"
                            label="Дэгдэлтийн үеийн вакцинжуулалтын огноо"
                            value="{{temargahemjeeMedeelel.bakciinjuulaltiinOgnoo}}"
                            aria-disabled="false">
                    </vaadin-date-picker>
                    <paper-tooltip for="idBakciinjuulaltiinOgnoo" offset="0">Дэгдэлтийн үеийн вакцинжуулалтын огноо</paper-tooltip>

                    <paper-input id="idMalEmchNegjNer"
                                 name="malEmchNegjNer"
                                 class="half"
                                 label="Вакциндсан малын эмч, нэгжийн нэр"
                                 value="{{ temargahemjeeMedeelel.malEmchNegjNer }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMalEmchNegjNer" offset="0">Вакциндсан малын эмч, нэгжийн нэр</paper-tooltip>
                </fieldset>


                <fieldset>
                    <legend>Халдваргүйжүүлэлт:</legend>


                    <vaadin-combo-box id="idHaldHiisenEseh"
                                      tabindex="0"
                                      name="BagNer"
                                      class="half"
                                      label="Халдваргүйжүүлэлт хийсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.haldHiisenEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idHaldHiisenEseh" offset="0">Халдваргүйжүүлэлт хийсэн эсэх</paper-tooltip>

                    <paper-input id="idHedenUdaa"
                                 name="hedenUdaa"
                                 class="half"
                                 label="Хэдэн удаа"
                                 value="{{ temargahemjeeMedeelel.hedenUdaa }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHedenUdaa" offset="0">Хэдэн удаа хийсэн</paper-tooltip>

                    <paper-input id="idYmarBodis"
                                 name="ymarBodis"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Ямар бодисоор"
                                 value="{{ temargahemjeeMedeelel.ymarBodis }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idYmarBodis" offset="0">Ямар бодисоор</paper-tooltip>

                    <paper-input id="idYmarArgaar"
                                 name="ymarArgaar"
                                 class="half"
                                 min="0"
                                 label="Ямар аргаар"
                                 value="{{ temargahemjeeMedeelel.ymarArgaar }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idYmarArgaar" offset="0">Вакцинжуулалтын түүх /огноо/</paper-tooltip>

                    <paper-input id="idTalbai"
                                 name="talbai"
                                 class="half"
                                 type="Number"
                                 min="0"
                                 label="Талбай"
                                 value="{{ temargahemjeeMedeelel.talbai }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTalbai" offset="0">Талбай</paper-tooltip>

                    <paper-input id="idZarBodis"
                                     name="zarBodis"
                                     class="half"
                                     type="Number"
                                     min="0"
                                     label="Зарцуулсан бодис"
                                     value="{{ temargahemjeeMedeelel.zarBodis }}"
                                     aria-disabled="false"
                                     required></paper-input>
                    <paper-tooltip for="idZarBodis" offset="0">Зарцуулсан бодис</paper-tooltip>

                    <vaadin-date-picker
                            id="idEcsnHaldOgnoo"
                            tabindex="0"
                            name="ecsnHaldOgnoo"
                            class="half"
                            label="Эцсийн халдваргүйжүүлэлт хийсэн огноо"
                            value="{{temargahemjeeMedeelel.ecsnHaldOgnoo}}"
                            aria-disabled="false">
                    </vaadin-date-picker>
                    <paper-tooltip for="idEcsnHaldOgnoo" offset="0">Эцсийн халдваргүйжүүлэлт хийсэн огноо</paper-tooltip>
                </fieldset>


                <fieldset>
                    <legend>Урьдчилан сэргийлэх зорилгоор орон нутгаас авч хэрэгжүүлсэн арга хэмжээ:</legend>


                    <vaadin-combo-box id="idMmndemuztanheseh"
                                      tabindex="0"
                                      name="mmndemuztanheseh"
                                      class="half"
                                      label="Малчдын малд нэг бүрчлэн эрүүл мэндийн үзлэг тандалт хийсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.mmndemuztanheseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idMmndemuztanheseh" offset="0">Малчдын малд нэг бүрчлэн эрүүл мэндийн үзлэг тандалт хийсэн эсэх</paper-tooltip>

                    <vaadin-combo-box id="idMuvchtmheseh"
                                      tabindex="0"
                                      name="muvchtmheseh"
                                      class="half"
                                      label="Малчдад өвчний талаарх мэдээлэл хүргэсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.muvchtmheseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idMuvchtmheseh" offset="0">Малчдад өвчний талаарх мэдээлэл хүргэсэн эсэх</paper-tooltip>

                    <vaadin-combo-box id="idGarAvlagaMatTaraasanEseh"
                                      tabindex="0"
                                      name="garAvlagaMatTaraasanEseh"
                                      class="half"
                                      label="Гарын авлага материал тараасан эсэх*"
                                      value="{{ temargahemjeeMedeelel.garAvlagaMatTaraasanEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idGarAvlagaMatTaraasanEseh" offset="0">Гарын авлага материал тараасан эсэх</paper-tooltip>

                    <vaadin-combo-box id="idZuvSerMaUgsunEseh"
                                      tabindex="0"
                                      name="zuvSerMaUgsunEseh"
                                      class="half"
                                      label="Зөвлөмж, зөвлөгөө, сэрэмжлүүлэг малчдад өгсөн эсэх*"
                                      value="{{ temargahemjeeMedeelel.zuvSerMaUgsunEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idZuvSerMaUgsunEseh" offset="0">Зөвлөмж, зөвлөгөө, сэрэмжлүүлэг малчдад өгсөн эсэх</paper-tooltip>

                    <vaadin-combo-box id="idOnMaShHudONgargasanEseh"
                                      tabindex="0"
                                      name="onMaShHudONgargasanEseh"
                                      class="half"
                                      label="Орон нутгийн малчдын шилжилт хөдөлгөөн, отор нүүдлийн бүртгэл гаргасан эсэх*"
                                      value="{{ temargahemjeeMedeelel.onMaShHudONgargasanEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idOnMaShHudONgargasanEseh" offset="0">Орон нутгийн малчдын шилжилт хөдөлгөөн, отор нүүдлийн бүртгэл гаргасан эсэх</paper-tooltip>

                    <vaadin-combo-box id="idBusdSumMedEseh"
                                      tabindex="0"
                                      name="busdSumMedEseh"
                                      class="half"
                                      label="Суманд өвчин бүртгэгдсэний дараа бусад сумдад мэдэгдсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.busdSumMedEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idBusdSumMedEseh" offset="0">Суманд өвчин бүртгэгдсэний дараа бусад сумдад мэдэгдсэн эсэх</paper-tooltip>

                    <vaadin-combo-box id="idUvchinBurtTalMedEseh"
                                      tabindex="0"
                                      name="uvchinBurtTalMedEseh"
                                      class="half"
                                      label="Хил залгаа аймаг сумдад өвчин бүртгэгдсэн талаар мэдээлсэн эсэх*"
                                      value="{{ temargahemjeeMedeelel.uvchinBurtTalMedEseh }}"
                                      item-label-path="name"
                                      item-value-path="id"
                                      required></vaadin-combo-box>
                    <paper-tooltip for="idUvchinBurtTalMedEseh" offset="0">Хил залгаа аймаг сумдад өвчин бүртгэгдсэн талаар мэдээлсэн эсэх</paper-tooltip>
                </fieldset>

                <vaadin-date-picker
                    id="idRecordDate"
                    tabindex="0"
                    name="recordDate"
                    class="half"
                    label="Бичлэг оруулах огноо"
                    value="{{temargahemjeeMedeelel.recordDate}}"
                    aria-disabled="false">
                </vaadin-date-picker>
                <paper-tooltip for="idRecordDate" offset="0">Бичлэг оруулах огноо</paper-tooltip>

                <div style="text-align: right; margin-top: 15px;margin-bottom: 15px;">
                    <paper-button id="save-button"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                </div>
            </form>
        </div>

    </template>

    <script>
         Polymer({

            is: 'galzuu-uvchin-form-temceh-argahemjee',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                temargahemjeeMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        form01key: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        malchinner:'',
                        bakcinOgnoo:'',
                        bakcinUusel:'',
                        hedenMalUvchilson: '',
                        hamragdsanMalToo:'',
                        uvchinIlersenEseh:'',
                        hedHoDaraaUvch:'',
                        bakciinjuulaltiinOgnoo:'',
                        malEmchNegjNer:'',
                        haldHiisenEseh:'',
                        hedenUdaa:'',
                        ymarBodis:'',
                        ymarArgaar:'',
                        talbai:'',
                        zarBodis:'',
                        ecsnHaldOgnoo:'',
                        mmndemuztanheseh:'',
                        muvchtmheseh:'',
                        garAvlagaMatTaraasanEseh:'',
                        zuvSerMaUgsunEseh:'',
                        onMaShHudONgargasanEseh:'',
                        busdSumMedEseh:'',
                        uvchinBurtTalMedEseh:'',
                        recordDate:'',
                        command: ''
                    }
                }
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 temceh arga hemjee medeelel :::: ready function");

                this.$.idUvchinBurtTalMedEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idBusdSumMedEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idOnMaShHudONgargasanEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idZuvSerMaUgsunEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idGarAvlagaMatTaraasanEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idMuvchtmheseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idMmndemuztanheseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idHaldHiisenEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];
                this.$.idUvchinIlersenEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
             _save: function () {
                 if(!this.$.formTemcehAhMedeelelID.validate()){
                     this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                     return;
                 }
                 var that = this;
                 try{
                     var argument = {
                         id: new Date().getTime(),
                         token: 'HospAppToken',
                         method: 'setForm01TemcehArgaHemjeeMedee',
                         params: [this.temargahemjeeMedeelel, this.loggedIn.id, window.location.hash],
                     };

                     rpc("rpc/regform", argument, function (resp) {
                         if (resp.result) {
                             that._showErrorMessage(resp.result);
                         } else {
                             that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch (ex){
                     console.log(ex);
                 }
             },
             /**
              * Show Error Message
              *
              * @param err
              * @private
              */
             _showErrorMessage: function (err) {
                 if (err.errType == 'INFO') {
                     var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                     this.fire('show-toast-message', {success: true, message: mess});
                 }
                 else{
                     var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                     this.fire('show-toast-message', {success: false, message: mess});
                 }
             },
             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCityReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSumReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Fetch bag, horoo
              * */
             _getBagHorooData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getBagHorooData',
                     params: [{sumcode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idBagCmbReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             }
        });

    </script>

</dom-module>
