<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="galzuu-uvchin-form-shinjtemdeg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formShinjTemdegID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ shinjTemdegMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэлийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ shinjTemdegMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idSumReg" offset="0">Сум, дүүргийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ shinjTemdegMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idBagCmbReg" offset="0">Багийн нэр сонгох</paper-tooltip>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{shinjTemdegMedeelel.malchinner}}"
                             aria-disabled="false"
                             readonly
                             required></paper-input>
                <paper-tooltip for="idMalchinNer" offset="0">Малчны нэрийг бичих</paper-tooltip>

                <fieldset>
                    <legend>Шинж тэмдэг:</legend>

                    <paper-input id="idHaluursan"
                                 tabindex="0"
                                 type="Number"
                                 name="haluursan"
                                 class="half"
                                 label="Халуурсан*"
                                 value="{{ shinjTemdegMedeelel.haluursan }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHaluursan" offset="0">Халуурсан</paper-tooltip>

                    <paper-input id="idHelenDeerUlhii"
                                 tabindex="0"
                                 type="Number"
                                 name="helenDeerUlhii"
                                 class="half"
                                 label="Хэлэн дээр үлхий*"
                                 value="{{ shinjTemdegMedeelel.helenDeerUlhii }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHelenDeerUlhii" offset="0">Хэлэн дээр үлхий</paper-tooltip>

                    <paper-input id="idZavjDeerUlhii"
                                 tabindex="0"
                                 type="Number"
                                 name="zavjDeerUlhii"
                                 class="half"
                                 label="Завж дээр үлхий*"
                                 value="{{ shinjTemdegMedeelel.zavjDeerUlhii }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idZavjDeerUlhii" offset="0">Завж дээр үлхий</paper-tooltip>

                    <paper-input id="idHuliinSalaandUlhii"
                                 tabindex="0"
                                 type="Number"
                                 name="huliinSalaandUlhii"
                                 class="half"
                                 label="Хөлийн салаанд үлхий*"
                                 value="{{ shinjTemdegMedeelel.huliinSalaandUlhii }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHuliinSalaandUlhii" offset="0">Хөлийн салаанд үлхий</paper-tooltip>

                    <paper-input id="idUnjiih"
                                 tabindex="0"
                                 type="Number"
                                 name="unjiih"
                                 class="half"
                                 label="Унжийх*"
                                 value="{{ shinjTemdegMedeelel.unjiih }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idUnjiih" offset="0">Унжийх</paper-tooltip>

                    <paper-input id="idTejeelIdehguBh"
                                 tabindex="0"
                                 type="Number"
                                 name="tejeelIdehguBh"
                                 class="half"
                                 label="Тэжээл идэхгүй байх*"
                                 value="{{ shinjTemdegMedeelel.tejeelIdehguBh }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTejeelIdehguBh" offset="0">Тэжээл идэхгүй байх</paper-tooltip>
                </fieldset>

                <vaadin-date-picker
                    id="idRecordDate"
                    tabindex="0"
                    name="recordDate"
                    class="half"
                    label="Бичлэг оруулах огноо"
                    value="{{shinjTemdegMedeelel.recordDate}}"
                    aria-disabled="false">
                </vaadin-date-picker>
                <paper-tooltip for="idRecordDate" offset="0">Бичлэг оруулах огноо</paper-tooltip>

                <paper-input class="half"
                             value="{{ shinjTemdegMedeelel.frmkey }}"
                             hidden required readonly disabled></paper-input>

                <div style="text-align: right; margin-top: 15px;margin-bottom: 15px;">
                    <paper-button id="idSaveButton"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                    <paper-tooltip for="idSaveButton" offset="0">Шинж тэмдэгийн мэдээлэл хадгалах</paper-tooltip>
                </div>
            </form>
        </div>

    </template>

    <script>
         Polymer({

            is: 'galzuu-uvchin-form-shinjtemdeg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                btnid:{
                    type: String,
                    notify: true,
                    value : 'SHT'
                },
                shinjTemdegMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        frmkey:'',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        malchinner:'',
                        haluursan:'',
                        helenDeerUlhii:'',
                        zavjDeerUlhii:'',
                        huliinSalaandUlhii:'',
                        unjiih:'',
                        tejeelIdehguBh:'',
                        recordDate:'',
                        command: ''
                    }
                }
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 shinj temdeg medeelel :::: ready function");

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
             _save: function () {
                 if(!this.$.formShinjTemdegID.validate()){
                     this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                     return;
                 }

                 this.set("btnid", "SHT");

                 this.set("shinjTemdegMedeelel.command", "INS");
                 //Undsen hadgalah function duudah
                 this.fire('save');
             },
             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCityReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSumReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Fetch bag, horoo
              * */
             _getBagHorooData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getBagHorooData',
                     params: [{sumcode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idBagCmbReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             }
        });

    </script>

</dom-module>
