<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="galzuu-uvchin-form-tarhvariin-medeelel">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formTarhvarMedeelelID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ tarhvariinMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэлийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ tarhvariinMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idSumReg" offset="0">Сум, дүүргийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ tarhvariinMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idBagCmbReg" offset="0">Багийн нэр сонгох</paper-tooltip>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{tarhvariinMedeelel.malchinner}}"
                             aria-disabled="false"
                             readonly
                             required></paper-input>
                <paper-tooltip for="idMalchinNer" offset="0">Малчны нэрийг бичих</paper-tooltip>

                <fieldset>
                    <legend>Тандалт:</legend>

                    <paper-input id="idBaigaliinHaldvar"
                                 tabindex="0"
                                 type="Number"
                                 name="baigal_haldvariin"
                                 class="half"
                                 label="Байгалийн халдварын*"
                                 value="{{ tarhvariinMedeelel.baigal_haldvariin }}"
                                 aria-disabled="false"
                                 required></paper-input>

                    <paper-tooltip for="idBaigaliinHaldvar" offset="0">Байгалийн халдварын</paper-tooltip>

                    <paper-input id="idBakcinii"
                                 tabindex="0"
                                 type="Number"
                                 min="0"
                                 name="baktsinii"
                                 class="half"
                                 label="Вакцины*"
                                 value="{{ tarhvariinMedeelel.baktsinii }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBakcinii" offset="0">Байгалийн халдварын</paper-tooltip>
                </fieldset>

                <fieldset>
                    <legend>Дэгдэлтийн судалгаа:</legend>

                    <paper-input id="idSudHiisenEseh"
                                 tabindex="0"
                                 type="Number"
                                 min="0"
                                 name="hiiseneseh"
                                 class="half"
                                 label="Хийсэн эсэх*"
                                 value="{{ tarhvariinMedeelel.hiiseneseh }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idSudHiisenEseh" offset="0">Дэгдэлтийн судалгаа хийсэн эсэх</paper-tooltip>

                    <paper-input id="idBagiinGishNers"
                                 tabindex="0"
                                 type="String"
                                 name="bagiinGishuudNers"
                                 class="half"
                                 label="Багийн гишүүдийн нэрс*"
                                 value="{{ tarhvariinMedeelel.bagiinGishuudNers }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBagiinGishNers" offset="0">Дэгдэлтийн судалгаа хийсэн багийн гишүүдийн нэрс</paper-tooltip>

                    <paper-input id="idGarsanUrdun"
                                 tabindex="0"
                                 type="String"
                                 name="garsanUrdun"
                                 class="half"
                                 label="Гарсан үр дүн"
                                 value="{{ tarhvariinMedeelel.garsanUrdun }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idGarsanUrdun" offset="0">Дэгдэлтийн судалгаа хийсэний дараах гарсан үр дүн</paper-tooltip>

                    <paper-input id="idZuvlomj"
                                 tabindex="0"
                                 type="String"
                                 name="idZuvlomj"
                                 class="half"
                                 label="Зөвлөмж"
                                 value="{{ tarhvariinMedeelel.idZuvlomj }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idZuvlomj" offset="0">Дэгдэлтийн судалгааны талаарх зөвлөмж</paper-tooltip>
                </fieldset>

                <fieldset>
                    <legend>Халдварын  шалтгааны хүчин зүйл:</legend>

                    <paper-input id="idHuchinZuilOrtHugstsaa"
                                 tabindex="0"
                                 type="Number"
                                 name="haluursan"
                                 class="half"
                                 label="Хүчин зүйлд өртсөн байж болох хугацаа*"
                                 value="{{ tarhvariinMedeelel.huchinzuilortsonhugatsaa }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHuchinZuilOrtHugstsaa" offset="0">Хүчин зүйлд өртсөн байж болох хугацаа</paper-tooltip>

                    <paper-input id="idUrjiinMalHud"
                                 tabindex="0"
                                 type="String"
                                 name="urjliinMalHud"
                                 class="half"
                                 label="Үржлийн малын худалдаа*"
                                 value="{{ tarhvariinMedeelel.urjliinMalHud }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idUrjiinMalHud" offset="0">Үржлийн малын худалдаа</paper-tooltip>

                    <paper-input id="idBusadMalHud"
                                 tabindex="0"
                                 type="String"
                                 name="busadMalHud"
                                 class="half"
                                 label="Бусад төрлийн малын худалдаа"
                                 value="{{ tarhvariinMedeelel.busadMalHud }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBusadMalHud" offset="0">Бусад төрлийн малын худалдаа</paper-tooltip>

                    <paper-input id="idBagcinTariagu"
                                 tabindex="0"
                                 type="String"
                                 name="bakcinTariagu"
                                 class="half"
                                 label="Вакцин тариагүй"
                                 value="{{ tarhvariinMedeelel.bakcinTariagu }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBagcinTariagu" offset="0">Вакцин тариагүй</paper-tooltip>

                    <paper-input id="idOtorNuudel"
                                 tabindex="0"
                                 type="String"
                                 name="otorNuudel"
                                 class="half"
                                 label="Отор нүүдэл"
                                 value="{{ tarhvariinMedeelel.otorNuudel }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idOtorNuudel" offset="0">Отор нүүдэл</paper-tooltip>

                    <paper-input id="idHuniiShiljiltHud"
                                 tabindex="0"
                                 type="String"
                                 name="huniiShiljiltHud"
                                 class="half"
                                 label="Хүний шилжилт хөдөлгөөн"
                                 value="{{ tarhvariinMedeelel.huniiShiljiltHud }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHuniiShiljiltHud" offset="0">Хүний шилжилт хөдөлгөөн</paper-tooltip>

                    <paper-input id="idTeevriinShiljHud"
                                 tabindex="0"
                                 type="String"
                                 name="teevriinShiljHud"
                                 class="half"
                                 label="Тээврийн хэрэгслийн шилжилт хөдөлгөөн"
                                 value="{{ tarhvariinMedeelel.teevriinShiljHud }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTeevriinShiljHud" offset="0">Тээврийн хэрэгслийн шилжилт хөдөлгөөн</paper-tooltip>

                    <paper-input id="idTabiulMalAvsan"
                                 tabindex="0"
                                 type="String"
                                 name="tabiulMalAvsan"
                                 class="half"
                                 label="Тавиул мал авсан"
                                 value="{{ tarhvariinMedeelel.tabiulMalAvsan }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTabiulMalAvsan" offset="0">Тавиул мал авсан</paper-tooltip>

                    <paper-input id="idBelcheerNeg"
                                 tabindex="0"
                                 type="String"
                                 name="belcheerNeg"
                                 class="half"
                                 label="Бэлчээр нэг"
                                 value="{{ tarhvariinMedeelel.belcheerNeg }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBelcheerNeg" offset="0">Бэлчээр нэг</paper-tooltip>

                    <paper-input id="idHudagUs"
                                 tabindex="0"
                                 type="String"
                                 name="hudagUs"
                                 class="half"
                                 label="Худаг ус нэг"
                                 value="{{ tarhvariinMedeelel.hudagUs }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idHudagUs" offset="0">Бэлчээр нэг</paper-tooltip>

                    <paper-input id="idBusadHuchinZuil"
                                 tabindex="0"
                                 type="String"
                                 name="busadHuchinZuil"
                                 class="half"
                                 label="Бусад хүчин зүйлийг нэрлэж бичнэ"
                                 value="{{ tarhvariinMedeelel.busadHuchinZuil }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBusadHuchinZuil" offset="0">Бусад хүчин зүйлийг нэрлэж бичнэ</paper-tooltip>

                    <paper-input id="idShaltgaanTodgu"
                                 tabindex="0"
                                 type="String"
                                 name="shaltgaanTodgu"
                                 class="half"
                                 label="Шалтгаан тодорхойгүй"
                                 value="{{ tarhvariinMedeelel.shaltgaanTodgu }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idShaltgaanTodgu" offset="0">Шалтгаан тодорхойгүй</paper-tooltip>
                </fieldset>

                <fieldset>
                    <legend>Илрүүлсэн байдал:</legend>

                    <paper-input id="idMalchinUuruu"
                                 tabindex="0"
                                 type="Number"
                                 name="malchinUuruu"
                                 class="half"
                                 label="Малчин өөрөө дуудлага өгсөн"
                                 value="{{ tarhvariinMedeelel.malchinUuruu }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMalchinUuruu" offset="0">Малчин өөрөө дуудлага өгсөн</paper-tooltip>

                    <paper-input id="idSahaltAil"
                                 tabindex="0"
                                 type="String"
                                 name="sahaltAil"
                                 class="half"
                                 label="Саахалт айл мэдээлсэн"
                                 value="{{ tarhvariinMedeelel.sahaltAil }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idSahaltAil" offset="0">Саахалт айл мэдээлсэн</paper-tooltip>

                    <paper-input id="idMalEmneleg"
                                 tabindex="0"
                                 type="String"
                                 name="malEmneleg"
                                 class="half"
                                 label="Өвчин бүртгэгдэхээс өмнө мал эмнэлгийн төлөвлөгөөт үзлэгээр илрүүлсэн"
                                 value="{{ tarhvariinMedeelel.malEmneleg }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idMalEmneleg" offset="0">Өвчин бүртгэгдэхээс өмнө мал эмнэлгийн төлөвлөгөөт үзлэгээр илрүүлсэн</paper-tooltip>

                    <paper-input id="idUzlegTandalt"
                                 tabindex="0"
                                 type="String"
                                 name="uzlegTandalt"
                                 class="half"
                                 label="Голомт бүртгэгдсэний дараа үзлэг тандалтаар илрүүлсэн"
                                 value="{{ tarhvariinMedeelel.uzlegTandalt }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idUzlegTandalt" offset="0">Голомт бүртгэгдсэний дараа үзлэг тандалтаар илрүүлсэн</paper-tooltip>

                    <paper-input id="idTandaltShinjilgee"
                                 tabindex="0"
                                 type="String"
                                 name="tandaltShinjilgee"
                                 class="half"
                                 label="Тандалт шинжилгээгээр илэрсэн"
                                 value="{{ tarhvariinMedeelel.tandaltShinjilgee }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idTandaltShinjilgee" offset="0">Тандалт шинжилгээгээр илэрсэн</paper-tooltip>

                    <paper-input id="idBusad"
                                 tabindex="0"
                                 type="String"
                                 name="busad"
                                 class="half"
                                 label="Бусад"
                                 value="{{ tarhvariinMedeelel.busad }}"
                                 aria-disabled="false"
                                 required></paper-input>
                    <paper-tooltip for="idBusad" offset="0">Бусад</paper-tooltip>
                </fieldset>

                <vaadin-combo-box id="idTusgaarlasanEseh"
                                  tabindex="0"
                                  class="half"
                                  required
                                  label="Өвчилсөн малыг тусгаарласан эсэх"
                                  value="{{ tarhvariinMedeelel.tusgaarlasaneseh }}"
                                  item-label-path="name"
                                  item-value-path="id"></vaadin-combo-box>
                <paper-tooltip for="idTusgaarlasanEseh" offset="0">Өвчилсөн малыг тусгаарласан эсэх</paper-tooltip>

                <vaadin-date-picker id="idHedHonogTusgaarlasan"
                                    tabindex="0"
                                    name="horioTogtOgnoo"
                                    class="half"
                                    label="Хэд хоног тусгаарласан"
                                    value="{{tarhvariinMedeelel.tusgaarlasanognoo}}"
                                    aria-disabled="false">
                </vaadin-date-picker>
                <paper-tooltip for="idHedHonogTusgaarlasan" offset="0">Хэд хоног тусгаарласан</paper-tooltip>

                <paper-input id="idTusgaarlahHorooBairlal"
                             tabindex="0"
                             name="tusgaarlahHorooBairlal"
                             class="half"
                             label="Тусгаарлах хорооны байрлал"
                             value="{{tarhvariinMedeelel.tushoroobairlal}}"
                             aria-disabled="false"></paper-input>
                <paper-tooltip for="idTusgaarlahHorooBairlal" offset="0">Тусгаарлах хорооны байрлал</paper-tooltip>

                <vaadin-date-picker
                        id="idRecordDate"
                        tabindex="0"
                        name="recordDate"
                        class="half"
                        label="Бичлэг оруулах огноо"
                        value="{{tarhvariinMedeelel.recordDate}}"
                        aria-disabled="false">
                </vaadin-date-picker>
                <paper-tooltip for="idRecordDate" offset="0">Бичлэг оруулах огноо</paper-tooltip>


                <div style="text-align: right; margin-top: 15px;margin-bottom: 15px;">
                    <paper-button id="save-button"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                    <paper-tooltip for="idRecordDate" offset="0">Тархварын мэдээлэл хадгалах</paper-tooltip>
                </div>
            </form>
        </div>

    </template>

    <script>
        Polymer({

            is: 'galzuu-uvchin-form-tarhvariin-medeelel',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                tarhvariinMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        hformkey:'',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        malchinner:'',
                        baigal_haldvariin:'',
                        baktsinii:'',
                        hiiseneseh:'',
                        bagiinGishuudNers:'',
                        garsanUrdun:'',
                        idZuvlomj:'',
                        huchinzuilortsonhugatsaa:'',
                        urjliinMalHud:'',
                        busadMalHud:'',
                        bakcinTariagu:'',
                        otorNuudel:'',
                        huniiShiljiltHud:'',
                        teevriinShiljHud:'',
                        tabiulMalAvsan:'',
                        belcheerNeg:'',
                        hudagUs:'',
                        busadHuchinZuil:'',
                        shaltgaanTodgu:'',
                        malchinUuruu:'',
                        sahaltAil:'',
                        malEmneleg:'',
                        uzlegTandalt:'',
                        tandaltShinjilgee:'',
                        busad:'',
                        tusgaarlasaneseh:'',
                        tusgaarlasanognoo:'',
                        tushoroobairlal:'',
                        recordDate:'',
                        command: ''
                    }
                }
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 tarhvariin medeelel :::: ready function");

                this.$.idTusgaarlasanEseh.items = [{id: 'Y', name: 'Тийм'}, {id: 'Y', name: 'Үгүй'}];

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
            _save: function () {
                if(!this.$.formTarhvarMedeelelID.validate()){
                    this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                    return;
                }
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'setForm01TarhvarMedee',
                        params: [this.tarhvariinMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that._showErrorMessage(resp.result);
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },
            /**
             * Show Error Message
             *
             * @param err
             * @private
             */
            _showErrorMessage: function (err) {
                if (err.errType == 'INFO') {
                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: true, message: mess});
                }
                else{
                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: false, message: mess});
                }
            },
            /**
             * Fetch City
             * */
            _getCityCmbData: function () {

                this.set("loading", true);

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getCityData',
                    params: [{}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idCityReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                        that.set("loading", false);
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                    that.set("loading", false);
                }
            },

            /**
             * Fetch sum
             * */
            _getSumData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getSumData',
                    params: [{citycode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idSumReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Fetch bag, horoo
             * */
            _getBagHorooData: function (event) {
                if(this.loggedIn == undefined || event.detail.value == undefined) return;

                var argument ={
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getBagHorooData',
                    params: [{sumcode : event.detail.value}, this.loggedIn.id],
                };
                if(!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/hospsys", argument, function (resp){
                        if (resp.result){
                            that.$.idBagCmbReg.items = resp.result;
                        }else{
                            that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                        }
                    });
                }catch(err){
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            }
        });

    </script>

</dom-module>
