<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="galzuu-uvchin-form-surgiin-medeelel">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                background-color: #0f62ac;
                padding: 5px;
                color: #fff;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }
        </style>

        <div>
            <form is="iron-form" id="formSurgiinMedeelelID">
                <vaadin-combo-box id="idCityReg"
                                  name="city"
                                  class="half"
                                  label="Аймаг, нийслэл*"
                                  value="{{ surgiinMedeelel.citycode }}"
                                  on-value-changed="_getSumData"
                                  item-label-path="cityname"
                                  item-value-path="code"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idCityReg" offset="0">Аймаг, нийслэлийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idSumReg"
                                  name="Sum"
                                  class="half"
                                  label="Сум, дүүрэг*"
                                  value="{{ surgiinMedeelel.sumcode }}"
                                  on-value-changed="_getBagHorooData"
                                  item-label-path="sumname"
                                  item-value-path="sumcode"
                                  tabindex="0"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idSumReg" offset="0">Сум, дүүргийн нэр сонгох</paper-tooltip>

                <vaadin-combo-box id="idBagCmbReg"
                                  tabindex="0"
                                  name="BagNer"
                                  class="half"
                                  label="Багийн нэр*"
                                  value="{{ surgiinMedeelel.bagcode }}"
                                  item-label-path="horooname"
                                  item-value-path="horoocode"
                                  readonly
                                  required></vaadin-combo-box>
                <paper-tooltip for="idBagCmbReg" offset="0">Багийн нэр сонгох</paper-tooltip>

                <paper-input id="idMalchinNer"
                             tabindex="0"
                             name="malchinNer"
                             class="half"
                             label="Малчны нэр*"
                             value="{{surgiinMedeelel.malchinner}}"
                             aria-disabled="false"
                             readonly
                             required></paper-input>
                <paper-tooltip for="idMalchinNer" offset="0">Малчны нэрийг бичих</paper-tooltip>

                <fieldset>
                    <legend>Мэдрэмтгий сүргийн бүтэц /тухайн өрхөд байгаа мэдрэмтгий малын тоон мэдээлэл/:</legend>

                    <paper-datatable id="datatable" data="{{ surgiinMedeelel.medremtgiidata}}">
                        <paper-datatable-column id="tableID" header="№" property="_index" type="Number" sortable></paper-datatable-column>
                        <paper-datatable-column header="~" property="age_sex" type="String" sortable tooltip="Нас, хүйс"></paper-datatable-column>

                        <paper-datatable-column header="Үхэр" property="_uher" type="String"  sortable tooltip="Үнэлгээ">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Хонь" property="_honi" sortable tooltip="Хураамжийн хувь">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Ямаа" property="_ymaa" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Тэмээ" property="_temee" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Гахай" property="_gahai" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Бусад" property="_busad" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Зэрлэг амьтад" property="_zerlegAmitad" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>
                </fieldset>

                <fieldset>
                    <legend>Өвчилсөн малын мэдээлэл:</legend>

                    <paper-datatable id="datatable" data="{{ surgiinMedeelel.uvchilsondata}}">
                        <paper-datatable-column id="tableID" header="№" property="_index" type="Number" sortable></paper-datatable-column>
                        <paper-datatable-column header="~" property="age_sex" type="String" sortable tooltip="Нас, хүйс"></paper-datatable-column>

                        <paper-datatable-column header="Үхэр" property="_uher" type="String"  sortable tooltip="Үнэлгээ">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Хонь" property="_honi" sortable tooltip="Хураамжийн хувь">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Ямаа" property="_ymaa" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Тэмээ" property="_temee" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>
                </fieldset>

                <fieldset>
                    <legend>Устгасан малын мэдээлэл:</legend>

                    <paper-datatable id="datatable" data="{{ surgiinMedeelel.ustgasanmedeelel}}">
                        <paper-datatable-column id="tableID" header="№" property="_index" type="Number" sortable></paper-datatable-column>
                        <paper-datatable-column header="~" property="age_sex" type="String" sortable tooltip="Нас, хүйс"></paper-datatable-column>

                        <paper-datatable-column header="Үхэр" property="_uher" type="String"  sortable tooltip="Үнэлгээ">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Хонь" property="_honi" sortable tooltip="Хураамжийн хувь">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Ямаа" property="_ymaa" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>
                </fieldset>


                <fieldset>
                    <legend>Үхсэн малын мэдээлэл:</legend>

                    <paper-datatable id="datatable" data="{{ surgiinMedeelel.uhsenmedeelel}}">
                        <paper-datatable-column id="tableID" header="№" property="_index" type="Number" sortable></paper-datatable-column>
                        <paper-datatable-column header="~" property="age_sex" type="String" sortable tooltip="Нас, хүйс"></paper-datatable-column>

                        <paper-datatable-column header="Үхэр" property="_uher" type="String"  sortable tooltip="Үнэлгээ">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Хонь" property="_honi" sortable tooltip="Хураамжийн хувь">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Ямаа" property="_ymaa" sortable tooltip="Хураамжийн дүн">
                            <template>
                                <paper-input value="{{value}}" no-label-float type="Number" min="0" max="99999999999"></paper-input>
                            </template>
                        </paper-datatable-column>
                    </paper-datatable>
                </fieldset>

                <vaadin-date-picker
                    id="idRecordDate"
                    tabindex="0"
                    name="recordDate"
                    class="half"
                    label="Бичлэг оруулах огноо"
                    value="{{surgiinMedeelel.recordDate}}"
                    aria-disabled="false">
                </vaadin-date-picker>


                <div style="text-align: right; margin-top: 15px;margin-bottom: 15px;">
                    <paper-button id="save-button"
                                  type="submit"
                                  class="btn save-button"
                                  on-click="_save"
                                  raised=""
                                  role="button"
                                  tabindex="0"
                                  animated=""
                                  aria-disabled="false"
                                  elevation="1">Хадгалах</paper-button>
                </div>
            </form>
        </div>

    </template>

    <script>
         Polymer({

            is: 'galzuu-uvchin-form-surgiin-medeelel',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },
                surgiinMedeelel: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        frmkey: '',
                        sureg_key: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        malchinner:'',
                        recordDate:'',
                        command: '',
                        medremtgiidata:[
                            {
                                _index: 1,
                                age_sex: 'Эр',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'G',
                                m_age: '0'
                            },
                            {
                                _index: 2,
                                age_sex: 'Эм',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'G',
                                m_age: '-1'
                            },
                            {
                                _index: 3,
                                age_sex: '1 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'A',
                                m_age: '1'
                            },
                            {
                                _index: 4,
                                age_sex: '2 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'A',
                                m_age: '2'
                            },
                            {
                                _index: 5,
                                age_sex: '3 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'A',
                                m_age: '3'
                            },
                            {
                                _index: 6,
                                age_sex: '4 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'A',
                                m_age: '4'
                            },
                            {
                                _index: 7,
                                age_sex: '5 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                _gahai: '0',
                                _busad: '0',
                                _zerlegAmitad:'0',
                                mtype: 'A',
                                m_age: '5'
                            }
                        ],
                        uvchilsondata:[
                            {
                                _index: 1,
                                age_sex: 'Эр',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '0'
                            },
                            {
                                _index: 2,
                                age_sex: 'Эм',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '-1'
                            },
                            {
                                _index: 3,
                                age_sex: '1 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '1'
                            },
                            {
                                _index: 4,
                                age_sex: '2 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '2'
                            },
                            {
                                _index: 5,
                                age_sex: '3 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '3'
                            },
                            {
                                _index: 6,
                                age_sex: '4 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '4'
                            },
                            {
                                _index: 7,
                                age_sex: '5 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '5'
                            },
                            {
                                _index: 8,
                                age_sex: '6 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '6'
                            },
                            {
                                _index: 9,
                                age_sex: '7 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '7'
                            },
                            {
                                _index: 10,
                                age_sex: '8 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '8'
                            },
                            {
                                _index: 11,
                                age_sex: '9 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '9'
                            },
                            {
                                _index: 12,
                                age_sex: '10 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '10'
                            }
                        ],

                        ustgasanmedeelel:[
                            {
                                _index: 1,
                                age_sex: 'Эр',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '0'
                            },
                            {
                                _index: 2,
                                age_sex: 'Эм',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '-1'
                            },
                            {
                                _index: 3,
                                age_sex: '1 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '1'
                            },
                            {
                                _index: 4,
                                age_sex: '2 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '2'
                            },
                            {
                                _index: 5,
                                age_sex: '3 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '3'
                            },
                            {
                                _index: 6,
                                age_sex: '4 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '4'
                            },
                            {
                                _index: 7,
                                age_sex: '5 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '5'
                            },
                            {
                                _index: 8,
                                age_sex: '6 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '6'
                            },
                            {
                                _index: 9,
                                age_sex: '7 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '7'
                            },
                            {
                                _index: 10,
                                age_sex: '8 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '8'
                            },
                            {
                                _index: 11,
                                age_sex: '9 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '9'
                            },
                            {
                                _index: 12,
                                age_sex: '10 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '10'
                            }
                        ],
                        uhsenmedeelel:[
                            {
                                _index: 1,
                                age_sex: 'Эр',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '0'
                            },
                            {
                                _index: 2,
                                age_sex: 'Эм',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'G',
                                m_age: '1'
                            },
                            {
                                _index: 3,
                                age_sex: '1 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '1'
                            },
                            {
                                _index: 4,
                                age_sex: '2 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '2'
                            },
                            {
                                _index: 5,
                                age_sex: '3 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '3'
                            },
                            {
                                _index: 6,
                                age_sex: '4 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '4'
                            },
                            {
                                _index: 7,
                                age_sex: '5 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '5'
                            },
                            {
                                _index: 8,
                                age_sex: '6 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '6'
                            },
                            {
                                _index: 9,
                                age_sex: '7 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '7'
                            },
                            {
                                _index: 10,
                                age_sex: '8 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '8'
                            },
                            {
                                _index: 11,
                                age_sex: '9 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '9'
                            },
                            {
                                _index: 12,
                                age_sex: '10 нас',
                                _uher: '0',
                                _honi: '0',
                                _ymaa: '0',
                                _temee: '0',
                                mtype: 'A',
                                m_age: '10'
                            }
                        ]
                    }
                },
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 surgiin medeelel :::: ready function");

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },
             _save: function () {
                 if(!this.$.formSurgiinMedeelelID.validate()){
                     this.fire('show-toast-message', {success: false, message: "Шаардлагатай талбаруудыг бөглөнө үү."});

                     return;
                 }

                 var that = this;
                 try{
                     var argument = {
                         id: new Date().getTime(),
                         token: 'HospAppToken',
                         method: 'setForm01SuregMedee',
                         params: [this.surgiinMedeelel, this.loggedIn.id, window.location.hash],
                     };

                     rpc("rpc/regform", argument, function (resp) {
                         if (resp.result) {
                             that._showErrorMessage(resp.result);
                         } else {
                             that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch (ex){
                     console.log(ex);
                 }
             },

             /**
              * Show Error Message
              *
              * @param err
              * @private
              */
             _showErrorMessage: function (err) {
                 if (err.errType == 'INFO') {
                     var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                     this.fire('show-toast-message', {success: true, message: mess});

                     var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                     this.fire('show-toast-message', {success: false, message: mess});
                 }
             },

             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCityReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSumReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Fetch bag, horoo
              * */
             _getBagHorooData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getBagHorooData',
                     params: [{sumcode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idBagCmbReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             }
        });

    </script>

</dom-module>
