<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/datetime-picker/datetime-picker.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="galzuu-uvchin-form-yernhii.html">
<link rel="import" href="galzuu-uvchin-form-shinjtemdeg.html">
<link rel="import" href="galzuu-uvchin-form-surgiin-medeelel.html">
<link rel="import" href="galzuu-uvchin-form-tarhvariin-medeelel.html">
<link rel="import" href="galzuu-uvchin-form-temceh-argahemjee.html">
<link rel="import" href="galzuu-uvchin-form-temceh-argahemjee-zardal.html">

<dom-module id="galzuu-uvchin-form-reg">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h4{
                padding: 5px;
                color: #fff;
                margin-bottom: 5px;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            #createBtn{
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }
            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }
            legend {
                color: #000000;
                font-weight: bold;
            }
            fieldset{
                border-width: 1px;
                border-color: #e6e7e8;
            }
            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            #ipsiReg{
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }
            iframe{
                width: 100%;
                border: none;
                height: 450px;
            }
            table th{
                width: 15%;
                text-align: right ;
                font-weight: normal;
                font-size: 13px;
            }
            table td{
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            paper-tabs, paper-toolbar {
                background-color: var(--paper-blue-900);
                color: #fff;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>Галзуу өвчин</h1>

                    <h4 on-click="_statusSearchDev">
                        <iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon>
                        Хайлтын нөхцөл
                    </h4>

                    <div id="idSearchDev" hidden="hidden">

                        <vaadin-date-picker id="idStartDate" tabindex="0"
                                            name="startDate"
                                            class="half"
                                            label="Эхлэх огноо*"
                                            value="{{criteriaData.record_date}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <vaadin-date-picker id="idEndDate" tabindex="0"
                                            name="endDate"
                                            class="half"
                                            label="Дуусах огноо*"
                                            value="{{criteriaData.search_date}}"
                                            aria-disabled="false">
                        </vaadin-date-picker>

                        <div style="text-align: right; margin: 15px 0px;">
                            <paper-button on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated=""
                                          aria-disabled="false" elevation="1">Шинэчлэх
                            </paper-button>
                            <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button"
                                          tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх
                            </paper-button>
                        </div>
                    </div>

                    <div>
                        <p on-click="_showReport" data-foo="pdf" id="idPrintReport">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            PDF татах
                        </p>
                        <paper-tooltip for="idPrintReport" offset="0">Тайлан PDF файлаар гаргах</paper-tooltip>

                        <p on-click="_showReport" data-foo="xls" id="idPrintReportXLS">
                            <paper-icon-button icon="image:picture-as-pdf" class="report-bttn"></paper-icon-button>
                            EXCEL татах
                        </p>
                        <paper-tooltip for="idPrintReportXLS" offset="0">Тайлан EXCEL файлаар гаргах</paper-tooltip>
                    </div>

                    <paper-datatable id="galuvchList" data="{{form01Items}}">

                        <paper-datatable-column id="tableID" header="№" sortable
                                                property="index"
                                                type="Number"></paper-datatable-column>
                        <paper-datatable-column header="Аймаг" property="citycode"
                                                type="String" sortable
                                                tooltip="Аймаг нэр"></paper-datatable-column>

                        <paper-datatable-column header="Сумын нэр" property="sumcode" type="String"
                                                sortable tooltip="Сумын нэр"></paper-datatable-column>

                        <paper-datatable-column header="Багийн нэр" property="bagcode"
                                                type="String" sortable
                                                tooltip="Багийн нэр"></paper-datatable-column>

                        <paper-datatable-column header="Газрын нэр" property="gazarner" type="String" sortable
                                                tooltip="Газрын нэр"></paper-datatable-column>

                        <paper-datatable-column header="Голомтын тоо" property="golomttoo" type="String" sortable
                                                tooltip="Голомтын тоо"></paper-datatable-column>

                        <paper-datatable-column header="Малчны нэр " property="malchinner" type="String" sortable
                                                tooltip="Малчны нэр "></paper-datatable-column>

                        <paper-datatable-column header="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал"
                                                property="uvchlol_burt_urh_hari" type="String" sortable
                                                tooltip="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал"></paper-datatable-column>

                        <paper-datatable-column header="Координат N"
                                                property="coordinate_n"
                                                type="String"
                                                sortable tooltip="Координат"></paper-datatable-column>

                        <paper-datatable-column header="Координат E" property="coordinate_e"
                                                type="String" sortable
                                                tooltip="Координат"></paper-datatable-column>

                        <paper-datatable-column header="Дуудлага ирүүлсэн огноо"
                                                property="duudlagaognoo"
                                                type="Date"
                                                sortable tooltip="Дуудлага ирүүлсэн огноо"></paper-datatable-column>


                        <paper-datatable-column header="Өвчлөл эхэлсэн огноо"
                                                property="uvchlolehelsen_ognoo"
                                                type="Date"
                                                sortable tooltip="Өвчлөл эхэлсэн огноо"></paper-datatable-column>


                        <paper-datatable-column header="Өвчлөлийг бүртгэсэн огноо "
                                                property="uvchlolburt_ognoo"
                                                type="Date"
                                                sortable tooltip="Өвчлөлийг бүртгэсэн огноо "></paper-datatable-column>

                        <paper-datatable-column header="Лаб бат-сан огноо"
                                                property="lab_bat_ognoo"
                                                type="Date"
                                                sortable tooltip="Лаб бат-сан огноо"></paper-datatable-column>

                        <paper-datatable-column header="Лабораториор баталгаажсан хэвшил, үүсгэгч"
                                                property="lab_bat_hevshil"
                                                type="String"
                                                sortable tooltip="Лабораториор баталгаажсан хэвшил, үүсгэгч"></paper-datatable-column>

                        <paper-datatable-column header="Шинжилгээний арга"
                                                property="shinjilsenarga"
                                                type="String"
                                                sortable tooltip="Шинжилгээний арга"></paper-datatable-column>

                        <paper-datatable-column header="Шинжилгээний үр дүн"
                                                property="shurdun"
                                                type="String"
                                                sortable tooltip="Шинжилгээний үр дүн"></paper-datatable-column>

                        <paper-datatable-column header="Хорио цээр тогтоосон эсэх"
                                                property="horio_ceer_eseh"
                                                type="String"
                                                sortable tooltip="Хорио цээр тогтоосон эсэх">
                            <template>{{_getYNdesc(value)}}</template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Хорио цээр тогтоосон огноо"
                                                property="horio_ceer_ognoo"
                                                type="String"
                                                sortable tooltip="Хорио цээр тогтоосон огноо"></paper-datatable-column>


                        <!--<paper-datatable-column header="Оруулсан бичлэгийн огноо"
                                                property="horio_ceer_cucalsan_ognoo"
                                                type="Date"
                                                sortable tooltip="Оруулсан бичлэгийн огноо"></paper-datatable-column>-->


                        <paper-datatable-column header="Өвчилсөн үхэр"
                                                property="uvch_uher"
                                                type="String"
                                                sortable tooltip="Өвчилсөн үхэр"></paper-datatable-column>

                        <paper-datatable-column header="Өвчилсөн хонь"
                                                property="uvch_honi"
                                                type="String"
                                                sortable tooltip="Өвчилсөн хонь"></paper-datatable-column>

                        <paper-datatable-column header="Өвчилсөн ямаа"
                                                property="uvch_ymaa"
                                                type="String"
                                                sortable tooltip="Өвчилсөн ямаа"></paper-datatable-column>

                        <paper-datatable-column header="Өвчилсөн бусад"
                                                property="uvch_busad"
                                                type="String"
                                                sortable tooltip="Өвчилсөн бусад"></paper-datatable-column>

                        <paper-datatable-column header="Үхсэн үхэр"
                                                property="uhsen_uher"
                                                type="String"
                                                sortable tooltip="Үхсэн үхэр"></paper-datatable-column>

                        <paper-datatable-column header="Үхсэн хонь"
                                                property="uhsen_honi"
                                                type="String"
                                                sortable tooltip="Үхсэн хонь"></paper-datatable-column>

                        <paper-datatable-column header="Үхсэн ямаа"
                                                property="uhsen_ymaa"
                                                type="String"
                                                sortable tooltip="Өвчилсөн ямаа"></paper-datatable-column>

                        <paper-datatable-column header="Үхсэн бусад"
                                                property="uhsen_busad"
                                                type="String"
                                                sortable tooltip="Үхсэн бусад"></paper-datatable-column>

                        <paper-datatable-column header="Устгасан үхэр"
                                                property="ustgasan_uher"
                                                type="String"
                                                sortable tooltip="Устгасан үхэр"></paper-datatable-column>

                        <paper-datatable-column header="Устгасан хонь"
                                                property="ustgasan_honi"
                                                type="String"
                                                sortable tooltip="Устгасан хонь"></paper-datatable-column>

                        <paper-datatable-column header="Устгасан ямаа"
                                                property="ustgasan_ymaa"
                                                type="String"
                                                sortable tooltip="Устгасан ямаа"></paper-datatable-column>

                        <paper-datatable-column header="Устгасан бусад"
                                                property="ustgasan_busad"
                                                type="String"
                                                sortable tooltip="Устгасан бусад"></paper-datatable-column>

                        <paper-datatable-column header="Устгасан эсэх"
                                                property="ustgasan_eseh"
                                                type="String"
                                                sortable tooltip="Устгасан эсэх">
                            <template>
                                {{_getYNdesc(value)}}
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Устгал хийсэн огноо"
                                                property="ustgal_hiisen_ognoo"
                                                type="String"
                                                sortable tooltip="Устгал хийсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн"
                                                property="cre_by"
                                                type="String"
                                                sortable tooltip="Бүртгэсэн"></paper-datatable-column>

                        <paper-datatable-column header="Бүртгэсэн огноо"
                                                property="cre_at"
                                                type="Date"
                                                sortable tooltip="Бүртгэсэн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Оруулсан бичлэгийн огноо"
                                                property="record_date"
                                                type="Date"
                                                sortable tooltip="Оруулсан бичлэгийн огноо"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;"
                                                   on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actflg" type="Number"
                                                tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;"
                                                   hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;"
                                                   on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>

                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom" title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>


                    <h4 on-click="_statusYerDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 1. Ерөнхий мэдээлэл</h4>

                    <div id="idYerDev">
                        <galzuu-uvchin-form-yernhii yernhii-medeelel="{{yernhiiMedeelel}}"
                                                    btnid="{{btnid}}"
                                                    logged-in="{{loggedIn}}"></galzuu-uvchin-form-yernhii>
                    </div>


                    <div id="idOtherForm" hidden="hidden">
                        <h4 on-click="_statusShDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 2. Шинж тэмдэгийн мэдээлэл</h4>

                        <div id="idShDev" hidden="hidden">
                            <galzuu-uvchin-form-shinjtemdeg shinj-temdeg-medeelel="{{shinjTemdegMedeelel}}"
                                                            btnid="{{btnid}}"
                                                            logged-in="{{loggedIn}}"></galzuu-uvchin-form-shinjtemdeg>
                        </div>

                        <h4 on-click="_statusSurDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 3. Сүргийн бүтцийн мэдээлэл</h4>

                        <div id="idSurDev" hidden="hidden">
                            <galzuu-uvchin-form-surgiin-medeelel surgiin-medeelel="{{surgiinMedeelel}}"
                                                                 logged-in="{{loggedIn}}"></galzuu-uvchin-form-surgiin-medeelel>
                        </div>

                        <h4 on-click="_statusTarDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 4. Тархварын мэдээлэл</h4>

                        <div id="idTarDev" hidden="hidden">
                            <galzuu-uvchin-form-tarhvariin-medeelel tarhvariin-medeelel="{{tarhvariinMedeelel}}"
                                                                    logged-in="{{loggedIn}}">
                            </galzuu-uvchin-form-tarhvariin-medeelel>
                        </div>

                        <h4 on-click="_statusTmAgDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 5. Тэмцэх арга хэмжээ</h4>

                        <div id="idTmAgDev" hidden="hidden">
                            <galzuu-uvchin-form-temceh-argahemjee temargahemjee-medeelel="{{temargahemjeeMedeelel}}"
                                                                  logged-in="{{loggedIn}}"></galzuu-uvchin-form-temceh-argahemjee>
                        </div>

                        <h4 on-click="_statusTmAgZarDev"><iron-icon icon="icons:add-circle-outline" style="width: 16px;"></iron-icon> 6. Тэмцэх арга хэмжээний зардал</h4>

                        <div id="idTmAgZarDev" hidden="hidden">
                            <galzuu-uvchin-form-temceh-argahemjee-zardal zardal-medeelel="{{zardalMedeelel}}"
                                                                         logged-in="{{loggedIn}}"></galzuu-uvchin-form-temceh-argahemjee-zardal>
                        </div>
                    </div>

                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({

            is: 'galzuu-uvchin-form-reg',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },

                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        frmkey: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        gazarner:'',
                        golomttoo:'',
                        malchinner:'',
                        uvchlol_burt_urh_hari:'',
                        coordinate_n:'',
                        coordinate_e:'',
                        duudlagaognoo:'',
                        uvchlolehelsen_ognoo:'',
                        uvchlolburt_ognoo:'',
                        ustgalhiisenognoo:'',
                        horio_ceer_eseh:'',
                        horio_ceer_ognoo:'',
                        horioceercucalsanognoo:'',
                        lab_bat_ognoo:'',
                        sharga:'',
                        shurdun:'',
                        lab_bat_hevshil:'',
                        uvch_uher:'',
                        uvch_honi:'',
                        uvch_ymaa:'',
                        uvch_busad:'',
                        uhsen_uher:'',
                        uhsen_honi:'',
                        uhsen_ymaa:'',
                        uhsen_busad:'',
                        ustgasan_uher:'',
                        ustgasan_honi:'',
                        ustgasan_ymaa:'',
                        ustgasan_busad:'',
                        ustgasan_eseh:'',
                        ustgal_hiisen_ognoo:'',
                        record_date: '',
                        search_date: '',
                        actflg: '',
                        command: ''
                    }
                },
                //------------------------------> Medeelel haruulah item list
                form01Items:{
                    type: Object,
                    notify: true
                },

                //------------------------------> Medeelel insert hiih ued ashiglana
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        citycode:'',
                        sumcode:'',
                        bagcode:'',
                        gazarner:'',
                        golomttoo:'',
                        malchinner:'',
                        uvchlolburturkhhari:'',
                        coordinate_n:'',
                        coordinate_e:'',
                        duudlagaognoo:'',
                        uvchehelsenognoo:'',
                        uvchlolburtognoo:'',
                        ustgalhiisenognoo:'',
                        horioceereseh:'',
                        horioceerognoo:'',
                        horioceercucalsanognoo:'',
                        uvchlolburturkhhari:'',
                        labbatognoo:'',
                        shinjilgeeniiArga:'',
                        shinUrDun:'',
                        labBatHevshil:'',
                        uvchUher:'',
                        uvchHoni:'',
                        uvchYmaa:'',
                        uvchBusad:'',
                        uhsenUher:'',
                        uhsenHoni:'',
                        uhsenYmaa:'',
                        uhsenBusad:'',
                        ustgasanUher:'',
                        ustgasanHoni:'',
                        ustgasanYmaa:'',
                        ustgasanBusad:'',
                        horioceereseh:'',
                        horioceerognoo:'',
                        ustgasanEseh:'',
                        ustgasanOgnoo:'',
                        command: ''
                    }
                },

                //------------------------------> Yenonhii medeelel
                yernhiiMedeelel:{
                    type: Object,
                    notify: true
                },
                shinjTemdegMedeelel:{
                    type: Object,
                    notify: true
                },
                surgiinMedeelel:{
                    type: Object,
                    notify: true
                },
                tarhvariinMedeelel:{
                    type: Object,
                    notify: true
                },
                temargahemjeeMedeelel:{
                    type: Object,
                    notify: true
                },
                zardalMedeelel:{
                    type: Object,
                    notify: true
                },
                secondTitle: {
                    type: String,
                    notify:true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value : 'Бичлэг устгах'
                },
                dialogBody:{
                    type: String,
                    notify: true,
                    value : 'Та устгахдаа итгэлтэй байна уу?'
                },
                file: {
                    type: String,
                    notify: true,
                    value: ''
                },
                ynItems:{
                    type:Array,
                    notify:true,
                    value:[
                        {
                            id: 'Y',
                            name: "Тийм"
                        },
                        {
                            id: 'N',
                            name: "Үгүй"
                        }
                    ]
                },
                //Ymar medeelel hadgalah
                btnid:{
                    type: String,
                    notify: true
                }
            },
            listeners: {
                'save': '_save'
            },
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 reg:::: ready function");

                this.server = SERVER_URL;
                Date.prototype.subDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() - days);
                    return dat;
                };

                var date = new Date();

                var startDate = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this.$.idEndDate.value = startDate;

                date = date.subDays(91);

                this.$.idStartDate.value = date.getFullYear() + '-' +
                    (((date.getMonth() + 1) < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                    ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate());

                this._getInformation();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },

            _search: function () {
                this._getInformation();
            },
            //Medeelel tatah
            _getInformation: function () {
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'getForm01MainInfo',
                    params: [this.criteriaData, this.loggedIn.id, window.location.hash],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            that.form01Items = resp.result;
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             *
             *
             * @private
             */
            _save: function () {
                console.log(this.btnid);
                console.log(this.yernhiiMedeelel);

                if (!this.loggedIn) return;
                var that = this;
                try {
                    if(this.btnid == "YE"){
                        var argument = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'setForm01MainInfo',
                            params: [this.yernhiiMedeelel,"", this.loggedIn.id, window.location.hash],
                        };

                        rpc("rpc/regform", argument, function (resp) {
                            if (resp.result) {
                                that._showErrorMessage(resp.result);
                            } else {
                                that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                            }
                        });
                    }
                    else if (this.btnid == 'SHT'){
                        var argument = {
                            id: new Date().getTime(),
                            token: 'HospAppToken',
                            method: 'setForm01ShTemdegInfo',
                            params: [this.shinjTemdegMedeelel, this.loggedIn.id, window.location.hash],
                        };

                        rpc("rpc/regform", argument, function (resp) {
                            if (resp.result) {
                                that._showErrorMessage(resp.result);
                            } else {
                                that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                            }
                        });
                    }
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },

            /**
             * Show Error Message
             *
             * @param err
             * @private
             */
            _showErrorMessage: function (err) {
                if (err.errType == 'INFO') {
                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: true, message: mess});

                    this._onBackClick();
                    this._getInformation();

                    var mess = '[' + err.errType + '][' + err.errCode + ']' + err.errText;
                    this.fire('show-toast-message', {success: false, message: mess});
                }
            },


            _statusShDev:function () {
                this.$.idShDev.hidden = !this.$.idShDev.hidden;
            },
            _statusSurDev: function () {
                this.$.idSurDev.hidden = !this.$.idSurDev.hidden;
            },
            _statusTarDev: function () {
                this.$.idTarDev.hidden = !this.$.idTarDev.hidden;
            },
            _statusYerDev: function () {
                this.$.idYerDev.hidden = !this.$.idYerDev.hidden;
            },
            _statusTmAgDev: function () {
                this.$.idTmAgDev.hidden = !this.$.idTmAgDev.hidden;
            },
            _statusTmAgZarDev: function () {
                this.$.idTmAgZarDev.hidden = !this.$.idTmAgZarDev.hidden;
            },
            _onBackClick: function () {
                this.$.pages.selected = 0;
                window.location.reload();
            },
            _createFrom: function () {
                this.$.idOtherForm.hidden = true;
                this.yernhiiMedeelel = new Object();

                this.set("yernhiiMedeelel.command", 'INS');


                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },
            /**
             * Show Report
             * @private
             */
            _showReport: function (e) {
                if (e.target.id == 'icon'){
                    return;
                }

                var fileFoo = e.target.dataset.foo;
                this.file = fileFoo;
                var argument = {
                    id: new Date().getTime(),
                    token: 'HospAppToken',
                    method: 'hformGalzuuReport',
                    params: [this.criteriaData, this.loggedIn.id,this.file],
                };
                if (!this.loggedIn) return;
                var that = this;
                try {
                    rpc("rpc/report", argument, function (resp) {
                        if (resp.result) {
                            console.log("HForm 08 Report successfully");
                            if (resp.result.errType == 'INFO') {
                                window.open(that.server + "/report/" + resp.result.errText, '_blank');
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: true, message: mess});
                            } else {
                                var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                that.fire('show-toast-message', {success: false, message: mess});
                            }

                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }

                    });
                } catch (err) {
                    that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                    console.log(err);
                }
            },
            _editInformations: function (e) {
                this.$.idOtherForm.hidden = false;
                var model = e.model.item;

                this.shinjTemdegMedeelel = new Object();
                //this.zardalMedeelel = new Object();

                this.set("yernhiiMedeelel", model);
                this.set("yernhiiMedeelel.command", 'EDT');

                this.set("yernhiiMedeelel.horio_ceer_ognoo", model.strHorioCeerOgnoo);
                this.set("yernhiiMedeelel.duudlagaognoo", model.strDudlagaOgnoo);
                this.set("yernhiiMedeelel.uvchlolehelsen_ognoo", model.strUvchEhelsenOgnoo);
                this.set("yernhiiMedeelel.uvchlolburt_ognoo", model.strUvchBurtOgnoo);
                this.set("yernhiiMedeelel.ustgal_hiisen_ognoo", model.strUstgalHiisenOgnoo);
                this.set("yernhiiMedeelel.record_date", model.strRecordOgnoo);

                /**
                 * Shinj Temdeg Medeelel
                 */
                this.set("shinjTemdegMedeelel.citycode", model.citycode);
                this.set("shinjTemdegMedeelel.sumcode", model.sumcode);
                this.set("shinjTemdegMedeelel.bagcode", model.bagcode);
                this.set("shinjTemdegMedeelel.malchinner", model.malchinner);
                this.set("shinjTemdegMedeelel.frmkey", model.frmkey);

                /**
                 * Surgiin Medeelel
                 */
                this.set("surgiinMedeelel.citycode", model.citycode);
                this.set("surgiinMedeelel.sumcode", model.sumcode);
                this.set("surgiinMedeelel.bagcode", model.bagcode);
                this.set("surgiinMedeelel.malchinner", model.malchinner);
                this.set("surgiinMedeelel.frmkey", model.frmkey);


                /**
                 * Tarkhvariin Medeelel
                 */
                this.set("tarhvariinMedeelel.citycode", model.citycode);
                this.set("tarhvariinMedeelel.sumcode", model.sumcode);
                this.set("tarhvariinMedeelel.bagcode", model.bagcode);
                this.set("tarhvariinMedeelel.malchinner", model.malchinner);
                this.set("tarhvariinMedeelel.hformkey", model.frmkey);


                /**
                 * Temceh arga hemjeenii medeelel
                 */
                this.set("temargahemjeeMedeelel.citycode", model.citycode);
                this.set("temargahemjeeMedeelel.sumcode", model.sumcode);
                this.set("temargahemjeeMedeelel.bagcode", model.bagcode);
                this.set("temargahemjeeMedeelel.malchinner", model.malchinner);
                this.set("temargahemjeeMedeelel.form01key", model.frmkey);

                /**
                 * Temceh arga hemjeenii zardal
                 */
                this.set("zardalMedeelel.citycode", model.citycode);
                this.set("zardalMedeelel.sumcode", model.sumcode);
                this.set("zardalMedeelel.bagcode", model.bagcode);
                this.set("zardalMedeelel.malchinner", model.malchinner);
                this.set("zardalMedeelel.form01key", model.frmkey);


                this._getShinjTemdegMedeelel(model.frmkey);

                this._getSuregMedeelel(model.frmkey);

                this._getTarkhvarMedeelel();

                this._getTemcehArgaHemjeeMedeelel();

                this._getTemcehArgaHemjeeZardal();

                //console.log(this.shinjTemdegMedeelel);


                // шинэ таб руу шилжиж байна.
                this.$.list.sharedElements = {
                    'ripple': event.target,
                    'reverse-ripple': event.target
                };
                this.$.pages.selected = 1;
            },

            /**
             * Shinj Temdegiin Medeelel tatah
             * @param frmkey
             * @private
             */
            _getShinjTemdegMedeelel: function (frmkey) {
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm01ShTemdegInfo',
                        params: [this.shinjTemdegMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            //console.log("Shinj Temdeg Medeelel");
                            if (resp.result.length > 0) {
                                that.set("shinjTemdegMedeelel", resp.result[0]);
                                that.set("shinjTemdegMedeelel.recordDate", resp.result[0].strRecordOgnoo);
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },

            /**
             * Surgiin Medeelel Tatah
             * @param e
             * @private
             */
            _getSuregMedeelel: function (e) {
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm01SuregMedee',
                        params: [this.surgiinMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("Surgiin Medeelel");
                            console.log(resp.result);

                            if (resp.result.length > 0){
                                that.set("surgiinMedeelel", resp.result[0]);
                                that.set("surgiinMedeelel.recordDate", resp.result[0].strRecordOgnoo);
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },

            /**
             * Tarkhvariin Medeelel
             *
             * @private
             */
            _getTarkhvarMedeelel: function () {
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm01TarhvarMedee',
                        params: [this.tarhvariinMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            if (resp.result.length > 0){
                                that.set("tarhvariinMedeelel", resp.result[0]);
                                that.set("tarhvariinMedeelel.recordDate", resp.result[0].strRecordOgnoo);
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },

            /**
             * Temceh arga hemjee
             *
             * @private
             */
            _getTemcehArgaHemjeeMedeelel: function () {
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm01TemcehArgaHemjeeMedee',
                        params: [this.temargahemjeeMedeelel, this.loggedIn.id, window.location.hash],
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            if (resp.result.length > 0){
                                that.set("temargahemjeeMedeelel", resp.result[0]);
                                that.set("temargahemjeeMedeelel.recordDate", resp.result[0].strRecordOgnoo);
                                that.set("temargahemjeeMedeelel.bakciinjuulaltiinOgnoo", resp.result[0].strBakciinjuulaltiinOgnoo);
                                that.set("temargahemjeeMedeelel.ecsnHaldOgnoo", resp.result[0].strEcsnHaldOgnoo);
                                that.set("temargahemjeeMedeelel.bakcinOgnoo", resp.result[0].strBakcinOgnoo);
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },

            _getTemcehArgaHemjeeZardal: function () {
                var that = this;
                try{
                    var argument = {
                        id: new Date().getTime(),
                        token: 'HospAppToken',
                        method: 'getForm01TemcehArgaHemjeeZardal',
                        params: [this.zardalMedeelel, this.loggedIn.id, window.location.hash]
                    };

                    rpc("rpc/regform", argument, function (resp) {
                        if (resp.result) {
                            console.log("starting === getForm01TemcehArgaHemjeeZardal");
                            console.log(resp.result);
                            if (resp.result.length > 0){
                                that.set("zardalMedeelel", resp.result[0]);
                                that.set("zardalMedeelel.recordDate", resp.result[0].strRecordOgnoo);
                            }
                        } else {
                            that.fire('show-toast-message', {success: false, message: "Үр дүн олдсонгүй..."});
                        }
                    });
                }catch (ex){
                    console.log(ex);
                }
            },

            _statusSearchDev: function () {
                this.$.idSearchDev.hidden = !this.$.idSearchDev.hidden;
            },
            _isShow: function (value) {
                if (value == "Y")
                    return true;
                return false;
            },
            _getYNdesc: function (value) {
                if (value == "Y")
                    return 'Тийм';
                return 'Үгүй';
            }
        });

    </script>

</dom-module>
