<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/datetime-picker/datetime-picker.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<dom-module id="ppr-main-form">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h2{
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            #createBtn{
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }
            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }
            legend {
                border-bottom: 1px solid #4894f3;
                font-size: 16px;
                color: #0f62ac;
                width: 100%;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            #ipsiReg{
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }
            iframe{
                width: 100%;
                border: none;
                height: 450px;
            }
            table th{
                width: 15%;
                text-align: right ;
                font-weight: normal;
                font-size: 13px;
            }
            table td{
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
            paper-tabs, paper-toolbar {
                background-color: var(--paper-blue-900);
                color: #fff;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>УМЭА PPR маягтын ерөнхий мэдээллийн бүртгэл</h1>

                    <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл"
                                      value="{{ criteriaData.citycode }}"  on-value-changed="_getSumData"
                                      item-label-path="cityname" item-value-path="code"></vaadin-combo-box>

                    <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг"
                                      value="{{ criteriaData.sumcode }}" on-value-changed="_getBagHorooData"
                                      item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                    <vaadin-combo-box id="idBagCmb" tabindex="0" class="half" required label="Багийн нэр"
                                      value="{{ criteriaData.bagname }}" item-label-path="horooname" item-value-path="horoocode"></vaadin-combo-box>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="Газрын нэр"
                                 value="{{criteriaData.gazarner}}" aria-disabled="false"></paper-input>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="Малчны нэр"
                                 value="{{criteriaData.malchinner}}" aria-disabled="false"></paper-input>

                    <vaadin-date-picker id="idHorioTogtOgnoo" tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Дуудлага ирүүлсэн огноо"
                                        value="{{criteriaData.duudlagaognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Өвчлөл бүртгэгдсэн огноо"
                                        value="{{criteriaData.uvchlolburtognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Лаб баталгаажуулсан огноо"
                                        value="{{criteriaData.labbatognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idArgaNer"
                                 class="half"
                                 label="Лабораториор баталгаажсан хэвшил, үүсгэгч"
                                 value="{{criteriaData.labbathevshil}}" aria-disabled="false">
                    </paper-input>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Устгал хийсэн огноо"
                                        value="{{criteriaData.ustgalhiisenognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-combo-box id="idBagNer" tabindex="0" class="half" required label="Хорио цээр тогтоосон эсэх"
                                      value="{{ criteriaData.horioceereseh }}" item-label-path="name"
                                      item-value-path="id"></vaadin-combo-box>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioceerognoo"
                                        class="half"
                                        label="Хорио цээр тогтоосон огноо"
                                        value="{{criteriaData.horioceerognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Хорио цээр цуцалсан огноо"
                                        value="{{criteriaData.horioceercucalsanognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="Нөхөн олговрын зардал /төг/"  type="Number"
                                 value="{{criteriaData.nohonolgzardal}}" aria-disabled="false"></paper-input>

                    <vaadin-combo-box id="idBagNer" tabindex="0" class="half" required label="Өвчилсөн малыг тусгаарласан эсэх"
                                      value="{{ criteriaData.tusgaarlasaneseh }}" item-label-path="name"
                                      item-value-path="id"></vaadin-combo-box>

                    <vaadin-date-picker id="idHorioTogtOgnoo"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Хэд хоног тусгаарласан"
                                        value="{{criteriaData.tusgaarlasanognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="МЭҮН зардал" type="Number"
                                 value="{{criteriaData.zardalmeun}}" aria-disabled="false"></paper-input>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="МЭҮТ зардал" type="Number"
                                 value="{{criteriaData.zardalmeut}}" aria-disabled="false"></paper-input>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="МЭА зардал" type="Number"
                                 value="{{criteriaData.zardalmea}}" aria-disabled="false"></paper-input>

                    <paper-input id="idArgaNer" tabindex="0" class="half" label="Төрийн ЗБ зардал" type="Number"
                                 value="{{criteriaData.zardalturzb}}" aria-disabled="false"></paper-input>

                    <div style="text-align: right; margin: 15px 0px;">
                        <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                        <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                    </div>

                    <!-- Бүртгэлтэй байгаа жагсаалт -->
                    <paper-datatable id="prolist" data="{{form01Items}}">
                        <paper-datatable-column id="tableID" header="№" sortable
                                                property="id" type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Аймаг" property="citycode" type="String"
                                                sortable tooltip="Аймаг"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Сумын нэр" property="sumcode" type="String"
                                                sortable tooltip="Сумын нэр"></paper-datatable-column>
                        <paper-datatable-column header="Багийн нэр" property="bagname" type="String"
                                                sortable tooltip="Багийн нэр"></paper-datatable-column>
                        <paper-datatable-column header="Газрын нэр" property="gazarner" type="String"
                                                sortable tooltip="Газрын нэр"></paper-datatable-column>
                        <paper-datatable-column header="Малчны нэр" property="malchinner" type="String"
                                                sortable tooltip="Малчны нэр"></paper-datatable-column>
                        <paper-datatable-column header="Координат N" property="coordinate_n" type="String"
                                                sortable tooltip="Координат N"></paper-datatable-column>
                        <paper-datatable-column header="Координат E" property="coordinate_e" type="String"
                                                sortable tooltip="Координат E"></paper-datatable-column>
                        <paper-datatable-column header="Дуудлага ирүүлсэн огноо" property="duudlagaognoo" type="String"
                                                sortable tooltip="Дуудлага ирүүлсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Өвчлөл бүртгэгдсэн огноо " property="uvchlolburtognoo" type="String"
                                                sortable tooltip="Өвчлөл бүртгэгдсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Лаб баталгаажуулсан огноо" property="labbatognoo" type="String"
                                                sortable tooltip="Лаб баталгаажуулсан огноо"></paper-datatable-column>
                        <paper-datatable-column header="Лабораториор баталгаажсан хэвшил, үүсгэгч" property="labbathevshil" type="String"
                                                sortable tooltip="Лабораториор баталгаажсан хэвшил, үүсгэгч"></paper-datatable-column>
                        <paper-datatable-column header="Устгал хийсэн огноо " property="ustgalhiisenognoo" type="String"
                                                sortable tooltip="Устгал хийсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Хорио цээр тогтоосон эсэх /тийм, үгүй/" property="horioceereseh" type="String"
                                                sortable tooltip="Хорио цээр тогтоосон эсэх /тийм, үгүй/"></paper-datatable-column>
                        <paper-datatable-column header="Хорио цээр тогтоосон огноо" property="horioceerognoo" type="String"
                                                sortable tooltip="Хорио цээр тогтоосон огноо"></paper-datatable-column>
                        <paper-datatable-column header="Хорио цээр цуцалсан огноо" property="horioceercucalsanognoo" type="String"
                                                sortable tooltip="Хорио цээр цуцалсан огноо"></paper-datatable-column>
                        <paper-datatable-column header="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал" property="uvchlolburturkhhari" type="String"
                                                sortable tooltip="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал"></paper-datatable-column>
                        <paper-datatable-column header="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах" property="urhajtarsud" type="String"
                                                sortable tooltip="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах"></paper-datatable-column>
                        <paper-datatable-column header="Бүгд" property="busad" type="String"
                                                sortable tooltip="Бүгд"></paper-datatable-column>
                        <paper-datatable-column header="Нөхөн олговрын зардал" property="nohonolgzardal" type="String"
                                                sortable tooltip="Нөхөн олговрын зардал /төг/"></paper-datatable-column>
                        <paper-datatable-column header="Өвчилсөн малыг тусгаарласан эсэх" property="tusgaarlasaneseh" type="String"
                                                sortable tooltip="Өвчилсөн малыг тусгаарласан эсэх"></paper-datatable-column>
                        <paper-datatable-column header="Хэд хоног тусгаарласан" property="tusgaarlasanognoo" type="String"
                                                sortable tooltip="Хэд хоног тусгаарласан"></paper-datatable-column>
                        <paper-datatable-column header="Тусгаарлах хорооны байрлал" property="tushoroobairlal" type="String"
                                                sortable tooltip="Тусгаарлах хорооны байрлал /малын хотонд эсвэл хотноос зайдуу/"></paper-datatable-column>
                        <paper-datatable-column header="Малын эмч" property="ajmalemch" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд дайчлагдан ажилласан - Малын эмч"></paper-datatable-column>
                        <paper-datatable-column header="Бусад хүмүүс" property="ajbusadhun" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд дайчлагдан ажилласан - Бусад хүмүүс"></paper-datatable-column>
                        <paper-datatable-column header="Техник хэрэгсэл" property="ajtechnic" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд дайчлагдан ажилласан - Техник хэрэгсэл"></paper-datatable-column>
                        <paper-datatable-column header="МЭҮН зардал" property="zardalmeun" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд гарсан зардал - МЭҮН"></paper-datatable-column>
                        <paper-datatable-column header="МЭҮТ зардал" property="zardalmeut" type="Number"
                                                sortable tooltip="Тэмцэх арга хэмжээнд гарсан зардал - МЭҮТ"></paper-datatable-column>
                        <paper-datatable-column header="МЭА зардал" property="zardalmea" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд гарсан зардал - МЭА"></paper-datatable-column>
                        <paper-datatable-column header="Төрийн ЗБ зардал" property="zardalturzb" type="String"
                                                sortable tooltip="Тэмцэх арга хэмжээнд гарсан зардал - Төрийн ЗБ-аас"></paper-datatable-column>

                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number" tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom" title="Шинээр бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <vaadin-combo-box id="idCityReg" tabindex="0" name="city" class="half" required label="Аймаг, нийслэл"
                                      value="{{ insertData.citycode }}"  on-value-changed="_getSumData"
                                      item-label-path="cityname" item-value-path="code"></vaadin-combo-box>

                    <vaadin-combo-box id="idSumReg" tabindex="0" name="Sum" class="half" required label="Сум, дүүрэг"
                                      value="{{ insertData.sumcode }}" on-value-changed="_getBagHorooData"
                                      item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                    <vaadin-combo-box id="idBagCmbReg" tabindex="0"  name="BagNer" class="half" required label="Багийн нэр"
                                      value="{{ insertData.bagname }}" item-label-path="horooname" item-value-path="horoocode"></vaadin-combo-box>

                    <paper-input id="idGazarNer" tabindex="0" name="gazarNer" class="half" label="Газар нэр"
                                 value="{{insertData.gazarner}}" aria-disabled="false"></paper-input>

                    <paper-input id="idMalchinNer" tabindex="0" name="malchinNer" class="half" label="Малчны нэр"
                                 value="{{insertData.malchinner}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorN" tabindex="0" name="coorNhour" class="half" label="Координат N"
                                 value="{{insertData.coordinate_n}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorE" tabindex="0" name="coorEHour" class="half" label="Координат E"
                                 value="{{insertData.coordinate_e}}" aria-disabled="false"></paper-input>

                    <vaadin-date-picker id="idDuudlagaIruulsenOgnoo" name="duudlagaIruulsenOgnoo" tabindex="0" class="half"
                                        label="Дуудлага ирүүлсэн огноо" value="{{insertData.duudlagaognoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idUvchlulBurtOgnoo" name="uvchlulBurtOgnoo" tabindex="0" class="half"
                                        label="Өвчлөл бүртгэгдсэн огноо" value="{{insertData.uvchlolburtognoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idLabBatOgnoo" tabindex="0" name="labBatOgnoo" class="half"
                                        label="Лаб баталгаажуулсан огноо" value="{{insertData.labbatognoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idLabBathevshil" tabindex="0" name="labBathevshil" class="half"
                                 label="Лабораториор баталгаажсан хэвшил, үүсгэгч" value="{{insertData.labbathevshil}}"
                                 aria-disabled="false"></paper-input>

                    <vaadin-date-picker id="idUstgalHiisenOgnoo" tabindex="0" name="ustgalHiisenOgnoo" class="half"
                                        auto-validate label="Устгал хийсэн огноо" value="{{insertData.ustgalhiisenognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-combo-box id="idHorioTseer" tabindex="0" name="horioTseer" class="half" required label="Хорио цээр тогтоосон эсэх"
                                      value="{{ insertData.horioceereseh }}"
                                      item-label-path="name" item-value-path="id"></vaadin-combo-box>

                    <vaadin-date-picker id="idHorioTogtOgnoo" tabindex="0" name="horioTogtOgnoo" class="half"
                                        auto-validate label="Хорио цээр тогтоосон огноо" value="{{insertData.horioceerognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idHorioTsutstOgnoo" tabindex="0" name="horioTsutstOgnoo" class="half"
                                        auto-validate label="Хорио цээр цуцалсан огноо" value="{{insertData.horioceercucalsanognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idUndsenHaryalal" tabindex="0" name="undsenHaryalal" class="half"
                                 label="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал" value="{{insertData.uvchlolburturkhhari}}"
                                 aria-disabled="false"></paper-input>

                    <paper-input id="idUrhAjtarsud" tabindex="0" name="urhAjtarsud" class="half"
                                 label="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах"
                                 value="{{insertData.urhajtarsud}}" aria-disabled="false"></paper-input>

                    <paper-input id="idBugd" tabindex="0" name="bugd" class="half"
                                 label="Бүгд" value="{{insertData.busad}}"
                                 aria-disabled="false"></paper-input>

                    <paper-input id="idNohonolgzardal" tabindex="0" class="half" label="Нөхөн олговрын зардал /төг/"  type="Number"
                                 value="{{insertData.nohonolgzardal}}" aria-disabled="false"></paper-input>

                    <vaadin-combo-box id="idTusgaarlasanEseh" tabindex="0" class="half" required label="Өвчилсөн малыг тусгаарласан эсэх"
                                      value="{{ insertData.tusgaarlasaneseh }}" item-label-path="name"
                                      item-value-path="id"></vaadin-combo-box>

                    <vaadin-date-picker id="idHedHonogTusgaarlasan"
                                        tabindex="0"
                                        name="horioTogtOgnoo"
                                        class="half"
                                        label="Хэд хоног тусгаарласан"
                                        value="{{insertData.tusgaarlasanognoo}}"
                                        aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idTusgaarlahHorooBairlal" tabindex="0" name="tusgaarlahHorooBairlal" class="half"
                                 label="Тусгаарлах хорооны байрлал"
                                 value="{{insertData.tushoroobairlal}}" aria-disabled="false"></paper-input>

                    <paper-input id="idMalEmch" tabindex="0" class="half" label="Малын эмч" type="Number"
                                 value="{{insertData.ajmalemch}}" aria-disabled="false"></paper-input>

                    <paper-input id="idBusadHun" tabindex="0" class="half" label="Бусад хүмүүс" type="Number"
                                 value="{{insertData.ajbusadhun}}" aria-disabled="false"></paper-input>

                    <paper-input id="idTechnic" tabindex="0" class="half" label="Техник хэрэгсэл" type="Number"
                                 value="{{insertData.ajtechnic}}" aria-disabled="false"></paper-input>

                    <paper-input id="idZardalMeun" tabindex="0" class="half" label="МЭҮН зардал" type="Number"
                                 value="{{insertData.zardalmeun}}" aria-disabled="false"></paper-input>

                    <paper-input id="idZardalMeut" tabindex="0" class="half" label="МЭҮТ зардал" type="Number"
                                 value="{{insertData.zardalmeut}}" aria-disabled="false"></paper-input>

                    <paper-input id="idZardalMea" tabindex="0" class="half" label="МЭА зардал" type="Number"
                                 value="{{insertData.zardalmea}}" aria-disabled="false"></paper-input>

                    <paper-input id="idZardalTurzb" tabindex="0" class="half" label="Төрийн ЗБ зардал" type="Number"
                                 value="{{insertData.zardalturzb}}" aria-disabled="false"></paper-input>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save"
                                      raised="" role="button" tabindex="99" animated=""
                                      aria-disabled="false" elevation="1">Хадгалах</paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
         Polymer({

            is: 'ppr-main-form',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },

                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: {
                        citycode:'',
                        sumcode:'',
                        bagname:'',
                        gazarner:'',
                        malchinner:'',
                        duudlagaognoo:'',
                        uvchlolburtognoo:'',
                        labbatognoo: '',
                        labbathevshil:'',
                        ustgalhiisenognoo:'',
                        horioceereseh:'',
                        horioceerognoo:'',
                        horioceercucalsanognoo:'',
                        nohonolgzardal:'',
                        tusgaarlasaneseh:'',
                        tusgaarlasanognoo:'',
                        zardalmeun:'',
                        zardalmeut:'',
                        zardalmea:'',
                        zardalturzb:''
                    }
                },
                form01Items:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        citycode:'',
                        sumcode:'',
                        bagname:'',
                        gazarner:'',
                        malchinner:'',
                        coordinate_n:'',
                        coordinate_e:'',
                        duudlagaognoo:'',
                        uvchlolburtognoo:'',
                        labbatognoo:'',
                        labbathevshil:'',
                        ustgalhiisenognoo:'',
                        horioceereseh:'',
                        horioceerognoo:'',
                        horioceercucalsanognoo:'',
                        uvchlolburturkhhari:'',
                        urhajtarsud:'',
                        busad:'',
                        nohonolgzardal:'',
                        tusgaarlasaneseh:'',
                        tusgaarlasanognoo:'',
                        tushoroobairlal:'',
                        ajmalemch:'',
                        ajbusadhun:'',
                        ajtechnic:'',
                        ajstr1:'',
                        ajstr2:'',
                        zardalmeun:'',
                        zardalmeut:'',
                        zardalmea:'',
                        zardalturzb:'',
                        zardalstr1:'',
                        zardalstr2:'',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify:true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value : 'Бичлэг устгах'
                },
                dialogBody:{
                    type: String,
                    notify: true,
                    value : 'Та устгахдаа итгэлтэй байна уу?'
                },
                ynItems:{
                    type:Array,
                    notify:true,
                    value:[
                        {
                            id: 'Y',
                            name: "Тийм"
                        },
                        {
                            id: 'N',
                            name: "Үгүй"
                        }
                    ]
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 01 reg:::: ready function");
                this.server = SERVER_URL;

                this._getDataFromServer();

                this._getCityCmbData();

                this.$.idHorioTseer.items = this.ynItems;
                this.$.idTusgaarlasanEseh.items = this.ynItems;
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },

             /**
              * Fetch Form data
              * */
             _getDataFromServer: function () {
                 //start Form 08 Data
                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getForm01MainInfo',
                     params: [this.criteriaData, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/regform", argument, function (resp){
                         if (resp.result){
                             that.form01Items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
                 //end Form 08 Data
             },
             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCity.items = resp.result;
                             that.$.idCityReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }finally {
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSum.items = resp.result;
                             that.$.idSumReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Fetch bag, horoo
              * */
             _getBagHorooData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getBagHorooData',
                     params: [{sumcode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idBagCmb.items = resp.result;
                             that.$.idBagCmbReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },

             /**
              * Эрх шалгах функцүүд байна
              **/
             _addRole: function(){
                 /*if(this.fire('check-role', "002").returnValue == true) {
                     return true;
                 }
                 return false;*/

                 return true;
             },

             /**
              * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
              * */
             _createFrom: function(event) {
                 if (!this._addRole()){
                     this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                     return;
                 }

                 this.set("insertData.command", 'INS');

                 this.set("insertData.id", '');
                 this.set("insertData.citycode", '');
                 this.set("insertData.sumcode", '');
                 this.set("insertData.bagname", '');
                 this.set("insertData.gazarner", '');
                 this.set("insertData.malchinner", '');
                 this.set("insertData.coordinate_n", '');
                 this.set("insertData.coordinate_e", '');
                 this.set("insertData.duudlagaognoo", '');
                 this.set("insertData.uvchlolburtognoo", '');
                 this.set("insertData.labbatognoo", '');
                 this.set("insertData.labbathevshil", '');
                 this.set("insertData.ustgalhiisenognoo", '');
                 this.set("insertData.horioceereseh", '');
                 this.set("insertData.horioceerognoo", '');
                 this.set("insertData.horioceercucalsanognoo", '');
                 this.set("insertData.uvchlolburturkhhari", '');
                 this.set("insertData.urhajtarsud", '');
                 this.set("insertData.busad", '');
                 this.set("insertData.nohonolgzardal", '');
                 this.set("insertData.tusgaarlasaneseh", '');
                 this.set("insertData.tusgaarlasanognoo", '');
                 this.set("insertData.tushoroobairlal", '');
                 this.set("insertData.ajmalemch", '');
                 this.set("insertData.ajbusadhun", '');
                 this.set("insertData.ajtechnic", '');
                 this.set("insertData.ajstr1", '');
                 this.set("insertData.ajstr2", '');
                 this.set("insertData.zardalmeun", '');
                 this.set("insertData.zardalmeut", '');
                 this.set("insertData.zardalmea", '');
                 this.set("insertData.zardalturzb", '');
                 this.set("insertData.zardalstr1", '');
                 this.set("insertData.zardalstr2:", '');

                 this.set("secondTitle", 'Шинээр бүртгэх');

                 // шинэ таб руу шилжиж байна.
                 this.$.list.sharedElements = {
                     'ripple': event.target,
                     'reverse-ripple': event.target
                 };
                 this.$.pages.selected = 1;
             },
             _onBackClick: function() {
                 this.$.pages.selected = 0;
             },
             _isShow: function(value){
                 if (value == "Y")
                     return true;
                 return false;
             },

             /*
             Hailt hiih
              */
             _search: function () {
                 this._getDataFromServer();
             },
             /*
             Clear hiih
              */
             _clear: function () {
                 this.set("criteriaData.citycode", "");
                 this.set("criteriaData.sumcode", "");
                 this.set("criteriaData.bagname", "");
                 this.set("criteriaData.gazarner", "");
                 this.set("criteriaData.malchinner", "");
                 this.set("criteriaData.duudlagaognoo", "");
                 this.set("criteriaData.uvchlolburtognoo", "");
                 this.set("criteriaData.labbatognoo", "");
                 this.set("criteriaData.labbathevshil", "");
                 this.set("criteriaData.ustgalhiisenognoo", "");
                 this.set("criteriaData.horioceereseh", "");
                 this.set("criteriaData.horioceerognoo", "");
                 this.set("criteriaData.horioceercucalsanognoo", "");
                 this.set("criteriaData.nohonolgzardal", "");
                 this.set("criteriaData.tusgaarlasaneseh", "");
                 this.set("criteriaData.tusgaarlasanognoo", "");
                 this.set("criteriaData.zardalmeun", "");
                 this.set("criteriaData.zardalmeut", "");
                 this.set("criteriaData.zardalmea", "");
                 this.set("criteriaData.zardalturzb", "");
             },

             /*
             Hadgalah
              */

             _save: function(){
                //start Form 01 Data

                 if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                     if (this._checkMandatoryFields()) {
                         return;
                     }
                 }

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'setForm01MainInfo',
                     params: [this.insertData, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/regform", argument, function (resp){
                         if (resp.result){
                             console.log("Insert successfully");
                             if (resp.result.errType == 'INFO'){
                                 var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                 that.fire('show-toast-message', {success:true,message:mess});
                             }else{
                                 var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                 that.fire('show-toast-message', {success:false,message:mess});
                             }

                             that._onBackClick();
                             that._getDataFromServer();
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
                 //end Form 01 Data
             },

             /**
              * Zaaval baih talbaruudiig shalgah
              * */
             _checkMandatoryFields: function () {
                 var isError = false;

                 if (this.$.idCityReg.value == undefined
                     || this.$.idCityReg.value == null
                     || this.$.idCityReg.value == '') {
                     this.$.idCityReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idCityReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idSumReg.value == undefined
                     || this.$.idSumReg.value == null
                     || this.$.idSumReg.value == '') {
                     this.$.idSumReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idSumReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idBagCmbReg.value == undefined
                     || this.$.idBagCmbReg.value == null
                     || this.$.idBagCmbReg.value == '') {
                     this.$.idBagCmbReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idBagCmbReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idGazarNer.value == undefined
                     || this.$.idGazarNer.value == null
                     || this.$.idGazarNer.value == '') {
                     this.$.idGazarNer.errorMessage = 'Утга оруулана уу...';
                     this.$.idGazarNer.invalid = true;
                     isError = true;
                 }

                 if (this.$.idMalchinNer.value == undefined
                     || this.$.idMalchinNer.value == null
                     || this.$.idMalchinNer.value == '') {
                     this.$.idMalchinNer.errorMessage = 'Утга оруулана уу...';
                     this.$.idMalchinNer.invalid = true;
                     isError = true;
                 }

                 if (this.$.idCoorN.value == undefined
                     || this.$.idCoorN.value == null
                     || this.$.idCoorN.value == '') {
                     this.$.idCoorN.errorMessage = 'Утга оруулана уу...';
                     this.$.idCoorN.invalid = true;
                     isError = true;
                 }

                 if (this.$.idCoorE.value == undefined
                     || this.$.idCoorE.value == null
                     || this.$.idCoorE.value == '') {
                     this.$.idCoorE.errorMessage = 'Утга оруулана уу...';
                     this.$.idCoorE.invalid = true;
                     isError = true;
                 }

                 if (this.$.idDuudlagaIruulsenOgnoo.value == undefined
                     || this.$.idDuudlagaIruulsenOgnoo.value == null
                     || this.$.idDuudlagaIruulsenOgnoo.value == '') {
                     this.$.idDuudlagaIruulsenOgnoo.errorMessage = 'Утга оруулана уу...';
                     this.$.idDuudlagaIruulsenOgnoo.invalid = true;
                     isError = true;
                 }

                 if (this.$.idUvchlulBurtOgnoo.value == undefined
                     || this.$.idUvchlulBurtOgnoo.value == null
                     || this.$.idUvchlulBurtOgnoo.value == '') {
                     this.$.idUvchlulBurtOgnoo.errorMessage = 'Утга оруулана уу...';
                     this.$.idUvchlulBurtOgnoo.invalid = true;
                     isError = true;
                 }

                 if (this.$.idHorioTseer.value == undefined
                     || this.$.idHorioTseer.value == null
                     || this.$.idHorioTseer.value == '') {
                     this.$.idHorioTseer.errorMessage = 'Утга оруулана уу...';
                     this.$.idHorioTseer.invalid = true;
                     isError = true;
                 }

                 if (this.$.idNohonolgzardal.value == undefined
                     || this.$.idNohonolgzardal.value == null
                     || this.$.idNohonolgzardal.value == '') {
                     this.$.idNohonolgzardal.errorMessage = 'Утга оруулана уу...';
                     this.$.idNohonolgzardal.invalid = true;
                     isError = true;
                 }

                 if (this.$.idTusgaarlasanEseh.value == undefined
                     || this.$.idTusgaarlasanEseh.value == null
                     || this.$.idTusgaarlasanEseh.value == '') {
                     this.$.idTusgaarlasanEseh.errorMessage = 'Утга оруулана уу...';
                     this.$.idTusgaarlasanEseh.invalid = true;
                     isError = true;
                 }

                 return isError;
             },

             /*
              Zasah darah ued ajillana
              */
             _editInformations: function (e) {
                 var model = e.model.item;
                 console.log("Zasah buteegdehuunii medeelel bna:");
                 console.log(model);

                 if (!this._editRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }

                 this.set("insertData.command", 'EDT');
                 this.set("insertData.id", model.id);
                 this.set("insertData.citycode", model.citycode);
                 this.set("insertData.sumcode", model.sumcode);
                 this.set("insertData.bagname", model.bagname);
                 this.set("insertData.gazarner", model.gazarner);
                 this.set("insertData.malchinner", model.malchinner);
                 this.set("insertData.coordinate_n", model.coordinate_n);
                 this.set("insertData.coordinate_e", model.coordinate_e);
                 this.set("insertData.duudlagaognoo", model.duudlagaognoo);
                 this.set("insertData.uvchlolburtognoo", model.uvchlolburtognoo);
                 this.set("insertData.labbatognoo", model.labbatognoo);
                 this.set("insertData.labbathevshil", model.labbathevshil);
                 this.set("insertData.ustgalhiisenognoo", model.ustgalhiisenognoo);
                 this.set("insertData.horioceereseh", model.horioceereseh);
                 this.set("insertData.horioceerognoo", model.horioceerognoo);
                 this.set("insertData.horioceercucalsanognoo", model.horioceercucalsanognoo);
                 this.set("insertData.uvchlolburturkhhari", model.uvchlolburturkhhari);
                 this.set("insertData.urhajtarsud", model.urhajtarsud);
                 this.set("insertData.busad", model.busad);
                 this.set("insertData.nohonolgzardal", model.nohonolgzardal);
                 this.set("insertData.tusgaarlasaneseh", model.tusgaarlasaneseh);
                 this.set("insertData.tusgaarlasanognoo", model.tusgaarlasanognoo);
                 this.set("insertData.tushoroobairlal", model.tushoroobairlal);
                 this.set("insertData.ajmalemch", model.ajmalemch);
                 this.set("insertData.ajbusadhun", model.ajbusadhun);
                 this.set("insertData.ajtechnic", model.ajtechnic);
                 this.set("insertData.zardalmeun", model.zardalmeun);
                 this.set("insertData.zardalmeut", model.zardalmeut);
                 this.set("insertData.zardalmea", model.zardalmea);
                 this.set("insertData.zardalturzb", model.zardalturzb);
                 this.set("insertData.zardalstr1", model.zardalstr1);
                 this.set("insertData.zardalstr2", model.zardalstr2);

                 this.set("secondTitle", 'Мэдээлэл засах');

                 this.$.list.sharedElements = {
                     'ripple': event.target,
                     'reverse-ripple': event.target
                 };
                 this.$.pages.selected = 1;
             },
             _editRole: function(){
                 /*if(this.fire('check-role', "002").returnValue == true) {
                     return true;
                 }
                 return false;*/
                 return true;
             },

             /*
             Delete hiih
              */

             _deleteInfo: function (e){
                 var model = e.model.item;
                 if (!this._deleteRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }

                 this.set("insertData.command", 'DEL');
                 this.set("insertData.id", model.id);

                 this.set("dialogTitle", 'Бичлэг устгах');
                 this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                 this.$.actDelDialog.open();
             },

             /*
             Medeelel ustgah bolomjtoi eseh
              */
             _deleteRole: function(){
                 /*if(this.fire('check-role', "021").returnValue == true) {
                     return true;
                 }*/
                 return true;
             },
             /*
             Medeelel idevhgui bolgoh arga
              */
             _lockInfo: function (e) {
                 if (!this._editRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }
                 var model = e.model.item;

                 this.set("insertData.command", 'ACT');
                 this.set("insertData.id", model.id);

                 this.set("dialogTitle", 'Төлөв өөрчлөх');
                 this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                 this.$.actDelDialog.open();
             },
        });

    </script>

</dom-module>
