<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license fond at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/datetime-picker/datetime-picker.html">

<dom-module id="sgp-main-form">

    <template>

        <style include="custom-style">

            :host {
                display: block;
                padding: 0px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                color: #000000 !important;
                font-size: 20px !important;
                padding: 0 0 6px !important;
                border-bottom: 5px solid #ddd !important;
                font-family: "AGAvantGarde Mon", Arial, sans-serif;
                font-weight: bold;
            }
            h2{
                font-size: 18px !important;
                border-bottom: 3px solid #ddd !important;
                padding: 0px !important;
                margin-right: 24px !important;
                margin-left: 24px !important;
            }
            .btn{
                background-color: #0f62ac;
                color: white;
            }
            #createBtn{
                background-color: #0f62ac;
                color: white;
                border-radius: 50%;
                padding: 14px 14px;
                position: fixed;
                right: 35px;
                bottom: 50px;
                z-index: 100;
            }
            #createBtn:hover {
                -webkit-transition-property: transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transform: rotate(360deg);

                transition-property: transform;
                transition-duration: 0.5s;
                transform: rotate(360deg);
            }

            #createBtn [icon=add] {
                display: block;
            }

            #createBtn [icon=create] {
                display: none;
            }

            #createBtn:hover [icon=add] {
                display: none;
            }

            #createBtn:hover [icon=create] {
                display: block;
            }
            legend {
                border-bottom: 1px solid #4894f3;
                font-size: 16px;
                color: #0f62ac;
                width: 100%;
            }

            ul {
                list-style: none;
                padding-left: 0px;
            }
            a {
                color: #555;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }

            .save{
                background: #0f62ac;
                color: #fff;
                font-size: 12px;
            }
            paper-fab{
                background-color: #0f62ac;
            }
            #ipsiReg{
                position: fixed;
                right: 50px;
                bottom: 50px;
                z-index: 100;
            }
            iframe{
                width: 100%;
                border: none;
                height: 450px;
            }
            table th{
                width: 15%;
                text-align: right ;
                font-weight: normal;
                font-size: 13px;
            }
            table td{
                width: 20%;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
            @media (min-width: 1521px){
                .half{
                    display: inline-block;
                    width: 23%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 1124px) and (max-width: 1520px){
                .half{
                    display: inline-block;
                    width: 30%;
                    margin-right: 20px;
                }
            }
            @media (min-width: 850px) and (max-width: 1124px){
                .half{
                    display: inline-block;
                    width: 45%;
                    margin-right: 20px;
                }

            }

            paper-datatable{
                overflow: scroll;
                height: 75vh;
            }
        </style>

        <neon-animated-pages id="pages" selected="0">
            <x-cards-list id="list">
                <div class="card">
                    <h1>PPR ерөнхий мэдээллийн бүртгэл</h1>

                    <vaadin-combo-box id="idCity" tabindex="0" class="half" required label="Аймаг, нийслэл" value="{{ criteriaData.aimag }}"  on-value-changed="_getSumData" item-label-path="cityname" item-value-path="code"></vaadin-combo-box>

                    <vaadin-combo-box id="idSum" tabindex="0" class="half" required label="Сум, дүүрэг" value="{{ criteriaData.sum }}" item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                    <vaadin-combo-box id="idBagNer" tabindex="0" class="half" required label="Багийн нэр" value="{{ criteriaData.bagNer }}" item-label-path="name" item-value-path="id"></vaadin-combo-box>

                    <div style="text-align: right; margin: 15px 0px;">
                        <paper-button  on-click="_clear" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Шинэчлэх</paper-button>
                        <paper-button id="sreach-button" on-click="_search" class="btn" raised="" role="button" tabindex="2" animated="" aria-disabled="false" elevation="1">Хайх</paper-button>
                    </div>

                    <!-- Бүртгэлтэй байгаа бүтээгдэхүүний жагсаалт -->
                    <paper-datatable id="prolist" data="{{form08Items}}">
                        <paper-datatable-column tooltip="Бүртгэлийн зүйлийн дэлгэрэнгүй утга">
                            <template>
                                <paper-icon-button icon="visibility" on-click="_changePage"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column id="tableID" header="№" sortable property="id" type="Number"></paper-datatable-column>
                        <paper-datatable-column tabindex="2" header="Аймаг" property="Aimag" type="String"  sortable tooltip="Аймаг"></paper-datatable-column>
                        <paper-datatable-column tabindex="3" header="Сумын нэр" property="sumNer" type="String" sortable tooltip="Сумын нэр"></paper-datatable-column>
                        <paper-datatable-column header="Багийн нэр" property="bagiinNer" type="String" sortable tooltip="Багийн нэр"></paper-datatable-column>
                        <paper-datatable-column header="Газрын нэр" property="gazriinNer" type="String" sortable tooltip="Газрын нэр"></paper-datatable-column>
                        <paper-datatable-column header="Малчны нэр" property="malchinNer" type="String" sortable tooltip="Малчны нэр"></paper-datatable-column>
                        <paper-datatable-column header="Координат N (цаг)" property="coorNHour" type="String" sortable tooltip="Координат N (цаг)"></paper-datatable-column>
                        <paper-datatable-column header="Координат N (минут)" property="coorNMinut" type="String" sortable tooltip="Координат N (минут)"></paper-datatable-column>
                        <paper-datatable-column header="Координат N (секунд)" property="coorNSecond" type="String" sortable tooltip="Координат N (секунд)"></paper-datatable-column>

                        <paper-datatable-column header="Координат E (цаг)" property="coorEHour" type="String" sortable tooltip="Координат E (цаг)"></paper-datatable-column>
                        <paper-datatable-column header="Координат E (минут)" property="coorEMinut" type="String" sortable tooltip="Координат E (минут)"></paper-datatable-column>
                        <paper-datatable-column header="Координат E (секунд)" property="coorESecond" type="String" sortable tooltip="Координат E (секунд)"></paper-datatable-column>

                        <paper-datatable-column header="Дуудлага ирүүлсэн огноо" property="duudlagaIrOgnoo" type="String" sortable tooltip="Дуудлага ирүүлсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Өвчлөл бүртгэгдсэн огноо " property="UvchlulBurtOgnoo" type="String" sortable tooltip="Өвчлөл бүртгэгдсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Лаб баталгаажуулсан огноо" property="LabBatOgnoo" type="String" sortable tooltip="Лаб баталгаажуулсан огноо"></paper-datatable-column>


                        <paper-datatable-column header="Лабораториор баталгаажсан хэвшил, үүсгэгч" property="labBatHevUusgegch" type="String" sortable tooltip="Лабораториор баталгаажсан хэвшил, үүсгэгч"></paper-datatable-column>
                        <paper-datatable-column header="Устгал хийсэн огноо " property="ustgalHiisenOgnoo" type="String" sortable tooltip="Устгал хийсэн огноо"></paper-datatable-column>
                        <paper-datatable-column header="Хорио цээр тогтоосон эсэх /тийм, үгүй/" property="horioTseer" type="String" sortable tooltip="Хорио цээр тогтоосон эсэх /тийм, үгүй/"></paper-datatable-column>


                        <paper-datatable-column header="Хорио цээр тогтоосон огноо" property="horioTseerTogtOgnoo" type="String" sortable tooltip="Хорио цээр тогтоосон огноо"></paper-datatable-column>
                        <paper-datatable-column header="Хорио цээр цуцалсан огноо" property="horioTseerTsutsOgnoo" type="String" sortable tooltip="Хорио цээр цуцалсан огноо"></paper-datatable-column>
                        <paper-datatable-column header="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал" property="urhiinUndsenHaryalal" type="String" sortable tooltip="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал"></paper-datatable-column>
                        <paper-datatable-column header="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах" property="urhudAjiglagdsanTarhvar" type="String" sortable tooltip="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах"></paper-datatable-column>


                        <paper-datatable-column header="Засах" property="" type="String" tooltip="Засах">
                            <template>
                                <paper-icon-button icon="create" on-click="_editInformations"></paper-icon-button>
                            </template>
                        </paper-datatable-column>
                        <paper-datatable-column header="Устгах" property="" type="String" tooltip="Устгах">
                            <template>
                                <paper-icon-button icon="delete" style="color: #ce7878;" on-click="_deleteInfo"></paper-icon-button>
                            </template>
                        </paper-datatable-column>

                        <paper-datatable-column header="Идэвхгүй болгох" property="actFlg" type="Number" tooltip="Идэвхгүй болгох">

                            <template>
                                <paper-icon-button icon="check-box" on-click="_lockInfo" style="color: #7393af;" hidden="{{!_isShow(value)}}"></paper-icon-button>
                                <paper-icon-button icon="check-box-outline-blank" style="color: #7393af;" on-click="_lockInfo" hidden="{{_isShow(value)}}"></paper-icon-button>
                            </template>

                        </paper-datatable-column>
                    </paper-datatable>


                    <!-- Шинээр бүртгэх товч -->
                    <div id="createBtn" icon="add" on-tap="_createFrom" title="Зээлийн карт, Бүртгэлийн үнэлгээ бүртгэх">
                        <iron-icon icon="add"></iron-icon>
                        <iron-icon icon="create"></iron-icon>
                    </div>
                </div>
            </x-cards-list>
            <x-card>
                <div class="card">
                    <h1>
                        <iron-icon icon="icons:arrow-back" title="Буцах" style="padding: 10px; background-color: #0f62ac;border-radius: 50%;margin-right: 10px;color: white;" on-tap="_onBackClick"></iron-icon>
                        {{secondTitle}}
                    </h1>

                    <vaadin-combo-box id="idCity" tabindex="0" name="city" class="half" required label="Аймаг, нийслэл" value="{{ criteriaData.aimag }}"  on-value-changed="_getSumData" item-label-path="cityname" item-value-path="code"></vaadin-combo-box>

                    <vaadin-combo-box id="idSum" tabindex="0" name="Sum" class="half" required label="Сум, дүүрэг" value="{{ criteriaData.sum }}" item-label-path="sumname" item-value-path="sumcode"></vaadin-combo-box>

                    <vaadin-combo-box id="idBagNer" tabindex="0"  name="BagNer" class="half" required label="Багийн нэр" value="{{ criteriaData.bagNer }}" item-label-path="name" item-value-path="id"></vaadin-combo-box>

                    <paper-input id="idGazarNer" tabindex="0" name="gazarNer" class="half" label="Газар нэр" value="{{criteriaData.gazarNer}}" aria-disabled="false"></paper-input>

                    <paper-input id="idMalchinNer" tabindex="0" name="malchinNer" class="half" label="Малчны нэр" value="{{criteriaData.malchinNer}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorNHour" tabindex="0" name="coorNhour" class="half" label="Координат N (цаг)" value="{{criteriaData.coorNHour}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorNMinut" tabindex="0" name="coorNMinut" class="half" label="Координат N (минут)" value="{{criteriaData.coorNMinut}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorNSecund" tabindex="0" name="coorNSecund" class="half" label="Координат N (секунд)" value="{{criteriaData.coorNSecond}}" aria-disabled="false"></paper-input>


                    <paper-input id="idCoorEHour" tabindex="0" name="coorEHour" class="half" label="Координат E (цаг)" value="{{criteriaData.coorEHour}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorEMinut" tabindex="0" name="coorEminut" class="half" label="Координат E (минут)" value="{{criteriaData.coorEMinut}}" aria-disabled="false"></paper-input>

                    <paper-input id="idCoorESecund" tabindex="0" name="coorESecund" class="half" label="Координат E (секунд)" value="{{criteriaData.coorESecond}}" aria-disabled="false"></paper-input>


                    <vaadin-date-picker id="idDuudlagaIruulsenOgnoo" name="duudlagaIruulsenOgnoo" tabindex="0" class="half" auto-validate label="Дуудлага ирүүлсэн огноо" value="{{criteriaData.duudlagaIruulsenOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idUvchlulBurtOgnoo" name="uvchlulBurtOgnoo" tabindex="0" class="half" auto-validate label="Өвчлөл бүртгэгдсэн огноо" value="{{criteriaData.uvchlulBurtOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idLabBatOgnoo" tabindex="0" name="labBatOgnoo" class="half" auto-validate label="Лаб баталгаажуулсан огноо" value="{{criteriaData.labBatOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idLabBathevshil" tabindex="0" name="labBathevshil" class="half" label="Лабораториор баталгаажсан хэвшил, үүсгэгч" value="{{criteriaData.labBathevshil}}" aria-disabled="false"></paper-input>

                    <vaadin-date-picker id="idUstgalHiisenOgnoo" tabindex="0" name="ustgalHiisenOgnoo" class="half" auto-validate label="Устгал хийсэн огноо" value="{{criteriaData.ustgalHiisenOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-checkbox id="idHorioTseer" tabindex="0" name="horioTseer" class="half" value="{{criteriaData.horioTseer}}" aria-disabled="false">Хорио цээр тогтоосон эсэх /тийм, үгүй/</paper-checkbox>

                    <vaadin-date-picker id="idHorioTogtOgnoo" tabindex="0" name="horioTogtOgnoo" class="half" auto-validate label="Хорио цээр тогтоосон огноо" value="{{criteriaData.horioTogtOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <vaadin-date-picker id="idHorioTsutstOgnoo" tabindex="0" name="horioTsutstOgnoo" class="half" auto-validate label="Хорио цээр цуцалсан огноо" value="{{criteriaData.horioTutsOgnoo}}" aria-disabled="false">
                    </vaadin-date-picker>

                    <paper-input id="idUndsenHaryalal" tabindex="0" name="undsenHaryalal" class="half" label="Өвчлөл бүртгэгдсэн өрхийн үндсэн харъяалал" value="{{criteriaData.undsenHaryalal}}" aria-disabled="false"></paper-input>

                    <paper-input id="idUrhudAjiglagdsanTarhvar" tabindex="0" name="urhudAjiglagdsanTarhvar" class="half" label="Өрхөд ажиглагдсан тархвар судлалын онцлогийг оруулах" value="{{criteriaData.urhudAjiglagdsanTarhvar}}" aria-disabled="false"></paper-input>

                    <div style="text-align: right; margin-top: 15px;">
                        <paper-button id="save-button" class="btn save-button" on-click="_save" raised="" role="button" tabindex="99" animated="" aria-disabled="false" elevation="1">Хадгалах</paper-button>
                    </div>
                </div>
            </x-card>
        </neon-animated-pages>

        <!-- Ustah esbel tolov uurchloh tovch darah ued garch irene -->
        <paper-dialog id="actDelDialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogBody}}</p>
            <div class="buttons">
                <paper-button dialog-confirm on-click="_save">Тийм</paper-button>
                <paper-button dialog-dismiss>Үгүй</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
         Polymer({

            is: 'sgp-main-form',
            properties: {
                loggedIn: {
                    type: Object,
                    notify: true
                },
                //------------------------------> Серверийн зам
                server: {
                    type: String
                },
                //------------------------------> Loading хийх
                loading:{
                    type:Boolean,
                    notify:true,
                    value:false
                },

                //------------------------------> Хайлт хийх
                criteriaData:{
                    type: Object,
                    notify: true,
                    value: { citycode:'', sumcode:'', malturul:'', arganer:'', emner:'', emhemjee:'', tuluvluguu:'', guitsetgel: '', huvi:'' }
                },
                form08Items:{
                    type: Object,
                    notify: true
                },
                insertData: {
                    type: Object,
                    notify: true,
                    value: {
                        id: '',
                        argaHemjeeNer:'',
                        ner:'',
                        zartsuulsanHemjee:'',
                        malturul:'',
                        tolovlogoo:'',
                        guitsetgel:'',
                        huvi:'',
                        command: ''
                    }
                },

                secondTitle: {
                    type: String,
                    notify:true,
                    value: 'Шинээр бүртгэх'
                },
                dialogTitle:{
                    type: String,
                    notify: true,
                    value : 'Бичлэг устгах'
                },
                dialogBody:{
                    type: String,
                    notify: true,
                    value : 'Та устгахдаа итгэлтэй байна уу?'
                }
            },
            observers: [
                '_citizenshipChange(citizenship.splices)'
            ],
            created: function() {
                //console.log("created");
            },
            ready: function(){
                console.log("form 08 reg:::: ready function");
                this.server = SERVER_URL;

                this._getDataFromServer();

                this._getMalTurul();

                this._getCityCmbData();
            },

            attached: function(){
                //console.log("attached");
            },

            attributeChanged: function(name, type){
                //console.log("attribute changed");
            },

             _getDataFromServer: function () {
                 //start Form 08 Data
                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getForm08Data',
                     params: [this.criteriaData, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.form08Items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
                 //end Form 08 Data
             },
             /**
              * Fetch City
              * */
             _getCityCmbData: function () {

                 this.set("loading", true);

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getCityData',
                     params: [{}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idCity.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                         that.set("loading", false);
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                     that.set("loading", false);
                 }
             },

             /**
              * Fetch sum
              * */
             _getSumData: function (event) {
                 if(this.loggedIn == undefined || event.detail.value == undefined) return;

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getSumData',
                     params: [{citycode : event.detail.value}, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             that.$.idSum.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }
                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },
             /**
              * Эрх шалгах функцүүд байна
              **/
             _addRole: function(){
                 /*if(this.fire('check-role', "002").returnValue == true) {
                     return true;
                 }
                 return false;*/

                 return true;
             },

             /**
              * Шинээр бүтээгдэхүүн бүртгэх меню харуулах
              * */
             _createFrom: function(event) {
                 if (!this._addRole()){
                     this.fire('show-toast-message', {success:false,message:"Та энэ үйлдлийг хийх эрхгүй байна!!!"});
                     return;
                 }

                 this.set("insertData.command", 'INS');
                 this.set("secondTitle", 'Шинээр бүртгэх');

                 // шинэ таб руу шилжиж байна.
                 this.$.list.sharedElements = {
                     'ripple': event.target,
                     'reverse-ripple': event.target
                 };
                 this.$.pages.selected = 1;
             },
             _onBackClick: function() {
                 this.$.pages.selected = 0;
             },
             _isShow: function(value){
                 if (value == "Y")
                     return true;
                 return false;
             },

             /*
             Hailt hiih
              */
             _search: function () {
                 this._getDataFromServer();
             },

             /*
              Mal-n turul tatah
              */
             _getMalTurul: function () {
                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'getComboVals',
                     params: ["MAL","MN", this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             console.log("MAL turul");
                             console.log(resp.result);
                             that.$.idMalTurul.items = resp.result;
                             that.$.idMalTurulReg.items = resp.result;
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
             },
             /*
             Clear hiih
              */
             _clear: function () {
                 this.$.idCity.value = "";
                 this.$.idSum.value = "";
                 this.$.idMalTurul.value = "";
                 this.$.idArgaNer.value = "";
                 this.$.idEmNer.value = "";
                 this.$.idEmHemjee.value = "";
                 this.$.idTuluvluguu.value = "";
                 this.$.idGuitsetgel.value = "";
                 this.$.idHuvi.value = "";
             },

             /*
             Hadgalah
              */

             _save: function(){
                //start Form 08 Data

                 if (this.insertData.command == 'INS' || this.insertData.command == 'EDT'){
                     if (this._checkMandatoryFields()) {
                         return;
                     }
                 }

                 var argument ={
                     id: new Date().getTime(),
                     token: 'HospAppToken',
                     method: 'setForm08Data',
                     params: [this.insertData, this.loggedIn.id],
                 };
                 if(!this.loggedIn) return;
                 var that = this;
                 try {
                     rpc("rpc/hospsys", argument, function (resp){
                         if (resp.result){
                             console.log("Insert successfully");
                             if (resp.result.errType == 'INFO'){
                                 var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                 that.fire('show-toast-message', {success:true,message:mess});
                             }else{
                                 var mess = '[' + resp.result.errType + '][' + resp.result.errCode + ']' + resp.result.errText;
                                 that.fire('show-toast-message', {success:false,message:mess});
                             }

                             that._onBackClick();
                             that._getDataFromServer();
                         }else{
                             that.fire('show-toast-message', {success:false,message:"Үр дүн олдсонгүй..."});
                         }

                     });
                 }catch(err){
                     that.errorMessage = "Сервер унтарсан байна эсвэл серверийн хаяг буруу байна!";//"Таны төхөөрөмж интернэт холболтоо алдсан байна.";
                     console.log(err);
                 }
                 //end Form 08 Data
             },

             /**
              * Zaaval baih talbaruudiig shalgah
              * */
             _checkMandatoryFields: function () {
                 var isError = false;

                 if (this.$.idArgaNerReg.value == undefined
                     || this.$.idArgaNerReg.value == null
                     || this.$.idArgaNerReg.value == '') {
                     this.$.idArgaNerReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idArgaNerReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idEmNerReg.value == undefined
                     || this.$.idEmNerReg.value == null
                     || this.$.idEmNerReg.value == '') {
                     this.$.idEmNerReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idEmNerReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idZartsuulsanHemjeeReg.value == undefined
                     || this.$.idZartsuulsanHemjeeReg.value == null
                     || this.$.idZartsuulsanHemjeeReg.value == '') {
                     this.$.idZartsuulsanHemjeeReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idZartsuulsanHemjeeReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idMalTurulReg.value == undefined
                     || this.$.idMalTurulReg.value == null
                     || this.$.idMalTurulReg.value == '') {
                     this.$.idMalTurulReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idMalTurulReg.invalid = true;
                     isError = true;
                 }

                 if (this.$.idTuluvluguuReg.value == undefined
                     || this.$.idTuluvluguuReg.value == null
                     || this.$.idTuluvluguuReg.value == '') {
                     this.$.idTuluvluguuReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idTuluvluguuReg.invalid = true;

                     isError = true;
                 }

                 if (this.$.idGuitsetgelReg.value == undefined
                     || this.$.idGuitsetgelReg.value == null
                     || this.$.idGuitsetgelReg.value == '') {
                     this.$.idGuitsetgelReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idGuitsetgelReg.invalid = true;

                     isError = true;
                 }

                 if (this.$.idHuviReg.value == undefined
                     || this.$.idHuviReg.value == null
                     || this.$.idHuviReg.value == '') {
                     this.$.idHuviReg.errorMessage = 'Утга оруулана уу...';
                     this.$.idHuviReg.invalid = true;

                     isError = true;
                 }

                 return isError;
             },

             /*
              Zasah darah ued ajillana
              */
             _editInformations: function (e) {
                 var model = e.model.item;
                 console.log("Zasah buteegdehuunii medeelel bna:");
                 console.log(model);

                 if (!this._editRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }

                 this.set("insertData.command", 'EDT');
                 this.set("insertData.id", model.id);
                 this.set("insertData.argaHemjeeNer", model.argaHemjeeNer);
                 this.set("insertData.ner", model.ner);
                 this.set("insertData.zartsuulsanHemjee", model.zartsuulsanHemjee);
                 this.set("insertData.malturul", model.malturul);
                 this.set("insertData.tolovlogoo", model.tolovlogoo);
                 this.set("insertData.guitsetgel", model.guitsetgel);
                 this.set("insertData.huvi", model.huvi);

                 this.set("secondTitle", 'Мэдээлэл засах');

                 this.$.list.sharedElements = {
                     'ripple': event.target,
                     'reverse-ripple': event.target
                 };
                 this.$.pages.selected = 1;
             },
             _editRole: function(){
                 /*if(this.fire('check-role', "002").returnValue == true) {
                     return true;
                 }
                 return false;*/
                 return true;
             },

             /*
             Delete hiih
              */

             _deleteInfo: function (e){
                 var model = e.model.item;
                 if (!this._deleteRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл устгах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }

                 this.set("insertData.command", 'DEL');
                 this.set("insertData.id", model.id);

                 this.set("dialogTitle", 'Бичлэг устгах');
                 this.set("dialogBody", 'Та устгахдаа итгэлтэй байна уу?');

                 this.$.actDelDialog.open();
             },

             /*
             Medeelel ustgah bolomjtoi eseh
              */
             _deleteRole: function(){
                 /*if(this.fire('check-role', "021").returnValue == true) {
                     return true;
                 }*/
                 return true;
             },
             /*
             Medeelel idevhgui bolgoh arga
              */
             _lockInfo: function (e) {
                 if (!this._editRole()){
                     this.fire('show-toast-message', {success:false,message:"Мэдээлэл засах эрхгүй байгаа тул дахин хандана уу."});
                     return;
                 }
                 var model = e.model.item;

                 this.set("insertData.command", 'ACT');
                 this.set("insertData.id", model.id);

                 this.set("dialogTitle", 'Төлөв өөрчлөх');
                 this.set("dialogBody", 'Та төлвийг өөрчлөхөд итгэлтэй байна уу?');

                 this.$.actDelDialog.open();
             },
        });

    </script>

</dom-module>
